[2017-11-20 13:59] raju249 commented on #354
Thanks @djmgit

[2017-11-20 17:31] ParthS007 opened #369 "Installation and Deployment Documntation"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Presently there is unmanaged documentation of installation and deployment

**Expected behavior:**
There should be proper directions for deployment and Installation so that new contributors don't find face any problem while deploying and Installing

Would you like to work on the issue?

YES

[2017-11-21 20:24] #344 closed

[2017-11-21 22:00] ParthS007 commented on #340
@mariobehling Can you please tell what exactly have to be done?
Permanent removal of user-defined png or something else.

[2017-11-22 15:12] raju249 commented on #354
@djmgit
Can you help me of how do I put that Event Name or Logo on the badge's SVG base.
Also what is the file name of the SVG that we should manipulate for this ?

Please bear with me :sweat_smile: I am learning on how badgeyay works.
Thanks for your time.

[2017-11-22 15:23] djmgit commented on #354
@raju249 the file which you require to edit is /badges/8BadgesOnA3.svg. This is the base template. Open it in Inkscape and edit it.
When you create new elements, right click on the object to select object properties. Then provide suitable id and label sp that you can access the element from your python code.
Hope that helps.

[2017-11-22 16:08] raju249 commented on #354
Thanks @djmgit
Yes, we can edit using Inkspace.
But the event names will be different for every user.
How do we manipulate svg dynamically ?
Can you please elaborate what events are we talking about here ?

[2017-11-22 16:09] raju249 commented on #354
Ok let me guess.
When we edit the image using Inkspace we can give an id and label to part of the image where we will be inserting event name or logo.
That is how we can change it dynamically right ?

[2017-11-23 12:30] rupav opened #373 "Vagrant setup not helpful."
**I'm submitting a ...**
- [x ] bug report
- [ ] feature request

**Current behavior:**

Following the installation steps of Vagrant.

**Expected behavior:**

Badgeyay in local host should have same functionality as https://badgeyay-dev.herokuapp.com/
My local repo is up-to date, still
![2017-11-23 2](https://user-images.githubusercontent.com/20624380/33172789-84a59ad2-d077-11e7-81b5-6293e53b3163.

[2017-11-23 12:54] rupav commented on #373
**PS:** It started working out of the blues only 1 time (was able to generate badges), but then i had to shut down, so
`vagrant halt`. From then `vagrant up, vagrant ssh ` and following other commands are not generating the correct deploy. I even reinstalled to check but it wasn't helpful too.

[2017-11-23 13:29] rupav commented on #373
@ananyo2012 please help, having problems using Vagrant.

[2017-11-23 14:58] ParthS007 commented on #340
@djmgit  I think We have to remove user-defined PNG and only show color which is shown by color picker.Working on this :+1:

[2017-11-23 15:02] djmgit commented on #340
@ParthS007 I guess removing the user-defined image will be enough, since the color is already shown bu the picker. What I mean is, we do not need to show the color separately.

Yeah sure, please send a PR :+1:

[2017-11-23 16:39] ParthS007 commented on #340
@djmgit Please merge #372 so that I can proceed with this issue.

[2017-11-24 13:56] raju249 commented on #354
@mariobehling
Could you please elaborate on where to add the logo on the badge if user passes it ?
I am done with implementation of adding event name on badge.
Thanks

/cc @djmgit

[2017-11-24 15:12] raju249 commented on #222
Is anyone working on this issue ?

[2017-11-24 15:12] raju249 commented on #222
I have been using AWS for a while now, so would like to take this up.

[2017-11-24 15:15] yashLadha commented on #222
Yes, I am working on this issue. 😅

On Fri, Nov 24, 2017 at 8:42 PM, Rajendra kadam <notifications@github.com>
wrote:

[2017-11-24 15:16] raju249 commented on #222
Hey @yashLadha
No problem. :smile:
May I know how are you thinking to deploy to AWS ?

[2017-11-24 15:31] #366 closed

[2017-11-24 15:34] #369 closed

[2017-11-24 15:39] mariobehling commented on #364
Travis build still failing. Error message as below:
[code]

[2017-11-25 05:46] raju249 commented on #345
Anyone working on this issue ?

[2017-11-25 05:47] raju249 commented on #345
Claiming this if no one is active on this!

[2017-11-25 05:48] raju249 commented on #345
Sorry, my bad, its fixed

[2017-11-25 05:49] yashLadha opened #374 "Add custom font for creation of badge"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
There is only one defined font used for creation of the badge.

**Expected behavior:**
We can have different font options as per the user preference

[2017-11-25 05:52] rupav commented on #374
Yes that's a great idea ! According to event type, user can change the font.
Can I work on it ?

[2017-11-25 05:54] raju249 commented on #222
Claiming this issue since @yashLadha is working on #374

[2017-11-25 06:13] yashLadha commented on #374
I am working on this. Sorry @rupav

[2017-11-25 06:21] yashLadha opened #375 "Installation instruction for arch linux"
Installation instructions of dependencies for Arch Linux

[2017-11-25 17:18] ParthS007 opened #377 "Auto deployment using Surge"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Expected behavior:**
After auto-deployment, It will be easy for reviewers to review PR as deployment link is generated automatically.

**I am working on this Issue**

[2017-11-25 22:18] #375 closed

[2017-11-25 22:21] meets2tarun commented on #222
@raju249 Would you please tell your approach to proceed to solve this issue?
@yashLadha You can also post your work and the problem you faced while solving the issue.

[2017-11-26 05:37] raju249 commented on #222
Yes @meets2tarun .
Since we use just a server that runs our python code and nothing like nginx or apache, I was thinking of using Elastic beanstalk for this purpose. We can automate this and also provide instructions on how we can do it manually (They are just few command line commands using aws eb cli ).

For doing this we would require AWS account which will offer free tier of 1 year.
But as @va

[2017-11-26 07:37] yashLadha commented on #222
I researched of usng code deploy tool. But i wasn't able to find a one
click deployment tool for the EC2. I have been busy with the exams, so
wasn't able to do more.

On Sun, Nov 26, 2017 at 11:07 AM, Rajendra kadam <notifications@github.com>
wrote:

[2017-11-26 09:19] raju249 commented on #222
I think I can work out one click deploy on AWS.
Will need to check.

[2017-11-26 17:27] ananyo2012 commented on #373
@rupav Are you able to start the badgeyay server successfully ?

[2017-11-27 01:01] rupav commented on #373
@ananyo2012  Yeah, I have posted a screenshot of that too. But see the difference with original deploy. Also 'Generate Badges' button is blocked.

[2017-11-27 02:49] vaibhavsingh97 commented on #373
@rupav Button will be blocked until you add both CSV and PNG background

[2017-11-27 02:52] rupav commented on #373
@vaibhavsingh97 I tried that too, I have mentioned that in the issue message itself, whatever I give input generate badge is blocked.

[2017-11-28 10:37] ka2311 commented on #155
What is the status of this issue ?

[2017-11-28 14:22] ananyo2012 commented on #373
@rupav Since you got the website running the packages got installed correctly. Can you post the logs you get when try to generate the badges ?

[2017-11-28 16:58] rupav commented on #373
@ananyo2012 I am not able to generate badges because of blocked button. Also please look how the look of deploy is different from the original heroku deploy (indentation problem, extra lines : "Please upload csv ...", "please select a default background....").
Are you able to generate badges using vagrant with windows as host OS?
I have attached log too while setting up vagrant. Found these unusua

[2017-11-28 17:59] ananyo2012 commented on #373
@rupav Yes I am running badgeyay in Windows 7 OS with vagrant with Oracle virtualbox provider. I am successfully generating badges. These are warning and can be safely ignored. Since you are successfully run the server there doesn't seems to be problem with vagrant setup.

If you look at `index.html` you will see the page is exactly similar to that of the deployed version. The only differnce some

[2017-11-29 18:24] rupav commented on #373
@ananyo2012  sorry for late reply.  I tested it on `Firefox` browser and I dont know what exactly I have to look into `about:config` to see if JS is enabled.
I will try again on Microsoft Edge and Firefox.

[2017-11-29 19:17] ParthS007 opened #378 "GCI Task: Code Formatting"
- **Objective**: Many python scripts don't have proper indentation and comments.The task is to choose one file and leave comments in the code after the proper understanding of the code and remove empty and unnecessary lines.The overall aim is that the code looks neat and tidy.

- **Requirements**: Code formatting, Python, Git
- **Expected Outcome**: A pull request with a properly formatted and nea

[2017-11-29 19:18] ParthS007 commented on #378
@djmgit @vaibhavsingh97 @harshit98 Please make a label as GCI task and apply to it. Thanks

[2017-11-29 19:32] ParthS007 commented on #378
:+1:

[2017-11-29 21:26] djmgit opened #379 "GCI Task: Code refactor and updation"
## Objective
Updating app/generate-badges.py so that it can be used as a library and can be imported from another file. At the same time provision should be kept for executing and running the file as a stand alone module so that the present system is not broken.

## Requirements
- A github account
- Knowledge of Git
- Basic knowledge of python.
- Clone the badgeyay repository
- Understand the code

[2017-11-29 21:30] djmgit opened #380 "GCI Task: Remove usage of pdftk and use pypdf"
## Objective
Presently the project used a non python library called pdftk to merge pdf files. So every time we need to merge pdf files we have to use pdftk as a separate process via subprocess as it is not available as a native python library. Also it involves the usage of some shell commands which creates problem for windows. However there is a very nice native python library present known as pyp

[2017-11-29 21:36] djmgit opened #381 "GCI Task: Migrating to REST api"
## Objective
Presently the entire Badgeyay system is coupled. The next step is to decouple the system. For this we require separate backend and frontend and both should be independent of each other. The objective of this task is to create a REST API for Badgeyay such that all the functionalities of the project can be accessed over the API.

## Requirements
- A github account
- Knowledge of Git
- K

[2017-12-01 18:32] imujjwal96 opened #382 "Implement Yaydoc docs generation in badgeyay"
Yaydoc is FOSSASIA's own automatic documentation generation and deployment project. At the crux of it, Yaydoc generates a documentation website using the markdown present in a project's repository and keeps the website in sync with the changes made in project's documentation.

The project requires a .yaydoc.yml configuration file at the project's root directory. Adding necessary information in the

[2017-12-01 19:26] harshit98 opened #383 "[Coverage Tool] Add Codecov in the Badgeyay."
Add Codecov as code coverage tool just like other FOSSASIA repositories.

[2017-12-01 21:18] ParthS007 commented on #383
I want to work on this @harshit98. I have to learn it so it will take time and will let you know about the progress. :+1:

[2017-12-05 04:24] raju249 commented on #377
I think surge is best suited for static hosting. And badgeyay is not static website.
What you think ?

[2017-12-05 04:29] djmgit commented on #377
@ParthS007 @raju249 Yes, surge allows only static hosting I guess. You will not be able to host back end logic. Surge can be used when the site has been separated into api and front end. Then we can use surge or netlify for for front end hosting.

[2017-12-05 04:31] raju249 commented on #377
Exactly

[2017-12-05 15:38] raju249 commented on #345
Why is this issue open yet ?
@vaibhavsingh97
/cc @mariobehling

[2017-12-05 22:15] mariobehling opened #385 "Update generate-badges.py so that it can be used as a library"
Badgeyay uses generate-badges.py to generate badges from csv files. Presently generate-badges.py can only be used as a stand alone module and cannot be used by importing from another file. That is, currently if we want to use that file from another file then we have to use python subprocess or os module which is kind of hacky. The object of this task is to update generate-badges.py so that it can

[2017-12-05 22:16] mariobehling opened #386 "Remove usage of pdftk and use pypdf"
Presently the project used a non python library called pdftk to merge pdf files. So every time we need to merge pdf files we have to use pdftk as a separate process via subprocess as it is not available as a native python library. Also it involves the usage of some shell commands which creates problem for windows. However there is a very nice native python library present known as pypdf which allo

[2017-12-05 23:48] S2606 commented on #385
Can i work on this @mariobehling ??

[2017-12-05 23:50] harshit98 commented on #385
Please go ahead @S2606 👍

[2017-12-05 23:50] ParthS007 commented on #386
working on it :+1:

[2017-12-06 00:08] ParthS007 commented on #377
Thanks @raju249 @djmgit . I was new to Surge that's why I thought of implementing it on badgeyay.Since it is not a static web app, Surge cannot be implemented on it so closing this issue , will implement on Surge when we have a separate front-end

[2017-12-06 00:08] #377 closed

[2017-12-06 04:00] djmgit commented on #386
@mariobehling  @ParthS007 This is an duplicate issue of #380
@ParthS007 #380 has been added as a GCI task. So I would suggest you to mentor this task and review student PR.
You may consider working on other non-GCI issues

[2017-12-06 04:00] djmgit commented on #386
@mariobehling should I close it as it is a duplicate

[2017-12-06 04:02] djmgit commented on #385
@mariobehling @S2606 This is an duplicate issue. The same issue is already present and it has been marked as a GCI task.
@S2606 you may consider reviewing student's PR who will be working on this. You may consider working on other open issues.

[2017-12-06 04:03] ParthS007 commented on #386
Yes @djmgit ,I think you can close it :+1:

[2017-12-06 04:04] djmgit commented on #385
@mariobehling should I close this issue as this is an duplicate of #379

[2017-12-06 07:18] niteshkumarniranjan opened #388 "De-attaching Front End From Backend"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

[2017-12-06 08:06] YashKumarVerma commented on #378
working on it!

[2017-12-06 09:14] YashKumarVerma commented on #378
@ParthS007 the comments should explain the code or their function ?

[2017-12-06 09:17] YashKumarVerma commented on #378
can i work on this file ?

https://github.com/YashKumarVerma/badgeyay/blob/development/app/generate-badges.py

[2017-12-06 09:50] raju249 opened #391 "Add debug mode in application server"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

Currently the server doesn't start with debug mode which makes it difficult to see the traceback if something goes wrong.
**Expected behavior:**

Add a `--dev` flag which will start the server in debug mode and print logs.
Default mode will be with debug mode off in production.
**Steps to reproduce:**

Would yo

[2017-12-06 09:50] raju249 commented on #391
I am working on this and sending a PR by tomorrow EOD.

[2017-12-07 04:27] rupav commented on #373
@ananyo2012 It is working 😁. Thanks for your help. I dont the reason of it working earlier. But now its working fine.
what do you suggest : `vagrant halt` or `vagrant suspend` ?

[2017-12-07 13:37] ParthS007 opened #392 "Travis Tests are Failing"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
Presently, Travis is failing.

**Expected behavior:**
Travis CI should not fail.

[2017-12-07 19:27] Aryan9101 commented on #378
I claim this task too. What specific file do you want me to work on?

[2017-12-08 13:11] vaibhavsingh97 commented on #392
Claiming this issue

[2017-12-08 13:16] ParthS007 commented on #392
Please go ahead @vaibhavsingh97 👍

[2017-12-08 13:22] vaibhavsingh97 commented on #392
Strange issue as all test passed successfully
[code]

[2017-12-08 15:28] raju249 commented on #391
working on it

[2017-12-09 05:25] raju249 commented on #386
Duplicate of #380. Please close this.
Thanks

[2017-12-09 05:26] #386 closed

[2017-12-09 10:09] raju249 commented on #385
Please close this issue. Duplicate of #379
Thanks

[2017-12-10 16:57] sagar-kalra commented on #225
@S2606 Is this issue still open?
If yes, I would like to take on this issue.

[2017-12-10 20:26] vaibhavsingh97 commented on #225
@sagar-kalra You can take this issue

[2017-12-10 20:36] vaibhavsingh97 commented on #345
Closing, since this issue is fixed

[2017-12-10 20:36] #345 closed

[2017-12-11 02:13] ananyo2012 commented on #373
I usually use `vagrant halt` for shutting down the vm.

On 07-Dec-2017 9:57 AM, "rupav jain" <notifications@github.com> wrote:

[2017-12-11 02:33] rupav commented on #373
@ananyo2012 @vaibhavsingh97 thanks one gain for your time and helping me setting up badgeyay. :)
Closing this issue now.

[2017-12-11 02:33] #373 closed

[2017-12-11 12:15] #385 closed

[2017-12-11 15:18] harshit98 commented on #392
@vaibhavsingh97 `test_select_background_upload` is failing Travis build.

[2017-12-11 15:40] harshit98 opened #394 "Local deployment using Docker is not working."
I was setting up the local deployment of badgeyay using Docker. It gives error whenever `RUN pip install --no-cache-dir -r requirements.txt` line comes.

`ERROR: pip not found
The command '/bin/sh -c pip install --no-cache-dir -r requirements.txt' returned a non-zero code: 127`

[2017-12-11 15:44] harshit98 commented on #383
@ParthS007 What is the status of this issue? Are you working on it?

[2017-12-11 15:44] ParthS007 commented on #394
I will correct it @harshit98 👍

[2017-12-11 15:48] ParthS007 commented on #383
@harshit98 Presently Travis is failing and I think when @vaibhavsingh97 fixes Travis, after that I will add Codecov support. 👍

[2017-12-11 15:52] harshit98 commented on #383
Ok. Sounds great!

[2017-12-11 20:05] ParthS007 commented on #392
closing this as a duplicate of #364

[2017-12-11 20:05] #392 closed

[2017-12-11 21:03] marvin08 opened #396 "Linking 'Blogs' icon in the drop-down menu to correct URL"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
Currently, the 'Blogs' icon redirects to [https://blog.fossasia.org/](https://blog.fossasia.org/).

**Expected behavior:**
The 'Blogs' icon should redirect the user to [https://blog.fossasia.org/tag/badgeyay/](https://blog.fossasia.org/tag/badgeyay/), so that the user can view all the blog posts related to badge

[2017-12-12 12:52] #364 closed

[2017-12-12 13:15] #342 closed

[2017-12-12 13:20] #391 closed

[2017-12-12 13:20] #396 closed

[2017-12-12 13:42] harshit98 commented on #353
@jajodiaraghav What's the status of this issue? Can I work on this?

[2017-12-12 13:50] jajodiaraghav commented on #353
@harshit98 You can take this one

[2017-12-12 15:45] raju249 commented on #354
Hey @harshit98,
Sure.
The thing is we have decided to keep this on hold since there is a discussion involved and there are other issues which have a higher priority which need to be solved. 😊

[2017-12-12 17:50] harshit98 commented on #225
I'm claiming this issue since there is no activity from a long time. 👍

[2017-12-12 19:12] marvin08 opened #402 "Badgeyay web-app not working"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Issue:**
The URL - "https://badgeyay-dev.herokuapp.com/" is showing some error and the application is not being deployed properly on heroku.

**Screenshots:**

![screenshot from 2017-12-13 00 37 12](https://user-images.githubusercontent.com/28600022/33903411-52f53ac0-df9e-11e7-954f-f88cc861f659.png)

[2017-12-12 20:20] vaibhavsingh97 opened #403 "Unncessary code in travis.yml"
**Current behavior:**
- Github Authentication with an OAuth token is present
- Heroku automatic deplyment is present

**Expected behavior:**
- We are not using any of these service so it's should not be present in travis

[2017-12-12 20:20] vaibhavsingh97 commented on #403
Claiming

[2017-12-12 20:23] #340 closed

[2017-12-12 20:36] #403 closed

[2017-12-12 20:42] #402 closed

[2017-12-12 23:32] ParthS007 commented on #351
working on this due to inactivity 👍

[2017-12-13 04:01] djmgit commented on #351
@ParthS007 please go ahead :+1:

[2017-12-13 15:30] abishekvashok commented on #380
@djmgit can I work on it? Looks interesting.

[2017-12-13 19:57] ParthS007 opened #406 "Fix Version link to bottom"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
![image](https://user-images.githubusercontent.com/24358501/33959546-dea53186-e06d-11e7-8f0b-5a3a10ee04f4.png)

**Expected behavior:**
It should be at bottom

I am working on this.

[2017-12-13 21:22] #222 closed

[2017-12-13 21:46] #406 closed

[2017-12-14 03:59] djmgit commented on #380
@abishekvashok Sure, please go ahead, but before sending a PR, please claim the corresponding task on GCI website, and then send the PR.

[2017-12-14 06:38] abishekvashok commented on #380
@djmgit sure

[2017-12-14 11:59] abishekvashok commented on #382
@djmgit @imujjwal96 can I work on it?

[2017-12-14 12:03] #380 closed

[2017-12-14 12:12] abishekvashok commented on #382
@imujjwal96 @djmgit done in #411 pls review.

[2017-12-14 17:11] #394 closed

[2017-12-14 18:44] 0x48piraj opened #412 "Build a auto local deployment script"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
It takes plenty of time in installing **badgeway**.
We should make the installation process easier to fasten up the development rate!

**Expected behavior:**
A `build.sh` script that'll install **badgeyay** in one shot :tada:

[2017-12-14 18:51] 0x48piraj opened #413 "Fix virtualenv's "Command not found" bug and fix broken link(s) for docker and local installation"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
![image](https://user-images.githubusercontent.com/5800726/34009160-d30d863c-e12d-11e7-8a19-f60736a1df7c.png)

1. As stated in `localvir.md`, to create an virtual environment we should use : `mkvirtualenv -p python3 badgeyay`

But the command brokes, returning "Command not found".

2. In addition to that, a link

[2017-12-14 20:45] #413 closed

[2017-12-15 02:21] raju249 commented on #412
I think the instructions are pretty explanatory for local installation. There can be other consequences using bash script, which can vary depending on user configuration. A bash script would help if we had used some kind of VM for our application using vagrant or other manager.

@vaibhavsingh97 @djmgit what you guys think ?

[2017-12-15 07:10] yashLadha commented on #412
Exactly @raju249 . You have to check for the dependencies that exists in the repositories or not. Different systems have different package managers. Keep in mind that the install instructions differs for different os. Try to mind that case, that not to be centric with one distribution. Like manjaro uses pacman, Debian/Ubuntu uses apt, Fedora uses dnf or yum. Also there is a need to check for the e

[2017-12-15 07:29] raju249 commented on #412
Yes @yashLadha .
@0x48piraj please make a note of what @yashLadha said.
If you really want to automate the installation then try thinking using some VM. But IMHO, a VM for badgeyay seems an overkill.
Let me know what you guys think.

[2017-12-15 09:47] djmgit opened #416 "Please remove information related to pdftk and rsvg-convert from README.md"
The dependencies **pdftk** and **rsvg-convert** has been removed. Please remove them from README.md as well

[2017-12-15 10:57] sagar-kalra commented on #343
@mariobehling  I want to work on this issue.
But can you explain a little more, I didnt totally get you what are you expecting.

[2017-12-15 11:18] duttaditya18 commented on #416
On it!

[2017-12-15 11:38] duttaditya18 commented on #416
@djmgit Check #417 out!

[2017-12-15 12:41] 0x48piraj opened #418 "Bottom bar comes of the top, both in the app & `info` and `guide_manual.png` is messy."
**I'm submitting a ...**
- [x] bug report(s)
- [ ] feature request

**Current behavior:**
* Multiple bugs in bottom bar.

![badgeyay_issue](https://user-images.githubusercontent.com/5800726/34042506-0679199c-e1c3-11e7-9f1f-974a1bf1bdd3.gif)

* When we click on `info`, the bar comes in between the screen and stays there.
![image](https://user-images.githubusercontent.com/5800726/34073238-34638984-e

[2017-12-15 12:44] 0x48piraj commented on #412
@raju249 @yashLadha Thanks a lot on raising this issue!
I was thinking of making a script that will detect all kinds of OS'es and then will launch the native commands :wink:
But, It will take time, and as @raju249 said, The documentation is well written! :heart:

Should I close this ?

[2017-12-15 12:47] yashLadha commented on #412
If you think you can GFI @0x48piraj

[2017-12-15 12:52] #416 closed

[2017-12-15 12:52] 0x48piraj commented on #412
Ok, As you say so :blush:

[2017-12-15 17:32] sagar-kalra commented on #418
@0x48piraj I want to take this issue.

[2017-12-15 17:50] 0x48piraj commented on #418
@sagar-kalra Please don't I still have to update and add some more test cases!
Also, It's rather a small task, so It will not get approved also. :wink:

[2017-12-15 18:03] sagar-kalra commented on #418
@0x48piraj Sorry for that
I ll hold this PR and will add commits as soon as you enter more test cases.

[2017-12-15 18:26] 0x48piraj commented on #418
I have claimed it my dear :wink:

[2017-12-15 18:56] harshit98 commented on #412
Yes. Even I agree with this.

Yep. Already there are other deployment methods as well. But I know, it is pretty tiring to write too many commands. To avoid that, we're already working on docker. It's almost done. So, I'm closing this issue.

[2017-12-15 18:56] #412 closed

[2017-12-15 19:07] 0x48piraj commented on #412
That's why I asked at first :wink:
I started writing code, coded upto linux, ubuntu, and fedora.
But, Yes! It's wise to close this issue, it's effective, but at the same time it's outdated :+1:

[2017-12-15 19:11] 0x48piraj commented on #418
I asked in the channel, and they said, we should raise independent issues. So I raised one by one.
I too wanted to do and file a single issue, you can see the gitter channel.
BTW,

Duly noted!

[2017-12-15 22:26] ParthS007 opened #420 "PDF not generating"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**
Badges PDF are not generating.

**Expected behaviour:**
PDF should generate after giving required Input.
![image](https://user-images.githubusercontent.com/24358501/34062858-c7d7463a-e214-11e7-9343-cebef08c6d07.png)

I think this is due to #410. I am checking this.

[2017-12-15 22:41] vaibhavsingh97 commented on #420
Issue exists 👍

[2017-12-15 22:44] gabru-md commented on #420
I did comment on that PR fir a working link.
It must be made compulsory in any case. It helps ease the review and find potential UI/UX bugs

[2017-12-15 23:10] ParthS007 commented on #420
I understand @gabru-md 😄

[2017-12-16 02:52] yashLadha commented on #420
It has been fixed in #384 . It is due to rename of filename at the flash message. @ParthS007

[2017-12-16 03:26] yashLadha commented on #420
Here is the deployed link https://glacial-woodland-76361.herokuapp.com/

[2017-12-16 16:57] 0x48piraj commented on #420
I and @yashLadha were working on this, he solved this issue :+1:
We should close this, check his deploy link  :+1:

[2017-12-16 18:09] #420 closed

[2017-12-16 18:27] 0x48piraj commented on #418
@harshit98 I updated my issue and am currently working on a **PR**
And, @sagar-kalra your **PR** was broken, I checked it. The bar was still going up. :smile:
Please close your PR.

[2017-12-16 18:49] 0x48piraj commented on #418
Ping @harshit98

## https://github.com/fossasia/badgeyay/pull/421 :smile_cat:

[2017-12-16 19:54] #418 closed

[2017-12-16 19:56] #382 closed

[2017-12-16 21:11] 0x48piraj opened #422 "Update `build.sh` script and re-generate an clean image"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
* **Outdated build.sh script** _(As, I read and asked @ParthS007 and founf that `pdftk` is deprecated now)_
* **Image is messy and ill-presented.**
![image](https://user-images.githubusercontent.com/5800726/34073221-cf29699e-e2ba-11e7-899e-27a920452366.png)

**Expected behavior:**
* The image should be re create

[2017-12-16 23:08] #422 closed

[2017-12-17 16:25] STEdirisuriya opened #425 "Repetition in README.md"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
There are two times "installation" section in README.md
![badge yay iss](https://user-images.githubusercontent.com/33794760/34081547-36c54758-e374-11e7-8a0c-a110a33c8ac7.JPG)
![badgeyay iss 2](https://user-images.githubusercontent.com/33794760/34081549-382a8afe-e374-11e7-9ba4-dab75f7e90b5.JPG)

**Expected behavi

[2017-12-17 17:51] #374 closed

[2017-12-17 17:55] yashLadha opened #426 "Font size and Custom Font selection feature in Badgeyay"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Selection of some predefined font with a fixed Size

**Expected behavior:**
Selection of predefined and custom fonts with varying sizes.

I am working on this issue.

[2017-12-17 17:56] ParthS007 commented on #425
@STEdirisuriya Put deploy buttons at top of README.md

[2017-12-17 18:07] yashLadha opened #427 "Badgeyay Art Work"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

There is no artwork for this project, like other projects under organization. It would be great if we also have our own.

[2017-12-17 19:49] STEdirisuriya commented on #425
I am working

[2017-12-18 04:14] rupav commented on #427
@yashLadha can you please give reference to which other projects' artwork you are talking about?

[2017-12-18 04:16] yashLadha commented on #427
SUSI has his artwork, Loklak has its artwork, So why not badgeyay. @rupav . Hope this answers

[2017-12-18 04:25] rupav commented on #427
So basically we want a logo for badgeyay? Isn't it? Are you working on it, or can I take up this ?

[2017-12-18 09:19] yashLadha commented on #427
Yes you can take it @rupav . But a logo will represent the project.

[2017-12-18 09:46] harshit98 commented on #427
Before proceeding with this issue, take opinion from @mariobehling.

[2017-12-18 10:42] harshit98 commented on #426
@yashLadha The issue description is not up to mark. I'm not able to understand what you're trying to do here?

[2017-12-18 14:30] yashLadha commented on #426
Sorry my bad @harshit98 . Corrected it.

[2017-12-18 17:01] naveentherocker commented on #427
I like to work on this

[2017-12-18 17:10] yashLadha commented on #427
Let @mariobehling Review this first.

[2017-12-18 18:02] mariobehling commented on #427
We need an eventyay and badgeyay logo that is associated. Sure, maybe give it a try.

[2017-12-19 02:58] yashLadha commented on #427
As @rupav asked first he should get a chance and @naveentherocker you can go for eventyay logo. Just create an issue and GFI.

[2017-12-19 03:09] naveentherocker commented on #427
Ok Sure @yashLadha

[2017-12-19 04:00] naveentherocker commented on #427
Which Eventyay Repo should I work on with in order to make the logo @yashLadha?

[2017-12-19 04:47] yashLadha commented on #427
Just create a basic artwork of Eventyay, not associated to particular repo under the hood. Like we have artwork fo susi and not indivdual art work of susi_android, susi_server , in the same way do it for the Eventyay as well. @naveentherocker

[2017-12-19 12:18] abishekvashok commented on #379
@djmgit we should make generate-badges.py a module and implement it as a module throughout badgeyay right?

[2017-12-19 13:45] djmgit commented on #379
@abishekvashok exactly, after that we should be able to import and use generate-badges.py module from merge-badges.py

[2017-12-19 14:56] abishekvashok commented on #379
So should i do that as well? If i work on this.

[2017-12-19 15:52] djmgit commented on #379
@abishekvashok if you want  to do it then please go for it :)

[2017-12-19 16:32] abishekvashok commented on #379
I will give it a try.

[2017-12-24 09:57] yashLadha opened #431 "Generate a python library for the project"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

Generate a python library for the project. So that it can be used from the cli also.

I would be like to work on this. Views @vaibhavsingh97 @djmgit @S2606

[2017-12-24 09:59] djmgit commented on #431
@yashLadha Nice idea :+1: Please go ahead :)

[2017-12-24 10:04] djmgit commented on #431
@yashLadha  the project started of as a terminal based application ( a script ). After that it was converted to a flask application. So the core part of the project, that is the badge generator and badge merger are completely separate from the web application. The web application calls the required modules to do the job. So I guess all that needs to be done is create a nice terminal interface and

[2017-12-24 10:57] yashLadha commented on #431
Yaa I can see the subprocess call in the code. I will make a nice terminal
interface for it.

On Dec 24, 2017 3:34 PM, "Deepjyoti Mondal" <notifications@github.com>
wrote:

[2017-12-24 11:41] #379 closed

[2017-12-25 05:00] gabru-md commented on #353
@harshit98 If you are not working on this issue I would like to give it a try.

[2017-12-25 05:41] djmgit commented on #381
@abishekvashok You are almost right :) The back end that is the REST API will be a Flask project which will provide the required end points. But the front end need not be a flask app. The front end will be a static application and can be built with any front end framework. @mariobehling has suggested ember.js, and already we have one layout ready (done by a GCI'17 student, several instances of tha

[2017-12-25 06:08] ParthS007 commented on #354
Working on this due to inactivity :+1

[2017-12-25 06:13] abishekvashok commented on #381
@djmgit so should I tamper the current app? Or can you create a new branch in the repo @djmgit. I don't have write access so pls create a new branch to which I we could work this on, the if all comes write and after the front end is ready merge it into master. So that the currentgenerator does not get lost while we setup the new approach.

[2017-12-25 09:32] #346 closed

[2017-12-25 10:20] abishekvashok commented on #381
Also @djmgit the only task I can find for badgeyay is the ember js one (designing the front end). I would be happy to work on this if an additional task may be added.

[2017-12-25 12:40] gabru-md opened #433 "Reference to #432"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**

New changes are registered when preview is pressed
**Expected behavior:**

New changes must show in real time.

**Steps to reproduce:**
Try creating a badge and press Preview and then change the font.

[2017-12-25 12:41] gabru-md commented on #433
Ref #432

[2017-12-25 12:42] ParthS007 commented on #433
I want to work on this 👍

[2017-12-25 13:11] gabru-md commented on #431
@yashLadha great!
I would love to be of any help for this issue.
Please feel free to ping in case of problem
:smile_cat:

[2017-12-25 13:30] djmgit commented on #381
@abishekvashok Please claim an instance of the task titled 'Solve an advanced task: Badgeyay' and post this issue link there.

[2017-12-25 13:44] djmgit commented on #381
@abishekvashok please ping the badgeyay devs here https://gitter.im/fossasia/badgeyay regarding this issue :)

[2017-12-25 14:25] vaibhavsingh97 commented on #433
claiming

[2017-12-25 14:46] yashLadha commented on #431
Sure @gabru-md . :+1:

[2017-12-25 16:39] abishekvashok commented on #381
@djmgit that was done for the python library.

[2017-12-26 00:51] naveentherocker commented on #427
@rupav Are you working on this? If not please reply so that I can work on this.

[2017-12-26 01:51] rupav commented on #427
@naveentherocker yeah watched some tutorials too, but now as I will not be at home till 1st Jan, you can take this task. And how is your progress with eventyay artwork ?

[2017-12-26 05:29] naveentherocker commented on #427
@rupav There is my pending PR in Eventyay. Waiting for that to be approved. As soon as it gets approved, I'll submit the Artwork.

[2017-12-26 07:36] raju249 commented on #354
Thanks @ParthS007  for working on this.
Sorry to leave it out. Currently trying to fix some issues but also kinda busy with Internship 😄

[2017-12-26 11:56] abishekvashok commented on #381
@djmgit please see #435

[2017-12-26 13:08] vaibhavsingh97 commented on #353
Reopening as partially fixed

[2017-12-27 13:58] abishekvashok commented on #425
Can we close this, as it was solved.

[2017-12-28 11:11] #431 closed

[2017-12-28 11:17] vishwas78 opened #436 "UI bug: Half visible "Download as PDF button""
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

After generating the badges the download button appears. If I submit a request for another batch of badges and preview them, then the download button and footer overlaps.

**Expected behavior:**

The users should be redirected to another page where they can download the badges.

**Steps to reproduce:**
1. Gener

[2017-12-28 19:30] vaibhavsingh97 opened #437 "Add Swagger UI"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Swagger UI is not present

**Expected behavior:**
As this PR: https://github.com/fossasia/badgeyay/commit/82d6fcd79b087ba96d6cf4c20c1d075ed50a9c97 merged
We need to add Swagger UI. Swagger does a simple but very powerful thing: with a bit of additional annotations it generates the REST API descriptions (HTTP met

[2017-12-28 19:30] vaibhavsingh97 commented on #437
Claiming

[2017-12-28 20:08] ParthS007 opened #438 "REST API Unit Tests"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
REST API unit tests are not present.

I want to work on adding tests for the REST API .

[2017-12-28 20:09] ParthS007 commented on #438
I am new to it, will take some time but surely complete it.

[2017-12-29 02:36] djmgit commented on #438
@ParthS007 this is very much needed. Please go ahead :+1:

[2017-12-29 07:50] vaibhavsingh97 commented on #436
Please feel free to fix this issue. Nice catch 👍

[2017-12-29 07:54] vaibhavsingh97 commented on #425
https://github.com/fossasia/badgeyay/commit/ecde056e799c6433686e0f640c63d9a5f7808a08 fixed the issue

[2017-12-29 07:54] #425 closed

[2017-12-29 07:55] vaibhavsingh97 commented on #381
@abishekvashok This issue can be closed as your PR got merged. Will open new issue for iterations

[2017-12-29 08:33] abishekvashok commented on #381
@vaibhavsingh97 why was'nt this automatically closed as i had mentioned it on my pr body. Strange. Please close this.

[2017-12-29 11:08] abishekvashok commented on #438
@ParthS007 after you do so, uncomment the the line in Travsi so that tests can run to. Good luck

[2017-12-29 16:12] naveentherocker opened #439 "No Cache for Travis Build."
**Current behavior:**
Currently, Travis doesn't have Caching. So that it takes some time for the Test

**Expected behavior:**
Adding Caching to the Travis Build. So that the Test will be done even quicker.

[2017-12-29 20:15] vishwas78 commented on #436
Sure, working on it. Can expect a patch soon.

[2017-12-30 03:16] Jay54520 opened #442 "Preview won't change"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Preview won't change after the `Badge Background` change.

**Expected behavior:**

Preview will change with the `Badge Background` change.

**Steps to reproduce:**
1. `Enter Data Manually`: `Hong Phuc,Dang,@hpdang,FOSSASIA `
1. Choose a color in `Choose Background Color` and click `Preview`
1. Select a template

[2017-12-31 07:04] sagar-kalra commented on #442
I want to take on this issue.

[2017-12-31 09:00] #439 closed

[2018-01-01 09:48] naveentherocker opened #444 "Update pip Version"
Currently, the pip version 7.1.2 is used. However, the version 9.0.1 is available.
Update pip version 7.1.2 to 9.0.1

[2018-01-01 10:30] #444 closed

[2018-01-01 10:35] naveentherocker opened #445 "Install Relevant Modules for Python"
Install Important Modules for the Project

[2018-01-01 10:55] naveentherocker opened #446 "Add .slugignore for Slug Compilation"
The .slugignore file allows you to select files and directory which won’t be included in the image after the build of your application.

[2018-01-01 11:19] #445 closed

[2018-01-01 16:45] vaibhavsingh97 commented on #446
Closing this issue as it's not required. Reference: https://github.com/fossasia/badgeyay/pull/448#issuecomment-354662745

[2018-01-01 16:45] #446 closed

[2018-01-03 15:04] #378 closed

[2018-01-03 16:15] naveentherocker opened #451 "Update .editorconfig"
Update the .editorconfig

[2018-01-03 18:21] ParthS007 commented on #354
will give a PR in 2 days 👍

[2018-01-04 03:09] nityanandagohain commented on #349
Can i work this issue .

[2018-01-04 03:10] S2606 commented on #349
@nityanandagohain i am working on this

[2018-01-04 03:36] nityanandagohain opened #453 "preview should be changed to an image pop-up"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**
 Currently the preview appears at the bottom.

**Expected behaviour:**
It should do an image pop-up which will be quite good

I want to work on this.

[2018-01-05 03:15] rupav commented on #427
@naveentherocker Please provide the link of that PR.

[2018-01-05 09:00] #451 closed

[2018-01-05 10:15] S2606 opened #454 "Adding Dredd Hooks for Badgeyay API"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**
Dredd Tests are not present

**Expected behavior:**
After this issue gets solved, #437
We can add tests which correspond to API documentation for better results.

**Would you like to work on this issue?**
Yes

[2018-01-05 12:20] harshit98 commented on #454
@S2606 Before proceeding, share some resources related to it and how it is beneficial for Badgeyay?

[2018-01-05 12:22] harshit98 commented on #453
@nityanandagohain I'm closing this issue because we wanted the preview should be displayed at the bottom instead of a pop-up.

[2018-01-05 12:22] #453 closed

[2018-01-05 18:14] YashKumarVerma opened #456 "Missing Code of Conduct"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
There are no `conduct` related files in our repo.

**Expected behavior:**
These should be a file to specify conduct as our repository remains active, and has a significant amount of interaction between members.

**Steps to reproduce:**
- Adding a file specifying code of conduct.

[2018-01-06 11:09] YashKumarVerma commented on #456
@vaibhavsingh97 do we have a email id for badgeyay support ? it's needed for that.

[2018-01-06 13:58] S2606 commented on #454
@harshit98 Dredd hooks can help us in following ways:-
1)The main functionality is automating validation of API Documentation i.e Swagger in this case as we know API Documentation is important. Many repos. in fossasia do implement this for eg: Open-event-server
2)Also add to Testing of API.

[2018-01-07 03:42] Pravandan commented on #264
Why not we separate the frontend from the backend logic and that way if we build the frontend say in React then we can load up asynchronously without the need of reloading the entire page.

[2018-01-07 18:18] vaibhavsingh97 opened #459 "REST API Enhancement"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Expected behavior:**
This is the structure for our backend which I had thought of to make the code more maintainable. The following directory tree shows where each part of the logic is located.
[code]
Your views please
Cc: @harshit98 @ParthS007 @mariobehling @djmgit @abishekvashok

[2018-01-07 18:21] ParthS007 commented on #459
Looks good to me @vaibhavsingh97  👍 , Looking forward to working on this

[2018-01-07 18:22] vaibhavsingh97 commented on #459
Solving this issue also solves #437

[2018-01-07 18:25] ParthS007 commented on #459
@vaibhavsingh97 Please create a checklist after tree structure so that others can contribute to it also 👍

[2018-01-07 19:14] #456 closed

[2018-01-07 21:41] niccokunzmann commented on #155
Seems there is no progress. You can just go for it.

[2018-01-08 12:11] abishekvashok commented on #459
Looks good to me @vaibhavsingh97. Can we have sub issues once someone like
@mariobehling or @djmgit review?

[2018-01-09 13:52] naveentherocker opened #461 "Add Meta Data"
Add Meta Content to the Badgeyay App

[2018-01-10 05:45] saarthakchats opened #463 "Need to improve code quality"
Going to make substantial improvements in code quality
All .html files are going to be updated for better code quality.

[2018-01-10 05:58] vaibhavsingh97 commented on #463
@saarthakchats Please describe issue in detail. Thanks

[2018-01-12 04:20] ParthS007 commented on #354
will give a PR in 2 days 👍

[2018-01-12 13:59] gabru-md commented on #459
Yes I suppose. There are many things to be finalized as of now.
It will be broken down into multiple issues to ensure parallel development

[2018-01-13 06:38] yashLadha opened #467 "Information about CLI in Readme"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

I am working on this.

[2018-01-13 12:55] #463 closed

[2018-01-14 03:01] mohdomama commented on #438
Along with unit tests of individual functions, I think we should have overall tests of the functionality of the API.
For these tests, I propose the following:
- Send post requests on the server via `requests` module.
- Each test-case will send a post request with different parameters.
- For each test case, we will compare the response with the desired response in a `responses.txt` file.

Your view

[2018-01-14 03:24] rupav commented on #353
@vaibhavsingh97 #443 take care of this issue. This can be closed then?

[2018-01-14 13:17] naveentherocker opened #470 "Write a .scss.lint.yml"
Write a .scss.lint.yml file that will allow max-depth: 4

[2018-01-14 16:11] #470 closed

[2018-01-14 20:59] Remorax opened #472 "Deploy to Heroku bug"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
There is a bug on clicking the deploy to Heroku button in [this doc](https://github.com/fossasia/badgeyay/blob/development/docs/installation/heroku.md). It gives the error given in the SS below

**Expected behavior:**
This bug needs to be fixed immediately and the user should be able to deploy to Heroku.

**Step

[2018-01-15 09:56] gabru-md commented on #438
API responses are in JSON format. So you might want to take `responses.json` as an assert parameter.

[2018-01-15 17:23] mohdomama commented on #438
@gabru-md Thank you for your suggestion. I have done the same :) Please review the PR.

[2018-01-15 17:56] harshit98 commented on #459
Okay, great @vaibhavsingh97. Looks good to me! Can you share, how this issue can be divided into sub-tasks?

[2018-01-15 18:05] vaibhavsingh97 commented on #459
@harshit98 So I and @ParthS007 will collaborate to make the develop the basic structure of API (Swagger UI will automatically added in this process which also solves this https://github.com/fossasia/badgeyay/pull/460).

After that to make the generated file persistent we will save in the database,  authenticatoin will be added, make badges distinguishable by providing hashes and delete badges afte

[2018-01-15 18:14] harshit98 commented on #459
Okay. Please go ahead @vaibhavsingh97.

[2018-01-15 18:25] #472 closed

[2018-01-15 18:30] #461 closed

[2018-01-15 19:56] gabru-md commented on #459
I would love to help as well @ParthS007 & @vaibhavsingh97

[2018-01-15 20:15] ParthS007 commented on #351
giving PR by Wednesday 👍

[2018-01-15 22:10] S2606 commented on #459
I would also love to help as well @vaibhavsingh97  @ParthS007  @gabru-md

[2018-01-16 12:43] abishekvashok commented on #459
Hey, can I help as well?

[2018-01-17 04:46] djmgit opened #477 "Remove unnecessary dependencies form travis.yml"
Presently travis.yml contains pdftk and librsvg2-bin are present under the install section. Those are no more required and can be removed from the file.

[2018-01-17 04:50] ParthS007 commented on #477
I will remove them. Working on it 👍

[2018-01-17 06:25] S2606 opened #478 "Testing Failure Responses"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**
#475 Tests for success responses

**Expected behavior:**
Procedure for failure responses too.

[2018-01-17 06:25] S2606 commented on #478
@djmgit can you please give your inputs??

[2018-01-17 06:48] mohdomama commented on #478
@S2606 are you working on this ?

[2018-01-17 06:49] S2606 commented on #478
@mohdomama Yes.

[2018-01-17 06:56] mohdomama opened #479 "Minor issues in rest-api README.md"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
- The json response given in README is in incorrect format.
- Other small errors

**Expected behavior:**

- Correct Json format
- Other small errors resolved.

I am working on this.

[2018-01-17 06:59] mohdomama commented on #478
@S2606 okay go on :+1:

[2018-01-17 07:29] djmgit commented on #478
@S2606 please go on with this. Just make sure you cover most of the input combinations that will cause an error :)

[2018-01-17 07:30] S2606 commented on #478
@djmgit I can go on after #475 gets merged :)

[2018-01-17 09:11] #351 closed

[2018-01-17 09:16] ParthS007 opened #481 "Updation of Test CSV Files"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Expected behavior:**
CSV files and it usage should be updated according to #476

I am working on this Issue.

[2018-01-17 09:17] ParthS007 commented on #479
@mohdomama Please close this 👍

[2018-01-17 10:01] #479 closed

[2018-01-17 17:43] ParthS007 opened #483 "Build is failing for development branch"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
Presently, `Build` is failing.

**Expected behavior:**
The Build should not fail.

I am working on this issue.

[2018-01-18 03:29] mohdomama opened #485 "Travis build failing for rest-api branch"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
- Travis build is failling

**Expected behavior:**

- It should not fail

I am working on it.

[2018-01-18 08:24] #483 closed

[2018-01-18 09:45] #477 closed

[2018-01-18 13:17] #467 closed

[2018-01-18 13:20] mariobehling commented on #485
Please avoid other branches. Follow standard procedures and work on dev branch.

[2018-01-18 13:20] #485 closed

[2018-01-18 13:29] mariobehling opened #488 "Implement the same UI as V1 in emberJS"
Here is a screenshot of V1. Please implement the same UI.

![screenshot from 2018-01-18 14-28-08](https://user-images.githubusercontent.com/1583873/35100377-eb8d569e-fc5b-11e7-9441-d3462b58edef.png)

[2018-01-18 13:43] vaibhavsingh97 opened #489 "Refactor Badgeyay"
**Todo**
- [x] Backup current repo and move under V1
- [ ] Merge `rest-api` branch
- [ ] Delete `rest-api`
- [x] Delete `gci-frontend-task`
- [x] Seperate `frontend` and `backend` folder

[2018-01-18 13:50] harshit98 commented on #478
@S2606 The PR has been merged. You can start working on it. 👍

[2018-01-18 13:50] harshit98 commented on #459
Sure @abishekvashok you can also help : )

[2018-01-18 14:03] mohdomama commented on #478
@harshit98 please merge #486 before @S2606 stars working on this. Its because after #475, travis was failing which was rectified in #486 .

[2018-01-18 15:15] abishekvashok commented on #488
Working on it.

[2018-01-18 21:55] ParthS007 opened #491 "Seperate Front-end and back end folder"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Currently, everything is messed up.

**Expected behavior:**
Everything should be in one branch and separated by folders

Sub-issue of #489
working on it.

[2018-01-19 10:51] ParthS007 commented on #489
working on back end part 👍

[2018-01-19 12:43] abishekvashok commented on #437
@vaibhavsingh97 closing this as we prefer a ember js one instead :)

[2018-01-19 12:44] #381 closed

[2018-01-19 13:05] vaibhavsingh97 commented on #437
@abishekvashok This not relate to frontend, this is for easy documentation of API

[2018-01-19 15:32] abishekvashok commented on #437
I am sorry! Reopening

[2018-01-20 06:46] #491 closed

[2018-01-20 08:32] abishekvashok commented on #478
@mohdomama pls make sure that you post your pr to the development branch. We are migrating front-end and back end to seperate folders in the development branch. You can make a pr after the migration is complete.

[2018-01-20 08:34] abishekvashok commented on #436
Note for this, we can make sure that the footer is really below the page by adding margins with css.

[2018-01-20 12:42] abishekvashok commented on #489
@vaibhavsing97 done. I've deleted the branch. It was merged by @ParthS007

[2018-01-20 12:42] #489 closed

[2018-01-20 12:42] mohdomama commented on #478
@abishekvashok Sure. I would like to provide any possible help in the migration process :smile:

[2018-01-20 13:40] #488 closed

[2018-01-20 13:40] vaibhavsingh97 commented on #489
Still, I will send one PR and that will delete redundant files. Thanks

On Sat 20 Jan, 2018, 6:12 PM Abishek V Ashok, <notifications@github.com>
wrote:

[2018-01-20 14:22] fr0der1c commented on #427
If a logo is needed, I can do that:)

[2018-01-20 15:08] abishekvashok commented on #489
@vaibhavsing97 as I can see that many files exist in the backend as well that needs to be removed. I've open an issue for that. Pls assign on that issue.

[2018-01-20 15:09] abishekvashok opened #496 "Remove redundant files."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Lot of redundant files that are not present are present

**Expected behavior:**

They must be removed.

**Steps to reproduce:**

Go to the repository

[2018-01-20 15:14] abishekvashok opened #497 "Deploy backend and front-end to heroku."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

As the backend and front end were seperate we dont have heroku deployment for both

**Expected behavior:**

Front end and backend should be deploy ee to heroku. They must be two heroku apps.

So we need to:
- [ ] Deploy front-end to gh-pages
- [ ] Deploy backend to heroku
- [ ] Update the form action in the fro

[2018-01-20 15:15] abishekvashok commented on #497
Also it need not to be a single person who does this.

[2018-01-20 15:17] abishekvashok opened #498 "Rectify Travis ci tests"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Travis ci runs code intended for the old architecture.

**Expected behavior:**

It should support the uncoupled architecture. It should run tests for the front-end and backend on isolated instances.i.e, by making use of the **isolated** parallel builds.

[2018-01-20 15:20] abishekvashok commented on #388
It's reattached now.

[2018-01-20 15:20] #388 closed

[2018-01-20 15:21] abishekvashok commented on #426
The ore defined fonts can now be selected @yashLadha can you see if we require more changes.

[2018-01-20 15:22] abishekvashok commented on #356
Closing this as the api as part of the gci task was added.

[2018-01-20 15:22] #356 closed

[2018-01-20 15:23] abishekvashok commented on #357
Closing this as it was done and the backend and front-end folder exists in the development branch as for now.

[2018-01-20 15:23] #357 closed

[2018-01-20 15:26] S2606 opened #499 "Remove irrelevant data from Backend README.md"
@**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**
Unnecessary data shown in backend readme.md file

**Expected behavior:**
Should be removed

**Steps to reproduce:**

[2018-01-20 15:28] S2606 commented on #437
@vaibhavsingh97 Are you facing any issue working on this?

[2018-01-20 15:29] abishekvashok commented on #308
Unassigning due to inactivity.

[2018-01-20 15:30] S2606 commented on #497
I would like to work on this

[2018-01-20 15:34] abishekvashok commented on #497
@S2606 sure but can you wait till @mariobehling finalizes a domain?

[2018-01-20 15:37] abishekvashok commented on #478
@mohdomama it's finished now. If you want, you can solve this issue by editing the file present in the backend folder, although we are still lacking appropriate documentation, ci/cd and deployments.

[2018-01-20 15:41] S2606 commented on #478
@abishekvashok I do think we can wait for this as first Travis needs to be fixed based on new architecture.

[2018-01-20 15:43] abishekvashok commented on #478
We can go either way :) however the issues for those are of higher priority than this.

[2018-01-20 16:03] vaibhavsingh97 commented on #437
@S2606 will send PR latest by tomorrow

[2018-01-20 16:04] vaibhavsingh97 commented on #496
@abishekvashok this is very small issue can be solved by beginners

[2018-01-20 16:06] vaibhavsingh97 commented on #499
@S2606 let's open this issue for beginners

[2018-01-20 16:12] abishekvashok commented on #496
Okay

[2018-01-20 16:16] vaibhavsingh97 commented on #497
@abishekvashok @S2606 Nice, let's proceed after #459. Your opinion pls

[2018-01-20 16:17] ParthS007 commented on #499
@S2606 @vaibhavsingh97 @abishekvashok  Create a check list of the files to be removed from `backend` .It will be easy for begginner to follow up from there.

[2018-01-20 16:57] ParthS007 commented on #497
I also want to help on this 😀

[2018-01-20 17:06] abishekvashok commented on #497
@vaibhavsingh97 can have deployments and update it on each commit (includes pr merge commits as well)? Since the backend and front-end is basically functional, we can iterate on it once we deploy right?

[2018-01-20 22:47] sctsui commented on #499
@S2606 @vaibhavsingh97 I'm at a hackathon right now and I wanted to try doing some open source. If you make the check list for files to be removed, I would like to help. This is my first time contributing, so I hope you don't mind if I ask q's along the way! Thanks.

[2018-01-21 00:57] mariobehling commented on #497
Let's try this:

Please deploy the backend to heroku and the front-end to github pages.

[2018-01-21 00:59] ParthS007 commented on #497
Ok @mariobehling  👍

[2018-01-21 01:08] S2606 commented on #497
Ok will deploy the backend..

[2018-01-21 05:02] vaibhavsingh97 commented on #499
Sure, I will update this issue. Thanks

On Sun 21 Jan, 2018, 4:17 AM Sabrina Tsui, <notifications@github.com> wrote:

[2018-01-21 05:06] raju249 commented on #499
@sctsui Your questions are encouraged.
Welcome to FOSSASIA :smile:

[2018-01-21 07:15] vaibhavsingh97 commented on #497
ok, @mariobehling  👍

[2018-01-21 08:11] rupav commented on #442
@Jay54520 I want to take up this issue. @sagar-kalra are you still working on it?

[2018-01-21 09:06] ParthS007 commented on #155
closing this issue as the remaining 4 point was fixed in #476

[2018-01-21 09:06] #155 closed

[2018-01-21 11:21] ankurg22 commented on #496
Hey I'm new and want to work on this issue. Can you guide me which files need to be removed?

[2018-01-21 11:31] vaibhavsingh97 commented on #496
@ankurg22 Sure, You can join to FOSSASIA https://orgmanager.miguelpiedrafita.com/join/6295529 and make your membership [public](https://help.github.com/articles/publicizing-or-hiding-organization-membership/). After this, I will assign this issue to you. Happy contributing!!

[2018-01-21 11:37] yashLadha opened #500 "Connecting Backend and Frontend Modules"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
There is no connection between new frontend and backend.

**Expected behavior:**
The frontend should be connected with the backend.

I am working on this.

[2018-01-21 11:43] ankurg22 commented on #496
@vaibhavsingh97 Thanks. I'm now a member. You can assign the issue now :)

[2018-01-21 12:23] abishekvashok commented on #500
Can you provide some more information such as how you intend to connect them and why to do so pls? :)

[2018-01-21 12:26] yashLadha commented on #500
I am planning to use the backend rest api for the generation of the PDF. @abishekvashok  Basically them the project will have an interface that is to use.

[2018-01-21 13:10] abishekvashok commented on #500
Are you intending to do the 3rd point of #497 ? I could remove it from there if you prefer a seperate issue.

[2018-01-21 13:12] yashLadha commented on #500
In that case there are two separate deploys. If the machine is running on localhost them we can just create a starting script that runs two ports for backend and frontend, but that won't be the case with Heroku deployment.

[2018-01-21 13:24] abishekvashok commented on #500
Okay, then pls proceed. It looks great. :)

[2018-01-22 12:33] abishekvashok commented on #433
@vaibhavsingh97 any updates?

[2018-01-22 12:35] abishekvashok commented on #225
@harshit97 i see code in your fork can you make a pr pls if all seems work.

[2018-01-22 12:36] abishekvashok commented on #230
@S2606 I am closing this down. We can add it when ee fix Travis. Pls reopen by then :)

[2018-01-22 12:36] #230 closed

[2018-01-22 12:38] abishekvashok commented on #264
@S2606 any updates.
@Pravandan the front-end and backend is now seperated

[2018-01-22 12:40] S2606 commented on #264
@abishekvashok Actually this was last discussed long back and to be honest since the UI is now changed, do we need this?? If yes then once the new version is live, I will send a PR for it. What do you think?

[2018-01-22 12:40] abishekvashok commented on #353
@vaibhavsingh97 can you update on what more is required pls?

[2018-01-22 12:42] abishekvashok commented on #264
Closing it then as this was for an old ui. Thank you.

[2018-01-22 12:42] #264 closed

[2018-01-22 12:44] abishekvashok commented on #499
@sctsui you need to change the readme.md in backend and remove any unwanted docs which are not specific to the backend from it.

[2018-01-22 12:48] abishekvashok commented on #433
Closing in favour of #442 aa it has the same purpose but much more info. @vaibhavsingh97 can you pls update the status there pls?

[2018-01-22 12:48] #433 closed

[2018-01-22 12:49] abishekvashok commented on #153
@mariobehling can u pls see if we require this?

[2018-01-22 12:53] S2606 commented on #210
@abishekvashok Since UI is now updated, can we close this??

[2018-01-22 12:58] abishekvashok commented on #210
Sure I am closing this as this was meant for an old ui

[2018-01-22 12:58] #210 closed

[2018-01-22 13:36] sagar-kalra commented on #442
@rupav I am working on it

[2018-01-22 14:17] ParthS007 commented on #225
@abishekvashok PR  is fine but we need a Google Cloud account to make it deployable but as we are now focusing on separating front-end and back-end and making them work together. This issue can be postponed, for now. we can do it when the app is stable after all the above transformation. 👍

[2018-01-22 22:39] ParthS007 commented on #498
working on it 👍

[2018-01-23 02:48] rupav commented on #436
Claiming because of inactivity.

[2018-01-23 03:02] rupav opened #503 "Modify guide.html page."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

#476 introduces designation field which requires the modification in guide.html too.

**Expected behavior:**

Correct guide.html

**Do you want to work?**
No. A beginner can take up this issue.

[2018-01-23 03:05] rupav commented on #503
@abishekvashok please add `new-first issue` label and alike.

[2018-01-23 03:08] rupav commented on #354
@vaibhavsingh97 @ParthS007 @raju249 any of you working on
- add radio buttons a) "Add event logo" b) Use event name text.
Would like to give it a try.

[2018-01-23 09:24] ParthS007 commented on #354
@rupav  I have worked on it as you know already but our first priority is to fix Travis, that's why I have kept PR on hold.

[2018-01-23 09:58] rupav commented on #354
Ok @ParthS007 👍

[2018-01-23 11:26] #496 closed

[2018-01-23 11:34] nityanandagohain commented on #503
can I work on this. I have never contributed to this repo

[2018-01-23 11:39] ParthS007 commented on #503
Yes @nityanandagohain  Please go ahead 👍

[2018-01-23 12:20] S2606 opened #505 "Add app.run in api/main.py file"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Current behavior:**
Currently there is no port number provided for API to start

**Expected behavior:**
I think it is needed for API to start locally

**I am working on this**

[2018-01-23 12:20] S2606 commented on #505
@abishekvashok what do you think??

[2018-01-23 12:26] #505 closed

[2018-01-23 12:28] abishekvashok commented on #505
It starts in 4200 i guess.

[2018-01-23 12:49] ankurg22 opened #506 "Remove GIF file"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
There is `working.gif` file in `/backend/app/` which is not required now as we have a youtube video for the demo.

**Expected behavior:**
1. GIF file should be deleted to reduce repo size.
2. Remove usage of the file from Readme file

[2018-01-23 12:56] ankurg22 commented on #506
@abishekvashok Make it first timer.

[2018-01-23 14:03] rupav commented on #308
Claiming this then. @abishekvashok .

[2018-01-23 15:37] abishekvashok commented on #308
Okay @rupav pls carry on

[2018-01-23 15:39] #436 closed

[2018-01-23 15:40] abishekvashok commented on #506
Here you go. Thank you

[2018-01-23 17:18] ParthS007 opened #507 "Major Bug in REST API tests"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
Every test is failing.

**Expected behavior:**
Tests should pass in order to run Travis again.

**Steps to reproduce:**
Run any tests like `pytest` or  `nosetests` .

I am working on this Issue.

[2018-01-23 17:54] #507 closed

[2018-01-23 19:34] #506 closed

[2018-01-24 05:23] mohdomama opened #513 "Designation field is not drawn from csv in back-end."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

The Badgeyay back-end currently takes only 4 arguments in csv unlike Badgeyay front-end which takes 5 arguments. The missing argument is the designation, e.g- `VIP`, `Speaker`, etc.

**Expected behavior:**

Make Badgeyay back-end draw designation from csv.

I am working on this.

[2018-01-24 05:26] ParthS007 commented on #513
@mohdomama There is already #481  for this in which I will update it in every place.

[2018-01-24 05:29] #513 closed

[2018-01-24 05:29] mohdomama commented on #513
Okay @ParthS007 Thanks :+1:

[2018-01-24 05:34] mohdomama commented on #513
Since you are working on #498  can I work on #481 in the meantime ?

[2018-01-24 05:43] mohdomama commented on #481
Can I take it up @ParthS007 ? Also I would like to update back-end for the same.

[2018-01-24 13:20] #498 closed

[2018-01-24 13:27] ParthS007 commented on #497
I will deploy the front-end 👍

[2018-01-24 14:02] rupav commented on #308
Working on it, max. 2 days for PR.

[2018-01-24 15:19] abishekvashok commented on #497
Sure

[2018-01-24 15:51] rupav opened #515 "Preview of a badge shows text of more than 1 row."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

"/n" is used to split csv text, instead it should be "\n".
**Expected behavior:**

badge preview showing only 1 csv row.
**Steps to reproduce:**

[2018-01-24 16:16] #515 closed

[2018-01-24 16:47] nityanandagohain commented on #503
@ParthS007 @rupav  please can you guys provide some  hints.

[2018-01-25 06:44] yashLadha opened #516 "Correction in Documentation for install instructions for backend and frontend"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

Currently there are files present in the main directory that are not relevant to the path like `requirements.txt` that contains the information of the files that are present in old structure but not now. Also need in correction in README for consistency and less redundancy.

I am working on this.

[2018-01-25 07:03] ParthS007 commented on #516
@yashLadha we have #499 already for this and create a checklist there and mention the changes which are to be done . Closing this 👍

[2018-01-25 07:03] #516 closed

[2018-01-25 07:58] yashLadha commented on #499
Are you still working on this @S2606

[2018-01-25 11:36] abishekvashok commented on #503
That page isn't present in he front-end you need to add it from v1 and modify it.

[2018-01-25 15:55] Parag09 commented on #499
i want to help fixing this issue. I cant find the checklist for the irrelevant data .. plz help I am new to open source

[2018-01-25 17:35] ParthS007 commented on #499
@S2606 @vaibhavsingh97 @abishekvashok @yashLadha  Please create a checklist of the files which are to be removed 👍

[2018-01-26 03:35] mohdomama opened #518 "Remove extra scripts from travis."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

As of now there are some scripts in travis that are being run that are not needed anymore. For e.g- `xvfb` (X Virtual Framebuffer) is needed for a mock display. We needed that for front end testing with selenium. Its no longer needed anymore.

I am working on this.

[2018-01-26 06:08] #481 closed

[2018-01-26 06:10] #518 closed

[2018-01-26 06:12] abishekvashok commented on #499
It's not the files but irrevalend data in backend/Readme.md that needs to be removed.

[2018-01-26 06:41] sagar-kalra opened #520 "Change the dimensions of uploads/blue_futuristic.png"
*Current behavior:*
The dimensions of blue_futuristic.png is different from other images.

*Expected behavior:*
Make dimensions of it same as other ones.

*Would I like to work on this issue?*
Yes

[2018-01-26 07:21] yashLadha commented on #499
I think all the README (Except installation README) needs to be updated according to the new project structure.

[2018-01-26 14:28] nityanandagohain commented on #503
which one is v1 please help

[2018-01-27 05:20] abishekvashok commented on #503
@nityanandagohain v1 is the one inside the v1 folder pls dont touch it :)

[2018-01-27 08:37] abishekvashok commented on #497
@ParthS007 @S2606 can we have any updates on this priority issue. We need to deploy and make sure everything works then reiterate from here using auto deployment :)

[2018-01-27 18:55] ParthS007 opened #525 "Build is Failing"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
Currently, the build is failing due to changes in Trusty Images.
https://travis-ci.org/fossasia/badgeyay/builds/333593236
![image](https://user-images.githubusercontent.com/24358501/35477797-dd1aec64-03f1-11e8-8f46-733a51ff3ae1.png)

**Expected behavior:**
The build should pass, we can use the previous version b

[2018-01-27 20:44] ankurg22 opened #527 "Dead links in Readme.md"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

There are many links which are returning 404. Some of them are-
All links under Installation
2 links under Technologies used
**Expected behavior:**

The links should not return 404
**Are you working on this?**
Yes

[2018-01-28 06:59] rupav opened #530 "Heroku deploy steps don't work on windows"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

No steps for windows user.
**Expected behavior:**

Running heroku commands on windows.
**Steps to reproduce:**

[2018-01-28 07:50] #530 closed

[2018-01-28 07:51] #527 closed

[2018-01-28 08:00] #525 closed

[2018-01-28 08:16] #520 closed

[2018-01-28 08:32] ankurg22 opened #532 "Use checkbox instead of radiobox for custom font in frontend"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
In frontend if the radio box for `Use custom box` is selected accidentely then the page has to be reloaded to unselect it.

**Expected behavior:**
Using checkbox would rectify this issue

**Are you working on this issue?**
Yes.

[2018-01-28 08:47] ParthS007 opened #533 "Configure Hound CI to review frontend"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Currently , Hound is only configured to review back-end.

**Expected behavior:**
It should be configured for frontend also

I am working on it 👍

[2018-01-28 10:59] abishekvashok commented on #497
Backend not yet deployed

[2018-01-28 11:10] ParthS007 opened #534 "gh-pages deployment through Travis"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Expected behavior:**
After merging of PR in development, It should automatically deploy to gh-pages

Working on it 👍

[2018-01-28 11:34] abishekvashok commented on #534
The thing is that the access token your provided is not being accessed.

[2018-01-28 11:35] #442 closed

[2018-01-28 12:50] #308 closed

[2018-01-28 12:52] abishekvashok commented on #497
We need one more step to go. Auto deployment of backend still in progress.

[2018-01-28 12:55] S2606 commented on #497
I want to work on it @abishekvashok

[2018-01-28 16:07] #532 closed

[2018-01-28 16:08] ParthS007 commented on #427
Closing this as of low priority 👍

[2018-01-28 16:08] #427 closed

[2018-01-28 16:40] abishekvashok commented on #497
Yea you are assigned in @S2606. Pls proceed as it's priority :)

[2018-01-28 17:59] vaibhavsingh97 commented on #533
@ParthS007 Can't it be done by beginners?

[2018-01-28 20:21] #534 closed

[2018-01-28 22:14] ParthS007 opened #538 "Add auto deployment of frontend using surge for every PR"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Expected behavior:**
As,now gh-pages deployment is done . There should be automatic deployment of pull request for front end.

I am working on it 👍

[2018-01-29 04:12] rupav commented on #503
@nityanandagohain what's the status of your progress on this issue?

[2018-01-29 04:34] rupav commented on #499
** To be done **:
- 3rd point needs to be modified in `introduction` [section](https://github.com/fossasia/badgeyay/tree/development/backend#badgeyay-backend) as now user have to enter 5 entries, instead of earlier 4.
- Remove `Usage`  [section](https://github.com/fossasia/badgeyay/tree/development/backend#usage), since Vagrant setup is available now. User Input Guide is not required either now.
-

[2018-01-29 07:17] #533 closed

[2018-01-29 08:32] nityanandagohain commented on #503
@rupav I tried but I need some help ... Some hints will be really helpful.

[2018-01-29 09:03] rupav commented on #503
Yeah sure, first use badgeyay using the heroku app given in the description of this repository. Now when you fill manual csv data, you need to enter 5 entries, but according to guide.html in V1 folder, it says 4 entries need to be entered. Hence you need to make changes in guide.html accordingly for 5 entries. After you have made changes in guide.html, you need to add it in front end folder.

[2018-01-29 11:30] #497 closed

[2018-01-29 11:46] abishekvashok commented on #499
Yea it looks good. @rupav

[2018-01-29 11:48] abishekvashok commented on #538
Seems cool! I would be more glad if we could have a regular pattern.

[2018-01-29 13:40] nityanandagohain commented on #503
@rupav I need to add guide.html in the templates folder of  frontend?

[2018-01-29 13:50] yashLadha commented on #499
:+1:  @rupav

[2018-01-29 14:04] rupav commented on #503
@nityanandagohain I don't know about it, as ember js, requires .hbs files in templates section. You can make changes in the guide.html till then. @abishekvashok your view on this.

[2018-01-29 15:02] Minkush-sopho commented on #499
@rupav Can I take up this issue?

[2018-01-29 15:15] ParthS007 opened #540 "Add CNAME in gh-pages deployment"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Expected behavior:**
Badgeyay Front end will be accessible at that CNAME i.e `badgeyay.com`

Working on it

[2018-01-29 15:33] rupav commented on #499
@Minkush-sopho yes, go ahead 👍

[2018-01-29 15:34] Minkush-sopho commented on #499
@rupav  ok sir

[2018-01-29 15:35] rupav commented on #499
@Minkush-sopho no "sir" please 😅

[2018-01-29 15:36] Minkush-sopho commented on #499
@rupav  ohk :)

[2018-01-29 17:04] Minkush-sopho commented on #499
@rupav  Can you please suggest what needs to be added as the 5th field in introduction section's 3rd point?

[2018-01-29 17:10] rupav commented on #499
@Minkush-sopho as per https://github.com/fossasia/badgeyay/pull/476 it should be `Designation` field.

[2018-01-29 17:11] Minkush-sopho commented on #499
@rupav thanks 👍

[2018-01-29 17:37] Minkush-sopho commented on #499
@rupav  please review https://github.com/fossasia/badgeyay/pull/542

[2018-01-29 17:40] vaibhavsingh97 commented on #540
@ParthS007 Still an issue, Please look into it

[2018-01-29 17:46] vaibhavsingh97 commented on #540
Closing since http://badgeyay.com/ is working

[2018-01-29 17:46] #540 closed

[2018-01-29 19:00] ankurg22 opened #543 "Can't select font color and any background option simultaneously"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
The user should have the option to select font color as well as a background. But only one of them is selectable.

**Expected behavior:**
Both options should work

**Steps to reproduce:**
1. Open badgeyay.com
2. Choose font color radio.
3. Now choose any one of the three background radio. You will notice font co

[2018-01-29 19:47] ankurg22 opened #545 "Text color doesn't change in preview"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
When you choose a font color. It doesn't reflect back on the preview.

**Expected behavior:**
Font color should change with respect to selected settings

**Steps to reproduce:**
1. Select any font color. Fill data using enter data manually.
2. Click Preview.

I'm working on this

[2018-01-30 03:55] rupav commented on #543
@ankurg22 is it because a checkbox got introduced in between for custom font option? Because in my PR when all were radio buttons, they all were working correctly. I tested them on V1.

[2018-01-30 03:58] rupav commented on #545
Yes, @ankurg22 I didn't change the preview in earlier PR because of some problems with Preview option. Now that it has been solved, you can implement it. But Custom font was working that time also.

[2018-01-30 10:59] sagar-kalra opened #546 "No preview for background templates"
![screenshot from 2018-01-30 16-27-21](https://user-images.githubusercontent.com/31239108/35562800-8f86c5fa-05da-11e8-9cd7-5f1545292527.png)
#### Expected Behaviour:-
Preview should be displayed for any of the background template selected.

#### Am I working on this?
Yes

[2018-01-30 11:41] #543 closed

[2018-01-30 13:25] abishekvashok opened #547 "Enable front end form submission"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Currently the form action is left blank.

**Expected behavior:**

It should be http://badgeyay-api.herokuapp.com/api/v1.0/generate_badges

**Steps to reproduce:**
Go to the website and fill and submit the form.

[2018-01-30 13:25] abishekvashok commented on #547
Tagging as beginner

[2018-01-30 15:14] avsingh999 opened #550 "behavior of Preview when update enter data"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
when I update enter data then I have to 2-time click on the preview button

**Expected behavior:**
update enter data  and 1-click on preview then update my badge

**Steps to reproduce:**

[2018-01-30 15:24] ankurg22 commented on #550
Agree with this. Can we ditch Preview button and show a live preview on the right side of the form? It will update every time user updates a field. @ParthS007 @abishekvashok

[2018-01-30 17:37] avsingh999 opened #552 "Not delete enter data"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
when we enter the data.
![screenshot 103](https://user-images.githubusercontent.com/25536022/35581369-9338f056-0611-11e8-94ba-8a07c0e27818.png)

then if delete some data then it shows

![screenshot 104](https://user-images.githubusercontent.com/25536022/35581478-e0e16f40-0611-11e8-82ba-ba0695b78e76.png)

**Expec

[2018-01-30 21:14] #499 closed

[2018-01-30 22:58] ParthS007 opened #553 "Add link of CSV samples to README"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Currently, there is no link to CSV samples in the `csv`.

**Expected behavior:**
A link should be there.

[2018-01-30 23:04] ParthS007 opened #554 "Deploy Documentation of Badgeyay"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Expected behavior:**
- Deploy the documentation at `badgeyay.com/docs/` with every commit.
   - Deploying the `Readme.MD` at `badgeyay.com/docs/index.html`.
   - Other Details to folder at `badgeyay.com/docs/backend/` and `badgeyay.com/docs/frontend/`

Working on this 👍

[2018-01-31 04:58] #545 closed

[2018-01-31 05:53] rupav opened #555 "Add version to frontend"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

No version is shown.

**Expected behavior:**

Version should be present.
![screenshot 2018-01-31 11 22 49](https://user-images.githubusercontent.com/20624380/35607232-159c5544-0679-11e8-850e-020795bc3ac3.png)

**Steps to reproduce:**
go to http://badgeyay.com/

I am working on it.

[2018-01-31 06:31] rupav commented on #555
Closing this as Version is now showing. What could have been the reason @abishekvashok @ParthS007 ?

[2018-01-31 06:31] #555 closed

[2018-01-31 06:52] abishekvashok commented on #550
We can do that but first we need to make this thing working out of the box with an ajax request and progress bar and stuff. We will improve the ui when the time arises.

Currently @avsingh99 is reporting that he is forced to click two times to generate a preview instead of one time. But for me it's working even though the preview is not being shown. So can we have more explanations on this pls?

[2018-01-31 06:56] abishekvashok commented on #343
Singing @S2606 for status

[2018-01-31 06:57] S2606 commented on #343
@abishekvashok Let some other take this issue. 👍

[2018-01-31 06:58] rupav commented on #555
Will look into this anyways.

[2018-01-31 07:00] abishekvashok commented on #343
Sure this is up for claims then. Thanks for updating :)

[2018-01-31 07:00] abishekvashok commented on #478
@mohdomama it's fixed now! You can work in parallel.

[2018-01-31 07:02] rupav commented on #343
@meets2tarun  @abishekvashok  claiming this :)

[2018-01-31 07:04] rupav commented on #343
Will be working on bringing color on top area of badge, as 2nd is already implemented. And no need for automatic font color change now as we can edit the font color. Fine ?

[2018-01-31 07:05] S2606 commented on #478
@abishekvashok I am working on this

[2018-01-31 08:56] rupav commented on #343
Just realized logo section is integrated to body, so someone else can claim 😅. Till then I will find other options on inkscape for this.

[2018-01-31 13:20] #503 closed

[2018-01-31 13:21] abishekvashok commented on #343
Okay @rupav

[2018-01-31 13:21] abishekvashok commented on #478
@S2606 ok then sure :)

[2018-01-31 13:23] abishekvashok commented on #353
@vaibhavsingh97 i am closing this now as I feel it's fixed. If you don't think so pls reopen it :)

[2018-01-31 13:23] #353 closed

[2018-01-31 14:04] Minkush-sopho commented on #553
@ParthS007  Can work on this issue?

[2018-01-31 15:17] avsingh999 commented on #550
@abishekvashok it's simple when I enter data then preview button click and then the same badge if I add more data then preview button click the previous badge disappear and then again preview button click then it's show updated badge.

[2018-01-31 16:25] abishekvashok commented on #550
Thanks for the info. I don't know if we want this nw, anyway let's wait for others!

[2018-01-31 16:28] avsingh999 commented on #550
ok

[2018-01-31 17:45] gabru-md commented on #550
@avsingh999 this is a known bug. It has to be this way:
You click the preview button to open the preview panel. And once clicked the button text must change to `Close Preview`.  And then we can go with adding Real-Time Preview of badges.

@abishekvashok is someone doing this? Or can I proceed ?

[2018-01-31 18:25] rupav opened #558 "No link to guide is present."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Clicking on guide option brings a 404 error, as http://badgeyay.com/guide doesn't exist
**Expected behavior:**

guide.hbs should be rendered.
**Steps to reproduce:**
go to http://badgeyay.com, click on first info icon.

**I am working on it**.

[2018-01-31 18:48] #553 closed

[2018-01-31 19:09] ParthS007 commented on #558
@rupav  We can leave it for first-timers. What your views?

[2018-01-31 19:34] gabru-md commented on #554
Would love to help

[2018-02-01 00:03] yashLadha commented on #426
@abhilash97 can you explain it more? This issue is about regarding custom font sizes for generation of the badge.

[2018-02-01 05:07] vaibhavsingh97 commented on #554
I would also like to help

[2018-02-01 21:33] ParthS007 opened #562 "Add Package-lock.json to frontend"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Presently, there is no package-lock.json in the frontend.

**Expected behavior:**
It should be added to the frontend.

Working on it 👍

[2018-02-02 07:06] #538 closed

[2018-02-02 07:08] #546 closed

[2018-02-02 07:12] abishekvashok commented on #547
Things to do, edit application.hbs and change the action tag in the form to http://badgeyay-api.herokuapp.com/api/v1.0/generate_badges

[2018-02-02 10:09] rupav commented on #558
Update:
After Deploying on surge, `/guide` route is working correctly, and guide.hbs is getting rendered, but in original deployed site i.e http://badgeyay.com/, `badgeyay.com/guide` is showing a blank page. I haven't changed anything while deploying on surge. So PR for the same will take some time.

[2018-02-02 10:47] rupav opened #565 "footer is overlapping guide.hbs."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

**Expected behavior:**

No overlapping.
**Steps to reproduce:**
go to http://badgeyay.com/#/guide and scroll down to the bottom. You will see overlapping of footer on guide.hbs template.
![2018-02-02 1](https://user-images.githubusercontent.com/20624380/35729333-46fb4bec-0834-11e8-938d-e4657a1de0e3.png)

**Do y

[2018-02-02 10:48] rupav commented on #565
@abishekvashok please tag `new-first-issue` label and alike.

[2018-02-02 10:54] abishekvashok commented on #565
Thanks done!

[2018-02-02 10:56] #558 closed

[2018-02-02 15:26] rupav opened #566 "guide.hbs 's custom-menu-content not showing up when clicked."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

**Expected behavior:**

custom-content-menu `hidden` property is removed on clicking, similar to its behaviour on home page i.e. badgeyay.com
**Steps to reproduce:**
go to badgeyay.com/#/guide, custom-content-menu not coming when clicked.
![image](https://user-images.githubusercontent.com/20624380/35740505-0457

[2018-02-02 16:16] nityanandagohain commented on #566
i want to work on this.

[2018-02-02 17:14] avsingh999 commented on #565
can I solve this issue??

[2018-02-02 17:52] rupav commented on #565
@avsingh999 yeah go ahead.

[2018-02-03 05:05] #562 closed

[2018-02-03 10:51] #566 closed

[2018-02-03 14:57] HarshitNagar commented on #547
i would like to work on this issue. Please guide me.

[2018-02-03 18:02] ankurg22 commented on #547
@HarshitNagar You need to make changes in `index.hbs` not `application.hbs`. Ignore the error :+1:

[2018-02-03 19:14] HarshitNagar commented on #547
@ankurg22 thanks...i added the url : http://badgeyay-api.herokuapp.com/api/v1.0/generate_badges
to the action tag.

[2018-02-04 00:26] pushkalkatara commented on #554
I am also interested to help.

[2018-02-04 00:44] pushkalkatara opened #570 "Preview button is not disabled while switching between radio butttons."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

While switching between radio buttons

- Use Background Template
- Add Background Image
- Choose Background Color
the preview button works with Background Template and Background Image but should be disabled when radio button choose background color is selected as it is previewing only the image.

**Expected be

[2018-02-04 00:45] pushkalkatara commented on #570
I would like to work on the issue, please assign and suggest what can be improved.

[2018-02-04 04:50] #547 closed

[2018-02-04 04:53] abishekvashok opened #571 "Background image not specified error"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

After submitted the form we get an error from backend specifying that background image was not specified.

**Expected behavior:**

It shouldn't happen and badges should be generated.

**Steps to reproduce:**
Go to the website of front-end and submit the form.

**Possible Problem**
The hidden inputs fields where

[2018-02-04 04:54] rupav commented on #570
so issue is basically, preview shown in `background color` is not the same as generated badge, right?

[2018-02-04 04:54] gabru-md commented on #571
Will look into it :+1:

[2018-02-04 04:54] rupav commented on #571
claiming.

[2018-02-04 04:55] gabru-md commented on #571
@rupav if you don't mind, i commented before you. So can i have this ?

[2018-02-04 04:55] rupav commented on #571
@gabru-md go ahead 😅

[2018-02-04 04:56] rupav commented on #571
seconds delay XD 😜

[2018-02-04 04:56] abishekvashok commented on #571
Maybe the case can be a parenthesis issue in the backend as well!

[2018-02-04 16:50] pushkalkatara commented on #570
@rupav Yes, also while switching between ` Use Background Template ` and ` Add Background Image ` issue persists.

[2018-02-04 19:56] sagar-kalra opened #572 "Preview image is not centre aligned"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
 Preview is not correctly aligned on smaller screens.

**Expected behavior:**
Preview should be centre aligned.

**Can anyone else work on this issue?**
*Yes*
![screenshot from 2018-02-03 19-05-17](https://user-images.githubusercontent.com/31239108/35781711-968b4816-0a13-11e8-8c16-611a80d22425.png)

[2018-02-05 03:29] rupav commented on #572
@sagar-kalra , claiming this.

[2018-02-05 04:58] rupav opened #574 "Generate Badges taking time, so some indicator of loading/generating should be present."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

After clicking on `Generate Badges`, there is no response for few seconds until badges are created message comes up.
**Expected behavior:**

Some indication of `loading ` in this time period.

**I am working on it **

[2018-02-05 05:03] gabru-md commented on #574
You can add an overlay that covers the whole screenand says `Wait`
And once badges are done just remove it ?
What say ?

[2018-02-05 05:20] rupav commented on #574
Great, that's nice idea, I was thinking for a simpler one, mouse cursor wait property to use in between. What do you suggest ?
@abishekvashok @vaibhavsingh97  your opinion on this.

[2018-02-05 05:24] gabru-md commented on #574
If you are considering the visibility factor of the loading process you can go with the overlay instead.

[2018-02-05 12:14] abishekvashok commented on #574
@ruova maybe take a look at open-event-webapp

[2018-02-05 12:18] #572 closed

[2018-02-05 13:27] rupav commented on #574
@abishekvashok that's the best option, I will see their codebase to explore this more, will send a PR soon.

[2018-02-06 08:24] abishekvashok commented on #574
Okay!

[2018-02-06 15:22] yashLadha commented on #500
Fixes #557

[2018-02-06 15:22] #500 closed

[2018-02-07 02:12] rupav commented on #574
@abishekvashok I am afraid, we can't implement that progress bar feature similar to open-event webapp generator because it uses webSocket( Socket.IO ) and there is a parameter data.donePercent through which one can know the progress Value. In badgeyay we are using only REST to interact with backend, so don't have any such parameter.
I can try making progress bar but , its animations will be random

[2018-02-07 07:22] abishekvashok commented on #574
It's entierly your choice!

[2018-02-07 15:28] #574 closed

[2018-02-07 15:29] abishekvashok opened #576 "Add error hadnling support"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

Generating badges goes on infinitely if an error has occured.

**Expected behavior:**

We should state the error to the user.

**Steps to reproduce:**
Go to the website and generate a badge.

[2018-02-07 15:30] abishekvashok commented on #349
@S2606 any updates?

[2018-02-07 15:33] abishekvashok opened #577 "Remove stale files from backend"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Stale files are present, they are unwanted and should be removed.

**Expected behavior:**

They are removed

**List of files (listing the directories, remove them!)**
These folders are present in `/backend/app/static/`. Please remove:
- [x] css
- [x] images
- [ ] js
- [ ] svgs

**Steps to reproduce:**
Go to the

[2018-02-07 15:33] abishekvashok commented on #577
First timers only please

[2018-02-07 15:36] abishekvashok opened #578 "Rename uploads in backend to something meaningfull"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

`backend/app/static/uploads` contains the badge background templates, the directory name is confusing to have for background templates.

**Expected behavior:**

`backend/app/static/uploads` renamed to something like `backend/app/static/badge_backgrounds`

**Special note**
All occurrences of `/uploads/` should b

[2018-02-07 15:36] abishekvashok commented on #578
First timers only please

[2018-02-07 15:42] abishekvashok opened #579 "Remove stale files in repository"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

Stale files at repo root.

**Expected behavior:**

They should be absent. Most of them are one click deployments which we will need to re-add seperately for backend and frontend. So removing them.

**List of files to remove**
- [ ] .dockerignore
- [ ] .env.example
- [ ] Aptfile
- [ ] Dockerfile
- [ ] Procfile
-

[2018-02-07 15:42] abishekvashok commented on #579
First timers only please

[2018-02-07 15:44] abishekvashok commented on #550
@gabru-md you can proceed

[2018-02-07 15:45] abishekvashok commented on #554
Hey guys just send your Prs to his fork if you all want to help. It can also work the other way around!

[2018-02-07 16:19] abishekvashok commented on #349
@S2606 take your own time, we don't mind it but we need to be sure that you're intrested

[2018-02-08 04:45] rupav opened #580 "badgeyay site not working/showing up on android's chrome browser."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

actually site is not secured (https instead of http) and thus gets manipulated by `data saver` option on chrome in mobile device.
**Expected behavior:**

Working web app on mobile device.
**Steps to reproduce:**
open badgeyay.com on google chrome, on a mobile device.

[2018-02-08 04:46] rupav commented on #580
@abishekvashok should I add the solution in readme front-end and back-end to disable data server option on mobile device?

[2018-02-08 07:18] rupav opened #582 "Irrespective of data change, generated badges are same"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Expected behavior:**

No. of badges should be twice the entries.

**Steps to reproduce:**
Enter 4 entries in badgeyay.com, now generate badges, only 2 badges are present instead of 8!

** I am working on it **

[2018-02-08 07:24] gabru-md commented on #582
@rupav there is no such issue.
Badges are made perfectly fine and in right numbers.

[2018-02-08 07:25] gabru-md commented on #582
![screenshot_20180208-125433](https://user-images.githubusercontent.com/25414121/35960318-46a81b94-0ccf-11e8-91fc-db4069a056a1.png)
Incase you need a screenshot.

[2018-02-08 07:36] vaibhavsingh97 commented on #582
Please check the PDF:
[black_futuristic-png-csv-badges.pdf](https://github.com/fossasia/badgeyay/files/1706097/black_futuristic-png-csv-badges.pdf)

[2018-02-08 07:44] gabru-md commented on #582
![screenshot_20180208-131350](https://user-images.githubusercontent.com/25414121/35961001-f941133a-0cd1-11e8-8c57-25f09f5224f9.png)

@vaibhavsigh97 please take a look. This is your pdf that I downloaded.

[2018-02-08 07:49] rupav commented on #582
yes its working fine on google chrome.I tried on firefox (my default browser), and its producing same color badges what so ever you give input:
![2018-02-08 6](https://user-images.githubusercontent.com/20624380/35961084-59bfdbce-0cd2-11e8-8cdb-9e4dbca25df9.png)
Will look into this, maybe clearning cache will work, close this issue once get the results fine
@gabru-md @vaibhavsingh97

[2018-02-08 07:50] gabru-md commented on #582
Try cache cleaning.
Maybe it helps.

[2018-02-08 07:53] gabru-md commented on #582
@rupav please look into the `dev console` maybe there are some errors down there which might help you debug this problem ?
If you get any please post them here so that we can also look into this.

[2018-02-08 07:54] rupav commented on #582
![2018-02-08 7](https://user-images.githubusercontent.com/20624380/35961349-51676432-0cd3-11e8-89f1-754e511bf2ca.png)
Getting into a 404 error, will try again later then. Cleared cache completely.

[2018-02-08 07:56] rupav commented on #582
![2018-02-08 8](https://user-images.githubusercontent.com/20624380/35961423-a915c48a-0cd3-11e8-90d8-b6f666cd5ab5.png)
Its good now, working as expected...
closing this then 😅

[2018-02-08 07:57] gabru-md commented on #582
How did you resolve it?
Please state it down here so that anybody who faces this error can go through your way!
Ping @rupav

[2018-02-08 07:59] vaibhavsingh97 commented on #582
@rupav I too cleared cache completely. But the issue is till the same

[2018-02-08 08:00] rupav commented on #582
clearing cache... , @vaibhavsingh97 ok I will look into this. Send you a response by evening.  👍

[2018-02-08 09:46] sagar-kalra commented on #225
@ParthS007 @abishekvashok @harshit98 Is this issue open now?

[2018-02-08 09:49] sagar-kalra commented on #576
@abishekvashok about what type of error are you talking about?

[2018-02-08 09:52] vaibhavsingh97 commented on #225
Yes, this issue is open 😊

On Thu 8 Feb, 2018, 3:17 PM Sagar Kalra, <notifications@github.com> wrote:

[2018-02-08 11:29] abishekvashok commented on #576
See the badgeyay backend doc. It can return errors. @sagar-kalra

[2018-02-08 11:31] abishekvashok commented on #580
Yes please!

[2018-02-08 13:19] rupav commented on #582
@vaibhavsingh97 in chrome, clicking on `download as pdf`, the badges directly gets saved to your downloads directory ?
In firefox, this is not happening for me and I am directed to a webpage which have the pdf, to download explicitly (maybe I have changed firefox settings).

[2018-02-08 14:39] #580 closed

[2018-02-08 19:07] sanketsingh24 commented on #577
I would like to work on this issue if it's still available.

[2018-02-09 02:58] pushkalkatara commented on #576
Is someone working on this issue?

[2018-02-09 04:42] rupav commented on #565
@avsingh999 your progress on this issue?

[2018-02-09 04:44] rupav commented on #550
@gabru-md are you implementing that text change feature to `close preview` or can I take up this ?

[2018-02-09 04:46] gabru-md commented on #550
@rupav I am sorry, I was not available due to a wedding.
I'll be sending a PR within 1-2 days.
If I fail to do so, then this can be taken by anyone else.
:+1:

[2018-02-09 08:18] prateekj117 commented on #577
I would like to work on this issue.

[2018-02-09 13:50] rupav opened #585 "csv and manual data link redirecting to main page, version not showing up as well"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

- go to http://badgeyay.com/#/guide, click on `csv` or `manual data`. It should move you to the content headings/(corresponding content) in the same page. Instead, its redirecting you to main page.
- Also `version` in the footer not showing up. Include the required script like in main page to make it work in `i

[2018-02-09 13:51] rupav commented on #585
@abishekvashok please add required label. And I think, we can even remove those 2 links `csv` and `manual data` from guide.hbs completely because we don't have much of a content on the page.

[2018-02-09 13:54] avsingh999 commented on #565
sorry i was busy.now i am working on this issue

[2018-02-09 16:28] abishekvashok commented on #585
Documentation always helps! Should we really remove it?

[2018-02-09 16:29] abishekvashok commented on #577
Who's gonna do this now since you both are up for it, can you to do half?

[2018-02-09 16:31] abishekvashok commented on #576
No one is working. So yes you can work on it

[2018-02-09 16:36] rupav commented on #585
I am not saying to remove content, I am saying to remove the 2 anchor links on the top. @abishekvashok . @abishekvashok please add new-comer label too.

[2018-02-09 16:57] harshyadav9 commented on #565
Hi i have fixed the issue shall i give a pull request

[2018-02-09 18:08] harshyadav9 commented on #565
Kindly let me know

[2018-02-09 18:14] rupav commented on #565
@harshyadav9 as you can see @avsingh999 already claimed this issue. If he drops the plan, you can send the PR. You have to claim issue first.
You can claim this one https://github.com/fossasia/badgeyay/issues/585 .

[2018-02-09 18:24] harshyadav9 commented on #565
any more issues kindly let me know.

[2018-02-09 18:25] rupav commented on #565
@harshyadav9 please see issues list, you will find labels to help you decide if to take or not. 👍

[2018-02-09 18:37] sanketsingh24 commented on #577
Ok, I can remove css and images directory and @prateekj117  can remove js and svgs. Is this Ok?

[2018-02-09 19:25] avsingh999 commented on #565
@harshyadav9  i drop this issue

[2018-02-09 19:25] avsingh999 commented on #565
you can procced

[2018-02-10 05:22] abishekvashok commented on #577
It's completely fine

[2018-02-10 05:34] rupav commented on #585
@abishekvashok There is another problem in index.hbs as well 😫. Added here only 2 tasks then.

[2018-02-10 05:38] abishekvashok commented on #585
Sure!

[2018-02-10 06:45] sagar-kalra commented on #225
Claming this issue. 👍

[2018-02-10 08:12] abishekvashok commented on #225
Okay @sagar-kalra

[2018-02-10 15:04] avsingh999 commented on #565
@harshyadav9  are you sending pr or not?

[2018-02-10 19:55] harshyadav9 commented on #565
yes

[2018-02-10 19:58] harshyadav9 commented on #565
actually this is my first time so i am seeing how to send the pr request

[2018-02-11 08:44] rupav commented on #554
what's with `every commit ` in the PR description. Can anyone explain this please?

[2018-02-11 11:11] abishekvashok commented on #554
It means that it should be deployed on each pr merge or direct commit via a Travis CI build.

[2018-02-15 18:21] nityanandagohain commented on #585
can I work on this.

[2018-02-16 11:58] abishekvashok commented on #585
Sure!

[2018-02-16 11:59] #225 closed

[2018-02-16 17:28] nityanandagohain commented on #585
can some one help me with how to use anchor for an Id in ember I could't find a helpful search result.

[2018-02-18 03:45] S2606 commented on #554
@ParthS007 Are you working on this??

[2018-02-18 03:46] S2606 commented on #437
@vaibhavsingh97 If you are not working on this.Can I?

[2018-02-20 05:37] abishekvashok commented on #438
Guys was this solved completely.
Ping @mohdomama

[2018-02-20 05:38] abishekvashok commented on #459
Maybe lets have this as a parent issues and achieve this step by step. Adding parent issue label.

[2018-02-20 05:44] vaibhavsingh97 commented on #459
Thanks @abishekvashok Let me send PR by EOD

[2018-02-20 06:03] rupav commented on #459
@vaibhavsingh97 @abishekvashok what's the problem with bootstrap model, why do we need to shift to swagger UI ?

[2018-02-20 14:56] mohdomama commented on #438
Yes It was @abishekvashok. I don't understand why this was not automatically closed :sweat_smile:

[2018-02-20 19:56] vaibhavsingh97 commented on #438
Closing
Ref: https://github.com/fossasia/badgeyay/issues/438#issuecomment-367003251

[2018-02-20 19:56] #438 closed

[2018-02-21 03:18] rupav commented on #459
Sorry, I mistook this with Semantic UI (was reading about it the other day). So we are adding Swagger UI for documentation purpose of API (similar to open-event-server) ? @vaibhavsingh97 @abishekvashok.

[2018-02-21 10:59] abishekvashok commented on #459
Yea

[2018-02-24 14:24] S2606 opened #591 "Images for background templates not rendering"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Current behavior:**
![image](https://user-images.githubusercontent.com/18497513/36631358-798d80e2-199c-11e8-984e-284dc71d12fd.png)

**Expected behavior:**
Rendering should happen properly

[2018-02-25 04:16] abishekvashok commented on #591
Not experiencing the error on miui inbuilt browser.

[2018-02-25 04:17] abishekvashok commented on #591
But facing the same the bug on chrome

[2018-02-25 04:59] S2606 commented on #591
I m facing this on firefox

[2018-02-25 05:43] abishekvashok commented on #591
Yea it's an issue. I am waiting for someone to claim this.

[2018-02-25 06:36] S2606 commented on #591
I would love to claim this but i am kinda new to emberjs

[2018-02-26 08:00] sagar-kalra commented on #591
Claiming @abishekvashok

[2018-02-27 15:30] #579 closed

[2018-03-07 03:08] ajomadlabs commented on #578
@abishekvashok Can I take up this issue

[2018-03-07 03:19] abishekvashok commented on #578
@ajomadlabs this was solved!

[2018-03-07 03:19] #578 closed

[2018-03-07 06:44] abishekvashok commented on #591
Issue still exists

[2018-03-07 07:16] sagar-kalra commented on #591
https://pr-592-fossasia-badgeyay.surge.sh/ this is the deploy link for my PR and its is working fine

[2018-03-09 15:56] rupav commented on #591
![screenshot 2018-03-09 21 25 31](https://user-images.githubusercontent.com/20624380/37216300-7465417e-23e0-11e8-856d-1dea4ba44e14.png)
@sagar-kalra its not working.

[2018-03-12 07:09] sagar-kalra commented on #591
@rupav the possible error is that there the current badgeyay,com server is not in proper sync with github repo.

[2018-03-14 13:11] mariobehling opened #593 "Dead links on guide"
Links to manual on page not working: http://badgeyay.com/#/guide

[2018-03-14 13:19] rupav commented on #593
Sir, its already been raised in #585 and opened for new-comers.

[2018-03-14 14:49] mariobehling opened #594 "Substitute "Generating Badges" with Progress bar"
The overlay staying gray is not following the design of other open event components. Please substitute it with a progress bar similar to open event web app generator.

This issue can be solved in steps:
a) Add an area with a loading bar
b) Implement the progress bar

Take out:
![screenshot from 2018-03-14 22-46-50](https://user-images.githubusercontent.com/1583873/37409678-de52ae44-27d9-11e8-8f08-

[2018-03-14 16:13] abishekvashok commented on #594
@mariobehling the api is rest based shall we make it progressive?

[2018-03-14 16:13] abishekvashok commented on #593
Closing in favour of #585. isn't it fine?

[2018-03-14 16:13] #593 closed

[2018-03-14 16:48] mariobehling opened #595 "Improve Design of Text on Badge (size, boldness)"
Please change as follows:
* Make "designation" (Organizer, Speaker etc.) defined in the second column bold and in capitals and on top
* Make name of person larger and bold in the middle
![badges-organisers-a5](https://user-images.githubusercontent.com/1583873/37416615-35915188-27e9-11e8-9aba-97721548cb82.jpg)
* Make organization smaller and normal below the name
* Move Nick or handle with "@" towa

[2018-03-14 18:31] rupav commented on #595
claiming @mariobehling , you can expect a PR by friday evening.

[2018-03-14 19:30] rupav opened #597 "Add missing css in Backend for template index.html page to show up correctly."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

![screenshot 2018-03-15 00 34 22](https://user-images.githubusercontent.com/20624380/37426333-15d0ebda-27ec-11e8-8a6a-49b054728712.png)

**Expected behavior:**
![screenshot 2018-03-15 00 28 48](https://user-images.githubusercontent.com/20624380/37426347-24afb640-27ec-11e8-8208-f5b8dd2c7522.png)

[2018-03-14 19:31] vaibhavsingh97 commented on #597
Claiming 👍

[2018-03-15 04:46] #597 closed

[2018-03-15 05:42] ajomadlabs commented on #577
Can I take up this issue

[2018-03-15 05:52] vaibhavsingh97 commented on #594
@abishekvashok The thing we can do is we can use polling and use the Socket.io library, it uses websockets, and fallbacks to long-polling via XHR, or via Flash.
Cc: @abishekvashok

[2018-03-15 05:53] vaibhavsingh97 commented on #577
@ajomadlabs Yes, Please check https://github.com/fossasia/badgeyay/blob/development/backend/app/static/css/style.css and remove unused classes.

[2018-03-15 05:54] vaibhavsingh97 commented on #577
@abishekvashok This issue can be closed after @ajomadlabs PR

[2018-03-15 08:35] djmgit commented on #594
@vaibhavsingh97 socket io is nice and since flask has already got a socketio library, things will be not tough, but using socketio just for as single, will not that be a overkill?
Are there any alternatives? I mean can't we poll manually via ajax?

[2018-03-15 10:47] abishekvashok commented on #594
Rest specifies for a restless api. We should decide whether we are moving to a progressive api before hand. Since @mariobehling wants that lets do it. Flask supports socket.io and can be done as just how open event does so. @djmgit has put another valuable argument as well that it might be an overkill and use ajax instead.
My opinion is to use socket.io instead of Ajax :P
Lets wait for others as w

[2018-03-15 10:59] ajomadlabs commented on #577
@abishekvashok is this done ?

[2018-03-15 11:48] vaibhavsingh97 commented on #577
@abishekvashok I think, you should wait for @ajomadlabs PR before closing this 😅 . Please see https://github.com/fossasia/badgeyay/issues/577#issuecomment-373268886.
Reopening and will close this issue with his PR

[2018-03-15 19:00] ParthS007 opened #599 "GH-Pages Build Failing"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
![image](https://user-images.githubusercontent.com/24358501/37485320-1a30b9b0-28b1-11e8-9956-dbd1566c7fc3.png)

**Expected behavior:**
`uglifyWriter` don't support es6 so we have to make changes so that build will pass.

**Steps to reproduce:**
Please go through this https://travis-ci.org/fossasia/badgeyay/jobs/

[2018-03-15 19:03] gabru-md commented on #599
Claiming!
Found a fix, Sending PR in a few minutes.
I'll be updating the dependencies as well

[2018-03-15 19:42] gabru-md commented on #599
I want to know that is minifying necessary?
since the error is caused by non minification of es6 code, so should we remove the minification process or should I start looking for an alternative?

[2018-03-15 20:11] #591 closed

[2018-03-15 20:14] #599 closed

[2018-03-15 20:58] ParthS007 commented on #594
I also prefer to use `flask-socketio` and want to work on this issue :+1:
claiming :rocket:

[2018-03-15 21:00] gabru-md commented on #594
[code]

I suppose using flask websockets or socket.io will be a better option than AJAX, considering that socket.io was built to complete render AJAX out of frame.

@ParthS007 you can go ahead with it.
Ping me incase you need help!
:)

[2018-03-15 21:04] ParthS007 commented on #594
Sure @gabru-md  :+1:

[2018-03-16 14:36] gabru-md opened #602 "Preview does not work for Predefined images"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Current behavior:**

Preview does not work for predefined images

**Expected behavior:**

Preview must work. Image must be set up as background

**Steps to reproduce:**
* Open Badgeyay
* Enter manual Data
* Select image from dropdown
* Click preview

**YES** I want to work on it

[2018-03-16 15:07] #602 closed

[2018-03-16 19:05] rupav commented on #595
Update: @mariobehling  I have to ungroup those `text`, align them as per requirements, but there is `a black` shade on each badge fixed, which will not allow me to use background and your changes simultaneously.
![2018-03-17](https://user-images.githubusercontent.com/20624380/37539724-81e2cc78-297a-11e8-8ab2-c938ae417444.png)
![2018-03-17 1](https://user-images.githubusercontent.com/20624380/37539

[2018-03-18 08:47] sagar-kalra commented on #582
@rupav you should change your firefox settings. Check this out https://support.mozilla.org/en-US/kb/change-firefox-behavior-when-open-file, this solves the problem.

[2018-03-18 12:33] #565 closed

[2018-03-19 13:04] gabru-md opened #607 "badges not previewing for predefined images"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Current behavior:**

After the current changes preview for predefined badges are not generated

**Expected behavior:**

Preview must appear

**Yes** I am on it. Will provide a PR for the same

[2018-03-19 13:04] gabru-md commented on #607
It shows a 404 request now when accessing badges png files

[2018-03-19 14:42] gabru-md commented on #607
Please open the developer console and make sure there is no error.
If there is an error regarding minicolors then please refresh the page. It happens because of the cdn service that is used for the JS. Nothing else

[2018-03-19 14:47] vaibhavsingh97 commented on #607
@gabru-md There is a problem, as I can't see any error related to js
Ref:
<img width="1422" alt="image" src="https://user-images.githubusercontent.com/8705386/37602556-9894cd9c-2bb2-11e8-978c-2a88ae81f57d.png">

[2018-03-19 14:49] vaibhavsingh97 commented on #607
@gabru-md Thanks a lot! yes, the error was pretty much the same 👍

[2018-03-19 14:50] gabru-md commented on #607
welcome @vaibhavsingh97 . I've encountered that error several times. and many times it happens in my surge deployment. and after researching a lot I saw that all I needed to do was refresh the page :P

[2018-03-19 14:50] #607 closed

[2018-03-19 16:52] ParthS007 opened #609 "Real time preview for predefined Images"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Currently, We have to press preview button again and again for observing the changes.

**Expected behavior:**
There should be a Real-time preview of predefined Images

[2018-03-19 16:52] gabru-md commented on #609
Claiming
It is a known issue and has a simple fix. Will provide w PR within some minutes

[2018-03-19 16:53] ParthS007 commented on #550
closing this as solved in the previous PR :+1:

[2018-03-19 16:53] #550 closed

[2018-03-19 16:55] ParthS007 opened #610 "Configure Hound CI for jquery"
**I'm submitting a ...**
- [ ] bug report
- [ x] feature request

**Current behavior:**
Currently, HOUND CI shows violations on Jquery

**Expected behavior:**
Hound CI should be configured according to Jquery

[2018-03-19 17:09] #609 closed

[2018-03-19 17:14] vaibhavsingh97 commented on #610
Claiming 😄

[2018-03-19 17:21] gabru-md commented on #582
close this ?

[2018-03-19 17:21] ParthS007 commented on #582
closing this as Its working fine :+1:

[2018-03-19 17:21] #582 closed

[2018-03-21 05:11] sagar-kalra commented on #595
after regrouping, have you tried generating badges?  @rupav

[2018-03-21 05:15] rupav commented on #595
Actually this is the original layout. I ungrouped the text to show the background( which shows how the original background is ). I haven't print, because it will not generate badges, python scripts we are using are not compatible yet to print with such ungrouped text.

[2018-03-21 12:05] abishekvashok commented on #595
@ruoav i reckon there are other svg files without text.

[2018-03-21 12:36] rupav commented on #595
Yes there are,(if you are telling about sample_background svgs), I actually made them in one of the issues, I need to group them together to recreate the page layout (as shown above ) . I was asking if there is a better approach than this where I need to start from beginning.

[2018-03-21 14:51] rupav commented on #595
Update: @abishekvashok @sagar-kalra , I am able to move the text away in this svg, https://github.com/fossasia/badgeyay/blob/development/backend/badges/8BadgesOnA3.svg . I will make use of it do the desired changes post 27th march.

[2018-03-21 18:12] Dipesh-Budhiraja opened #612 "Link not working on backend webpage"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

On http://badgeyay-api.herokuapp.com/  page when we click documentation button then it redirects to 404 GitHub page

On this page when we click documentation button we are redirected to 404 page
![screenshot from 2018-03-21 11-01-26](https://user-images.githubusercontent.com/29384452/37728825-7f356068-2cf8-11e8

[2018-03-22 09:56] sagar-kalra commented on #612
Thats because documentation of Badgeyay is not ready yet. There is an issue for it https://github.com/fossasia/badgeyay/issues/554 .

[2018-03-22 14:18] abishekvashok commented on #612
Closing as duplicate

[2018-03-22 14:18] #612 closed

[2018-03-22 16:26] Dipesh-Budhiraja opened #613 "Nature of Preview button changing on clicking generate badge button"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

When I preview a badge, then preview button is working as expected but when I click generate badge in this state then the preview disappears and button shows "Close Preview". So nature of button is getting swapped.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/29384452/37783558-caa32066-2e

[2018-03-22 17:16] rupav commented on #613
Nice catch @Dipesh-Budhiraja, are you working on this, or can I take up this?

[2018-03-22 17:24] Dipesh-Budhiraja commented on #613
Let me give it a try. In case, if I face any problem I will contact you.

[2018-03-22 17:27] rupav commented on #613
yeah sure 👍

[2018-03-26 05:02] rupav opened #614 "add test cases to compare generated png and expected png."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

In reference to the discussion: https://github.com/fossasia/badgeyay/pull/615

[2018-03-26 10:00] rupav opened #616 "Add cut-lines/dashed lines to facilitate badges folding/cutting after generation."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

Current badges layout has margins, but not cut lines. Having them will facilitate user's experience to cut/fold the badges after printing them.
**Expected behavior:**

Cutlines / dashed lines at midway between two badges.

** I am working on it **

[2018-03-26 10:00] rupav commented on #616
Will send a PR along with #595 ASAP.

[2018-03-27 13:00] sagar-kalra commented on #576
Since, there is no activity for a long time. I am claiming this issue.

[2018-03-28 10:56] abishekvashok commented on #576
sure @sagar-kalra please go on :)

[2018-03-28 18:32] rupav commented on #616
![screenshot 2018-03-29 00 01 09](https://user-images.githubusercontent.com/20624380/38048940-795a1ffc-32e4-11e8-98e4-54c17b206bd2.png)
This will be the layout, I have hidden the badges.

[2018-03-29 10:39] abishekvashok commented on #616
@rupav looks good.

[2018-03-30 11:17] yashLadha opened #617 "Single Installation and running script for the configs"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

There can be a high level installation script that does all the work for the user and user just have to select the type on installation it needs.

__Yes__ i am working on this.

[2018-03-30 11:28] yashLadha commented on #610
what is the status @vaibhavsingh97

[2018-03-30 11:30] gabru-md commented on #617
Why is it needed ?
This is not an extensive CLI tool.
@ParthS007 please comment.

[2018-03-30 11:37] yashLadha commented on #617
This can offload the installation steps to do for the server and frontend.
Every time the user runs the script it will check for the installation, if
it is present it will not install and execute the frontend and backend
server.

On 30-Mar-2018 5:00 PM, "Manish Devgan" <notifications@github.com> wrote:

Why is it needed ?
This is not an extensive CLI tool.
@ParthS007 <https://github.com/ParthS007>

[2018-03-30 11:49] vaibhavsingh97 commented on #610
Will send PR by tonight. sorry for the delay

On Fri 30 Mar, 2018, 4:58 PM Yash Ladha, <notifications@github.com> wrote:

[2018-03-30 11:58] yashLadha commented on #617
Sample Interface would be on the lines of firebase-cli:

![image](https://user-images.githubusercontent.com/18033231/38137004-b26f47e8-343f-11e8-9994-3ed5d9cab99c.png)

[2018-03-30 18:06] gabru-md commented on #617
I'm still not quite convinced upon adding it to the project.
I would recommend you to wait for others to comment before proceeding into working for this task
:+1:

[2018-04-01 12:52] #576 closed

[2018-04-02 14:01] rupav opened #619 "Version not showing up in http://badgeyay-api.herokuapp.com/"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

`Version` is not showing up in the backend. Might be due to missing files.
**Expected behavior:**

The `version` showing on the website.

**Any newcomer can take up this**

[2018-04-03 04:15] abishekvashok commented on #619
Please wait for it to load. It occurs irregularly

[2018-04-03 09:35] rupav commented on #619
I tried many times before posting this. Do share a screenshot if version is showing up. Will close it then.

[2018-04-04 07:47] abishekvashok commented on #619
![screenshot_2018-04-04-13-17-07-706_com android chrome](https://user-images.githubusercontent.com/8947010/38295098-8991d1a0-380a-11e8-95bf-f06504e5bf56.png)

[2018-04-04 09:04] ParthS007 commented on #619
Closing this as working fine :+1

[2018-04-04 09:30] rupav commented on #619
@ParthS007 @abishekvashok  please see the link provided, I posted this for backend flask server, where version in not showing up.
Reopen this issue, as I don't have rights .

[2018-04-04 09:31] rupav commented on #619
And you guys posted  front-end link.

[2018-04-04 19:01] ParthS007 commented on #610
Giving PR since no activity :+1:

[2018-04-06 15:33] avsingh999 opened #621 "Failure message show not good"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Current behavior:**
when we generate a wrong badge then Error show but then footer overlaping and if we again and again click on generate wrong badge then Error message below in image
![erro3](https://user-images.githubusercontent.com/25536022/38429698-c745bec0-39dc-11e8-932c-9824f0ed478d.PNG)
if you click  generate badges Button t

[2018-04-06 15:43] avsingh999 opened #622 "Error message and Successfully create badge Shown both"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Current behavior:**
When we fill wrong data and genrate badge show Failure message then we correct the data and create badge Successfully but Failure message still there
![error4](https://user-images.githubusercontent.com/25536022/38430521-1b0965c8-39df-11e8-8484-3e556952fa51.PNG)

**Expected behavior:**
Failure message and create

[2018-04-07 08:54] sagar-kalra commented on #621
Claiming :+1:

[2018-04-07 08:55] sagar-kalra commented on #622
Claimimg :+1:

[2018-04-10 17:36] #621 closed

[2018-04-10 18:03] ParthS007 commented on #610
sending PR due to inactivity

[2018-04-11 16:53] devshiva619 commented on #585
@rupav  can I take up this one?

[2018-04-11 16:55] rupav commented on #585
Yes sure, it's been stale for quite a time. Go ahead 👍

[2018-04-11 19:44] devshiva619 commented on #585
![two_diff_for_same_url](https://user-images.githubusercontent.com/20336672/38639425-c7c24308-3dee-11e8-927a-05742387b676.png)

for the same url I am getting a different page than the once shown in http://badgeyay.com/#/guide

[2018-04-12 12:30] sagar-kalra commented on #595
@rupav Still working on it?

[2018-04-12 13:18] rupav commented on #595
yes, just busy with college stuff.

[2018-04-12 14:42] avsingh999 opened #626 "Footer overlaping when Failure message show"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Current behavior:**

when we fill wrong data then failure message show like this
![overl](https://user-images.githubusercontent.com/25536022/38684517-8271065a-3e8d-11e8-8a9f-4778e840b9f8.PNG)

**Expected behavior:**
footer and failure message should not overlap.

[2018-04-13 07:57] sagar-kalra commented on #626
![screenshot_20180413_132648](https://user-images.githubusercontent.com/31239108/38723347-660f1934-3f1e-11e8-9c0f-1caf97513a47.png)
It is working fine for me

[2018-04-13 08:16] avsingh999 commented on #626
@sagar-kalra  but not in my browser or laptop

[2018-04-13 14:29] sagar-kalra commented on #626
Which browser are you using?
P.S.: I have tried Firefox and Chrome.

[2018-04-13 14:42] avsingh999 commented on #626
@sagar-kalra  I have also checked both browser

[2018-04-13 19:41] prmsrswt commented on #626
The problem lies in the screen size if it is a 720p display then due to scaling the error message hides behind the footer.
![screenshot from 2018-04-14 00-43-34](https://user-images.githubusercontent.com/29674758/38753866-60db28cc-3f7d-11e8-8cfe-b2360af577dc.png)
I can think two ways of resolving this issue:
- The footer is fixed at bottom, if we remove the `position: fixed;` for #footer in css/st

[2018-04-14 10:29] ParthS007 commented on #595
@sagar-kalra  I think we should first work on generating badges via csv as it is important before working on enhancement. We should have the basic webapp in working conditions for all the desired inputs.

Your views @gabru-md  @vaibhavsingh97

[2018-04-14 10:32] gabru-md commented on #595
Yes. Definitely correct @ParthS007.
Our priority should be generating the badges and then should move on to changing the badge scheme.

[2018-04-14 10:34] vaibhavsingh97 commented on #595
Yes, me too agree with @ParthS007.

On Sat 14 Apr, 2018, 4:03 PM Manish Devgan, <notifications@github.com>
wrote:

[2018-04-14 16:42] sagar-kalra commented on #595
@ParthS007 sure

[2018-04-15 12:28] djmgit opened #627 "Refactoring backend"
Presently all the route handlers and app config are presently in a single file : backend/app/main.py. As a result, main.py is already quite big and as more route handlers and other methods will be added, the code will become really hard to maintain owing to the code size. So I guess it is high time now we modularise the APIs.
We can use flask blueprint to distribute the API handlers among differen

[2018-04-15 12:29] djmgit commented on #627
@vaibhavsingh97 @ParthS007 @gabru-md what are your views?

[2018-04-15 12:30] djmgit commented on #627
This blog provides some nice workflow for modularizing flask app:
https://www.digitalocean.com/community/tutorials/how-to-structure-large-flask-applications

[2018-04-15 12:39] djmgit opened #628 "Convert merge_badges.py into a class"
Presently os.system is used to execute merge_badges because merge_badges does have a proper interface/api to use it from another file. It is a standalone script. This was alright when badgeyay was a command line tool to create badges. However now, using os.system to run the script seems quite hacky and limits its use. Instead, merge_badges.py should be converted to a proper module containing a cla

[2018-04-15 12:39] gabru-md commented on #627
@djmgit I have a proposed plan for the same.
We need to substructure our codebase for ease of understanding and to make it efficient.
I completely agree with your point of distributing the API in different files.

We will need to completely re write the codebase in order to ensure proper functioning and flow.
So that we can maybe improvise the current codescheme. We even need to integrate a databa

[2018-04-15 12:40] djmgit commented on #628
@vaibhavsingh97 @gabru-md @ParthS007 your views?

[2018-04-15 12:42] djmgit commented on #627
@gabru-md  yes sure
yes we definitely require a database service soon.

[2018-04-15 12:42] vaibhavsingh97 commented on #627
@djmgit Yes, I agree, I had added the same in my proposal too. We can definitely do this, and make this app modularize. For backend Service we can use PostgreSQL or any other NoSQL database.

[2018-04-15 12:45] vaibhavsingh97 commented on #627
How about making a new branch (**The branch will be temporary**) and start working on modularizing? Also, I had opened the issue (https://github.com/fossasia/badgeyay/issues/459)  long time ago. We can start by moving step by step like extracting configurations and adding in one file etc.
@djmgit Your views?

[2018-04-15 13:10] gabru-md commented on #628
Definitely,
I do understand that your point is very accurate. To put up simply, We are following a `hackathon` approach for badgeyay, by simply getting it worked.
We need to make it stable and do not rely on `bash` for executing the scripts. To design it into a full product we need to modify the files so that they can be compatible to each other and help in maintaining a proper workflow.

[2018-04-15 13:46] S2606 commented on #627
@djmgit You mean creating routers and controllers??

[2018-04-15 13:48] S2606 commented on #627
routers where the endpoints shall be written and controllers where the specific control for a particular endpoint be there.

[2018-04-15 13:50] S2606 commented on #627
Also I was thinking maybe we can make badgeyay more asynchronous using libs like tornado.Please give me your feedback.

[2018-04-15 14:06] djmgit commented on #627
@vaibhavsingh97  Since at this stage, the size of main.py is not that big, also we do not have models and serializers to deal  with right now, do we really need to create a separate branch? Just asking :) I have no problem with creating one.

[2018-04-15 14:07] djmgit commented on #628
@gabru-md  yes

[2018-04-15 14:55] ParthS007 commented on #627
@djmgit  I totally agree with you and I have proposed somewhat similar to it.
We can proceed it in this way
- Modularise the API
- Also, modification needed in frontend as generating csv part is not working.

What's your view @djmgit ?
Please correct me if I am wrong somewhere.
I don't think we need a separate branch for this work.

[2018-04-15 15:09] ParthS007 commented on #628
@djmgit  Totally agree with you and we need to follow a modularized approach as you have proposed in the previous issue. :+1:

[2018-04-16 03:49] djmgit commented on #627
@ParthS007 we definitely need to rewrite the frontend, as presently the entire frontend code in written in two huge .hbs files. We need to use ember components which is the desired development flow with ember I suppose. We can discuss about frontend in a separate issue.
Yeah for database as @vaibhavsingh97 has already pointed out, we can either use PostgreSQL along with some ORM like SQLAlchemy or

[2018-04-17 10:47] djmgit commented on #627
@gabru-md @vaibhavsingh97 @ParthS007 once this issue is done, that is the backend codebase is refactored, we can go forward with the other important stuff deciding a database, creating an auth system, deciding db schemas required for various APIs etc.
I will be creating a similar to issue for frontend too so that we can keep the backend and frontend at sync almost all the time :)

[2018-04-17 10:50] ParthS007 commented on #627
ok @djmgit  :+1:

[2018-04-17 11:26] vaibhavsingh97 commented on #627
ok @djmgit , One Parent issue for both frontend or backend with tasks will be good?

[2018-04-17 18:19] djmgit opened #629 "Refactoring frontend"
Presently the entire frontend comprises of two huge files : application.hbs and index.hbs which should not be the case at all. We need to distribute the app into components, which is the prefered workflow in emberjs. This will make the codebase much more easily maintainable and clean.
For example, we can create a component for the menu, a component for the central box, a component for 'choose your

[2018-04-17 18:28] ParthS007 commented on #629
Yes, I agree with you on this @djmgit, We can discuss it as @gabru-md  said, with you on how to proceed with this. We can make a checklist according to priority and start working on this part as well as for the backend part. :)

[2018-04-17 18:30] vaibhavsingh97 commented on #629
Agreed with you @djmgit 👍

[2018-04-20 11:58] djmgit opened #630 "Docker is showing error for frontend"
Docker build for frontend is unsuccessful.

What I found out is that, we need to provide:
[code]
for npm install to work properly. There may also be some alternatives.

[2018-04-20 12:01] gabru-md commented on #630
@djmgit let me check as well if I can find an alternative. Else I'll send a PR fixing the same as you mentioned.

[2018-04-20 16:16] #630 closed

[2018-04-24 04:44] gabru-md opened #632 "Disable `Add CSV` from UI"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

We should disable `Add CSV` from UI till the time we work on a fix for the same since it is not working as of now.

CC : @ParthS007 @djmgit

[2018-04-24 04:44] gabru-md commented on #632
I will take it up if you allow @djmgit @ParthS007

[2018-04-24 04:46] ParthS007 commented on #632
Agreed with you @gabru-md  :+1:

[2018-04-24 04:48] djmgit commented on #632
@gabru-md go for it, after this we need to get our hands on fixing the csv upload part and bring this feature back :)

[2018-04-24 04:50] gabru-md commented on #632
sure

[2018-04-24 05:16] ParthS007 commented on #577
Working on this :+1:

[2018-04-24 05:35] vaibhavsingh97 commented on #627
@djmgit Can I take the issue, I will open sub-issue and claim it. I will help in modularizing the current backend code

[2018-04-24 06:02] #632 closed

[2018-04-24 08:00] djmgit commented on #627
@vaibhavsingh97 I guess (from above comments) @gabru-md  has also got some plans for this issue. It would be great if you both could collaborate on this, if possible :)

[2018-04-24 11:48] yashLadha commented on #629
Why not create an issue showing the components in a bulleted format. It would be better to visualize and easy to assign to work. @djmgit

[2018-04-24 11:57] yashLadha commented on #628
Why not create a Library and do changes into that and import that library into project. This approach i have seen in many org's that they create a package for their project and uses the higher level api's designed in the package. This way code will be modularized as well as easy to read and extendible. Views @djmgit @vaibhavsingh97 @gabru-md @ParthS007

[2018-04-24 11:59] gabru-md commented on #628
Agreed !

[2018-04-24 12:07] vaibhavsingh97 commented on #628
Agreed 👍

On Tue 24 Apr, 2018, 5:27 PM Yash Ladha, <notifications@github.com> wrote:

[2018-04-24 12:55] ParthS007 commented on #628
Agreed :+1:

[2018-04-24 14:05] #577 closed

[2018-04-24 14:11] vaibhavsingh97 commented on #619
Claiming

[2018-04-24 14:47] djmgit commented on #628
@yashLadha nice idea, yes we can definitely move merge_badges.py and generate_badges.py into a folder(perhaps badgeyay_utils or badgeyay_core) and convert it into a library. From the library we can import our required classes, methods etc. In that way, the core logic part will also remain separated from the web server part.

[2018-04-24 14:50] djmgit commented on #629
@yashLadha yes we can definitely do that. Once we are sure of the components, I can edit and modify this issue itself. We can discuss what components we require here itself :)

[2018-04-25 02:23] yashLadha opened #636 "Ignore badge generated in local deployment"
**Current behavior:**
Badges generated in local deployment are also been watched.

**Expected behavior:**
Badges generated in local deployment should not be watched by git.

__I am working on the issue__

[2018-04-25 09:57] ParthS007 commented on #585
Working on this :+1:

[2018-04-25 10:25] vaibhavsingh97 commented on #626
claiming 👍

[2018-04-25 13:47] vddesai1998 commented on #626
I would like to work on this issue.Can someone assign me the issue?

[2018-04-25 14:01] gabru-md commented on #626
@vddesai1998 I do not know if you can be assigned to this issue, since GSoC is currently under way.
@djmgit @ParthS007 please comment

[2018-04-25 15:03] vddesai1998 opened #640 "rename directory 'uploads' in v1 folder"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

When we run the server locally we get the file not found error
**Expected behavior:**

**Steps to reproduce:**
Run server in v1 folder

In this [commit](https://github.com/fossasia/badgeyay/commit/07185ad22949b8a09eaf693b342c92739f1c86f9) inside all files directory's name is changed but it is not renamed actual

[2018-04-26 01:47] rupav commented on #616
@ParthS007 @vaibhavsingh97 @gabru-md @yashLadha guys I have done this using INKSCAPE, I can send the copy of this layout. Let me know if one of you want it. To view the badge layout, you may open the file in the browser or through INKSCAPE(preferred method).

[2018-04-26 02:41] ParthS007 commented on #616
Yes @rupav, Please share it with me. :+1

[2018-04-26 02:49] rupav commented on #616
[8BadgesOnA3.zip](https://github.com/fossasia/badgeyay/files/1949515/8BadgesOnA3.zip)
I cant upload an svg file on github, you need to extract it. 😃

[2018-04-26 03:41] #636 closed

[2018-04-26 03:42] #619 closed

[2018-04-26 03:42] #585 closed

[2018-04-26 08:52] #613 closed

[2018-04-26 08:55] yashLadha opened #641 "Improving docstring and package imports"
__I am working on this__

[2018-04-26 13:43] gabru-md commented on #640
The v1 server is not in use as of now i suppose :sweat_smile:

[2018-04-26 13:45] vddesai1998 commented on #640
Yes, I asked about it on gitter but no one replied.. 😅.
So should I close this issue....?

[2018-04-26 13:46] gabru-md commented on #640
yes please :D

[2018-04-26 13:46] #640 closed

[2018-04-26 13:55] gabru-md opened #643 "Remove Video from README"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

Remove the video from README as it is old.
The current UI is not the same.

CC : @ParthS007 @djmgit

[2018-04-26 13:57] ParthS007 opened #644 "Create a artwork of Badgeyay like other Open event services."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Expected behavior:**
There is a need of artwork just like other open event services

**Steps to reproduce:**

working on this.

[2018-04-26 13:57] ParthS007 commented on #643
please go ahead :smiley:

[2018-04-26 13:57] gabru-md commented on #644
I guess it will be awesome. Please go ahead

[2018-04-26 14:06] vddesai1998 commented on #626
@gabru-md so what should I do if I want to start contributing...? Are there any non GSoC issues?

[2018-04-26 14:15] gabru-md commented on #626
I do not have any idea regarding it. I have tagged a mentor (@djmgit) so that he can clarify the situation.
:sweat_smile:

[2018-04-26 14:16] vddesai1998 commented on #626
@gabru-md Thanks!

[2018-04-26 19:43] ParthS007 commented on #644
![badge](https://user-images.githubusercontent.com/24358501/39328165-138cedf4-49b8-11e8-8572-23b47d7f8890.png)

[2018-04-26 19:44] ParthS007 commented on #644
![badge1](https://user-images.githubusercontent.com/24358501/39328194-330d119a-49b8-11e8-8a4e-d6dc0793ee53.png)

[2018-04-26 19:54] #643 closed

[2018-04-27 04:36] #641 closed

[2018-04-27 04:46] djmgit commented on #626
@vddesai1998 please have a look at my comment on badgeyay channel in gitter :)
Welcome to badgeyay :)

[2018-04-27 04:50] djmgit commented on #628
Any updates?

[2018-04-27 04:51] gabru-md commented on #628
I guess if no one is working on it at this moment I would like to claim this task then.

[2018-04-27 04:52] yashLadha commented on #628
before proceeding @gabru-md  we need to properly document this and layout the structure.

[2018-04-27 04:53] yashLadha commented on #628
As already there is a cli present and we can extend the cli for the conversion of the class and the project. Views @gabru-md @djmgit

[2018-04-27 04:54] gabru-md commented on #628
I can start with a new file and then maybe collaborate onto making it better ?
And once that is fully functioning and has proper docs we can replace it with the current file?

[2018-04-27 04:54] yashLadha commented on #628
I would like to work on this @gabru-md . We can divide the work, If you want?

[2018-04-27 04:57] gabru-md commented on #628
Okay!
I'll create a new file with proper usage of class and functions. And then we both can improve it. :+1:
Like making it better and adding docstrings

[2018-04-27 04:58] djmgit commented on #628
@gabru-md @yashLadha great! @yashLadha yes you can surely extend the cli, just make sure nothing is breaking before making the replacement.

[2018-04-27 04:58] yashLadha commented on #628
Ok So you proceed with converting the file into the Class and i will working on including the class into the library and docstrings. @gabru-md

[2018-04-27 04:58] yashLadha commented on #628
Is this fine @gabru-md @djmgit ??

[2018-04-27 05:00] gabru-md commented on #628
Sure ! I'll send a PR soon.
And meanwhile I'll discuss it with Yash on proceeding further

[2018-04-27 06:25] vaibhavsingh97 opened #647 "Seperating Config from Code base"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Parent Issue**: https://github.com/fossasia/badgeyay/issues/627

**Current behavior:**
Currently all the configs are present in one single file

**Expected behavior:**
`config.py` should be present in the codebase where all the config should be managed.

**Yes, i want to work on this issue**

[2018-04-27 06:25] vaibhavsingh97 commented on #647
Cc @djmgit

[2018-04-27 06:58] #644 closed

[2018-04-27 08:22] ParthS007 opened #648 "Add Proper Instructions for Local deployment of Frontend and Backend"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Currently, There is a lot of repeated instructions in Main Readme and Backend Readme and there is confusion about how to deploy Badgeyay on Local System.

**Expected behavior:**
There should be proper instructions on local installation and links to frontend and Backend Folder.

Working on this.

[2018-04-27 19:22] ParthS007 opened #651 "Discussion on Database Service addition to Badgeyay"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Currently, there is no Database integrated with the Badgeyay for storing the data of the users, history, etc.

**Expected behavior:**
There should be a database service integrated with the Badgeyay in order to add further features like login/signup, user history, and badges generated by the user.
In our proposal

[2018-04-27 19:39] #626 closed

[2018-04-27 20:07] #648 closed

[2018-04-28 09:38] yashLadha opened #654 "Correcting Hound CI Path for python files"
**Current behavior:**

Currently Hound CI is using its default config and generates a load of error and not using the config file for the backend.

**Expected behavior:**

It should use the backend config.

__I am working on this__

[2018-04-28 09:54] yashLadha opened #656 "Remove redundant .editorconfig"
Currently there are two `.editorconfig` files are present in the code. One in the root project directory and the other is in the frontend. We can merge both the files into a single config. As lot of config is redundant.

[2018-04-28 09:55] ParthS007 commented on #656
Working on it

[2018-04-28 16:23] yashLadha opened #657 "Remove Version files to separate branch"
As currently in the development branch `v1` is present and all the released versions should either be present in the master branch or in the respective version branch. What i am proposing is to remove the version folder from the development branch and shift it to either the master branch or version branch. So that the extra code gets cleaned and the code that is present in the branch will only get

[2018-04-28 19:14] gabru-md commented on #651
I support MongoDB.
The points are same as that written in my proposal. :)

[2018-04-28 21:49] #656 closed

[2018-04-29 04:55] #654 closed

[2018-04-29 11:38] ParthS007 opened #659 "Add Gemnasium as dependency checker"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Currently, there is no dependencies check for the project including frontend and backend.

**Expected behavior:**
After adding Gemnasium
- It will parse project's dependencies and notifies when new versions are released or they need to be updated.
- It will notify when our dependencies have security vulnerabilit

[2018-04-29 13:00] gabru-md commented on #657
Cool, I would like to claim this task. :D

[2018-04-29 13:02] yashLadha commented on #657
Cool, but let's it first approve by @djmgit

[2018-04-29 14:19] yashLadha opened #661 "Fixing the use of lxml"
Codacy sometimes flag the error to avoid the use of lxml and etree in the codebase because there is a harm of xml attack, instead suggest to use defusedxml.

__I am working on this__

[2018-04-29 15:12] #628 closed

[2018-04-29 15:12] gabru-md commented on #657
Ping @djmgit

[2018-04-29 15:25] #661 closed

[2018-04-29 15:34] gabru-md commented on #657
@djmgit please create a new branch for the same.
`version-1` will do. I have the PR ready, just need a new branch for the same. :D

[2018-04-29 15:39] gabru-md commented on #657
or should I send a PR for `master` instead?

[2018-04-29 15:41] yashLadha commented on #657
Also @gabru-md Please remove the code from the development branch. That will need an another PR. Thanks

[2018-04-29 15:55] ParthS007 commented on #657
I will remove it from development :+1

[2018-04-29 15:56] gabru-md commented on #657
sure @ParthS007,
Let my PR get merged first, then you can get along with it :)

[2018-04-29 17:34] gabru-md opened #663 "Remove redundant `merge_badges`"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

Since a new `merge_badges` has been created therefore the older ones must be removed.

**Yes** I would work on this.

[2018-04-29 19:14] djmgit commented on #657
@gabru-md I have created a new branch named ```version-1.0```

[2018-04-29 19:53] ParthS007 commented on #594
@yashLadha , I have claimed this issue and reason of holding this issue is that we have other high priority issue like api modularisation and frontend enhancement. I will send this PR when we are done with the mentioned issues. I hope you understand. :smiley:

[2018-04-30 02:59] yashLadha commented on #594
OK, fine then

On Mon 30 Apr, 2018, 1:23 AM Parth Shandilya, <notifications@github.com>
wrote:

[2018-04-30 03:46] yashLadha opened #666 "Sending the form data using socket connection"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

Currently the server is configured for cors requests and an AJAX call is made to the api but the flask-scoketio library and flask-cors have conflicts in the cors functionality. So it is better to use on library and to not have conflicts in the cors. SO instead of sending data using AJAX, the form data should be send using socket.
__I

[2018-04-30 05:07] gabru-md commented on #666
I am sorry, but we will be using `ember-data` to send data from front-end to back-end server.
It is far more better than using Sockets for sending information.
Handling sockets will not be a good idea for sending sensitive form data even in case of logins and signups.
I do not approve of using socket for the same.

@djmgit @ParthS007 please comment. Since there are services already available for u

[2018-04-30 05:15] yashLadha commented on #666
@gabru-md  This is inspired from the issue https://github.com/fossasia/badgeyay/issues/594 and in openevent project also the use of sockets are supplied to send the data from frontend to backend. Also the same code can be extended for the issue.

[2018-04-30 05:47] ParthS007 commented on #666
@yashLadha I don't understand when we are using Ember framework in which there is proper method to handle data i.e ember-data and we have to divide index.hbs in multiple components which is main motive to use a frontend framework. I don't think this PR will be of any use now as we have to again change it according to Components.

[2018-04-30 05:51] yashLadha commented on #666
I am closing this issue as the writing test for socket communication will be using selenium and for the task may be we can drop the idea but the ember-data provides us way to handle the data with ember but sockets are reliable and fast way of communication when we need to send small packets of data. In the ember forum there are discussion on using both `ember-data` and `sockets` for a reliable com

[2018-04-30 05:51] #666 closed

[2018-04-30 05:53] #663 closed

[2018-04-30 06:09] djmgit commented on #666
@gabru-md @yashLadha @ParthS007 #594 demands inclusion of a progressing loading bar. As it was discussed in #594 earlier that we have two ways to display progress bar. Either some how continuously poll the number of badges generated using ajax or use socket.io and flask socket for reactive communication. It was decided that sockets will be used for the progress bar. However since we are using embe

[2018-04-30 07:01] yashLadha commented on #666
Sure @djmgit :+1:

[2018-04-30 09:56] yashLadha opened #668 "Convert svg_to_png to a class"
Currently the file `svg_to_png` has the code written in two functions and doesn't have a class, as the other files in the project `merge_class` and `generator_class`. So It would be great if the file is converted to a class and used in the program.
Views? @djmgit
Cc: @ParthS007 @vaibhavsingh97 @gabru-md
__I am working on this. Please assign it to me__

[2018-04-30 11:00] gabru-md opened #670 "Add VirtualEnv folder to .gitignore"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Current behavior:**

Currently after doing some changes and typing `git status` the Virtual Environment folder shows up in it.

**Expected behavior:**

Virtual Environment folder must not show up in `git status` and it must be put up in .gitignore.
Currently as per the local setup guidelines the virtualenv folder is `badgeyay` .

*

[2018-04-30 11:04] gabru-md commented on #670
CC : @djmgit

[2018-04-30 12:44] ParthS007 commented on #670
sending PR for the same :+1:

[2018-04-30 12:46] gabru-md commented on #670
okay :)

[2018-04-30 18:40] #670 closed

[2018-05-01 12:21] yashLadha opened #672 "Refactor the response code"
Currently there is a duplicate code present that is not necessary in the creation of response. Also addition of docstring in the response code.

__I am working on this__

[2018-05-01 13:14] gabru-md commented on #627
I would like to send a test PR for the same @djmgit .
It contains all the folders etc that we need to modularize the API. then we can work on making it better sideways so that we ensure the product stability and a refractored version being made sideways as well.
Can you please comment ?

[2018-05-01 13:17] ParthS007 commented on #627
Please go ahead @gabru-md , great :+1:

[2018-05-01 13:17] djmgit commented on #627
@gabru-md please go ahead

[2018-05-01 13:20] djmgit opened #674 "Prospects of using graphql over REST in badgeyay"
As discussed in the hangouts call on 30th April'18, we need to consider the prospects of using GraphQl over normal REST. Now the things we need to consider our what are the pros and cons of using graphql in badgeyay over REST. Do we actually require GraphQl at all keeping in mind the functionalities that badgeyay offers or will offer. Can graphql improve badgeyay or will it be an overkill for the

[2018-05-01 13:45] yashLadha commented on #674
According to the research which i have done till now, Graphql is basically a query language that provides an addon layer to efficient queries. Like suppose for structure for a particular request is too big them we have to either do multiple rounds of querying or create specific endpoints for the task. But by specifying the params needed to be fetched from the request eases the problem of multiple

[2018-05-01 13:52] gabru-md commented on #627
So @ParthS007 and ME will work on modularising the backend along with refractoring it. By the time other changes are being made to the current API, we will make them stable into the Modularised API and get it working sideways :+1:

[2018-05-01 14:02] djmgit commented on #674
@yashLadha the question here is will badgeyay ever require such complex db query or will it ever require to have such complicated relationships between models?

[2018-05-01 14:04] ParthS007 opened #676 "Extend responses for generating urls"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request
Sub Issue of #627

Will send PR after #675 gets merged.

[2018-05-01 14:05] gabru-md commented on #676
okay ! cool

[2018-05-01 14:47] ParthS007 commented on #674
I would like to mention some points in reference to need of Badgeyay.
1. **Architecture**
- **REST** is an architectural concept for network-based software, has no official set of tools, has no specification, and is designed to decouple an API from the client.
_while_
**GraphQL** is a query language, specification, and collection of tools, designed to operate over a single endpoint via HTTP, optim

[2018-05-01 14:49] ParthS007 commented on #674
Main Point is DATA TRANSFER which is main need of Badgeyay.

[2018-05-01 15:08] yashLadha commented on #674
But the need for ease of query will be greatly resolved with the help of
graphql and also gives the better understanding of the structure. We can
have both the things to work.

On Tue 1 May, 2018, 8:19 PM Parth Shandilya, <notifications@github.com>
wrote:

[2018-05-01 15:49] gabru-md commented on #674
Since Badgeyay is going to be a self centric application, that means that the only agent that will ever need to access Badgeyay's API will be its frontend and no one else.
I have seen GraphQL being used at places where the sole purpose of the product is to provide an Open API to audience. For example : Github API. There are many people using the same API for several different purposes so they requ

[2018-05-01 15:54] gabru-md commented on #674
This is a really valid point @ParthS007
and since our API needs to deliver endpoints for file uploads as well I agree with your point here

So
Being forced to create another service is overkill for smaller images and we have to depend on other a server and various clients can even support it. This is one area where REST holds strong.

[2018-05-01 15:54] yashLadha commented on #674
It is also used in enterprise systems and as facebook has opensourced it, it is also being used in their codebase. I have seen talks given by developers of shopping portals about how they have used it for sending data to frontend according to needs.

[2018-05-01 15:55] yashLadha commented on #674
For file uploads visit this thread https://stackoverflow.com/questions/46333870/upload-files-using-flask-and-graphene?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

[2018-05-01 15:59] gabru-md commented on #674
This is written in the article you linked to, @yashLadha :

[2018-05-01 15:59] ParthS007 commented on #674
@yashLadha Please visit the source of the link and I am posting the comment of the contributor who's code is used as a answer in the above question.
![image](https://user-images.githubusercontent.com/24358501/39480733-bd1ab0dc-4d86-11e8-888f-1fcc6476d1f1.png)

[2018-05-01 16:00] yashLadha commented on #674
Here is the issue link to the repo https://github.com/graphql-python/graphene-django/issues/101

[2018-05-01 16:01] yashLadha commented on #674
Here for the Flask SDK https://github.com/graphql-python/flask-graphql/issues/33

[2018-05-01 16:03] ParthS007 commented on #674
@yashLadha These issues are not solutions to file upload, they are also raised as a question that can it be done using graphQL.

[2018-05-01 16:05] #672 closed

[2018-05-01 16:06] yashLadha commented on #674
But you are overlooking the fact of simplicity. Anyways if all of you prefer to go with the REST API then i have no issues but what i am proposing is why can't be use both at the same time. Using benefits of both. Pointed in the article https://philsturgeon.uk/api/2017/01/24/graphql-vs-rest-overview/

[2018-05-01 16:08] yashLadha commented on #674
``
One mix of REST and GraphQL could just be adding a /graphql endpoint to api.whatever.com and having that as your GraphQL endpoint on an REST API.
``

[2018-05-01 16:14] yashLadha commented on #627
Count me in too @gabru-md

[2018-05-01 16:15] ParthS007 commented on #674
Here are the few points mentioned by a @SaptakS  on this issue https://github.com/fossasia/labs.fossasia.org/issues/271. Please have a look at it
@djmgit @yashLadha @gabru-md

[2018-05-01 16:54] shubham-padia commented on #674
Personally, for something of the scale of badgeyay, graphQL seems like overkill.

[2018-05-01 16:55] #668 closed

[2018-05-01 17:14] yashLadha commented on #657
Already PR merged : https://github.com/fossasia/badgeyay/pull/665

[2018-05-01 17:14] #657 closed

[2018-05-01 17:18] gabru-md opened #677 "Delete V1 Folder from development branch"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

@djmgit we now need to remove the `v1` folder from `development` branch as well.

[2018-05-01 17:36] yashLadha opened #679 "Addition of documentation to Response class"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

Parent Issue : https://github.com/fossasia/badgeyay/issues/627
__I am working on this__

[2018-05-01 17:36] yashLadha commented on #679
CC : @djmgit

[2018-05-01 17:37] gabru-md commented on #679
@yashLadha Actually the class has been made to comply with these changes.

[2018-05-01 17:38] gabru-md commented on #679
You can use
`Response(403)generateMessage('Not authorized')`
to achieve the same.

[2018-05-01 17:42] yashLadha commented on #679
Now is it comfortable with you @gabru-md

[2018-05-01 17:46] gabru-md commented on #679
There will be several changes to the backend so I feel we should have @djmgit comment her for the same.
Because it may happen that we may extend functions onto functions and even change some. So lets move onto the documentation part at last?

Like we can have this as the parent issue so that we keep on adding the functionalities that have been done so that we can work on documentation after that,

[2018-05-01 17:55] yashLadha commented on #679
According to me adding documentation to the code which we are adding gives
and understanding what we are doing to implement. Also it is a good
practice to add documentation of whatever code we right.

On Tue 1 May, 2018, 11:16 PM Manish Devgan, <notifications@github.com>
wrote:

[2018-05-01 18:33] gabru-md opened #680 "Adding Error Handlers to API"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

Currently there are no error handlers for the new API.
We need to setup error handlers as well for the new API.

**Yes I will send a PR for the same**

[2018-05-01 18:50] yashLadha opened #682 "Refactoring the REST API Logic"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Redundant code is there which can be merged in single conditional statements

**Expected behavior:**
There should not be any redundant code.

I am working on this.

[2018-05-02 19:42] parassharma1612 commented on #614
I want to work on this issue. This is my first time contributing. Please guide me.

[2018-05-03 14:15] yashLadha opened #685 "Sanitize URL in Response class"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

The url that is generated will be of the localhost and not the domain name. So the url has to be refactored in the backend side and not in the frontend as not the same is happening currently. This issue is mainly towards refactoring the generated url for making it available for download. Sanitize url to act as a download link.  Sent

[2018-05-03 17:50] ParthS007 commented on #674
@djmgit  As we have a review from @shubham-padia  and thumbs up from @niranjan94. We can conclude our discussion by keeping the API as REST.
What do you think @yashLadha @gabru-md?

[2018-05-03 17:51] yashLadha commented on #674
Yes I go with the majority. :+1:

[2018-05-03 17:54] ParthS007 commented on #685
@yashLadha Can you please explain a bit about this issue? :smiley:

[2018-05-03 18:02] yashLadha commented on #685
@ParthS007  Updated

[2018-05-03 18:25] #676 closed

[2018-05-03 18:26] #680 closed

[2018-05-03 18:26] #677 closed

[2018-05-03 18:27] #682 closed

[2018-05-03 19:18] ParthS007 opened #686 "Update dependencies of the backend and frontend"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Currently, there are many outdated dependencies in the project which needs to be updated including both frontend and backend.

I am working on this.

[2018-05-04 06:26] niranjan94 commented on #674
Alright then 😄
All are agreeing to keep API as existing REST.

Closing this issue now.

[2018-05-04 06:26] #674 closed

[2018-05-04 11:28] gabru-md opened #687 "Add basic authentication to API"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

Add basic login/register authentication to API.

**Yes** I am working on it.

[2018-05-04 18:13] #687 closed

[2018-05-04 19:19] gabru-md opened #689 "Check for Token Verification"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

Check if the token provided is authentic or not.
In other words, a function that checks for authenticity/expiry of the token provided.

**Yes** I am working on it, and will send a PR very soon

[2018-05-04 23:19] ParthS007 opened #691 "Add Error Handling while checking user data"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

Currently, there is no error handler while checking user data.
We need to setup error handlers for the same.

**Working on it**

[2018-05-05 00:53] yashLadha opened #693 "Variable font size in badge geneartion"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Currently there is only one fixed size for badge generation

**Expected behavior:**
Providing a scroll to select the badge size accordingly.

__I am working on this issue__

[2018-05-05 17:05] #685 closed

[2018-05-05 17:25] #689 closed

[2018-05-05 17:27] #686 closed

[2018-05-05 19:55] gabru-md commented on #651
PostgreSQL it is :)

[2018-05-05 19:55] gabru-md commented on #651
Can be closed

[2018-05-05 22:18] gabru-md opened #696 "Add API for Uploading Image to Badgeyay"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

Add API for uploading Image to the backend.

**Yes I am working on it**

[2018-05-06 04:45] yashLadha commented on #651
I will go with PSQL :+1: as said by @gabru-md .

[2018-05-06 05:02] yashLadha opened #698 "REST API Adapter to Request from frontend to backend api"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Currently an AJAX request is made.

**Expected behavior:**
As the frontend is in Ember then we should proceed with the suite provided by Ember for the REST Api calls.

__I am working on this__

[2018-05-06 05:02] yashLadha commented on #698
CC: @djmgit

[2018-05-07 07:13] ParthS007 opened #700 "Add migrations to Flask SqlAlchemy"
Sub-Issue #627
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

There is a need for an addon that handles SQLAlchemy database migrations for Flask application.

I am working on it.

cc: @djmgit

[2018-05-07 10:59] yashLadha opened #701 "CSV Upload API"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

Endpoint to upload CSV file.

__I am working on this__ Will send PR after #697 gets merged.

[2018-05-07 11:12] gabru-md commented on #701
I am sorry, but I have written about working on the same in my daily scrums before you created this issue. moreover you have already been working on an issue that you created yourself [#698](https://github.com/fossasia/badgeyay/issues/698).  Isn't that a bit unfair if you claim issues that others have already mentioned in their scrums that they will be working on ?

@djmgit can you please resolve

[2018-05-07 11:27] yashLadha commented on #701
Ther is no issue created in the repository so I thought that no one has claimed. If you are going to work on the issue then you should create that in the first place and if you have created the issue and claimed it then I have no problem with that. Also, ref #698 the structure of the form is not yet finalized and if the model structure is yet to decide on frontend side.  @gabru-md

[2018-05-07 11:34] yashLadha opened #702 "Fix : Issue Template"
There is a spelling error in the Issue Template for word `behavior`.
__sending PR for the same__

[2018-05-07 13:15] yashLadha commented on #702
Will take care in future.

[2018-05-07 15:14] vaibhavsingh97 opened #704 "Config.py is not present"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Currently, we have to copy `dev-config.py` and make new file `config.py` and update configuration

**Expected behavior:**

`Config.py` should be present and only `.env` file should be changed

[2018-05-07 23:34] ParthS007 commented on #629
@djmgit I will share a basic tree structure of components, adapters, services, routers on which I will start working in order to refactor frontend. :+1:

[2018-05-08 00:54] vaibhavsingh97 commented on #554
@djmgit We can use `Docusaurus` to have documentation in badgeyay. Docusaurus can directly be deployed using GitHub Pages.

[2018-05-08 01:54] yashLadha commented on #629
I have started working on creating models and controller for form submission. May be we both can work on it. Also ref #698 is also connected with the same issue for adding a JSON API Adapter in the form. @ParthS007

[2018-05-08 02:11] vaibhavsingh97 commented on #629
I will also help in refactoring frontend

On Tue 8 May, 2018, 7:24 AM Yash Ladha, <notifications@github.com> wrote:

[2018-05-08 02:14] gabru-md commented on #629
Since everyone is working on this part, it seems that tge csv upload issue is now open for me ?  So I'll work on it then

[2018-05-08 02:17] gabru-md commented on #701
Since you are working on issue for frontend it seems apt that I can now claim this issue, considering the fact that I, unlike you, have no issue claimed at this moment.
Whereas you've stated in the comments of frontend issue that you're working on modelling etc.

Therefore I can now work on this issue.

[2018-05-08 02:30] gabru-md commented on #629
My whole point is that you are working on multiple issues right now, which according to your point of 'group project' is also not okay.

I've already stated that I mentioned it in my scrums before you created the issue. I have my exams so I did not open up github to create any issue, considering I can create it when I am done with my studying, because of the fact that I've stated ot before anyone

[2018-05-08 02:32] gabru-md commented on #629
And from now on I'll make sure that this never happens and I have an issue ready as soon as I write it down somewhere in my scrums :+1: :)

[2018-05-08 02:46] vaibhavsingh97 commented on #629
@gabru-md According to policy, one should open issues first and claim it. Nobody has time to read scrums, scrums are only to log your work to keep track of the progress made so far. In GitHub there is a reason `issue` tab exist, please make use of that. Also, it's ok if your exams is going on than you can ask fellow developer to help you. Right now what I am seeing is that rather than a group proj

[2018-05-08 02:47] yashLadha commented on #629
It is this that the REST API issue cannot be work currently as it needs
models in frontend, so technically it is same as like socket issue because
we first need to finish higher priority issues first and then work. So
technically I am now not assigned to any issues. Hope you understand that
ember normally not handles the input very well. So working on the work
around @gabru-md. It's good with me t

[2018-05-08 03:15] vaibhavsingh97 opened #707 "Adding Login/Signup in REST API (Using Firebase)"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

Currently, login/signup is present and implemented using the traditional approach. Username and password are dumped in the database

**Expected behavior:**

Signup/Login should be added using Firebase

**I want to work on this issue**

[2018-05-08 03:36] yashLadha commented on #707
Firebase will offload most of the work and also provides a great set of
tools for OAuth, also the functionalities like cloud functions will greatly
enhance the experience as the flask libraries will not be able to create
such functionalities. For the case when a user is register, automatically a
cloud functions will get triggered and will send a greeting message with
the note to confirm the mail.

[2018-05-08 03:58] djmgit commented on #629
@vaibhavsingh97 @ParthS007 @gabru-md @yashhere lets try to avoid conflicts on issues and features. @gabru-md and @ParthS007 mentioned earlier that they will be working on creating the refactored API, and its already going on at a nice pace. The API has already got a nice structure :+1: @yashLadha your were working on refactoring the current application logic cleaning it up, you have already sent s

[2018-05-08 04:12] #693 closed

[2018-05-08 04:13] ParthS007 commented on #629
@djmgit I completely agree with you. So, let's do it.
1. Link to Badgeyay Backlog 2018 - [Link](https://docs.google.com/spreadsheets/d/1pqWOqBc7wprsCZFYBXEqx620mMg4LwCtncTw6NeQi0k/edit?usp=sharing)
2. Link to Work Division - [Link](https://docs.google.com/document/d/1wMDZfkQlTRCkTD5OHKvsn1WBttfy3AlViw9jWTkK-9E/edit?usp=sharing)
I have created the second one. and let's start working on completing t

[2018-05-08 04:17] vaibhavsingh97 commented on #629
@ParthS007 That's quick, appreciated you created the doc but this would create a  mess in near future once we progress in the project so there are third party plugins which help you manage the `group project` with the help if GitHub. We can take help of these plugins or excel sheet be the best case to manage these type of things.
@ParthS007 views?

[2018-05-08 04:17] #691 closed, assigned to ParthS007

[2018-05-08 07:21] vaibhavsingh97 opened #708 "Project Management tool needed for Badgeyay"
With the help of Project management tools, we can organize, manage, and track your project with tools that build on top of issues and pull requests

**Current behavior:**
There are no Project management tools integrated with badgeyay, there are lots of conflicts due to that. Also, one can get a better insight of the project like team progress, number of contributions, number of issues assigned to

[2018-05-08 07:26] yashLadha opened #709 "API Endpoint to change user details"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
There is no endpoint to serve updation of user details like password or name.
**Expected behavior:**
There should be an endpoint to serve the purpose.

__Yes__ I am sending PR for the same.

[2018-05-08 07:39] vaibhavsingh97 commented on #709
Are we going to add handle \ authentication, registration, account management manually?  Instead, we can use some third-party plugin or can use a cloud-based solution like Firebase, etc. We can focus on providing badges as a functionality.
Cc @djmgit @yashLadha @ParthS007 @gabru-md your Views please

[2018-05-08 07:50] yashLadha commented on #709
See @vaibhavsingh97 we can definitely move to PaaS like Firebase but we will only be using admin sdk on server side and thus the logic will not be different it is just some parts of code will be using the sdk functions. Like Firebase SDK Provide a method to update user details but for updating the user it must have to be a valid user at first place. Also after validation from firebase server we ca

[2018-05-08 07:57] djmgit commented on #708
Waffle and issue.sh looks good.
@ParthS007 @gabru-md @yashLadha please check the list and share your views :)

[2018-05-08 08:03] yashLadha commented on #708
Waffle :+1:

[2018-05-08 09:44] gabru-md commented on #709
It has already been done.
It was discussed in the meeting that if we can get the simple authentication done earlier then we will prefer it doing ourself and if not, the Yash ladha said he would work on firebase part.
But since basic authentication has already been setup therefore I don't think we need firebase as of now.
As Yash said, we will be hardly using some functions of the sdk. So we can le

[2018-05-08 09:48] gabru-md commented on #629
@vaibhavsingh97 I guess you are wrongly notified here.
Scrums are an important part of GSoC and mentors and admins get knowledge about our work from scrums only. Therefore your point that nobody reads scrum, is not okay. It is completely wrong.
@djmgit am I right ?

[2018-05-08 11:50] vaibhavsingh97 commented on #437
I am working on this issue

[2018-05-08 11:53] vaibhavsingh97 commented on #437
@djmgit I will use [flasgger](https://github.com/rochacbruno/flasgger) for adding Swagger UI. Flasgger also provides validation of the incoming data, using the same specification it can validates if the data received as as a POST, PUT, PATCH is valid against the schema defined using YAML, Python dictionaries or Marshmallow Schemas.

[2018-05-08 11:59] vaibhavsingh97 commented on #437
We can also use [flask_restplus](https://flask-restplus.readthedocs.io/en/stable/). It  has a feature which automatically generates interactive documentation for your API using Swagger UI.

[2018-05-08 22:35] #696 closed

[2018-05-09 02:19] #702 closed

[2018-05-09 03:09] yashLadha opened #711 "Add Mail utility function"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**
There is no mail utility end point.

**Expected behaviour:**
There should be a mail utility. Use cases are when a user authenticates then there should be a verification mail sent  to him with the passed token. Also after verifying the token then a greeting mail should be sent to user.

__Yes__ working on it.

[2018-05-09 05:09] ParthS007 opened #713 "Add rollback for Sqlalchemy for failed commit"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Currently, there is no exception handling when the commit to DB fails.

**Expected behavior:**
There should be exception handling when commit to DB fails.

Working on it.

[2018-05-09 05:14] vaibhavsingh97 opened #714 "Add Password strength check"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**
There is no Password validation for the strength check

**Expected behaviour:**
There should be password strength check validation

**Will work on it after #629 closes*

[2018-05-09 05:31] yashLadha commented on #714
What approach you are proposing as already we are storing the hash of password in the database and as per the primary attack in hashing it is difficult to recover the password from the hash. So what are you proposing here @vaibhavsingh97

[2018-05-09 05:33] yashLadha commented on #714
Even if the password is small the hash generated will not be easy to decrypt even with a lot of computational resources attacker have. Views on it? @ParthS007 @djmgit @gabru-md

[2018-05-09 05:33] gabru-md commented on #714
This is more of a frontend issue and should be handled at Ember side.
@yashLadha what are your views? It can be easily done using Ember JS frontend I suppose

[2018-05-09 05:36] ParthS007 commented on #714
@vaibhavsingh97  You have already claimed 3 issues
1. https://github.com/fossasia/badgeyay/issues/707
2. https://github.com/fossasia/badgeyay/issues/647
3. https://github.com/fossasia/badgeyay/issues/437

Please follow best practices as now you have 4 claimed issues including 1 WIP PR. Please work on already claimed issues and then you are open to claim other open issues or you can open issue to b

[2018-05-09 05:44] yashLadha commented on #714
As said it is hard to recover the password from the hash and it has to be handled in the frontend as we can't increase the load of requests in backend.  Once the frontend is separated into components we can work on issue regarding frontend like REST Api adapter, but it would give us better idea if you propose you approach.

[2018-05-09 06:12] vaibhavsingh97 commented on #714
@yashLadha @ParthS007 @gabru-md
Let me explain the use case of this issue, you guys are right that we are storing the hash of the password in the database and as per the primary attack in hashing it is difficult to recover the password from the hash. Let's say
1. If the user uses password same as the username and email address (This should not be the case)
2. It checks for too many character repet

[2018-05-09 07:03] yashLadha commented on #714
@vaibhavsingh97 Them we can drop a hint in frontend and that can be handled using key up event in frontend.

[2018-05-09 07:56] #700 closed

[2018-05-09 08:51] vaibhavsingh97 commented on #714
@gabru-md @yashLadha Cool, then we can have this feature front-end side, Will work on it, after #629 closes

[2018-05-09 08:53] vaibhavsingh97 commented on #437
@djmgit @ParthS007 @gabru-md @yashLadha Your opinion please

[2018-05-09 12:18] djmgit commented on #708
@vaibhavsingh97 @yashLadha @gabru-md @ParthS007 so is waffle confirmed?

[2018-05-09 16:17] #711 closed

[2018-05-09 16:37] #713 closed

[2018-05-10 03:08] #709 closed

[2018-05-10 03:09] #701 closed

[2018-05-10 03:40] gabru-md opened #718 "Add error checks to User Updation"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

Currently there is no error handling for the requested data from the user.

This Issue will deal with adding proper error checks to the requested data.

**Yes I will work on this issue**

[2018-05-10 04:05] yashLadha opened #719 "Add Forgot Password endpoint"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

Currently there is no forgot password endpoint for the user.

**Expected behaviour:**

Forgot password endpoint for the user.

__Yes__ I am working on this.

[2018-05-10 05:22] ParthS007 opened #720 "Add DB model for associating the file upload with user"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
The files that are uploaded are not associated with the user who has uploaded the files.

**Expected behavior:**
There should be a DB model for associating the files uploaded with the user.

**Working on it.**

[2018-05-10 05:53] ParthS007 commented on #708
I don't think we need this as we have to also invest our time to maintain this and we already have a backlog and comparison sheet which have all the things like the responsible person for the specified task.

If someone agrees to maintain this regularly, I am open to it. We can maintain it when we have some stabilization in the project and we have very long-term goals or we can use directly the `G

[2018-05-10 05:58] ParthS007 commented on #707
Yes, we should go for it but when we have time to develop the traditional API endpoints for these features, then we should follow the traditional one as followed in Open event server but as said by @yashLadha  we can ease down the process of logging in and all the OAuth  handling then we should
use this :+1:

[2018-05-10 05:59] ParthS007 commented on #651
Closing this as PSQL was finalized.

[2018-05-10 05:59] #651 closed

[2018-05-10 06:01] yashLadha commented on #707
As @ParthS007 first we need to create the basic API Endpoints first and then we can change it to fit with the firebase python sdk, because not a lot of code will change will change and it will just insert some functions from the sdk.

[2018-05-10 06:02] vaibhavsingh97 commented on #708
@ParthS007 The best thing is you don't have to maintain it, It automatically syncs with Github and helps maintainers to resolve conflicts and get better insights of the project. Also, maintaining excel sheet is the hard thing.  It's Trello for GitHub, correct me if I'm wrong.

[2018-05-11 08:59] yashLadha opened #723 "Greeting mail send on User registration"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**
When a user registers there is no greeting mail received by the user or the verification link.

**Expected behaviour:**

Whenever a user registers on a website then a greeting mail is sent to the user.

__Yes__ I am working on this.

[2018-05-11 09:04] yashLadha opened #725 "Fix imports in the codebase"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**
Currently there are imports like as api.* which should not be there

**Expected behaviour:**

Please correct the imports

[2018-05-11 09:05] gabru-md commented on #725
Claiming

[2018-05-11 09:05] yashLadha commented on #725
GFI :+1:

[2018-05-11 15:21] gabru-md opened #727 "Add email as a field to User Model"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Yes I will work on this**

[2018-05-11 16:36] yashLadha commented on #725
It seems the error is the way we run the code. If we go with the standard way
[code]
Them it considers the API as the whole package. But if we run in the way as follows
[code]
Them it considers the package after `run.py`.

[2018-05-11 16:36] yashLadha commented on #725
But still @gabru-md  you can work on correcting the mail config import if you want?

[2018-05-11 16:42] gabru-md commented on #725
Okay !
Sure I will

[2018-05-11 16:58] vaibhavsingh97 commented on #725
@yashLadha we should go by standard way and include this in `Readme` to.
@gabru-md @ParthS007 your opinion?

[2018-05-11 17:16] yashLadha commented on #725
Fixed in #728 @gabru-md
Yes @vaibhavsingh97 we can add this but we haven't completed the api so may be this can be done in the documentation phase later.

[2018-05-11 17:16] #725 closed

[2018-05-11 23:04] #718 closed

[2018-05-11 23:10] #720 closed

[2018-05-12 05:00] ParthS007 opened #729 "Add Errror handling while registering user"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

Currently, there is no error handler while registering user.
We need to setup error handlers for the same.

Working on it.

[2018-05-12 16:55] yashLadha opened #732 "Changing Preview for Font Size in frontend"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**
Preview button doesn't support font size change

**Expected behaviour:**
It should change the font size.

__Yes__ I am working on this.

[2018-05-12 17:10] abhi40308 opened #734 "Preview function in script.js"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**
Currently the checks in preview function are inside the same logic, they can be modularised.

**Expected behaviour:**
The checks in the preview function can be modularised so that they can be extended in the future.
__yes__ i am working on this.

[2018-05-12 18:14] gabru-md opened #736 "remove DS_STORE"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behaviour:**

**Expected behaviour:**

**Steps to reproduce:**

**Claiming**

[2018-05-12 18:15] ParthS007 opened #737 "Remove DS_Store files from the project"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

There are `DS_Store` files which are not required. Please remove that files.

Open to claim

[2018-05-12 18:15] gabru-md commented on #737
Already created this issue :) and claimed it as well

[2018-05-12 18:16] ParthS007 commented on #737
closing it in reference to #736

[2018-05-12 18:16] #737 closed

[2018-05-12 18:22] ParthS007 opened #739 "Add Plugins and setup for modularising frontend"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

There is a need to setup basic plugins for getting started to work on different components of the frontend.

Working on it.

[2018-05-12 21:31] #723 closed

[2018-05-12 21:32] #736 closed

[2018-05-12 22:03] #729 closed

[2018-05-13 07:52] gabru-md opened #742 "Remove .DS_Store from badgeyay/backend as well"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

Delete `.DS_Store` from `badgeyay/backend` folder as well.

**Will send a PR for the same**

[2018-05-13 08:31] ParthS007 opened #744 "Add Adapter and auth manager service"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

There is need for establishing adapters and auth manage service for the frontend.

Working on it.

cc @djmgit

[2018-05-13 08:42] #739 closed

[2018-05-13 08:42] #742 closed

[2018-05-13 08:49] #727 closed

[2018-05-13 09:26] gabru-md opened #745 "Modify mailing system"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

Handle sending mails through email field.

**I will send a PR for this**

[2018-05-13 10:37] yashLadha opened #747 "Enable JQuery in jshint config"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

PRs are flag that `$` is not defined because jshint is unable to identify it.

**Expected behaviour:**

It should not be done.

I am sending Patch for the same.

[2018-05-13 11:32] #732 closed

[2018-05-13 11:32] #747 closed

[2018-05-13 11:33] #734 closed

[2018-05-13 12:04] vaibhavsingh97 opened #750 "Email Verification"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**
There is no email verification when user registered.

**Expected behaviour:**
There should be email verification

**Yes, I would Like to work**

[2018-05-13 17:04] yashLadha opened #752 "Email verification with Firebase"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

Currently there is no such service for handling large user load.

**Expected behaviour:**

Implementation through Firebase. Implementing through Cloud Functions

__Will__  Work on this after Firebase Config initialisation,

[2018-05-13 17:13] yashLadha opened #753 "Integrate Firebase SDK Python"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

Need to integrate Firebase SDK functionality so for that we need SDK.

[2018-05-13 17:14] ParthS007 commented on #753
Claiming

[2018-05-13 17:15] vaibhavsingh97 commented on #753
@ParthS007 Can I work with you? As I had shown interest in https://github.com/fossasia/badgeyay/issues/707

[2018-05-13 17:18] yashLadha opened #754 "Firebase Config Initialization"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

There is no firebase config present.

**Expected behaviour:**

There should be a common firebase config accessible to all.

@mariobehling Can you please create badgeyay firebase app and give us access so that we can deploy cloud functions and integrate the SDK.

[2018-05-13 17:28] gabru-md opened #755 "Server Storage"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

Discuss on Server Storage

[2018-05-13 17:28] yashLadha opened #756 "Firebase/AWS/GCP Storage Integration"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

Storing media assets in Cloud using Firebase Storage.

PS: Discussion on the idea.

[2018-05-13 17:31] yashLadha commented on #756
Referncing Issue : https://github.com/fossasia/badgeyay/issues/755 Closing this as duplicate.

[2018-05-13 17:31] #756 closed

[2018-05-13 17:38] gabru-md opened #757 "ERD for Badgeyay"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

ERD for Badgeyay as on May 13, 2018

[2018-05-13 17:43] gabru-md commented on #757
Here is the ERD diagram as proposed in the meeting
![untitled diagram](https://user-images.githubusercontent.com/25414121/39970089-2db76a58-5703-11e8-8dd2-4b54ce86bdf5.png)

[2018-05-13 17:49] yashLadha opened #758 "Using Ember Firebase Data Adapter in Frontend."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

Integration of Firebase Adapter in the frontend in Refractor Frontend Part.  Library : https://github.com/firebase/emberfire

__Yes__ Sending PR for the same.

[2018-05-13 21:51] #719 closed

[2018-05-14 09:54] yashLadha opened #759 "Port the UI to semantic"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

Due to the addition of semantic UI, it is clashing with the bootstrap.
**Expected behaviour:**

There should only be semantic UI as discussed in the meeting yesterday.

**Steps to reproduce:**
Just code any example with the Semantic UI.

__Working on Fix__

[2018-05-14 12:34] #744 closed

[2018-05-14 18:13] ParthS007 opened #762 "Add Header and Footer Component"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

Sending PR :+1:

[2018-05-15 00:17] djmgit opened #764 "Discussion on database service"
Since we are integrating Firebase with badgeyay, the question is should we stick to our own database (Postgres) or should be go for firebase data store? What is the most suitable option for badgeyay?

[2018-05-15 00:18] djmgit commented on #764
@ParthS007 @vaibhavsingh97 @gabru-md @yashLadha what are your views?

[2018-05-15 02:27] yashLadha commented on #764
See Firebase Firestore provides query feature but it is not as powerful as the RDMS like PSQL and also there is a factor of network latency in it. So I think we can have both the structures in place and work.

[2018-05-15 02:31] yashLadha commented on #764
Also firebase storage and database are in place whenever we create our app. So it will be better to create models and the schema structure for the database. @djmgit Like how the queries will be done from the firebase database because there is no iterator available in firebase storage so we have to maintain the details in the database itself.

[2018-05-15 04:28] djmgit commented on #764
@yashLadha you right about the network latency issue. So @yashLadha @vaibhavsingh97 should we proceed with our native database? Flask goes will with Postgres and sqlalchemy, also it is a prefered stack. In that case I guess @vaibhavsingh97 can start with the schema for storing badges.

[2018-05-15 04:44] yashLadha commented on #554
Why not use static web page generators like Jekyll ot Hugo for generation of static pages and relying on third party @vaibhavsingh97

[2018-05-15 05:08] yashLadha commented on #764
@djmgit , as it said in the previous meeting that we will need an option for such as external cloud storage and firebase, is an apt choice as we are using the authentication suite. But for the purpose of storing the details of media assets we have to use PSQL as it will be more powerful and the database schema that is used in firebase is NOSQL so we have to again re-write the schema to fit with th

[2018-05-15 06:40] vaibhavsingh97 commented on #764
@djmgit I agree with @yashLadha as we are storing configs, details of media assets we have to use PSQl because of it's performance and the database used by firebase is NOSQL, and we have to rewrite the database schema to store assets. As we are using PSQL databse either we can stick with local database or Cloud Database. So as pointed by @mariobehling in meeting, that what if we get thousands of u

[2018-05-15 07:29] ParthS007 commented on #764
Cost wise GCP is cheaper than AWS and the options provided by AWS are extensive and won't be used for an application of the stage of badgeyay.
We can use cloud functions that act in a similar way as AWS Lambda functions. So we can say firebase is a complete suite for all needs except the database.
For that while in development we can use localhost and when in productions we will switch to cloud in

[2018-05-15 07:57] vaibhavsingh97 commented on #764
@yashLadha @ParthS007 We will not use Badgeyay on cloud completely. The architecture I proposed only to dump data in database and S3. Also, we only need Lambda as for an even cal as these services listen to events or you can directly call the API provided by the services. Yes, @ParthS007 you are right, we need international credit/debit card but why are we bound to this? We should simply think abo

[2018-05-15 08:03] yashLadha commented on #764
See @vaibhavsingh97 GCP does hourly billing whereas i don't think AWS has hourly billing. Secondly when we are using Firebase Storage why not use the full suite. There is no need to write lamdba function as cloud functions does a better job at listening tasks related to the complete suite of service wheter it is authentication, database or storage. Also GCP provided a 12000 Rs. free value for one

[2018-05-15 08:06] yashLadha commented on #764
I think the thing you are saying @vaibhavsingh97 will be only be free for the free tier period and after that we have to follow the regular pricing [Link](https://aws.amazon.com/free/?awsf.default=categories%2312monthsfree)

[2018-05-15 08:12] yashLadha commented on #764
Ok @vaibhavsingh97 but still the pricing you can see is far less as compared to AWS.

[2018-05-15 08:14] yashLadha commented on #764
And the features I have already said. Can you provide a better proof? As you can see me and @ParthS007 are in favour of Firebase and the suite provided.

[2018-05-15 13:40] vaibhavsingh97 commented on #554
@yashLadha Now we don't need any deployment of documentation after merging of #460

[2018-05-15 14:34] vaibhavsingh97 commented on #707
I am working on it

[2018-05-15 17:49] yashLadha opened #766 "Adding Of Oauth in frontend"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

Addition of OAuth icons in frontend and redirection after successfull login

__Yes__ sending PR for the same.

[2018-05-15 17:52] gabru-md opened #767 "Remove jshintrc"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

eslint is better than jshint and having two linters on the same projects can cause conflicts.
therefore we must remove jshint.

PS : @ParthS007 @yashLadha @djmgit @vaibhavsingh97

**I will work on this**

[2018-05-15 18:01] ParthS007 commented on #707
Yes @vaibhavsingh97 , Please go ahead :+1:

[2018-05-15 18:16] gabru-md commented on #764
google cloud it is then ?

[2018-05-15 18:19] #762 closed

[2018-05-15 22:32] #767 closed

[2018-05-15 22:41] djmgit commented on #764
@yashLadha @vaibhavsingh97 @ParthS007 @gabru-md if you guys are satisfied with GCP then please go forward with it. @vaibhavsingh97 once this is confirmed please get started with setting up the badgeyay db service ASAP :)

[2018-05-15 23:03] #745 closed

[2018-05-16 04:34] ParthS007 opened #770 "Updating REST Endpoints for User Signup for Firebase Admin"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Working on it**

[2018-05-16 12:35] yashLadha opened #771 "Creating User Ember Data Model in frontend"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

Currently there is no user data model persistent in frontend that will give information of the user to the backend.

**Expected behaviour:**

There should be a persistent data model so that backend can look for the user who have send the request.

__Yes__ working on the same

[2018-05-16 16:32] ParthS007 opened #773 "Add Header for the frontend"
Sub-Issue - #629
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

Working on it.

[2018-05-16 17:44] prateekiiest opened #775 "merge_badge link is wrong"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

Leads to 404 error

**Expected behaviour:**

Should point to the code

**Steps to reproduce:**
Replace the link with correct one

[2018-05-16 17:44] prateekiiest commented on #775
Working on it

[2018-05-16 17:45] gabru-md commented on #775
please elaborate onto the issue ?

[2018-05-16 18:24] gabru-md opened #777 "Add badges to database models"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

Adding `badges` to postgresql database.

**Yes, sending a PR for the same**

[2018-05-16 19:57] #773 closed

[2018-05-16 19:58] #771 closed

[2018-05-16 20:32] #753 closed

[2018-05-16 20:33] #775 closed

[2018-05-17 03:36] yashLadha opened #780 "Refactoring the file upload form component in frontend"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

CSV is not uploaded and unable to send to the backend.

**Expected behaviour:**

File should get uploaded and sent to backend server.

__Working__ on the same.

[2018-05-17 10:14] #758 closed

[2018-05-17 14:38] gabru-md opened #781 "Add file uploaded to database"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

Currently the files uploaded are not registered into the database.
The issue is about adding the files uploaded to postgresql database.

**Yes I am sending a PR for the same**

[2018-05-17 16:49] #766 closed

[2018-05-17 16:50] #777 closed

[2018-05-17 17:27] ParthS007 opened #783 "Trigger Flake8 in Travis"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

Currently, Flake8 is run by Hound bot.
We can directly use the flake8 config to check linting and errors in Travis itself.

Open to claim

[2018-05-17 17:28] yashLadha commented on #783
Claiming :+1:

[2018-05-17 17:28] ParthS007 commented on #783
Sure @yashLadha  Please go ahead :+1:

[2018-05-17 17:37] vaibhavsingh97 opened #784 "Endpoints for admin for user management"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**
There are no endpoints for admins

**Expected behaviour:**
There should be endpoints for admins which should do following
- [x] Create new users
- [x] Look up users by different criteria such as uid, email or phone number.
- [x] List all the users.
- [x] Access user metadata including account creation date and

[2018-05-17 18:01] vaibhavsingh97 commented on #770
@ParthS007 This issue is duplicate of https://github.com/fossasia/badgeyay/issues/707
Also, in this issue, i had shown interest in that issue and you also asked me to work on that and now you had deleted the comment.
Ref: ![image](https://user-images.githubusercontent.com/8705386/40195150-4ad117fe-5a2a-11e8-8533-3e3ecc5370e2.png)

[2018-05-17 18:26] gabru-md opened #788 "Remove paths.py from utils folder"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

The file is unnecessary for now.
It was created initially but due to changes in style of development, It is no longer of any use.

[2018-05-17 18:26] ParthS007 commented on #788
claiming

[2018-05-17 18:26] gabru-md commented on #788
okay you can take.
send a pr asap :)

[2018-05-17 18:52] #788 closed, assigned to nobody

[2018-05-17 18:53] #783 closed

[2018-05-17 19:15] #770 closed

[2018-05-17 22:27] gabru-md opened #790 "adding generate badge functionality"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

Adding functionality to generate badges from uploaded images to the API server.

**Yes I will work on the same**

[2018-05-18 14:37] ParthS007 opened #793 "Implement actions in Signup"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

Currently, there is no action associated with buttons.

There should be an action associated with the buttons

Working on it.
Sub-Issue - #629