[2017-06-04 14:37] mariobehling opened #1 "Add Travis and Code-Checks"
Add travis and other code-checks to repo.

[2017-06-04 14:41] mariobehling opened #2 "Create a web page UI to upload CSV to generate a badge"
The CSV has four fields:
* Name
* Type (e.g. Speaker)
* Handle or Nick
* Organization/Project

[2017-06-04 14:43] mariobehling opened #3 "Autodeploy project to Heroku"
Autodeploy project to Heroku on each new merged commit.

[2017-09-03 13:22] jajodiaraghav commented on #2
Hi @mariobehling
I would really like to work on this issue. Although, Nothing has been specified about the backend technology. Should we use Flash or Nodejs for the UI?

[2017-09-03 13:32] mariobehling commented on #2
@jajodiaraghav Thanks for your interest. Best would be to follow the example of the Open Event Server. So Flask would be great.

[2017-09-08 12:19] nanspro commented on #1
@mariobehling  I  would like to work on this issue

[2017-09-08 13:13] nanspro commented on #1
.travis.yml file is already present
Can you specify what do you mean by Code-Checks

[2017-09-09 12:29] djmgit opened #4 "Duplicate badges"
Presently duplicate badges are being generated, is this intentional? If not then I would like to fix this.

[2017-09-09 12:33] djmgit commented on #4
[badges_1.svg.zip](https://github.com/fossasia/badgeyay/files/1289781/badges_1.svg.zip)

[2017-09-09 12:40] niccokunzmann commented on #4
Good question! This is to fold them in the middle, stick them into the badge holder and have the same badge regardless of wether you turn it around.

[2017-09-09 12:41] niccokunzmann commented on #4
There could be an option, though.. Maybe some people do need it only on one side.

[2017-09-09 12:48] djmgit commented on #4
@niccokunzmann yeah, if some one needs it on only one side then it is use less to print an extra image.
How about including a config file, maybe a config.json or config,csv and mentioning this in that, or we may use  a switch (via optparse) ?

[2017-09-09 13:03] niccokunzmann commented on #4
You can go for what you think is best.

[2017-09-09 13:50] djmgit commented on #4
@niccokunzmann okay, I am working on it.

[2017-09-10 07:53] jajodiaraghav opened #6 "Update the UI of the homepage"
Currently UI of App Generator is lacking Menu item in header and Version deployment info in footer.

Expected behaviour:
Add menu like Google/Susper on the top right corner (http://susper.com/)
Add Version deployment info to the bottom like http://staging.loklak.org

Refer: https://github.com/fossasia/open-event-webapp/pull/1465

[2017-09-10 07:54] jajodiaraghav commented on #6
I will submit a PR soon

[2017-09-10 07:56] jajodiaraghav opened #7 "Allow users to upload a PNG for Badge background"
Current UI only accepts a CSV file and uses certain predefined images. We should allow users to upload an image themselves

[2017-09-10 07:56] jajodiaraghav commented on #7
Working on it

[2017-09-10 07:58] niccokunzmann commented on #4
#5 intorduced a web UI. Thus adding a JSON configuration could be handy as it can be generated by the website, too. @jajodiaraghav How would you like to configure the badge generation?

- Command line Parameters
- JSON

[2017-09-10 08:01] jajodiaraghav opened #8 "Provide an option to select a PNG from default images"
Provide an option to choose from a set of default images (in /uploads folder) so that user can create badges without the need to upload images themselves. The user should be able to select one (multiple?) image from the set of images and upload a CSV to generate badges.

[2017-09-10 08:04] jajodiaraghav commented on #4
@niccokunzmann Best would be to use JSON just like we use in other projects. In case there is a requirement of a CMD line params, we can integrate in later :)

[2017-09-10 08:08] jajodiaraghav opened #9 "Allow downloading of badges in multiple formats"
Allow downloading of badges in multiple formats:

- [ ] ZIP file containing all SVGs and PDFs
- [ ] SVG
- [ ] PDF of individual set

[2017-09-10 08:09] niccokunzmann opened #10 "Use version pinning"
We want this app to work for a long time. Versions of modules change, please pin the version of the used python packages in the requirements.txt file. ([Reasoning](https://github.com/AllYarnsAreBeautiful/ayab-desktop/issues/56))

You can use pip-tools for this: `pip install pip-tools`.

[2017-09-10 08:12] jajodiaraghav commented on #10
Can I take this? Will submit a PR soon

[2017-09-10 08:12] niccokunzmann commented on #10
Sure, please let us know about your progress here.

[2017-09-10 08:23] niccokunzmann commented on #3
For starters, here is a guide. https://devcenter.heroku.com/articles/github-integration

[2017-09-10 08:37] jajodiaraghav commented on #10
@niccokunzmann I used pip-tools. Have a look :)

[2017-09-10 10:47] #10 closed

[2017-09-10 14:56] yashhere commented on #9
working on it.

[2017-09-11 05:04] jajodiaraghav opened #15 "Add option to input CSV values in a textbox"
As an alternative to uploading a CSV file, the user should also be able to enter CSV data in a textarea field and generated badges.

[2017-09-11 05:04] jajodiaraghav commented on #15
Claiming :rocket:

[2017-09-11 06:17] #6 closed

[2017-09-11 06:39] jajodiaraghav commented on #3
Can someone without admin access to the repo deploy to heroku? If yes, then I would like to work on this.

[2017-09-11 06:40] jajodiaraghav commented on #2
Can we close this issue. We have a web UI now :)

[2017-09-11 06:45] jajodiaraghav commented on #1
Hi @nanspro I think Mario is referring to adding tests to the repository so that we can prevent introduction of bugs in the project.

[2017-09-11 06:49] niccokunzmann commented on #2
#5 closes this.

[2017-09-11 06:49] #2 closed

[2017-09-11 06:49] #7 closed

[2017-09-11 06:53] niccokunzmann commented on #3
There are several things involved:
1. Add a configuration which can be deployed to heroku (possible for people without write access)
2. Create a hook which deploys this to heroku (possible for people with admin right, not me)

So, you can go ahead and create a "deploy to heroku button". If this is done, the admin has alsmost no effort, I believe, to add the hook.

[2017-09-11 07:00] niccokunzmann commented on #1
Ideas for tests:

- [ ] check that the input is in the SVG file
- [ ] check that the image is in the SVG file
- [ ] test that the uploaded image and configuration is used to build the result

These are very easy tests but useful bacause they introduce a restructuring which allows testing before more features are added and adding tests implies more rewriting without knowing whether it breaks a feat

[2017-09-11 09:26] jajodiaraghav commented on #3
I was testing the app by deploying to heroku. Link: https://badegyay.herokuapp.com/

The shell script `merge_badges.sh` doesn't work. It failed with error `sudo command not found`
Any idea how to fix this?

[2017-09-11 13:10] niccokunzmann commented on #3
Yes, sudo is not available under heroku. The build script needs some packages installed:
https://github.com/fossasia/badgeyay/search?utf8=%E2%9C%93&q=sudo&type=
You can remove this error by installing the packages before with a heroku config, if that is possible. While Heroku runs, you can not change the system too much.

[2017-09-11 13:12] niccokunzmann opened #16 "Duplicate code"
There are two merge_badges.sh files. Which one is the right one?
Please delete the one wich is not used.

[2017-09-11 16:09] jajodiaraghav opened #19 "Convert shell script to python"
The `merge_badges.py` file currently performs:
1. Converting SVG to PDF
2. Merging badges together in a single PDF

If it really necessary to perform these operations using shell? Can we convert the shell script to equivalent python script?

Ping @mariobehling @niccokunzmann

[2017-09-11 21:44] niccokunzmann commented on #19
It is a small script.. You could do that. I ask myself as a maintainer, (how) does it help other people to contribute?

I exchanged the languages - I do not care. The language is only a tool. If you can name a problem that the conversion solves, I am all for it.

[2017-09-11 21:48] #15 closed

[2017-09-11 21:55] niccokunzmann opened #20 "Create SVG-background (Inkscape+SVG editing issue)"
![](https://github.com/fossasia/badgeyay/raw/development/exhibitor.png)
The images like this have the following properties:

1. They have a **fix** color
2. They have a marker like "EXHIBITOR" written on them.

I would like to have my own text on thie beautiful background but with my own color.

**Possible Solution:**

Create an SVG file without the exhibitor text.
The triangles all have one color

[2017-09-12 02:50] S2606 opened #21 "Typo in error message"
changes in error message due to small typo

**Are you working on this issue?**
Yes

[2017-09-12 04:43] jajodiaraghav commented on #19
The problems that we could solve on eliminating the shell script:
1. Make it easier to deploy to Heroku.
2. Allow users to setup devenv in windows

[2017-09-12 05:18] jajodiaraghav commented on #19
I just successfully deployed the test branch to heroku. We do not need to remove the shell script. I will deploy the development branch in some time.

[2017-09-12 05:24] jajodiaraghav opened #23 "Add option to upload a zip file"
Add option to upload a zip file containing the corresponding csv+png files, and return the badges to download

[2017-09-12 05:25] jajodiaraghav commented on #23
Claiming :rocket:

[2017-09-12 06:01] S2606 opened #25 "Add templates for pull request and issues"
To follow the principles of contributing to FOSSAsia projects, templates for issues as well as pull requests need to be added

**Are you working on this issue?**
Yes

[2017-09-12 06:14] amitsin6h commented on #20
let me take this as my first contribution.

[2017-09-12 07:32] #21 closed

[2017-09-12 07:37] niccokunzmann opened #26 "Clarify who needs to be contacted for admininstrative changes"
Context: I would like to add @meets2tarun to the people who have write access as he is a maintainer.
I would like to add @jajodiaraghav to the people with write access because he has proven to be productive for the project and can merge and review other people's work.

Problem: I do not know who to contact for this.

Two solutions exist:
1. pass admin permissions to me so I can do this.
2. find an

[2017-09-12 08:03] niccokunzmann commented on #23
Why a zip file if we can upload the png file and the csv file as is? I think that this is not so clear for a user how to create a zip file from two files and upload it instead of uploading two files directly.

[2017-09-12 08:06] niccokunzmann opened #28 "Import from Open-Event"
This service should create badges for evetnyay. This is why it is called badgeyay.
Please allow a flow where I, as an eventyay-user can

1. Export the data from the event for a category of participants (speakers, VIP, orga, ...)
2. import this to the badgeyay frontend
3. choose the background image
4. generate the badges

Hints:

- There is a python file which generates the CSV file from the JSON

[2017-09-12 08:11] niccokunzmann opened #29 "Choose/change paper size"
The following paper sizes should be supported:

- A3 (this is currently supported but A4 is more important)
- A4 - this is used in Germany
- ?? - this is used in Singapore

This issue requires some research about:
- where do the next conferences of fossasia take place, which paper format do they use
- what are the dimension of the badges used there? name cards, A6, ???

Please share your research

[2017-09-12 08:18] jajodiaraghav commented on #23
We will have an alternate button which will slidedown the form for zip upload.
Currently the user can only upload one csv at a time. With this, they will be able to upload as many as required in a zip format and get the desired PDF containing all the badges with the corresponding background.

We can surely discuss in case you want changes in the implementation of the feature.

[2017-09-12 08:20] jajodiaraghav commented on #23
The ZIp file will contain for instance, 5 csv files, and their corresponding 5 PNG files for their background.
We will document the right format of the zip file to upload.

[2017-09-12 08:30] nanspro opened #30 "Download fail:NO FILE"
What is the workflow of website,when i uploaded png and csv files it says badge is ready download as pdf but it shows download fail NO FILE.
![workspace 1_007](https://user-images.githubusercontent.com/24641089/30315699-78fec1ec-97c2-11e7-8445-08b3c6c456b2.png)

However the uploaded files are downloaded in uploads folder but there is no badge so how are we returning user it's badge as pdf.
![works

[2017-09-12 08:31] niccokunzmann commented on #16
Re-opening because of https://github.com/fossasia/badgeyay/pull/24#issuecomment-328771313

[2017-09-12 08:33] #25 closed

[2017-09-12 08:34] niccokunzmann commented on #30
Can you check again with the updated version? #24 could have resolved this.

[2017-09-12 08:37] niccokunzmann commented on #23
The CSV file is an indermediate format only. #28 is the real use-case to me. However, if you think this is a real use-case, I will of cause merge. I can not judge that.

[2017-09-12 08:44] jajodiaraghav commented on #23
Let's put this on hold until we are done with #28 :)

[2017-09-12 08:45] niccokunzmann commented on #23
We can remove the label once #28 has proceeded and you think it should be removed.

[2017-09-12 08:47] nanspro commented on #30
i tried again
i uploaded camera.png.csv and camera.png (after removing them from uploads) then again it said download failed:no file and in uploads section it gets both uploaded files
Also what is generate_badges.py doing in uploads directory is it supposed to automatically run on uploaded files and return pdf ?

[2017-09-12 08:50] S2606 opened #31 "Add .editorconfig file"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [X] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/badgeyay

**Expected behavior:**
Linting purposes for python.

**Are you working on this issue?**
Yes

[2017-09-12 08:54] S2606 commented on #29
@niccokunzmann Wouldnt it be better if we ask for the paper dimensions based on the given options?

[2017-09-12 08:55] niccokunzmann commented on #30
@jajodiaraghav Do you have any ideas?

[2017-09-12 08:57] #31 closed

[2017-09-12 08:59] niccokunzmann opened #33 "Document how to use the file from #32"
**I'm submitting a ...**  (check one with "x")
- [X] bug report

**Current behavior:**

I do not know how to use to file.

**Expected behavior:**

I would like to read in the REAME file about the meaning of the file and the project guidelines which seem to be mainfested in the file.

**Related code:**

#32

[2017-09-12 08:59] mariobehling commented on #26
@niccokunzmann Gave you admin access and added them to the team. Keep it up!

[2017-09-12 08:59] #26 closed

[2017-09-12 09:00] niccokunzmann commented on #29
@S2606 I would like to understand:
- `better` than what?
- Which are the "given options"`?

[2017-09-12 09:06] S2606 commented on #33
@niccokunzmann This file is for linting as you know we have identation issues in Python. this file helps in maintaining one code style. Also this file is being automatically read by EditorConfig plugins of different IDE's and suitable adjustments are being made.

[2017-09-12 09:28] jajodiaraghav commented on #30
Hi @nanspro I am unable to reproduce the issue. I tried all the possible use cases and I received the downloadable pdf file. It works perfectly fine for me.
Possible reasons:
1. Did you rebase and pull the latest changes?
2. Please check if you have write permissions for the uploads folder

The generate_badges file pulls all the csv files in the uploads folder and generates a pdf. I was thinking o

[2017-09-12 09:28] nanspro commented on #30
My branch was few commits behind now it is working

[2017-09-12 09:29] #30 closed

[2017-09-12 09:38] jajodiaraghav commented on #9
Hi @yashhere How is it going?
Feel free to ask for help in case you need any :)

[2017-09-12 09:39] jajodiaraghav commented on #16
this has been fixed. Closing :rocket:

[2017-09-12 09:39] #16 closed

[2017-09-12 09:45] niccokunzmann commented on #9
If you share a link to your progress on github, this is useful for others.

[2017-09-12 09:52] S2606 commented on #33
@niccokunzmann Since i have clarified your doubt can we close this issue?

[2017-09-12 09:57] jajodiaraghav commented on #33
Hi, I think that we are asking for too much data in ISSUE_TEMPLATE
I think we can delete:
Related code, Other information & System information part

I would like to know what others think :)

[2017-09-12 09:58] S2606 commented on #33
@jajodiaraghav  yeah I think it needs to be removed. Sending an PR

[2017-09-12 09:59] jajodiaraghav opened #35 "Delete the residue files before upload process"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/badgeyay

The files generated from the previous upload might result in unwanted results. Best would be to check and delete the previous files before uploading new ones.

[2017-09-12 10:04] niccokunzmann commented on #33
@S2606

No. Documentation should be in a file and not in a closed issue.
I would accept `#` comments describing how to use the file. Specifically I would like to

- [ ] have your issue comment as a comment in this file
- [ ] have a link to at least one plugin you claimed exists in this description

In case you want other people to follow your guidelines, a plugin-description might not be enough fo

[2017-09-12 10:09] S2606 commented on #33
@niccokunzmann can i just provide the link regarding this?? it essentially contains things required?

http://editorconfig.org/#download

[2017-09-12 10:28] niccokunzmann commented on #33
Sure, this link is even more helpful!

[2017-09-12 11:34] nanspro opened #36 "No proper folders for badges and generate-badges.py, merge_badges.sh are present in uploads"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/badgeyay

**Current behavior:**

**Expected behavior:**

![workspace 1_009](https://user-images.githubusercontent.com/24641089/30323865-79191e6a-97dc-11e7-9d02-5a839bb774

[2017-09-12 11:35] #36 closed

[2017-09-12 11:41] nanspro opened #37 "Uploads folder contain code files and created badges folders"
**I'm submitting a ...**  (check one with "x")
- [x ] feature request
**Current behavior:**
 Uploads folder contains code files and created badges folder, which should not happen .

**Expected behavior:**
Uploads should only contain uploaded files and code files should be present in app/

[2017-09-12 12:35] meets2tarun opened #40 "Need of a webapp"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/badgeyay

A web app made up of flask deployed on Heroku which will trigger Travis with the required configuration to get required badges as a Github Release and provide i

[2017-09-12 12:43] jajodiaraghav commented on #40
Hi @meets2tarun
We already have a web app. Another issue has already been opened that specifies deployment in heroku

[2017-09-12 12:49] jajodiaraghav commented on #40
Run the app using `python app/main.py`

[2017-09-12 12:55] yashhere commented on #9
@jajodiaraghav, Sorry I was busy with some other work. I understand that the zip file will contain all the PNGs and SVGs. But when a user uploads another CSV file, the older data and CSV file is also there. So all-badges.pdf will contain images from both CSV files. So the zip should contain all the images generated till now? What about the second and third point? SVG and PNG of the latest files up

[2017-09-12 12:56] meets2tarun commented on #40
Yes, ok
But I'm asking to provide a GUI which can be easily accessed and used by a one who doesn't know to code.

It may result in dependencies problem too.

[2017-09-12 13:13] jajodiaraghav commented on #9
The zip file will contain:
1. all-badges.pdf
2. Individual pdf files generated
3. Individual svg files generated

The older data will be removed before uploading new files. Do not worry about them.
See #35

[2017-09-12 13:17] jajodiaraghav commented on #40
So is this issue similar to #3 ?

[2017-09-12 16:20] meets2tarun commented on #40
@jajodiaraghav
Absolutely not!

[2017-09-12 16:32] #9 closed

[2017-09-12 20:10] #33 closed

[2017-09-12 20:34] niccokunzmann commented on #40
@meets2tarun In which way is this different to #3 ?

[2017-09-12 20:50] niccokunzmann commented on #19
@jajodiaraghav sounds good.

[2017-09-12 21:43] #37 closed

[2017-09-13 01:22] djmgit commented on #19
@jajodiaraghav @niccokunzmann I would like to work on it

[2017-09-13 07:05] gabru-md commented on #40
So you want a drag and drop sort of UI that takes an image and then outputs the badge ?

[2017-09-13 07:29] #35 closed

[2017-09-13 07:31] niccokunzmann opened #47 "Errors should not pass silently"
**I'm submitting a ...**  (check one with "x")
- [X] bug report

**Current behavior:**

Please see the comment https://github.com/fossasia/badgeyay/pull/46#discussion_r138542555 for a description and context.
A generic error is caught and not printed out.

**Expected behavior:**

Errors should not pass silently.

**Steps to reproduce:**

Please see the comment https://github.com/fossasia/badgeyay/

[2017-09-13 07:33] niccokunzmann commented on #19
@djmgit Sure, please share your progress (not a complete solution) as soon as possible, so that all people interested can have a look, join and have fun with you 👍

[2017-09-13 07:38] niccokunzmann opened #48 "New Maintainer S2606 to join the team"
@S2606 is one of the largest contributors in terms of [commits](https://github.com/fossasia/badgeyay/commits?author=S2606) and requests to join the maintainer team.
I will add him.

[Read about becoming a maintainer](https://github.com/fossasia/badgeyay#maintainers)

[2017-09-13 08:07] gabru-md commented on #47
I'll do it! :+1:

[2017-09-13 08:09] niccokunzmann commented on #47
@gabru-md Hi, great to have you here. Have fun and don't forget to tell us if you don't :)

[2017-09-13 09:34] niccokunzmann opened #49 "Create Docker Container for web app"
**I'm submitting a ...**  (check one with "x")
- [X] feature request

**Current behavior:**

I would like to see an automated build of the web app running in a docker container. I have a server so I could host the web app.
There is something similar, #3 but docker is also an option.

**Expected behavior:**

Please
- [ ] Create a docker file which runs the web app
- [ ] deploy this file to a web se

[2017-09-13 09:35] S2606 commented on #49
@niccokunzmann I would like to create docker file

[2017-09-13 10:58] #4 closed

[2017-09-13 11:26] niccokunzmann commented on #49
@S2606 Sure, please go ahaead :)

[2017-09-13 12:41] jajodiaraghav opened #51 "Integrate a python linter"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/badgeyay

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

[2017-09-13 13:00] gabru-md commented on #47
@niccokunzmann i was wondering if we should check for all the errors?
I mean it could be better to log all the errors.

Thanks!

[2017-09-13 13:22] niccokunzmann commented on #51
Why is this needed?
Integrating a tool is only a means to achieve something. What would you like to achieve?

[2017-09-13 13:26] niccokunzmann commented on #47
All uncaught errors will be printed automatically.
If you catch a specific error, this is ok, if you know when it happens. Catching and `Exception` is too generic and should not be silent.
So, I would not log all the errors which I know can happen.
If you think, other errors should be printed, you can create a PR.

[2017-09-13 13:27] jajodiaraghav commented on #51
Linting the python code would ensure cleaner code and would prevent potential errors. It would also also eliminate syntactical discrepancies.

I saw linters integrated to other python projects in fossasia, hence added. We can discuss whether we need a linter for badgeyay or not :)

[2017-09-13 13:30] niccokunzmann commented on #51
We can add it. I hope they will not be used to turn away new contributors or make it harder to contribute. We could use them as a means for new contributors to improve the current code.

[2017-09-13 13:33] jajodiaraghav commented on #51
I have used the default config for pyflakes which is extremely lenient. It won't make it harder to contribute.
All we have to do is document the usage so that people do not forget to lint before pushing code.

on a side note, we should also document how to setup the dev env and how to run the app

[2017-09-13 13:47] jajodiaraghav commented on #3
Here is a little help in case someone wants to work on this:
1. https://github.com/jajodiaraghav/badgeyay/blob/heroku/Aptfile
2. https://github.com/jajodiaraghav/badgeyay/blob/heroku/Procfile
3. Add gunicorn in requirements.txt
4. Add symlink of requirements.txt in root folder

[2017-09-13 13:57] S2606 commented on #3
@jajodiaraghav I will work on this

[2017-09-13 14:46] niccokunzmann commented on #51
Sure, you can create an issue for this. I am sure a beginner is better at it than we are if we have set it up.

[2017-09-13 15:07] jajodiaraghav commented on #51
I didn't get you. How would a beginner be better at it?

We just have to specify two commands in the Readme.md file:
1. `pip install -r requirements.txt`
2. `python app/main.py`

[2017-09-13 15:34] niccokunzmann commented on #51
They would add how to install python and pip on their system, how to use the command line, how to clone, ...

[2017-09-13 16:30] S2606 commented on #51
I have an idea. How about we use CI for linting purposes?? like Hound CLI?? What do you think??
@niccokunzmann @jajodiaraghav

[2017-09-13 17:56] niccokunzmann commented on #49
Dear @fossasia/open-event-core,

I would like to add this as an official docker automated build to the [eventyay dockerhub organization](https://hub.docker.com/u/eventyay/).
Would you like to do this? Should I do it and join the org on dockerhub?
My dockerhub name is niccokunzmann.

[2017-09-13 17:58] #51 closed

[2017-09-13 19:56] pushkalkatara commented on #28
Hi, I am new to open source, I am familiar with Flask apps and wanted to contribute to the repository. I have setup the repo on localhost, I wanted to know where I can get the data which is to be exported and imported to badgeyay. A link would be helpful.

[2017-09-13 20:18] niccokunzmann commented on #28
For some test data, you can create an event on eventyay and download this. I will generate a anonymous data representing participants of a past event.

[2017-09-13 20:43] niccokunzmann commented on #28
[speakers.json-anonymous.zip](https://github.com/fossasia/badgeyay/files/1300904/speakers.json-anonymous.zip)

Here is anonymized data from eventyay.

[2017-09-14 06:43] jajodiaraghav commented on #29
Can we implement this configeration feature within the config JSON file that we are allowing users to upload along with the CSV?

[2017-09-14 06:46] jajodiaraghav commented on #8
I am a little confused regarding how this should be implemented.
Can we just add an optional `select-dropdown-input` containing the names of the default PNG files to choose from?

I would like to know what other people think about this.

[2017-09-14 07:29] niccokunzmann commented on #29
Yes, sounds good.

[2017-09-14 07:30] niccokunzmann commented on #8
1) I would like to see a list of all png files to choose from - they are very small but recognizable, like 30px wide.

[2017-09-14 07:34] jajodiaraghav commented on #8
Okay. Working on it :)

[2017-09-14 07:42] #3 closed

[2017-09-14 07:45] niccokunzmann opened #56 "Motivating Documentation"
**I'm submitting a ...**  (check one with "x")
- [X] feature request

**Current behavior:**

Currently, we have a deployment to heroku.

**Expected behavior:**

To make it motivating for others to contribute, we can tell them how long it takes for their changes to become live.

- [ ] Document how the automatic deployment works, where to find the deployed version
- [ ] Document what to do to get yo

[2017-09-14 08:33] gabru-md opened #58 "500 error on /upload - badges folder missing"
**I'm submitting a ...**  (check one with "x")
- [X] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/badgeyay

**Current behavior:**

Raises a 500 error on /upload
![ere](https://user-images.githubusercontent.com/25414121/30419725-52931936-992f-11e7-936d-e0aa5965fda9.png

[2017-09-14 08:41] #47 closed

[2017-09-14 08:52] niccokunzmann commented on #58
@gabru-md This is a great first-timer issue. Clearly formulated with hints on how to go further.

[2017-09-14 10:04] meets2tarun commented on #56
- [ ] Document to deploy your app locally, on Heroku and docker.

[2017-09-14 10:07] S2606 commented on #56
@meets2tarun I am sending a PR regarding that

[2017-09-14 11:19] meets2tarun opened #61 "For reviewing of the PR"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/badgeyay

While submitting a PR, now we don't have a way to review the PR.
Ways to review a PR, in increasing order of quality check

The person who made PR should give a

[2017-09-14 12:55] harshit98 commented on #61
@meets2tarun The Heroku deployment link can be only given by those who have repository rights. Maybe we can turn automatic deployment whenever a PR is made. Should I set up Heroku deployment?

[2017-09-14 13:43] gabru-md commented on #61
@harshit98
I didn't get your point.

The member who initiated a PR can always set up a Heroku App from their own forked repository. I did it myself. All i had to do was just
[code]

and it worked. :)
please correct me if i'm still not getting your point .

[2017-09-14 16:58] jajodiaraghav opened #62 "Create a demo video for badgeyay"
https://www.youtube.com/channel/UCQprMsG-raCIMlBudm20iLQ

Badgeyay doesn't have a demo video on Fossasia Youtube channel. Creating a demo and uploading in to the Fossasia channel would help us attract new contributors.

I would like to know what other people think about it :)

[2017-09-14 17:40] #58 closed

[2017-09-14 18:16] gabru-md opened #63 "UI bug on successful '/upload'"
**I'm submitting a ...**  (check one with "x")
- [X] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/badgeyay

**Current behavior:**

![by1](https://user-images.githubusercontent.com/25414121/30446396-f078819e-9980-11e7-9299-26ab1f4f35e7.png)

Footer overlaps the form wh

[2017-09-14 19:08] #56 closed

[2017-09-14 19:09] meets2tarun commented on #61
@gabru-md Yes, this is possible.
And the best idea is to make auto deployment on every PR.

[2017-09-14 20:45] Pk13055 commented on #63
I will work on this!

[2017-09-14 20:46] Pk13055 commented on #62
Can I create one? Or are you handling this @jajodiaraghav ?

[2017-09-14 21:33] niccokunzmann commented on #63
@Pk13055 Welcome! If you have any questions, please let us know.

[2017-09-15 00:40] S2606 opened #64 "Review for installation setup steps"
Check the installation steps on the docs folder and report any changes to be made .

[2017-09-15 05:23] jajodiaraghav commented on #62
@Pk13055 I am working on this one. But we can definitely make space for more videos.
Once we have the JSON config setup, you can make a demo video showing how to create a sample JSON file and upload it to get desired results. Sounds good?

[2017-09-15 05:40] Pk13055 commented on #62
Sounds good! Tell me when you're done

On Sep 15, 2017 10:53 AM, "Raghav Jajodia" <notifications@github.com> wrote:

[2017-09-15 05:42] nemaniarjun commented on #64
Local Installation: Since we are using python3, the pip command should be
`sudo -H pip3 install -r requirements.txt`

[2017-09-15 05:45] S2606 commented on #64
Hey @nemaniarjun thats a good point . What do you think @jajodiaraghav @niccokunzmann ?

[2017-09-15 05:46] nemaniarjun opened #65 "Clicking outside the Menu in Header should close it."
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/badgeyay

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

Right now to close the Menu (Dropbox?) one needs to click on the link again.
Clicking an

[2017-09-15 05:49] S2606 commented on #65
Hey @nemaniarjun  feel free for PR

[2017-09-15 05:50] S2606 commented on #65
And describe your problem as current behavior and expected behavior in future.

[2017-09-15 06:01] nemaniarjun opened #66 "Create PDF / ZIP only if the User asks for it"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/badgeyay

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

Right now if a user uploads a CSV - we are making SVGs, PDFs and ZIP - and then giving t

[2017-09-15 06:02] gabru-md commented on #66
I will work on it :+1:

[2017-09-15 06:04] nemaniarjun commented on #66
@gabru-md lets wait for the maintainers to discuss on this?

[2017-09-15 06:05] nemaniarjun commented on #66
Also this is a significant change, we can break it down into parts.

[2017-09-15 06:06] S2606 commented on #66
@nemaniarjun  how do you propose to break it into parts??

[2017-09-15 06:18] jajodiaraghav commented on #64
@nemaniarjun @S2606
I was thinking of setting up virtualenv for our app. This would make it easier.

[2017-09-15 06:19] nemaniarjun commented on #66
After going throught the code, I no longer thing its should be broken down. Instead while the rewriting of the shell script as a python3 script these changes can be incorporated.
(#19)

[2017-09-15 06:22] S2606 commented on #64
@jajodiaraghav Ok i will create Vagrantfile then.

[2017-09-15 06:52] jajodiaraghav commented on #64
I was talking about this: https://pypi.python.org/pypi/virtualenv
http://www.pythonforbeginners.com/basics/how-to-use-python-virtualenv

We do not need vagrant at the moment (not sure). But we should add instructions of using virtualenv in docs.

[2017-09-15 06:53] nemaniarjun commented on #65
Sorry, will keep that in mind :)

[2017-09-15 07:00] gabru-md commented on #66
I believe we will have to make different shell scripts for the very purpose.
These shell scripts can be activated as and when it is necessary.
Any thoughts @S2606 @nemaniarjun

[2017-09-15 07:04] nemaniarjun commented on #64
I can take this up, do we want to add a venv to the repo? or Just add instructions on how to make it locally?

[2017-09-15 07:08] nemaniarjun commented on #66
@gabru-md That was my point, we are going to convert the shell script into a python3 script (See issues #19)
So instead of going ahead and writing multiple shell scripts, wait for #19 to be completed and then do this issue.

[2017-09-15 07:11] gabru-md commented on #66
Can i work on it ? I'll add some argparse arguments which will determine which of the steps to carry. This will help us to maintain a single python file for all the purposes.
What do you suggest ?

[2017-09-15 07:24] S2606 opened #69 "Optimizing the flask app"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [X] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/badgeyay

This is regarding optimizing the web app

[2017-09-15 07:36] niccokunzmann commented on #64
@nemaniarjun You can add a venv. Sounds good. You can create a PR with the changes you would make to the tutorial.

[2017-09-15 08:20] #8 closed

[2017-09-15 15:01] jajodiaraghav commented on #1
Can I work on this?

[2017-09-15 17:54] niccokunzmann commented on #1
@jajodiaraghav Sure, you can create a PR and share the progress.

[2017-09-15 18:08] niccokunzmann commented on #1
If someone like to dig into how to test user interfaces of websites and flows, they can have a look at selenium. I would help to do the introduction. This is really something many projects need: How to test the UI flow.

[2017-09-16 06:02] Pk13055 commented on #63
Sure! I will have a pull within the day!

[2017-09-16 07:45] djmgit commented on #29
@niccokunzmann I would like to work on this :)

[2017-09-16 09:37] jajodiaraghav commented on #48
Can we close this? S2606 is a maintainer :)

[2017-09-16 10:39] jajodiaraghav commented on #1
Hi everyone, I was checking out a few testing packages and I couldn't figure out which one to use (CasperJS?). I do not have experience writing tests.
Also, most testing packages require npm. Is it fine to integrate npm to our repository and add the package.json file?

[2017-09-16 12:44] gabru-md commented on #66
@nemaniarjun If you merge #71 then I have made the necessary changes for asking the user to create either PDF or ZIP. Ping here whenever you merge #71 then I'll make a PR for this issue as well.
Thanks!

[2017-09-16 14:33] S2606 commented on #69
what do you think about this?? @niccokunzmann @jajodiaraghav

[2017-09-16 14:42] #48 closed

[2017-09-16 15:47] #66 closed

[2017-09-16 18:55] #65 closed

[2017-09-16 19:23] parimatrix opened #73 "Internal Server Error"
**I'm submitting a ...**  (check one with "x")
- [x ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/badgeyay

**Current behavior:**
On uploading any sample data and clicking upload, the site displays 500 Internal Server Error.

**Expected behavior:**
Should create the

[2017-09-16 20:41] niccokunzmann commented on #73
Can you show the error? The traceback and maybe a screenshot of this? Is there any more text? If you start the app, indebug mode, there could be even more output. Anything would help.

[2017-09-16 20:46] parimatrix commented on #73
@niccokunzmann Hi ! I have not setup the repo on my own. So I can't send you the detailed error. But I can give you a screenshot of the screen the user sees.
![screenshot 17](https://user-images.githubusercontent.com/25114873/30515894-3d329f5a-9b4e-11e7-8ae3-a76f3780390d.png)

[2017-09-16 20:50] niccokunzmann commented on #73
@parimatrix Great. If you set up the repo for yourself, you would go through the first steps, you go either way to contribute code. Would you like to set it up, retry what you do and see if the error still exists?
If you have any problems during that, you can post as much information as you can git to gitter or here.

[2017-09-16 20:51] niccokunzmann opened #74 "Deploy App in Debug Mode"
**I'm submitting a ...**  (check one with "x")
- [X] feature request

**Current behavior:**

As shown in #73, the app is currently deployed in production mode.

**Expected behavior:**

In order to understand errors in production and even report seldom errors, we could use a debug mode displaying the traceback.

**Steps to reproduce:**

See #73

[2017-09-16 20:59] niccokunzmann opened #75 "Change Error Page for 500 Error"
**I'm submitting a ...**  (check one with "x")
- [X] feature request

**Current behavior:**

Currently, as shown in #73, nothing is really displayed on an error page.

**Expected behavior:**

I would like to have the following displayed, all with as much explanation as possible:

- [ ] (1) traceback #74
- [ ] (2) installation information
  - [ ] (2.1) git commit/version number
  - [ ] (2.2) Python

[2017-09-17 02:46] S2606 commented on #75
@niccokunzmann I would like to work on this one

[2017-09-17 03:49] gabru-md commented on #73
I've provided with a fix for this very issue.
It is caused by a missing badges folder. The PR has been merged but has not been deployed yet i guess.
Because that PR seems to have fix this bug.
Please see : #59

[2017-09-17 03:53] gabru-md commented on #63
@Pk13055 any updates ?

[2017-09-17 03:57] gabru-md commented on #69
How exactly do you wish to optimize the web application ?
I would love to help but only if you could provide me with some insights
:D

[2017-09-17 05:32] djmgit opened #76 "Make merge_badges.py independent of linux commands"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/badgeyay

**Current behavior:**
merge_badges.py contains linux commands being executed from python code, this makes the app dependent on os.

**Expected behavior:**
Remov

[2017-09-17 05:35] djmgit commented on #76
I am working on it.

[2017-09-17 05:42] jajodiaraghav commented on #76
@djmgit Please do it in a separate file (do not delete current merge_badges.py). I still think we should have both the files in our system.

[2017-09-17 05:44] djmgit commented on #76
@jajodiaraghav ok, so should I modify the present python script or should I create a separate version?

[2017-09-17 05:49] jajodiaraghav commented on #76
Create a separate one! :)

[2017-09-17 05:49] djmgit commented on #76
@jajodiaraghav ok :)

[2017-09-17 06:04] S2606 commented on #63
@Pk13055 This bug is not only during the upload process but when the site starts.So please take it into consideration.

[2017-09-17 06:15] sounak98 opened #77 "Page not responsive"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/badgeyay

**Current behavior:**
The page is not responsive, gets distorted for smaller screen sizes.

**Expected behavior:**
The page should be responsive.

**Steps to re

[2017-09-17 06:16] sounak98 commented on #77
I would like to work on this.

[2017-09-17 06:17] S2606 commented on #77
@sounak98 Feel free to send a PR :)

[2017-09-17 06:27] jajodiaraghav opened #78 "Error message not showing up"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/badgeyay

[2017-09-17 06:27] jajodiaraghav commented on #78
Claiming

[2017-09-17 06:31] jajodiaraghav commented on #63
This is a priority design bug.

[2017-09-17 06:35] jajodiaraghav opened #79 "Not selecting any of the download types still generates PDF"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/badgeyay

The best way to fix this is to make it a required field, so that one should be selected.

[2017-09-17 06:35] jajodiaraghav commented on #79
Claiming 🎢

[2017-09-17 06:36] gabru-md commented on #78
What exactly is the issue ? Can you please explain ?

[2017-09-17 06:42] jajodiaraghav commented on #78
Clicking the upload button without uploading any file shows an error showing a CSV fil is required. Now it doesn't.

[2017-09-17 06:42] gabru-md commented on #79
It is because of an `else` command.
Replacing it with `elif` with a condition will solve this problem.
Cheers  :+1:

[2017-09-17 06:46] S2606 opened #80 "Validation error on entering data manually"
**I'm submitting a ...**  (check one with "x")
- [X] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/badgeyay

**Current behavior:**
Entering anything generates badges
![image](https://user-images.githubusercontent.com/18497513/30518653-cbf300ec-9ba1-11e7-818b-eddd5fcf0d

[2017-09-17 06:47] S2606 commented on #80
@jajodiaraghav @gabru-md @niccokunzmann I need your point of view in this

[2017-09-17 06:54] gabru-md commented on #80
I went through the sample CSVs to have an idea of what format should the manual data be.
But there were many samples and every sample had different arrangement of data( different number of rows etc) .
So we can normalise a format to be entered into the manual format.
This needs to be discussed. What do you say ?

[2017-09-17 06:56] S2606 commented on #80
@gabru-md Yeah i think we need to sort of define a protocol sort of stuff for this.Lets others give their opinion on this

[2017-09-17 07:01] jajodiaraghav commented on #80
I think this can be simply done in main.py file, and if the data entered is in incorrect format, we can just show them the error.

[2017-09-17 07:05] S2606 commented on #80
@jajodiaraghav Do we currently have a format of writing data manually?

[2017-09-17 07:06] jajodiaraghav commented on #80
The format can be specified as 4 comma separated words, in a line. Each line would generate one badge.
We can easily check this using the split() function and the len() function in Python

[2017-09-17 07:06] S2606 commented on #80
@jajodiaraghav Thank you and i will send PR for this

[2017-09-17 07:09] #78 closed

[2017-09-17 07:11] niccokunzmann commented on #76
There are several commands shell commands used. Th most parallel workflow would be to list each command/create an issue for each command and replacing each command in a separate pull-request. This way, your work can be taken on in case you sleep/pause.

[2017-09-17 07:12] niccokunzmann commented on #75
@S2606 Sure, which point?

[2017-09-17 07:14] gabru-md opened #82 "Guidelines for user"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [X] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/badgeyay

**Current behavior:**

**Expected behavior:**

There should be guidelines for user as well for the requested format of json or csv that user uploads.
**Steps to

[2017-09-17 07:15] gabru-md commented on #82
@jajodiaraghav @S2606 what do you say ?

[2017-09-17 07:15] niccokunzmann commented on #1
So, the JS packages are for nodejs. They can not be used here. UI testing is different from testing serverside Javascript. Please follow this tutorial to set up one initial test: https://engineering.aweber.com/getting-started-with-ui-automated-tests-using-selenium-python/

[2017-09-17 07:17] jajodiaraghav commented on #82
Instead of route, we could create a modal or a tooltip popover. What do other people think?

[2017-09-17 07:17] jajodiaraghav commented on #82
Instead of route, we could create a modal or a tooltip popover. What do other people think?

[2017-09-17 07:19] niccokunzmann commented on #82
I think, as a user, I will not read the text but just paste any data I have and see what comes out.

[2017-09-17 07:21] S2606 commented on #82
@niccokunzmann if user paste any data they should recieve an error that they cant paste any data.

[2017-09-17 07:23] niccokunzmann commented on #82
Okay, cool. Then I like to idea of the guidelines as a page and I would like to see them, when I paste useless data.

[2017-09-17 07:23] gabru-md commented on #82
I would work on this!
Any valuable suggestions?

[2017-09-17 07:37] #79 closed

[2017-09-17 07:59] jajodiaraghav commented on #73
I think this can be closed now. We have the error fixed :)

[2017-09-17 08:00] jajodiaraghav commented on #62
Waiting for #63 to close

[2017-09-17 08:00] niccokunzmann opened #84 "gabu-md as maintainer"
@gabru-md has proven commitment by commits, see [here](https://github.com/fossasia/badgeyay/commits?author=gabru-md) I add him as a miantainer. If you have any concerns, please state them here.
Otehrwise, we can close this after some time and if somthing comes up, we can have a discussion.

@gabru-md please read the [CCCC guide](https://rfc.zeromq.org/spec:42/C4) and the README file if you like to

[2017-09-17 08:04] meets2tarun commented on #62
@jajodiaraghav
Do you have the permission to upload the video on FOSSASIA youtube page?
If yes, go for it otherwise I can help you out.

[2017-09-17 08:31] jajodiaraghav commented on #62
@meets2tarun No I don't, but in codeheat.org, it is mentioned that we will be given access if we submit the video :)

[2017-09-17 08:38] #73 closed

[2017-09-17 08:54] gabru-md commented on #84
Yes i would definitely love to. Meanwhile I'll just read the guide . :+1:
Thank you!

[2017-09-17 09:03] jajodiaraghav commented on #1
@niccokunzmann Thanks a lot. This has clarified my doubts :)
I will create a PR soon and update my progress so that others can join in.

[2017-09-17 10:23] niccokunzmann commented on #62
- If you put the video under cc license, not youtube license, others can take the video and remix it.
- Also, before you close this, please paste the link to the video here. I would like to watch it and I guess, other would like it, too.
- We can also add it to the README, so people new to the repository get a video introduction.

[2017-09-17 10:58] S2606 opened #85 "Add virtualenv for dependency management"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [X] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/badgeyay

Right now the website has crashed due to importerror of urllib module. What i have proposed is to avoid this issue in future i have created a virtual environmen

[2017-09-17 12:08] niccokunzmann commented on #1
#87 added the basic test. I will create more issues...

[2017-09-17 12:08] jishnujayakumar opened #88 "Footer element overlapping!"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/badgeyay

**Current behavior:**
On submitting the input file to generate the output, the UI becomes like the one shown in the attached figure.[screenshot from 2017-09-17

[2017-09-17 12:09] jajodiaraghav commented on #63
@Pk13055 Are you working on this or can I work on it?

[2017-09-17 12:09] niccokunzmann opened #89 "Make travis run again"
**I'm submitting a ...**  (check one with "x")
- [X] bug report

**Current behavior:**

The current build of travis fails.
This is because the package selenium is not installed.

**Expected behavior:**

Create a

- `test-requirements.txt` file
- add the missing packages to it
- make travsi run

**Steps to reproduce:**

https://travis-ci.org/fossasia/badgeyay/builds/276493606

[2017-09-17 12:10] jishnujayakumar commented on #88
I want to work on it.

[2017-09-17 12:12] jajodiaraghav commented on #88
@jishnujayakumar This is a duplicate bug. Please see #63
You can claim this issue if Pk13055 doesn't reply within a day :)
This is a priority bug.

[2017-09-17 12:12] gabru-md commented on #88
There is already an issue of this sort and is already assigned. Have a look through the issues.
:+1:

[2017-09-17 12:12] niccokunzmann opened #90 "Split up tests"
**I'm submitting a ...**  (check one with "x")
- [X] feature request

**Current behavior:**

All the tests start with this line:

    self.driver.get('http://localhost:5000')

**Expected behavior:**

Put this line into the `def setup(self)` function and remove it from the tests.
This will make it so the line is run before all tests and we have less duplication

**Steps to reproduce:**

[2017-09-17 12:19] S2606 commented on #89
@niccokunzmann  I would like to work on this one

[2017-09-17 12:20] Pk13055 commented on #63
I am working on this. Was caught up with query server, will be submitting a
PR by tomorrow

On Sep 17, 2017 5:39 PM, "Raghav Jajodia" <notifications@github.com> wrote:

[2017-09-17 12:21] Pk13055 commented on #62
What's the status on this?

On Sep 17, 2017 3:53 PM, "Nicco Kunzmann" <notifications@github.com> wrote:

[2017-09-17 12:21] niccokunzmann opened #91 "Split up menu test"
**I'm submitting a ...**  (check one with "x")
- [X] bug report

**Current behavior:**

The menu test has several tests in it. https://github.com/fossasia/badgeyay/blob/development/app/tests/test.py#L16

**Expected behavior:**

Please split it up into three parts, one for each menu item.
For each part:
- create a new function
- describe why this test is needed to someone does not understand python

[2017-09-17 12:24] niccokunzmann opened #92 "Create one-click docker deployment button"
**I'm submitting a ...**  (check one with "x")
- [X] feature request

**Current behavior:**

Currently, I can only see a deploy to heroku button.

**Expected behavior:**

Please also create a deploy to docker button. You can find one here: https://hub.docker.com/_/wordpress/

"Try in PWD"

[2017-09-17 12:24] S2606 commented on #92
@niccokunzmann I would like to work on this

[2017-09-17 12:25] niccokunzmann commented on #89
Hi @S2606 great. Please add a PR for us to track progress and give input.

[2017-09-17 12:27] jishnujayakumar commented on #63
@Pk13055 Are you done with #88 or should I start fixing the bug because I am free right now.

[2017-09-17 12:27] niccokunzmann commented on #62
I think jajodiaraghav is woking on it: https://gitter.im/fossasia/badgeyay?at=59be59ca614889d4750adfe9

[2017-09-17 12:29] Pk13055 commented on #63
You can go ahead.

On Sep 17, 2017 5:57 PM, "Jishnu P" <notifications@github.com> wrote:

[2017-09-17 12:31] niccokunzmann commented on #63
@jishnujayakumar If you are faster, you can do it. Best would be to work together with @Pk13055. Noone has the right to block progress. @Pk13055 can share the progress in a pull-request with [WIP] = work in progress.

[2017-09-17 12:33] niccokunzmann commented on #1
#89 #90 #91 should cover this now. Thanks @jajodiaraghav! We can create more issues...

[2017-09-17 12:33] #1 closed

[2017-09-17 12:37] niccokunzmann opened #93 "Test the main workflows"
**I'm submitting a ...**  (check one with "x")
- [X] bug report

**Current behavior:**

Currently, we have basic testing.

**Expected behavior:**

Please test the main workflows:

1. Insert data as
  - [ ] (1.1) json
  - [ ] (1.2) csv file
  - [ ] (1.3) eventbrite link
2. for each request downloading as
  - [ ] (2.1) svg
  - [ ] (2.2) zip
  - [ ] (2.3) pdf
3. submit the data
4. download what is ex

[2017-09-17 12:39] niccokunzmann commented on #89
https://github.com/fossasia/badgeyay/blob/development/app/tests/test.py#L9 - uses firefox as a driver.
You might need to install phantomjs - a browser without a user interface - to make it runnable on travis.

[2017-09-17 13:24] jajodiaraghav commented on #62
Hi all, I haven't made the video yet due to the design bug present in the app. #63 must be closed in order to make the video.

[2017-09-17 13:59] jajodiaraghav commented on #93
Claiming 🚀

[2017-09-17 16:47] sounak98 commented on #77
@S2606 I've sent a PR. Please review.

[2017-09-17 17:15] nanspro opened #97 "main.py not running, no module named urllib2"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
**Current behavior:**
![workspace 1_012](https://user-images.githubusercontent.com/24641089/30523135-98b4639e-9bf9-11e7-9674-a7da0a5bf2e9.png)
Can't run file main.py
**Expected behavior:**
File should run server with http://127.0.0.1:5000

**Steps to reproduce:**
Changing urllib2 to urllib.request in generate_csv_eventyay.py  will res

[2017-09-17 18:18] #77 closed

[2017-09-17 18:35] niccokunzmann opened #99 "Change administrative branch policy?"
Currently, we have these options enabled:

![grafik](https://user-images.githubusercontent.com/564768/30523706-4b620762-9be6-11e7-926e-ef1d190bd675.png)

I ask myself the following:
- is having the branch up-to-date is required? Usally, it works even when one merges if the tests pass. If we scale up, it also means that for each open pull-request, all other people have to merge the master again. On

[2017-09-17 18:37] #97 closed

[2017-09-17 21:40] #90 closed

[2017-09-17 22:13] Pk13055 commented on #99
@niccokunzmann  Could the same consideration be thought of for query-server? A large number of PRs are hindered by not being up to date.

[2017-09-17 22:15] niccokunzmann commented on #99
@Pk13055 Sure, you can create an issue there andreference this one, if you like. As a maintainer, I like to have the code flowing and the people spending their time coding&collaborating and not waiting/doing formal stuff.

[2017-09-18 00:27] S2606 commented on #85
I guess since website is up and running again we dont need this

[2017-09-18 00:27] #85 closed

[2017-09-18 02:11] rupav commented on #20
@niccokunzmann
I would like to work on this.

[2017-09-18 02:34] #89 closed

[2017-09-18 02:47] #91 closed

[2017-09-18 02:57] S2606 opened #105 "Add Hound CLI"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [X] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/badgeyay

This would help new contributors provide good pull request

[2017-09-18 02:58] #92 closed

[2017-09-18 03:01] jajodiaraghav commented on #49
Can we close this issue or should we wait for fossasia/open-event-core's response?

[2017-09-18 03:01] #19 closed

[2017-09-18 03:03] jajodiaraghav commented on #80
@S2606 Are you working on this, or can I claim this?

[2017-09-18 03:03] jajodiaraghav commented on #29
@djmgit Any update on this?

[2017-09-18 03:07] S2606 commented on #80
@jajodiaraghav  I am working on this

[2017-09-18 04:26] S2606 commented on #84
@niccokunzmann Can we close this issue since gabru-md is a maintainer :)

[2017-09-18 04:47] vaibhavsingh97 commented on #75
@niccokunzmann can I work on pont 1 and point 5?

[2017-09-18 05:50] jishnujayakumar commented on #88
#63 #88 Solved by @Pk13055

[2017-09-18 05:50] #88 closed

[2017-09-18 06:53] niccokunzmann commented on #105
Sorry @S2606, I can not understand which problem you solve by adding hound cli. Could you explain this?

[2017-09-18 06:59] niccokunzmann commented on #20
@rupav Sure, welcome! If you need anything, please let us know. Also, if you created a prototype instead fo an allaround perfect 100% forever solution, please also let us know :)

[2017-09-18 07:02] niccokunzmann commented on #49
I think, we had no response... So, I will host it at an other org.

[2017-09-18 07:04] niccokunzmann commented on #49
Hm, this is not possible.

[2017-09-18 07:08] niccokunzmann commented on #49
Okay, I manually edited the url for adding an automated build and it may work: https://hub.docker.com/r/badgeyay/badgeyay/builds/

[2017-09-18 07:09] niccokunzmann commented on #92
@S2606 Sure :)

[2017-09-18 07:26] niccokunzmann commented on #80
@S2606 Could you share your progress?

[2017-09-18 07:26] niccokunzmann commented on #80
You can collaborate, e.g. on the same branch.

[2017-09-18 07:27] #84 closed

[2017-09-18 07:28] niccokunzmann commented on #75
@vaibhavsingh97 Welcome! Sure, you can. If you like, share your progress as soon as you have some, so that others can learn and build on it even if it is not in the development branch.

[2017-09-18 07:32] niccokunzmann commented on #99
I will now switch it off. We can use it for 5 days and evaluate.

[2017-09-18 08:41] niccokunzmann commented on #49
That does not work. https://hub.docker.com/r/badgeyay/badgeyay/builds/bubhfi9bpvxbwtkwbvprgzd/

[2017-09-18 08:43] niccokunzmann commented on #49
If someone else likes to take on the conversation, it would be fine. If nobody does, we can close it after a while.

[2017-09-18 08:45] niccokunzmann commented on #49
I started here: https://gitter.im/fossasia/open-event-orga-server?at=59bf876fc101bc4e3ade536f

[2017-09-18 09:25] Pk13055 commented on #63
Fixed (hopefully) as of #109
![screenshot from 2017-09-18 14-51-46](https://user-images.githubusercontent.com/13479308/30535887-7089b512-9c81-11e7-9d97-6a837d7a06f8.png)

[2017-09-18 09:29] #63 closed

[2017-09-18 10:18] nanspro commented on #63
![workspace 1_014](https://user-images.githubusercontent.com/24641089/30537792-cdab9b46-9c88-11e7-95df-50fd6b78f4a3.png)
still not fixed

[2017-09-18 10:19] jajodiaraghav commented on #63
Let me investigate!

[2017-09-18 10:23] Pk13055 commented on #63
@nanspro You might not be on the latest push? It seems fine on my computer.
![screenshot from 2017-09-18 15-52-25](https://user-images.githubusercontent.com/13479308/30537977-88b481b4-9c89-11e7-8203-bd420e404d14.png)

[2017-09-18 10:24] jajodiaraghav commented on #63
@nanspro Cannot reproduce the issue.
Please rebase to latest!

[2017-09-18 10:25] jajodiaraghav commented on #63
The issue has been fixed!
@nanspro Never forget to pull from upstream before testing :)

[2017-09-18 10:33] nanspro commented on #63
![workspace 1_015](https://user-images.githubusercontent.com/24641089/30538254-c371d26a-9c8a-11e7-8c8f-17b3347812b6.png)
![workspace 1_016](https://user-images.githubusercontent.com/24641089/30538256-c5dae65e-9c8a-11e7-99c0-3863211c1a8d.png)
![workspace 1_017](https://user-images.githubusercontent.com/24641089/30538260-c99cd022-9c8a-11e7-803c-537cb6c4e36d.png)

Can you tell me what am i doing wron

[2017-09-18 11:02] jajodiaraghav commented on #63
Did you rebase you local?
1. `git checkout development`
2. `git pull upstream development --rebase`

[2017-09-18 11:02] #29 closed

[2017-09-18 11:07] nanspro commented on #63
![workspace 1_018](https://user-images.githubusercontent.com/24641089/30539349-99547ee2-9c8f-11e7-869b-290221104e98.png)
already up to date

[2017-09-18 12:34] S2606 commented on #80
@niccokunzmann I will surely send the PR in few hours.

[2017-09-18 12:35] rupav commented on #20
@niccokunzmann  you were referring to this image. Right? Which 'document' are you referring to in your comment ?
[(https://github.com/fossasia/badgeyay/blob/development/app/static/uploads/exhibitor.png?raw=true)]

[2017-09-18 12:39] niccokunzmann commented on #20
@rupav Thanks, yes, this is the image. I changed "document" to SVG file because that is what I mean.

[2017-09-18 13:10] rupav commented on #20
@niccokunzmann
One last ques.
As I earlier talked on gitter channel about this issue,I came to know that this is not codebase related issue.
So you basically want to get svg file created on Inkspace with your given requirements? I will work on this. :)

[2017-09-18 13:27] vaibhavsingh97 opened #110 "Overlapping of footer with the main container"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
footer overlaps the main container

**Expected behavior:**
its should stick to the bottom

**Steps to reproduce:**
1. Resize window to `1366x768` or less
2. Scroll to reproduce issue

 **Screenshots**
![image](https://user-images.githubusercontent.com/8705386/30544037-b13c05cc-9c74-11e7-9c9f-f5ac8d96244e.png)

*

[2017-09-18 13:30] S2606 commented on #110
@vaibhavsingh97 It looks like you havent updated your forked development branch as this issue is already being solved. Please update it.

[2017-09-18 13:41] vaibhavsingh97 commented on #110
@S2606 Yeh! it's resolved. 😄
Sorry!! I forgot to update. Since it's resolved so closing this issue :)

[2017-09-18 13:41] #110 closed

[2017-09-18 14:01] vaibhavsingh97 commented on #75
@niccokunzmann  i resolved point 1 😄

[2017-09-18 14:19] #74 closed

[2017-09-18 14:24] #105 closed

[2017-09-18 14:24] #80 closed

[2017-09-18 14:26] jajodiaraghav commented on #69
@S2606 Can you please explain what exactly are you looking for. The issue title is not clear to me.
Thanks :)

[2017-09-18 14:28] S2606 commented on #69
@jajodiaraghav Flask-compress is a module which acts just like gzip in nodejs. This helps in increasing speed of the website. I would ass this module in my next PR

[2017-09-18 14:29] gabru-md commented on #69
That is a brilliant idea.
:+1:

[2017-09-18 14:31] jajodiaraghav commented on #75
Once we have the 500 page merged, we can split this talk into multiple sub-tasks so that we can close this issue fast. @vaibhavsingh97 is working on creating a 500 page :)

[2017-09-18 14:32] jajodiaraghav commented on #69
Godd idea :)
Looking forward to the PR

[2017-09-18 14:43] gabru-md commented on #82
I'll be working on this now,
@niccokunzmann @jajodiaraghav
please give me the format of files so that i can add them in guidelines.
thanks!

[2017-09-18 14:44] vaibhavsingh97 opened #112 "No warning/error when not filling the required field"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
No warning/error message when we don't upload csv file (Required field)

**Expected behavior:**
It should give warning/error to user

**Steps to reproduce:**
1. Open `http://127.0.0.1:5000/` locally
2. Select the download type
3. Enter data (Caution: Don't upload any csv file)
4. Enter Eventyay url
5. Click on u

[2017-09-18 14:48] vaibhavsingh97 opened #113 "Website is down"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
Getting `Application Error`

**Expected behavior:**
Webiste should open normally

**Steps to reproduce:**
1. open [Badgeyay](https://badgeyay-dev.herokuapp.com/)

[2017-09-18 14:48] gabru-md commented on #112
@vaibhavsingh97 this issue seems a bit dizzy, can you please clarify what is the issue ?

[2017-09-18 14:48] S2606 commented on #113
@vaibhavsingh97 its being fixed

[2017-09-18 14:51] vaibhavsingh97 commented on #112
@gabru-md I updated the issue 😅

[2017-09-18 14:54] gabru-md commented on #112
@vaibhavsingh97

well If you upload data by entering it in the field then it *will* produce the pdf/zip file.
You can either upload a CSV or enter data manually. So entering either will produce the pdf/zip.

the `steps to reproduce` is the column to specify *how would you solve the issue? ( if you can )*
It is not about how to *see* the issue.
please note this next time.

[2017-09-18 15:03] gabru-md opened #114 "update Readme"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**

- [ ] Modify Implementation Paragraph
- [ ] Modify Output Paragraph

**Expected behavior:**

**Steps to reproduce:**
- changing `merge_badges.sh` with `merge_badges.py`
- add stuff about different download types ( pdf/zip )

Will work on this!

[2017-09-18 15:04] gabru-md commented on #114
Will do this.

[2017-09-18 15:21] gabru-md commented on #112
@vaibhavsingh97
am i clear? or am i still wrongly interpreting your issue ?

[2017-09-18 15:21] gabru-md commented on #112
PS : @jajodiaraghav @S2606

[2017-09-18 15:59] niccokunzmann commented on #20
So "not codebase" means, that you do not need to setup the project, write python code, ...
So, in this issue you can focus on the basics: create a contribution, create a pull-request, get it approved.

[2017-09-18 16:27] #113 closed

[2017-09-18 17:20] niccokunzmann commented on #82
csv with max. four lines
example JSON here, please include most important attributes, see the code:
[speakers.json-anonymous.zip](https://github.com/fossasia/badgeyay/files/1311587/speakers.json-anonymous.zip)

[2017-09-18 17:46] vaibhavsingh97 commented on #112
@gabru-md Understood 👍
Still we get internal server error if we left Eventyay Url blank 😅

[2017-09-18 21:30] nanspro commented on #28
i would like to work on this issue

[2017-09-18 21:31] nanspro commented on #28
Can you describe what shall be done ,fully

[2017-09-18 21:33] nanspro commented on #28
also what is the  use of eventyay_export_anonymizer.py
and speakers.json-anonymous.json in our project.

[2017-09-18 21:33] nanspro commented on #28
@niccokunzmann

[2017-09-18 22:47] #114 closed

[2017-09-19 05:12] sounak98 opened #118 "footer not at the bottom of page"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Footer is not how it should be.
![screenshot from 2017-09-19 10-38-29](https://user-images.githubusercontent.com/22390515/30576645-e7e01b88-9d26-11e7-95ff-fc968fcda34d.png)

**Expected behavior:**

Footer should be at the bottom of the page.

I'm working on this.

[2017-09-19 05:15] gabru-md commented on #118
@sounak98
Please have a look here : #109
I guess it is already solved.

[2017-09-19 05:15] S2606 commented on #118
@sounak98 I am running it on my local machine and this error isnt happening. Are you running on updated branch?

[2017-09-19 05:20] sounak98 commented on #118
@S2606 The updated branch had this issue. I am running it on my local machine.

[2017-09-19 05:24] gabru-md commented on #118
@S2606
These changes have already been done and are reflected on badgeyay-dev.herokuapp.com
I believe this issue to be irrelevant.
But i would still ask for your consideration.
PS : jajodiaraghav

[2017-09-19 05:43] sounak98 commented on #118
Yeah, I know. The changes are reflected on badgeyay-dev.herokuapp.com. It is not reflecting on my local machine though. It'll be good if you guys can check once.

[2017-09-19 05:46] S2606 commented on #118
@sounak98 I have checked in my local machine(its working fine) and it looks as if your local machine isnt updated(as far as i know). please check your commit history by using `git log --oneline` and match it with the last commit for more information.

[2017-09-19 05:48] jajodiaraghav commented on #118
I am unable to reproduce the issue. It looks fine on my local machine as well as on heroku deploy

[2017-09-19 05:49] #118 closed

[2017-09-19 07:18] niccokunzmann opened #119 "Make travis run the UI tests"
This is an issue for people who would like to learn basic quality assurance using tests for web applications.
**I'm submitting a ...**
- [X] bug report

**Current behavior:**

Currently, travis does not run the UI tests.
These are tests that click on the webpage of the application and make sure, certain uer/stories and work flows stay while we develop.

**Expected behavior:**

I would liketravis t

[2017-09-19 07:19] S2606 commented on #119
@niccokunzmann i would like to work on this

[2017-09-19 09:24] mish24 opened #122 "Write Selenium tests for the app"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

This is a feature request for adding selenium tests for the app. Currently it'll test the following:
* Test the online presence of the heading/titles etc.
* Correct message is shown when fields are left blank.
* UI tests for placements of buttons etc

[2017-09-19 09:25] vaibhavsingh97 commented on #119
@S2606 can we collaborate? I also want to work on this issue.

[2017-09-19 10:16] palnabarun commented on #64
@niccokunzmann  @jajodiaraghav  One question, why do you need to have a venv in the repo? A simple development setup instruction will suffice in letting the contributors know how to get started. What are your views?

[2017-09-19 10:19] niccokunzmann commented on #64
@palnabarun I would go with your decision. As a new contributor, you know best what new contributors need.

[2017-09-19 10:20] jajodiaraghav commented on #64
I agree with @palnabarun
The issue was opened for discussing the best approach. I think a dev setup instructions doc would do :)

[2017-09-19 10:22] palnabarun commented on #64
So, should I add Dev setup instructions [here](https://github.com/fossasia/badgeyay/blob/development/.github/CONTRIBUTING.md) ?

[2017-09-19 10:24] jajodiaraghav commented on #64
No. Please add it inside the doc/installation folder. and put the link in Readme.md later

[2017-09-19 10:24] mish24 commented on #122
I'm claiming this :D

[2017-09-19 10:28] niccokunzmann commented on #122
@mish24 Great! If you can create a pull-request as soon as you have a test, others can collaborate with you.

[2017-09-19 10:32] palnabarun commented on #64
A dev setup document is already there [here](https://github.com/fossasia/badgeyay/blob/development/docs/installation/local.md). This can be edited to add the virtualenv parts in between Point 1 and Point 2 in between the `Steps` section.

[2017-09-19 10:48] palnabarun commented on #64
One more thing, the local setup doc says to clone it from `fossasia/badgeyay` which I feel is not the right way. The contributor should first fork the repo, clone their fork and then add `fossasia/badgeyay` as an upstream repo. What are your views? @niccokunzmann  @jajodiaraghav

[2017-09-19 10:49] niccokunzmann commented on #64
This sounds good: It will remove the extra steps for adding a remote for their fork once they have a patch.

[2017-09-19 10:54] jajodiaraghav commented on #64
You are right! We must have overlooked this part while merging. It would be great if you could fix this as well :)

[2017-09-19 10:57] nanspro commented on #28
@niccokunzmann  @jajodiaraghav

[2017-09-19 11:08] niccokunzmann commented on #28
The anonymizer can be used to anonymize data from existing eventyay events because we can not publish the data of the participants. speakers.json-anonymous.json is such an anonymous json file. It can be used to test the applcation. Real world data shows bugs where test data sometimes does not - e.g. size of result/input, special characters

[2017-09-19 14:16] #64 closed

[2017-09-19 14:20] palnabarun commented on #49
One thing I noticed, the dockerfile builds from Ubuntu base image. Is there any reason for not choosing the `Python3:onbuild` image? @niccokunzmann  @S2606

I am asking this because if you had used the latter, all the intermediate steps would not have to be done and that would simplify the build.

[2017-09-19 14:22] S2606 commented on #49
@palnabarun Please try this on your local repo and send a PR regarding it

[2017-09-19 15:49] parth-p opened #125 "merge_badges.py not working"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
False False
/usr/bin/rsvg-convert
/usr/bin/python3
/usr/bin/pdftk
Traceback (most recent call last):
  File "merge_badges.py", line 27, in <module>
    input_folders = [file for file in os.listdir(BADGES_FOLDER)
FileNotFoundError: [Errno 2] No such file or directory: 'static/badges'

**Steps to reproduce:**
pyth

[2017-09-19 15:50] parth-p commented on #125
I would like to work on this.

[2017-09-19 15:52] nanspro opened #126 "Pdf not generated when we run main.py from directories other than app like python3 app/main.py."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
![workspace 1_019](https://user-images.githubusercontent.com/24641089/30601926-bd36d0fc-9d80-11e7-8a41-b94154f3e95e.png)

**Expected behavior:**
File should execute no matter what our current directory is.

[2017-09-19 15:53] gabru-md commented on #126
Please describe the bug in the issue body rather than the issue head!
kindly make the necessary changes so that it can be looked upon :)

[2017-09-19 15:55] S2606 commented on #125
@parth-p Sure go ahead and send PR

[2017-09-19 15:55] nanspro commented on #126
although this is not a bug but i think we should do something about this
or atleast update  README  that we should go to app in order to run the file.

[2017-09-19 15:55] gabru-md opened #127 "UnboundLocalError : 'filename' referenced before assignment"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Current behavior:**

When we enter data rather than uploading a csv we get this error.
![er](https://user-images.githubusercontent.com/25414121/30602002-3f2462b2-9d5b-11e7-931a-87b54a337f3c.png)

**Expected behavior:**

The process should carry out like always

**Steps to reproduce:**

[2017-09-19 15:56] nanspro commented on #126
@gabru-md  accidentally created issue without main body
Now it is updated.

[2017-09-19 15:56] gabru-md commented on #126
@nanspro can you please explain what is the bug exactly ?
Or what steps did you carry that led to the bug ? so that we can help :D

[2017-09-19 15:58] nanspro commented on #126
when i am present in badgeyay folder i run python3 app/main.py
then it showed error can't open merge_badges.py no such file or directory as shown in attached picture.

[2017-09-19 15:59] gabru-md commented on #126
the above message was sent before you posted the image. now the issue is clear.
:+1:

[2017-09-19 16:01] S2606 commented on #127
@gabru-md Can you please tell me when this is happening??

[2017-09-19 16:02] nanspro commented on #126
@gabru-md   i want to work on this.
Can you tell me is this a issue for which i should change code files or just update README with running instructions mentioning especially to move to app folder before running main.py

[2017-09-19 16:03] gabru-md commented on #126
Please have a look at the following commands
[code]
These commands do require one to be in the `app` folder . Yes! Readme can be updated in this case.
Thanks for pointing that out. :+1:

[2017-09-19 16:04] gabru-md commented on #126
@nanspro
- It would be great if you could try changing the code to make it work like you said.
- But if not then i would suggest you can change the readme.

Thanks!

[2017-09-19 16:05] nanspro commented on #126
Or we can find the directory in which main.py is present and then we will find merge_badges.py there instead of present directory
Anyway i would like to work on this.

[2017-09-19 16:06] nanspro commented on #126
ok @gabru-md  i am working on this then.

[2017-09-19 16:09] gabru-md commented on #127
@S2606
I tried to enter random data into the textbox and clicked upload. And this caused the error.
The actual text i entered was "asdf" :P

I just checked and it does cause an INTERNAL SERVER ERROR on herokuapp as well.
Screenshot below :

![we](https://user-images.githubusercontent.com/25414121/30602671-2f164190-9d5d-11e7-8813-5eed1e1749c7.png)

[2017-09-19 16:13] gabru-md commented on #125
@parth-p what is the error exactly ? because I am not getting any error on my localhost

[2017-09-19 16:22] sayak119 commented on #125
@gabru-md I think he is saying that there is no folder named badges in static. badges folder is in app

[2017-09-19 16:28] gabru-md commented on #125
The folder 'static/badges' is created by the `main.py` file with the following code
[code]
I believe that @parth-p tried to run `python merge_badges.py` and since `main.py` was not started , therefore no folder as 'static/badges' was created.
To clear up things : `merge_badges.py` is made to work with `main.py` and not as a single script.
Running it as a script on terminal will not provide any res

[2017-09-19 16:40] gabru-md commented on #127
@S2606 I've found a fix for this I'll be sending the PR soon.
Meanwhile this can be labeled as BUG.

[2017-09-19 17:17] jajodiaraghav commented on #126
@nanspro I still do not think this is a bug. If you still think you can fix this, send a PR!

[2017-09-19 17:19] #127 closed

[2017-09-19 17:25] nanspro commented on #126
ok i will try

[2017-09-19 17:26] jajodiaraghav commented on #125
This is incorrect! @parth-p Why do you want to run "python3 merge_badges.py"?
I think you are not aware of what the merge_badges.py is doing.
The app is run using `python3 app/main.py`

[2017-09-19 17:28] jajodiaraghav commented on #82
Any update @gabru-md ?

[2017-09-19 17:31] gabru-md commented on #82
yes! @jajodiaraghav
I have started working on it. Will be submitting a PR very soon, hopefully within some hours.
:D

[2017-09-19 17:31] jajodiaraghav commented on #75
@vaibhavsingh97 Any update?

[2017-09-19 17:33] vaibhavsingh97 commented on #75
@jajodiaraghav I will send PR by tomorrow. I had my exam today 😅

[2017-09-19 17:33] gabru-md commented on #125
@jajodiaraghav I believe we can close this and the PR as well?

[2017-09-19 17:35] jajodiaraghav commented on #69
@S2606 Any update?

[2017-09-19 17:38] vaibhavsingh97 opened #130 "json.decoder.JSONDecodeError while generating PDF"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
Getting error when generating pdf

**Expected behavior:**
Should generate pdf

**Steps to reproduce:**
1. Open `http://127.0.0.1:5000/`
2. Select csv file from samples
3. Enter Eventyay url
4. Click upload and error reproduced

Error log:
[code]

**Yes, I am interested in working on this issue**

[2017-09-19 17:40] jajodiaraghav commented on #125
@parth-p Can you please close the issue as well as the PR.
I also hope that this is not too discouraging to you. We would love it if you could claim some other issue and send a PR :)

[2017-09-19 19:03] nanspro commented on #126
Flask debugger is causing issues ,i am not able to resolve.
Shall i close this or let someone else try?

[2017-09-19 19:04] nanspro commented on #126
@jajodiaraghav  @gabru-md

[2017-09-19 19:11] gabru-md commented on #126
Can you give us the issue being caused ?

[2017-09-19 19:15] nanspro commented on #126
![workspace 1_021](https://user-images.githubusercontent.com/24641089/30610788-f330310a-9d9c-11e7-81cb-828ee3bc67ec.png)

[2017-09-19 19:15] nanspro commented on #126
![workspace 1_020](https://user-images.githubusercontent.com/24641089/30610794-f825125c-9d9c-11e7-9b08-9beeac2209fa.png)

[2017-09-19 19:17] nanspro commented on #126
Expected output
![workspace 1_022](https://user-images.githubusercontent.com/24641089/30610851-2d602c72-9d9d-11e7-9158-ce9e162f9bd9.png)
Debugger is not becoming active i think it's inbuilt property of flask.

[2017-09-19 19:18] nanspro commented on #126
@gabru-md

[2017-09-19 19:23] gabru-md commented on #126
The debugger seems to be running anyway.
But i would suggest you to propose a change in README stating that `python main.py` must be executed from the `app` folder within.
Work upon the readme @nanspro !

[2017-09-19 20:15] #126 closed

[2017-09-19 21:40] pushkalkatara commented on #130
Why do you want to select URL with CSV? When you enter EventYay URL, basically its the RESTFUL API's URL, which is a json result with the details of speakers or anything requested. Using this JSON data, it generates the CSV file, and print the PDF.

[2017-09-20 03:46] parth-p commented on #125
Ok I got it. i am closing it.

[2017-09-20 03:49] #125 closed

[2017-09-20 05:57] rupav commented on #20
Hi @niccokunzmann , I want to share my progress and need a suggestion:
![2017-09-20](https://user-images.githubusercontent.com/20624380/30628576-c8e16498-9df4-11e7-9ab3-3e0dd689401f.png)

So i created this abstract background( quite similar to the required one using 'voronoi diagram'). Now Here I have used 'pick color from layer 1' to color all the triangles, due to which all triangles are **Seper

[2017-09-20 06:33] #82 closed

[2017-09-20 07:00] sounak98 opened #133 "File Not Found Error"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

It is tryinng to find the file *.png.csv which doesn't exist.
![screenshot from 2017-09-20 12-26-46](https://user-images.githubusercontent.com/22390515/30630713-5bac1714-9dff-11e7-9392-a55b2f8c8d5d.png)

**Expected behavior:**

Should try to find the file *.

Would fix this.

[2017-09-20 07:03] niccokunzmann commented on #49
@palnabarun There are some packages required for PDF creation. I do not know how to install them using e.g. the small alpine image.

[2017-09-20 07:51] niccokunzmann opened #135 "Improve code quality (JavaScript or Python or Docker)"
Currently, we can see [issues with the code](https://www.codacy.com/app/fossasia/badgeyay/issues)

We remove most of them! A clean code improves readability and speeds up development.

Please see the [issues with the code](https://www.codacy.com/app/fossasia/badgeyay/issues) and remove some of them. Create a separate pull-request for each file you change. In some cases, you may want to setup the p

[2017-09-20 10:48] jajodiaraghav commented on #135
This is a first-timer issue. Can I still work on this?

[2017-09-20 11:03] pushkalkatara commented on #135
Can I work on this?

[2017-09-20 11:13] S2606 commented on #69
@jajodiaraghav Sorry for late reply.Was a bit busy. Regarding PR will send by tonight

[2017-09-20 11:51] gabru-md commented on #135
@jajodiaraghav wait for sometime if nobody picks this up then you may do it.
Cheers

[2017-09-20 15:42] #75 closed

[2017-09-20 15:47] ivanzaqqa commented on #135
can i still work on this now?

[2017-09-20 15:53] nanspro opened #137 "No error shown when only png file is uploaded."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
![workspace 1_027](https://user-images.githubusercontent.com/24641089/30653842-d5dca66c-9e49-11e7-8cda-a1f41016092e.png)
![workspace 1_024](https://user-images.githubusercontent.com/24641089/30653848-d9ee3612-9e49-11e7-8ca3-684080214089.png)

**Expected behavior:**
It should give an error like "No csv file found

[2017-09-20 15:56] gabru-md commented on #137
Will work on this

[2017-09-20 15:59] nanspro opened #138 "No error shown when only csv file is uploaded"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
![workspace 1_023](https://user-images.githubusercontent.com/24641089/30654162-c3764fae-9e4a-11e7-9960-f7e23ce1dd58.png)
![workspace 1_024](https://user-images.githubusercontent.com/24641089/30654169-c7309b5e-9e4a-11e7-9676-12d9f6b4bd15.png)

**Expected behavior:**
It should give an error like no png file found.

[2017-09-20 16:00] nanspro commented on #138
also when camera.png.csv is uploaded it returns pdf with camera.png as background image and csv file on it

[2017-09-20 16:00] nanspro commented on #138
![workspace 1_025](https://user-images.githubusercontent.com/24641089/30653977-3e25256e-9e4a-11e7-9f7d-38c7a11d57a9.png)

[2017-09-20 16:01] nanspro commented on #138
![workspace 1_026](https://user-images.githubusercontent.com/24641089/30653986-47519244-9e4a-11e7-94b5-2ecc1ab4148f.png)

[2017-09-20 16:04] nanspro commented on #137
i want to work on #137 and #138 if possible
else i want to work on #137.

[2017-09-20 16:07] gabru-md commented on #138
How is this a bug ? I mean Why should the webpage return an error when only CSV is entered?
It should produce a bug/error when CSV is not entered.
@nanspro Am i getting your issue right ?

[2017-09-20 16:10] jajodiaraghav commented on #138
@nanspro
In case the user uploads a file whose PNG is not present in the uploads folder (Default PNGs) we can just show an error that related PNG file is not found. That would fix this

[2017-09-20 16:12] nanspro commented on #138
@gabru-md  i have mentioned two issues here actually
-When we upload x.csv it doesn't give an error which it should because how can a badge be created without background png file but instead it returns  badge successfuly made.
-When we upload camera.png.csv only it doesn't give an error and produced an pdf with camera.png as background image. I don't know whether this is a issue or not but i think

[2017-09-20 16:15] nanspro commented on #138
@jajodiaraghav  what if we upload home.csv ?
What should we return as error in this case
-"Wrong Format of csv it should be *.png.csv"
-"Couldn't find home.png"
-"Please upload a png file"

[2017-09-20 16:17] nanspro commented on #138
@jajodiaraghav  are you saying we should always upload *.png.csv file and if it's png is not present in sample we should give an error?

[2017-09-20 16:21] gabru-md opened #139 "No PDF/ZIP with optional background"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request
Generates no file if a png if selected from the dropdown

**Current behavior:**

Generates no file if a png if selected from the dropdown
![err](https://user-images.githubusercontent.com/25414121/30655150-048916e8-9e28-11e7-86b1-f15faf20982b.png)

**Expected behavior:**

Should be generating the files for download.

**Steps to reprodu

[2017-09-20 16:25] jajodiaraghav commented on #138
If PNG is uploaded along with the CSV:
- Generate badges
If PNG is not uploaded along with the CSV (check in following order):
- Show error if name of csv not in right format [something.png.csv]
- Show error if relevant png not found

[2017-09-20 16:30] gabru-md commented on #137
@nanspro It does show an error on my localhost.
Can you make sure that your local fork is in sync with the `fossasia:development`
![231](https://user-images.githubusercontent.com/25414121/30655469-e0abc6ca-9e28-11e7-9602-10f3cf384e7e.png)

I tried it without
- no csv and no png
- png without csv

and it all seems fine.

[2017-09-20 16:30] nanspro commented on #138
if camera.png.csv and guest.png is uploaded should i give a error
@jajodiaraghav  @gabru-md

[2017-09-20 16:33] nanspro commented on #137
@gabru-md  try this:
- no csv and choose a png from dropdown

[2017-09-20 16:34] jajodiaraghav commented on #138
No. Then we want the badges to be generated!
In case this is not occurring, we can open another issue which you can work on once you are done with this issue.

[2017-09-20 16:37] gabru-md commented on #137
yes that does produce an error but that error is completely different from this one.
We want to remove that error and i've created another issue regarding it.
We want that badges should be generated and if only png is selected then throw error.

Have a look at : https://github.com/fossasia/badgeyay/issues/139

All the conditions will be taken care of within this issue . Seems good to you @nanspro

[2017-09-20 16:39] nanspro commented on #137
ya #139  seems fine @gabru-md

[2017-09-20 16:39] nanspro commented on #137
i am closing this then

[2017-09-20 16:40] #69 closed

[2017-09-20 16:49] invinciblycool commented on #135
I will be interested to take this, if anyone has not been working already.

[2017-09-20 16:50] #137 closed

[2017-09-20 17:42] gabru-md commented on #135
@ivanzaqqa and @invinciblycool
there are more than one files to be corrected.
So you can take one of the files and do the necessary changes and send in a PR.

[2017-09-20 18:05] devshiva619 commented on #135
I am a first timer and want to contribute to foss, can I get to work on this. This is would be my first ever contribution.

[2017-09-20 18:06] gabru-md commented on #135
Sure go ahead!

[2017-09-20 19:34] niccokunzmann commented on #135
@devshiva619 @ivanzaqqa @invinciblycool  Hi, you are welcome to contribute. If you have any questions or you like confirmation on how to go on, you can share this here and we can discuss and help. We can help eachother here or on the chat. https://gitter.im/fossasia/badgeyay

[2017-09-20 19:44] niccokunzmann commented on #135
This is an issue with a lot of small tasks, so you can work in parallel or collaborate as you see fit.

[2017-09-20 20:31] #138 closed

[2017-09-20 20:49] niccokunzmann opened #143 "Integrate Badgeyay into open-event-server"
**I'm submitting a ...**
- [X] feature request

**Current behavior:**

Currently, badgeyay is a standalone website.
I would like to have a one-click solution from eventyay to generate badges.

**Expected behavior:**

Please add a button to the [open-event-orga-server](https://github.com/fossasia/open-event-orga-server) to generate a badge for the list of speakers.

**Steps to reproduce:**

1. I go

[2017-09-20 21:02] gabru-md commented on #119
@niccokunzmann I can add the phantomJS installation code to .travis.yml .
I've done it before.
And then we can work on tests as well.

[2017-09-20 23:56] #139 closed

[2017-09-21 03:43] rupav commented on #20
Got the idea :), will submit my PR ASAP.

[2017-09-21 03:45] gabru-md commented on #76
@djmgit please share you progress

[2017-09-21 05:38] vaibhavsingh97 commented on #143
@niccokunzmann Can i work on this issue?

[2017-09-21 06:40] gabru-md commented on #143
sure go ahead.
Just keep us posted about it. And incase you need any help just comment below.
:)

[2017-09-21 09:53] niccokunzmann commented on #119
travis still does not show output from the tests:
https://travis-ci.org/fossasia/badgeyay/builds/278113797#L567

Is there output to be expected`?

[2017-09-21 09:58] S2606 commented on #119
@niccokunzmann maybe this lnk can help
https://ilovesymposia.com/2014/10/15/continuous-integration-in-python-5-report-test-coverage-using-coveralls/

[2017-09-21 13:29] ivanzaqqa commented on #135
@gabru-md i'm sorry what is PR?

[2017-09-21 13:31] gabru-md commented on #135
PR means Pull Request @ivanzaqqa

[2017-09-21 14:23] niccokunzmann commented on #135
When you have made changes in your repository, you can create a pull-request here: https://github.com/fossasia/badgeyay/pulls -> button "new pull request" and we can see the changes. If you are unsure, we can explain it more in detail. Please ask, then.

[2017-09-21 15:28] jajodiaraghav commented on #119
The output is expected in case the tests fails.

[2017-09-21 20:49] pushkalkatara commented on #143
Suggestion: Do we need the redirect? Directly printing speakers from the button on open-event-orga-server and all these steps in the background? @gabru-md @niccokunzmann

[2017-09-22 07:31] niccokunzmann commented on #143
Mario Behling suggested to wait and put the effort into refactoring. [source](https://github.com/fossasia/open-event-orga-server/issues/4475#issuecomment-331208493) Thus, we can not integrate it into badgeyay now. To me, this does not mean we should not investigate on how to do that.

[2017-09-22 07:47] niccokunzmann commented on #143
@pushkalkatara There are some settings like background image, paper size and download format. Somehow they need to be set. I think, the proposed way adds minimal changes to eventyay while using much of what is present in badgeyay.

In general, what do we all think about which changed need to be made?

[2017-09-22 07:57] vaibhavsingh97 commented on #143
@niccokunzmann what i think atleast that we can add just button and pass all the information of speakers to badgeyay and then user can choose the preferred type and background and can generate badge. But this solution will be inconsistent as UI of both eventyay and badgeya differ.
Another soution is that collect some in formation in eventyay only and instead od redirecting we can make use of API a

[2017-09-22 08:06] niccokunzmann commented on #143
I think, both is fine. Both require a predefined API which must be described and is binding. What we can not do is the following:
- implement an API without documentation
- use that API from eventyay
This has the folowing problems in the future:
then, when we change the API in badgeyay
- eventyay does not know that and breaks
- it is unclear which versions are compatible in case we would like to r

[2017-09-22 08:09] #119 closed

[2017-09-22 08:11] niccokunzmann opened #149 "Fix Travis tests"
**I'm submitting a ...**
- [X] bug report

**Current behavior:**

Currently, travis is failing.
https://travis-ci.org/fossasia/badgeyay/builds/278248341?utm_source=github_status&utm_medium=notification

**Expected behavior:**

Travis should run all the tests #147 and succeed.

**Steps to reproduce:**

Please create a pull request to work on this issue and submit commits which fix the errors.

[2017-09-22 08:15] niccokunzmann opened #150 "Use phantomjs only on travis"
**I'm submitting a ...**
- [X] feature request

**Current behavior:**

Currently, the phantomjs webdriver is used.
https://github.com/fossasia/badgeyay/blob/development/app/tests/test.py#L10

**Expected behavior:**

- Please add an if based on a useful environment variable to use
  - phantomjs in case of travis
  - firefox/... in case of desktop usage
- add documentation to teh Test Section in the

[2017-09-22 10:25] vaibhavsingh97 commented on #150
@niccokunzmann can i work on it ?

[2017-09-22 11:08] niccokunzmann commented on #150
@vaibhavsingh97 sure, you can.

[2017-09-22 14:32] #20 closed

[2017-09-22 14:33] pushkalkatara commented on #143
I would like to collaborate with @vaibhavsingh97 to work on this issue. We would discuss and find a workaround for the above-mentioned issue.

[2017-09-22 14:46] mariobehling opened #153 "Provide different badge backgrounds for different ticket types"
Implement the following use case:
1. Use an eventyay file with the list of participants holding different tickets.
2. Import the file and show a list of different ticket types, e.g. Speaker ticket, daily ticket etc.
3. Offer the possibility to upload a different background image for each ticket type (e.g. different colors for the badge) and a tick box "use the standard image"
4. Add a box to name

[2017-09-22 14:50] rupav commented on #153
@mariobehling
I would like to do this please.

[2017-09-22 14:51] gabru-md commented on #153
@rupav go ahead.
just keep us posted

[2017-09-22 15:38] jajodiaraghav commented on #133
Hi @sounak98
I think this issue has been fixed. Can you please check?
In case this isn't fixed, please send a PR.

[2017-09-22 15:40] jajodiaraghav commented on #76
@djmgit Are you working on this PR?
Please share your progress in case you are.

[2017-09-22 15:41] jajodiaraghav commented on #112
Is anyone working on this issue, or is it open for claiming?

[2017-09-22 15:49] jajodiaraghav commented on #130
I think, the best way to fix this would be to throw an error in case the user uploads a file along with filling the Eventyay URL field.

In case the Eventyay URL field is a standalone field, This could be specified on the label of the field.

[2017-09-22 16:56] vaibhavsingh97 commented on #112
@jajodiaraghav I am working on it. Please give me sometime

[2017-09-22 17:33] niccokunzmann opened #155 "Use SVG image"
**I'm submitting a ...**
- [X] feature request

**Current behavior:**

Currently, we can choose from a variety of badge backgrounds.
#152 introduced a new background picture.

**Expected behavior:**

Please allow an option to
- [x] (1) choose this background picture
- [x] (2) set the desired color
- [x] (3) set an image for the conference
- [x] (4) set a heading like "Speaker" or VIP

**Steps to r

[2017-09-22 17:44] pushkalkatara commented on #143
One approach may be :
1. Fetch required fields from badgeyay and display the fields on the eventyay web page. Like when user clicks on print badge button, all the feilds to be filled by ther user are fetched from badyay on the eventyay [Maybe a dialog box types].
Fetching would make it modular i think, as if badgeyay's fields are changed, automatically it would be fetched to the evenyay without ch

[2017-09-22 17:48] pushkalkatara commented on #155
I would like to work on this issue, to add this image to the available list and printing badges.

[2017-09-22 17:51] gabru-md commented on #149
I can try doing this!

[2017-09-22 18:03] niccokunzmann commented on #155
@pushkalkatara Sure :)

[2017-09-22 18:04] pushkalkatara commented on #122
@mish24 Are you working on this issue?

[2017-09-22 22:33] vaibhavsingh97 commented on #150
@niccokunzmann Can you guide me how can i fix point 2 and point 3 😄

[2017-09-22 22:35] vaibhavsingh97 commented on #149
@gabru-md Are you still working on this issue? Can i fix it 😄

[2017-09-22 22:38] vaibhavsingh97 commented on #143
@niccokunzmann We can go with @pushkalkatara Approach 😄

[2017-09-23 04:15] rupav commented on #155
@niccokunzmann  @pushkalkatara  I think this issue is a part of issue#153 , which also asks for color changing bakground option for different types of tickets. So @pushkalkatara, I would like to collaborate with you on this and #153.

[2017-09-23 07:21] pushkalkatara commented on #155
@rupav Awesome :+1:

[2017-09-23 07:26] pushkalkatara commented on #153
@mariobehling @gabru-md Please provide sample ticket data, types of tickets etc.

[2017-09-23 07:28] jajodiaraghav opened #157 "Prevent deletion of default backgrounds in /uploads"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

The default backgrounds gets deleted in case the name of PNG file uploaded is same as one of the images in /uploads folder.

Working on it!

[2017-09-23 08:05] pushkalkatara commented on #155
@rupav As you are familier with inkscape and making svgs, can you create a new svg with the background you generated, with the fossasia cover. Example -
![businesspass](https://user-images.githubusercontent.com/21266230/30771372-05f46ada-a064-11e7-9e42-6f13e263329c.png)

[2017-09-23 08:09] rupav commented on #155
@pushkalkatara, yes I will get this done ASAP :)

[2017-09-23 08:15] mish24 commented on #122
@pushkalkatara Yes! I'm sorry I thought we're supposed to send a PR when we've done considerable work. I'll add the tests I've written so far, so that others can build on it.

[2017-09-23 09:07] #157 closed

[2017-09-23 09:45] #76 closed

[2017-09-23 09:46] vaibhavsingh97 commented on #150
@jajodiaraghav Can you please guide me how to fix last two points? I don't think we need to add any environment variable in Travis

[2017-09-23 09:55] jajodiaraghav commented on #150
Just mention in the /docs that the user will have to setup a file something.env with TRAVIS=True

No need. You have handled this well in code!

[2017-09-23 09:59] jajodiaraghav commented on #150
@vaibhavsingh97 I think we did a little mistake. The if else statements should be reversed.
A better way to fix this is:
[code]

What do you think?

[2017-09-23 10:02] vaibhavsingh97 commented on #150
@jajodiaraghav I think the either way is correct. I am detecting the travis environment and you are detecting the local environment. If you want i can go with your solution

[2017-09-23 10:11] jajodiaraghav commented on #150
The .env file is not pushed to github, how will travis detect a .env if if there isn't any. I am not sure if the current code will work, I am also not much experienced with Travis.
If you think this will work, do not change it :)
Just add documentation so that the issue can be closed

[2017-09-23 10:13] S2606 commented on #150
@jajodiaraghav  you are right about it.In next PR .env file should be pushed

[2017-09-23 10:19] vaibhavsingh97 commented on #150
yeah, My next PR will add `.env` file and documentation

[2017-09-23 10:41] jajodiaraghav commented on #62
I have created a video. Link: https://vimeo.com/235126495

Feedback and criticism welcome :)
We will definitely need one more demo video showing the use of JSON config file. That can be done once this is closed.

@niccokunzmann @gabru-md @S2606 @meets2tarun @Pk13055

[2017-09-23 10:44] gabru-md commented on #62
@jajodiaraghav great work!
Cheers !

[2017-09-23 11:02] S2606 commented on #62
@jajodiaraghav  can i make that other video??

[2017-09-23 11:09] jajodiaraghav commented on #62
@S2606 I think you should consult @Pk13055 as he wanted to work on JSON config part.
Also, you might create a video on some other use case like manual data input instead of CSV, or selecting PNG from dropdown.
What do you think?

[2017-09-23 11:39] meets2tarun commented on #62
@jajodiaraghav
Nice one!

[2017-09-23 11:39] meets2tarun commented on #62
@S2606 You can go for the other video too.

[2017-09-23 12:11] #150 closed

[2017-09-23 12:18] vaibhavsingh97 commented on #130
@jajodiaraghav Will send PR 😄

[2017-09-23 12:26] jajodiaraghav commented on #62
Hi Tarun, I have seen a few videos of FOSSASIA's Youtube channel and found several demo videos without any audio. I don't think audio is compulsion for FOSSASIA. Besides, the primary goal of demonstration of BadgeYAY app is addressed.
We can definitely create more videos with audio in case it's necessary.

I use linux for development and Open Source. I just created the video on windows :)

Thanks

[2017-09-23 12:40] rupav commented on #155
@pushkalkatara I am done with putting "FOSSASIA" on top. Should i send a PR?

[2017-09-23 13:04] srungta opened #161 "Api secure key in code"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
The Travis.yml build script has a secret key checked in in code.

**Expected behavior:**
No secrets should be a part of the checked in code.

**Steps to reproduce:**
NA

[2017-09-23 13:07] gabru-md commented on #161
What do you propose we can do ?  @srungta

[2017-09-23 13:14] gabru-md commented on #155
@niccokunzmann I can try working on "setting the desired color to the image in #152"

[2017-09-23 14:45] pushkalkatara commented on #155
@rupav You should add a text element also, to write headings like speaker, buisness pass etc.

[2017-09-23 15:21] rupav commented on #155
@pushkalkatara , I have sent a PR. It also incorporates required Headings :)

[2017-09-23 15:29] srungta commented on #161
@gabru-md We can use an encrypted value as per guidelines here
https://docs.travis-ci.com/user/environment-variables/#Encrypting-environment-variables
Filed the bug to ensure this was being followed.
I might have been too hasty to file it without checking with the contributors.
Will close if it is already done.

[2017-09-23 15:43] S2606 opened #166 "Have a seperate directory for requirements"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**
We have two text-files requirements.txt and test-requirements.txt. Some packages like gunicorn are only used for production purpose and not dev purpose

**Expected behavior:**
have a seperate directory containing dependencies for dev,prod,test seperately

[2017-09-23 15:43] S2606 commented on #166
@niccokunzmann @jajodiaraghav @gabru-md Please give your opinion

[2017-09-23 15:44] gabru-md commented on #166
Sure go ahead!
:+1:

[2017-09-23 15:49] jajodiaraghav commented on #166
Please send a PR 👍

[2017-09-23 15:49] gabru-md commented on #161
Thanks for the link.
Will have a look and let you know

[2017-09-23 15:56] S2606 opened #168 "Badges not found"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Current behavior:**
![image](https://user-images.githubusercontent.com/18497513/30774768-bb00f434-a0a5-11e7-860f-ce77795085dd.png)
![image](https://user-images.githubusercontent.com/18497513/30774760-8ccfda9e-a0a5-11e7-97eb-bb6c859b0af4.png)

**Expected behavior:**
It should be downloaded!

[2017-09-23 15:57] S2606 commented on #168
@niccokunzmann @jajodiaraghav @djmgit @gabru-md @vaibhavsingh97 @nanspro

[2017-09-23 16:29] gabru-md commented on #168
IDK how this issue got closed : https://github.com/fossasia/badgeyay/issues/139
It is almost as same as this one.
@S2606 Actually the files are actually not created because the csv file is not read.
I was working on it but it got closed somehow by a PR.

[2017-09-23 16:29] gabru-md commented on #168
I would like to work on this with @S2606 .
Are you okay with collaborating on this issue? @S2606

[2017-09-23 16:34] S2606 commented on #168
@gabru-md I am ready to collaborate

[2017-09-23 16:35] gabru-md commented on #155
Reopened Issue

[2017-09-23 17:04] vaibhavsingh97 commented on #168
@S2606 yeah, it's an issue. I forgot to open 😛

[2017-09-23 17:27] pushkalkatara commented on #155
I am working further on this issue :D

[2017-09-23 21:13] pushkalkatara commented on #143
@niccokunzmann @gabru-md Can we proceed with the above approach?

[2017-09-24 04:27] jajodiaraghav commented on #62
Closed using https://www.youtube.com/watch?v=Gh8j_01LIoQ

[2017-09-24 04:27] #62 closed

[2017-09-24 08:04] gabru-md commented on #166
Closed by #171

[2017-09-24 08:04] #166 closed

[2017-09-24 08:05] gabru-md commented on #168
Wrongly Closed by #171
Therefore Reopened

[2017-09-24 10:53] gabru-md commented on #40
As discussed , this issue can be closed!
PS : @jajodiaraghav  @vaibhavsingh97 @S2606

[2017-09-24 11:05] #40 closed

[2017-09-24 16:18] niccokunzmann opened #172 "Add youtube video to README file"
**I'm submitting a ...**
- [X] feature request

**Current behavior:**

There is a youtube video about badgeyay: https://www.youtube.com/watch?v=Gh8j_01LIoQ

**Expected behavior:**

People who are interested in the project should be able to check that out in order to
get an overview about how it works.

**Steps to reproduce:**

- Edit the README file
- put the [video link](https://www.youtube.com/w

[2017-09-24 16:20] niccokunzmann commented on #143
Yes, I think, this can work. You do not have to wait for me if you like to try something out.

[2017-09-24 16:22] gabru-md commented on #143
Yes it is great! And i definitely believe in what @niccokunzmann said.
:+1:

[2017-09-24 16:24] niccokunzmann commented on #149
@vaibhavsingh97 You can work on it, too. Seems like @gabru-md does not share the progress so you can not collaborate.

[2017-09-24 16:26] gabru-md commented on #149
@niccokunzmann I could not find a fix for this.
I would love to take @vaibhavsingh97 's help on this matter

[2017-09-24 16:28] vaibhavsingh97 commented on #143
@niccokunzmann @gabru-md Thanks, we are going by this approach 👍

[2017-09-24 16:36] niccokunzmann opened #173 "Scaling up"
**Current behavior:**

For some time now, the progress on badgeyay is going on.
New maintainers were added: S2606,  jajodiaraghav, gabru-md

**Expected behavior:**

For the Community to scale up, I can not really add new maintainers as I do not know who else has contributed.
@S2606,  @jajodiaraghav, @gabru-md and @meets2tarun who else has contributed to this repository and should be named a mainta

[2017-09-24 16:42] jajodiaraghav commented on #173
Hi Nicco

I think @djmgit @vaibhavsingh97 and @pushkalkatara have shown good work recently :)

[2017-09-24 16:45] S2606 commented on #173
@nanspro @vaibhavsingh97 @pushkalkatara ....

[2017-09-24 16:45] gabru-md commented on #173
@nanspro @vaibhavsingh97 @djmgit :+1:

[2017-09-24 16:47] niccokunzmann commented on #173
Thanks, you can view the new list here: @fossasia/badgeyay-admin

[2017-09-24 16:51] niccokunzmann commented on #173
Hi @nanspro, @vaibhavsingh97, @pushkalkatara and @djmgit,

you now have the rights to merge other peoples' pull requests. If you like to take on the role of a maintainer, please read the [Maintainers Section](https://github.com/fossasia/badgeyay#maintainers). It can be edited if you find out new things to keep the project alive and welcoming for new and old contributors.

[2017-09-24 20:17] pushkalkatara commented on #173
Thank you @niccokunzmann @jajodiaraghav @S2606 @gabru-md. :D Loving open source

[2017-09-24 20:25] niccokunzmann commented on #173
Closing this. Nominations of maintainers are always open. Please use this right to give others the opportunity who do not know about it.

[2017-09-24 20:25] #173 closed

[2017-09-24 20:33] vaibhavsingh97 commented on #161
@gabru-md @srungta I don't find a need of encrypting the environment-variables. As we don't have anything secret in environment variable that doesn't mean to release in public so we can close this issue.

[2017-09-24 22:12] meets2tarun opened #174 "Unnecessary Redirecting of Requirement File"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

There are lots of unnecessary redirecting of [requirement](https://github.com/fossasia/badgeyay/blob/development/requirements.txt) file which is needed to fulfill the requirement to run the app.

**Expected behavior:**

Requirement file should be a single file.
Look into the links to check out how to proceed fu

[2017-09-24 22:22] meets2tarun commented on #161
https://github.com/fossasia/badgeyay/blob/development/.travis.yml#L16
This line contains the encrypted code.

@srungta It is necessary to put the encrypted key here to ensure a successful GitHub release.
Yes, one can even do [this](https://docs.travis-ci.com/user/environment-variables/#Defining-Variables-in-Repository-Settings) but it must be the unencrypted API key of the Admin of the repository

[2017-09-24 22:22] meets2tarun commented on #161
Feeling of no need, so closing !!

[2017-09-24 22:22] #161 closed

[2017-09-24 22:35] meets2tarun opened #175 "Readme Improvement"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

A minor fix in the [README.md](https://github.com/fossasia/badgeyay/blob/development/README.md)

**Expected behavior:**

- [x] Branches are very important for a repository. Need of a section with an anchor link which describes the branch-policy. [link](https://github.com/fossasia/open-event-webapp#issue-and-bra

[2017-09-25 04:12] gabru-md commented on #133
This issue can be closed then ? @jajodiaraghav

[2017-09-25 04:28] #133 closed

[2017-09-25 04:34] jajodiaraghav commented on #93
Closing as a duplicate of #122

[2017-09-25 04:34] #93 closed

[2017-09-25 04:35] jajodiaraghav commented on #130
@vaibhavsingh97 Please update your status on this

[2017-09-25 07:48] #49 closed

[2017-09-25 07:49] #99 closed

[2017-09-25 07:51] niccokunzmann commented on #28
@jajodiaraghav If you think, this is done, it can be closed. Right, this issues is open too long.

[2017-09-25 07:51] #28 closed

[2017-09-25 13:29] S2606 commented on #174
@meets2tarun There is a reason for this. We had two requirements.txt file,one for production and other for testing.Now in development packages like gunicorn are of no use. So i found this solution of having these requirements directed as they help in tracking dependency packages easily. Also projects in FOSSAsia like open-event-orga-server are using the same ideology

[2017-09-25 13:34] vaibhavsingh97 commented on #130
@jajodiaraghav I am really sorry, i don't know how i skipped this will send PR by EOD

[2017-09-25 13:44] vaibhavsingh97 commented on #175
@meets2tarun Can we break this into small sub-issues for point 3 and 4 for `new-comers`?

[2017-09-25 16:09] gabru-md commented on #122
@mish24 any progress?

[2017-09-25 16:18] meets2tarun commented on #175
@vaibhavsingh97 Go for it!

[2017-09-25 16:34] rupav commented on #155
@gabru-md @palnabarun  you can reopen this issue, as 3rd point in the checklist still need to be done.

[2017-09-25 17:03] vaibhavsingh97 commented on #155
@rupav Reopend 👍

[2017-09-25 17:12] rupav commented on #155
hi @pushkalkatara @vaibhavsingh97.  Following were the suggestions added in last two PRs related to this issues:
1). -Shifting to process to generate pngs through svgs for modularity rather then selecting pre-built pngs.
-This could solve problems like size of badges etc, all the problems related to design of badges.

2). Challenges ahead:
To change the height and width of the badge. Its difficult

[2017-09-25 19:01] #172 closed

[2017-09-25 19:10] vaibhavsingh97 opened #178 "Add technologies to README file"
**I'm submitting a ...**
- [x] feature request

**Current behavior:**
There is no technology section in the Readme

**Expected behavior:**
Readme should have  technologies we are using in the repository and how it work.

**Steps to reproduce:**
- Edit the README file
- Add technology information just like [this](https://github.com/fossasia/meilix-generator#technologies-used).

[2017-09-25 19:11] vaibhavsingh97 commented on #175
@meets2tarun Readme now alreday have link to Youtube video, we still need point 4?

[2017-09-25 19:14] vaibhavsingh97 commented on #155
@rupav I think we should go with first one. Please open a new issue so that we can discuss there 😄

[2017-09-25 19:14] ParthS007 commented on #178
Working on this @vaibhavsingh97 .

[2017-09-25 19:16] vaibhavsingh97 commented on #178
@ParthS007 This is issue is for first timers who are new to open source 😄

[2017-09-25 19:27] ParthS007 commented on #178
ohkk, but I have talked with @gabru-md regarding this.

[2017-09-25 19:41] nanspro opened #179 "Can't install dependencies from requirements.txt"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
Can't install  dependencies from requirements.txt
![workspace 1_030](https://user-images.githubusercontent.com/24641089/30827410-a201478c-a257-11e7-9a90-fd56c298b2fa.png)

[2017-09-25 19:46] nanspro commented on #168
I don't understand the issue,it's working totally fine for me.
![workspace 1_031](https://user-images.githubusercontent.com/24641089/30827575-335d19e0-a258-11e7-91a4-9ba66cb536cd.png)

[2017-09-25 19:46] nanspro commented on #168
@gabru-md  @S2606

[2017-09-25 19:58] vaibhavsingh97 commented on #168
@nanspro Click on Download as PDF and you will land on that mentioned page 😄

[2017-09-25 20:00] nanspro commented on #168
![workspace 1_032](https://user-images.githubusercontent.com/24641089/30828131-3f570268-a25a-11e7-83b2-a54e1e2f3009.png)
It seems to be working fine Can you please check it again @vaibhavsingh97 .
![workspace 1_033](https://user-images.githubusercontent.com/24641089/30828133-424640ce-a25a-11e7-8a45-71f8271dfa80.png)

[2017-09-25 20:05] vaibhavsingh97 commented on #168
@nanspro
When we open `http://127.0.0.1:5000/`
![image](https://user-images.githubusercontent.com/8705386/30828271-a1af950c-a22c-11e7-8511-30904225c844.png)
After uploading relevant csv and click on upload
![image](https://user-images.githubusercontent.com/8705386/30828287-b232453c-a22c-11e7-87d5-d9d0c530a8cc.png)
After generation of badge when we open the generated pdf
![image](https://user-image

[2017-09-25 20:47] nanspro commented on #168
![workspace 1_034](https://user-images.githubusercontent.com/24641089/30830184-bdf23b78-a260-11e7-8d47-e5afebeb8293.png)
After changing dots with '-' it gave correct output but again i don't understand when i clicked on downloaded file it shows the pdf.

[2017-09-25 20:50] #179 closed

[2017-09-25 20:58] vaibhavsingh97 opened #181 "Missing module from Requirements file"
**I'm submitting a ...**
- [x] bug report

**Current behavior:**
cairosvg not present in requirements file

**Expected behavior:**
cairosvg should be present in requirements file

**Steps to reproduce:**
- Try to run application using `python app/main.py`
- Terminal throws error `ModuleNotFoundError: No module named 'cairosvg'`

[2017-09-25 21:07] vaibhavsingh97 opened #183 "SVG file present in wrong folder"
**I'm submitting a ...**
- [x] bug report

**Current behavior:**
Sample folder contains SVG files

**Expected behavior:**
SVG should be present in Badges folder

**Steps to reproduce:**
- Open SVG Folder
- Move SVG files to Badges Folder

[2017-09-25 21:07] nanspro commented on #183
@surana-mudit

[2017-09-25 21:08] #174 closed

[2017-09-25 21:12] ParthS007 commented on #178
@vaibhavsingh97 can I proceed ?

[2017-09-25 21:12] vaibhavsingh97 opened #184 "Add version number to `pypdf2`"
**I'm submitting a ...**
- [x] bug report

**Current behavior:**
`pypdf2` does not contain version number in requirements file

**Expected behavior:**
`pypdf2` should contains version number

**Steps to reproduce:**
- Setup project locally
- Issue command `pip show pypdf2` to get the version number
- Add version number in requirements file

[2017-09-25 21:15] vaibhavsingh97 commented on #178
@ParthS007 As dicussed in #175 , this issue is for first timer only. You can pickup any issue from there and solve except this 😄 . We want that more people join onboard 👍

[2017-09-25 21:20] vaibhavsingh97 opened #185 "Change thumbnail of video in Readme"
**I'm submitting a ...**
- [x] feature request

**Current behavior:**
Thumbnail contains screenshot of video and user will not get that unless user hovers over image

**Expected behavior:**
User should get to know that this image will redirect to youtube

**Steps to reproduce:**
- Edit Readme file
- Replace current thumbnail with this
![untitled design](https://user-images.githubusercontent.com/87

[2017-09-25 21:40] vaibhavsingh97 commented on #149
@niccokunzmann Update: There are some issues with test written for desktop mode. I will fix and send PR and according to @gabru-md travis failing because of phantomJS. We are debugging, we will send another PR fixing the same 😄

[2017-09-25 21:53] niccokunzmann commented on #149
Cool. I regard tests as very important so that we do not destroy the work of others and have a hint at what the code does even after many weeks.

[2017-09-25 23:44] #181 closed

[2017-09-26 02:15] rupav commented on #155
@vaibhavsingh97  The first suggestion was written by @pushkalkatara . So It will be better to let him post, and explain the problem more clearly :). Albeit me and @pushkalkatara  are working on these issues, all we need are opinions/suggestions of the community :).

[2017-09-26 06:34] rahuldecoded opened #187 "Modify the Running Locally in README.md"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

Currently in [Running locally](https://github.com/fossasia/badgeyay#running-locally) doesn't contain every step to run the application locally.

**Are you working in this?**
*Yes*

[2017-09-26 06:48] gabru-md commented on #187
@rahuldecoded it is not a 'bug' but rather a left over feature.
Anyways thanks for the issue. And PR

[2017-09-26 07:47] vaibhavsingh97 opened #188 "UI/UX error"
**I'm submitting a ...**
- [x] bug report

**Current behavior:**
On clicking `Selecting a background`, the dropdown comes after the two fields

**Expected behavior:**
On clicking `Selecting a background`, the dropdown should come below the button

**Steps to reproduce:**
- open `http://127.0.0.1:5000/`
- click on `select a background` (Bug reproduced)

[2017-09-26 07:47] vaibhavsingh97 commented on #188
I am claiming this issue

[2017-09-26 08:04] niccokunzmann commented on #187
@rahuldecoded You can check and close the issue.

[2017-09-26 08:23] vaibhavsingh97 commented on #149
@S2606 Reopening as it's not completely fixed 😄

[2017-09-26 08:31] #187 closed

[2017-09-26 08:31] rahuldecoded commented on #187
@niccokunzmann Thanks

[2017-09-26 08:42] pushkalkatara commented on #188
This can be a first-timer issue also. Just need to edit the index.html.

[2017-09-26 09:56] ParthS007 commented on #175
@meets2tarun we can have a rule such that any assignee will have to update the progress in  every 2 days , if he is facing problem then others can work on it . Your views ?

[2017-09-26 09:59] ParthS007 commented on #175
@meets2tarun what should be in gif ?

[2017-09-26 10:05] gabru-md commented on #175
Gif must be a walkthrough of the application.

[2017-09-26 10:06] ParthS007 opened #192 "Logo for badgeyay"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behaviour:**
Site looks very simple

**Expected behaviour:**
We can  add a logo of badgeyay.

**Steps to reproduce:**
NA

[2017-09-26 11:11] ParthS007 commented on #175
Means it will have what we have in YouTube video.Right ?

[2017-09-26 11:46] niccokunzmann opened #195 "Document how to run the tests"
**I'm submitting a ...**
- [X] bug report

**Current behavior:**

I can not find any documentation about how to run the tests.

**Expected behavior:**

I would like to read about test in these places:

- The README file has a short section about the kinds of tests we use to run
- The documentation/test folder contains a section about how to setup and run the selenium tests

[2017-09-26 12:46] rupav commented on #192
Hi @ParthS007, @vaibhavsingh97. I would like to make a logo of badgeyay. Please Tell me inputs, what do you want in the logo. Should I ask on gitter channel?

[2017-09-26 12:53] meets2tarun commented on #175
As I mentioned that everyone doesn't have a fast internet connection, so basically gif is for those people only.

[2017-09-26 12:55] meets2tarun commented on #175
@ParthS007
I mean to state that if he is facing difficulty or not able to proceed further or not working on the task although the task has been assigned to him, then a rule that after a certain interval of time that person will dissociate from the task or something like that.

[2017-09-26 13:19] ParthS007 commented on #175
Yes, agreed.I am saying the same thing but time interval given depends on issue' complexity which we will have to discuss.Your views @gabru-md @vaibhavsingh97

[2017-09-26 13:26] ParthS007 commented on #195
I want to work on this @niccokunzmann. But I am  learning selenium related topics.will u plz explain on how to start on this issue .

[2017-09-26 17:01] #184 closed

[2017-09-26 22:42] pushkalkatara opened #199 "Shifting to SVGs for printing with prebuilt PNGs"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**

Currently, prebuilt PNGs are being fetched and printed. Only user-defined.png has an SVG on which user can select the background color and text and print badges.

**Expected behavior:**

The user selects an image from the list, adding a placeholder in HTML and CSS as [OPTIONAL] , if the user lefts the field emp

[2017-09-26 22:43] pushkalkatara commented on #199
@niccokunzmann @jajodiaraghav @gabru-md @vaibhavsingh97 @rupav  Please review this issue request.

[2017-09-26 22:47] pushkalkatara opened #200 "Color Picker integration for HEX color value for Background."
**I'm submitting a ...**
- [ ] bug report
- [X ] feature request

**Current behavior:**

The user has to enter Color's Hex code to change the background color and print it.

**Expected behavior:**

Color Picker which gives options to the user to choose from several colors.

**Steps to reproduce:**
Maybe helpful - https://farbelous.github.io/bootstrap-colorpicker/

[2017-09-26 22:55] #188 closed

[2017-09-27 08:08] plant99 commented on #200
Hi, @pushkalkatara
Can I work on the issue?

[2017-09-27 09:10] plant99 commented on #200
Do I have to integrate [bootstrap-colorpicker](https://farbelous.github.io/bootstrap-colorpicker/) or do I have to build a popup from scratch?

[2017-09-27 09:18] pushkalkatara commented on #200
Yes go ahead. Choose whichever is the best for the app.

[2017-09-27 09:44] gabru-md opened #201 "Remove optional tag from "Upload PNG as background""
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Current behavior:**

Since now we have to upload a PNG ( or choose from the dropdown ) therefore the optional tag must be removed from it.

![pn](https://user-images.githubusercontent.com/25414121/30906715-9da1537a-a370-11e7-82f8-c12cbc90f9b9.png)

**Expected behavior:**

the OPTIONAL tag must be removed from "UPLOAD PNG AS BACKGRO

[2017-09-27 11:14] kvaluruk commented on #178
Is this still open? Can I work on it?

[2017-09-27 11:14] plant99 commented on #200
I will integrate it first, then eventually try to build a new one from scratch, then integrate it.

[2017-09-27 13:54] ParthS007 commented on #192
yes @rupav discuss it on gitter channel.

[2017-09-27 16:46] ParthS007 commented on #175
I am working on gif part @meets2tarun.

[2017-09-27 18:08] #192 closed

[2017-09-27 21:38] #183 closed

[2017-09-27 21:39] #185 closed

[2017-09-27 21:41] #201 closed

[2017-09-27 21:43] nanspro commented on #168
@vaibhavsingh97  are you still facing this issue??

[2017-09-27 21:44] vaibhavsingh97 commented on #168
@nanspro Yes 😞

[2017-09-28 10:20] S2606 opened #208 "Deployment on other cloud platforms."
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**
Till now the project can be deployed only on Docker and Heroku

**Expected behavior:**
Branch out deployment into other cloud platform such as AWS,Kubernetes etc.

[2017-09-28 10:20] S2606 commented on #208
Please give me your views @fossasia/badgeyay-admin

[2017-09-28 10:36] vaibhavsingh97 commented on #208
@S2606 We can go ahead but we need documentation + implemented url link so please break this issue into small one 😄

[2017-09-28 12:00] mariobehling commented on #153
@pushkalkatara @rupav Please check the open event server and create sample data using Open Event: https://github.com/fossasia/open-event-orga-server

It would also be great, if this would work with an exported CVS of Attendees of Eventbrite.

[2017-09-29 00:34] nanspro opened #210 "UI/UX improvement of badgeyay"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Current UI is normal,it can be made better

[2017-09-29 00:36] nanspro commented on #210
As Badgeyay is a small project i don't think there is anything left in it technically so final enhancements which we can do is improve it's UI

[2017-09-29 00:36] nanspro commented on #210
@fossasia/badgeyay-admin  What do you guys think about this?

[2017-09-29 01:42] rupav commented on #199
@gabru-md  @vaibhavsingh97 @jajodiaraghav  What do you suggest? Please comment your opinion :)

[2017-09-29 02:01] #199 closed

[2017-09-29 10:26] meets2tarun commented on #210
@nanspro Great! We would love to see the new UI/UX. Make a PR.

[2017-09-29 10:35] gabru-md commented on #210
@nanspro great !

[2017-09-30 13:20] rupav commented on #135
[https://www.codacy.com/app/fossasia/badgeyay/file/10626798062/issues/source?bid=5114815&fileBranchId=5114815#l13](url)
![2017-09-30 2](https://user-images.githubusercontent.com/20624380/31046087-149e1796-a610-11e7-990e-15667c7e79aa.png)
@gabru-md @jajodiaraghav  can I work on this?

[2017-09-30 13:21] gabru-md commented on #135
Sure go ahead

[2017-09-30 13:21] S2606 commented on #135
@rupav Yes send a PR.. 👍

[2017-09-30 15:53] rupav commented on #135
@S2606 sent the PR :)

[2017-10-01 06:32] soumam007 opened #215 ""Command python setup.py egg_info" failed with error code 1 in ....""
Encountering an issue when using "pip install -r requirements.txt" in that I receive the error Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-build-b2Dq_k/cairosvg/"
 I searched all over the place, but I cannot find a solution. Just looking for some feedback as to what the problem could be. I have also attached a screenshot of the console so that you can see the error as w

[2017-10-01 06:36] vaibhavsingh97 commented on #215
@soumam007 No issues here
[code]

[2017-10-01 06:42] vaibhavsingh97 commented on #215
@soumam007 can we close this issue?

[2017-10-01 06:48] gabru-md commented on #215
@soumam007
Try `sudo apt-get update`
and
`suso apt-get upgrade`

[2017-10-01 07:14] nanspro commented on #215
@soumam007  sorry but the issue is with your PC, there is no fault in any of the configuration files.
It works fine for other users.
Shall we close this one @gabru-md ??

[2017-10-01 07:16] soumam007 commented on #215
ok you may :)

[2017-10-01 07:16] gabru-md commented on #215
Yes sure.
Closing it.

[2017-10-01 07:16] #215 closed

[2017-10-01 07:20] soumam007 commented on #215
@gabru-md  but what shall i do, can you suggest something(working in fedora-26)

[2017-10-01 09:00] ananyo2012 commented on #215
@soumam007 You are currently using python2 packages. But the python version for this app is python3. Try running `pip3 install -r requirements.txt` . You still may get an error saying `missing Header file Python.h` . In that case you need to install the `python-devel` package for Fedora. Install it using `dnf install python-devel`

[2017-10-01 09:25] gabru-md opened #216 "no module named `defusedxml.lxml`"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Current behavior:**

`defusedxml.lxml` is missing from `requirements.txt`

**Expected behavior:**

should not cause any error.

**Steps to reproduce:**
Add `defusedxml` to `requirements.txt`

**Yes I will work on this**

[2017-10-01 09:27] S2606 commented on #216
@gabru-md I just ran into the same error :) but even after installing defusedxml, this error pops out

![image](https://user-images.githubusercontent.com/18497513/31053333-d142ae72-a6b8-11e7-962d-24cd92c28e53.png)

[2017-10-01 09:34] gabru-md commented on #216
@S2606 this error is persistent, When i try to install `cairocffi` i get this error :
![screenshot at 2017-10-01 10-32-03](https://user-images.githubusercontent.com/25414121/31053383-cbe47cdc-a693-11e7-9009-46011db6c6fe.png)

I cannot get rid of this. But would like to work upon it.
meanwhile can you have a look through #217

[2017-10-01 09:43] ananyo2012 commented on #216
Hey all seems you all are using Fedora. Install the `python3-devel` and `python-devel` packages. It will solve the issue.

[2017-10-01 09:57] gabru-md commented on #216
yes i see and solved it .
Will be adding it to my PR Thanks!

[2017-10-01 10:05] #216 closed

[2017-10-01 17:05] meets2tarun commented on #210
@nanspro Please share your progress!

[2017-10-01 17:06] vaibhavsingh97 commented on #210
@nanspro If you findin any sort of problem than i am happy to collaborate

[2017-10-01 17:07] meets2tarun commented on #208
@S2606
You can try deploying it on the platform which you find.
If successful test the changes, and then we will include them in the documentation.

[2017-10-01 19:41] nanspro commented on #210
@meets2tarun  Due to Assignments i was not able to give time but i will work on this today and hopefully submit an PR by the end of the day.

[2017-10-01 19:42] nanspro commented on #210
I am thinking about using "Vuejs" for UI improvements.

[2017-10-01 19:43] nanspro commented on #210
@fossasia/badgeyay-admin  you can suggest some particular things we can improve in current UI

[2017-10-01 20:12] vaibhavsingh97 commented on #210
@nanspro Can you use some prototype tool and show us some desings you are thinking of. Then only we can add some inputs 😄
And Why `Vuejs`? Any specific reason?
We can use Angular v4

[2017-10-02 00:30] nanspro commented on #210
@vaibhavsingh97  I am currently  learning Vuejs as this will help me in My major project and i think it's cool

[2017-10-02 07:16] #178 closed

[2017-10-02 12:31] ananyo2012 opened #219 "Badges not generating in Local Installation: Conversion to PDF fails"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
Error Log:
[code]

**Steps to reproduce:**
Conversion to PDF fails due to non-debian based package manager

**System Specification:**
Fedora 26

**Browser:**
Google Chrome

[2017-10-02 12:35] vaibhavsingh97 commented on #219
@ananyo2012 I see ...do you have any alternative in mind?

[2017-10-02 12:41] ananyo2012 commented on #219
Here is the problem in [this line](https://github.com/fossasia/badgeyay/blob/20c8e007a01708488ed487fe9366b948e57410e5/app/merge_badges.py#L15). We shouldn't use the `apt-get` statement in the script as many developers use non-debian based distros. We can add the Step in readme to install the dependency or if we are really to stick to debain then move to Vagrant based installation completely (which

[2017-10-02 12:44] ananyo2012 commented on #219
I am willing to Take up this issue as per the suggestions.

[2017-10-02 13:10] ParthS007 opened #220 "To become a maintainer"
**I'm submitting a ...**
- [ ] bug report
- [ ] feature request

I want to take responsibility to add labels of hacktoberfest to the existing issues .

[2017-10-02 13:16] niccokunzmann commented on #220
@ParthS007 contributed in #218. According to the maintainer section, this issue nominates him to become a maintainer. ([source](https://github.com/fossasia/badgeyay#maintainers)).
I will add him, we can let the issue open for discussion and if there are no disagreements, close it after a few days. @fossasia/badgeyay-admin

[2017-10-02 13:32] pushkalkatara commented on #200
What is the status of this issue? Is it integrated?

[2017-10-02 13:33] vaibhavsingh97 commented on #200
@pushkalkatara @alirizwi needs to squash commits then we can merge his PR 😄

[2017-10-02 16:04] meets2tarun commented on #175
We need to solve the rest of the checkpoint.

[2017-10-02 16:23] alirizwi commented on #208
@S2606 @vaibhavsingh97 @meets2tarun, Can I work on this issue as I want to learn deployment on AWS?

[2017-10-02 16:23] S2606 commented on #208
@alirizwi Sure go ahead and send a PR..

[2017-10-02 16:24] S2606 commented on #208
@alirizwi Dont forget to create a seperate issue for that

[2017-10-02 16:27] meets2tarun opened #222 "Deployment on AWS"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

Till now the project can be deployed only on Docker and Heroku

**Expected behavior:**

Branch out deployment into AWS

[2017-10-02 16:27] meets2tarun commented on #222
@alirizwi
Go Ahead

[2017-10-02 16:49] #200 closed

[2017-10-02 18:11] alirizwi opened #223 "Fix codacy issues"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

There are several codacy issues in the color-picker code.

**Expected behavior:**

There should not be any codacy issue.

**Steps to reproduce:**
Fix all the codacy issues in color-picker code.

[2017-10-02 18:11] alirizwi commented on #223
I am working on this issue.

[2017-10-03 07:18] S2606 opened #225 "Deployment on Kubernetes"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**
Currently the project can be deployed only on heroku and docker

**Expected behavior:**
Make the project deployable to kubernetes

Deploy backend and front-end separately.

[2017-10-03 09:55] ParthS007 commented on #225
I want to work on this @S2606 . Will you please tell me how to start with it.

[2017-10-03 16:59] ananyo2012 commented on #219
Here are the steps to install rsvg-convert and pdftk in fedora
[code]

[2017-10-03 17:50] #223 closed

[2017-10-03 19:03] rahuldecoded opened #226 "Add a upload icon for Upload button."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

Would you to like to work?
<strong>Yes</strong>

[2017-10-03 22:28] bhaveshAn opened #228 "Flake8 issues"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

So many errors on running `flake8` locally

**Expected behavior:**

Flake8 should no longer give errors.

**Like to work on it , Yes**

[2017-10-04 08:29] S2606 opened #230 "Add feature for required status checks"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**
Currently the PR can be merged irrespective of the test passed.

**Expected behavior:**
Make some status checks complusory so as to not allow buggy code to the project

[2017-10-04 08:29] S2606 commented on #230
@fossasia/badgeyay-admin Please give your views.

[2017-10-04 12:34] apsknight commented on #122
Is this issue still open, I would like to work on this.

[2017-10-04 16:03] toonarmycaptain commented on #135
Might be easier to break this into separate issues, but can I work on some of them?

[2017-10-04 16:31] vaibhavsingh97 commented on #230
@S2606 We have travis already but failing 😞 and i tried to fix but locally it's working fine but on travis it's failing. You can collaborate with me or guide me to fix the issue.

[2017-10-04 16:33] S2606 commented on #230
@vaibhavsingh97 I would love to collaborate but the thing is i currently have exams going on. Can you please wait for a few days?

[2017-10-04 17:09] devshiva619 commented on #135
@toonarmycaptain even I am working on this, so just let me know which file you will be working on so that I don't work on that :smile

[2017-10-04 17:15] devshiva619 commented on #135
@toonarmycaptain I am working on merge_badges.py

[2017-10-04 17:22] toonarmycaptain commented on #135
I found a typo in eventyay_export_anonymizer.py.
Would you like me to pull for each file I edit, or in bulk?

[2017-10-04 17:36] devshiva619 commented on #135
@toonarmycaptain rectify all the errors in one file and do a PR that's what I do.

[2017-10-04 18:07] vaibhavsingh97 commented on #230
@S2606 I have also exams from 9 😓

[2017-10-05 07:10] #219 closed

[2017-10-05 07:30] jajodiaraghav commented on #210
Hi everyone.
I would like to share my views on this issue:

1. I think integrating SPA packages such as Vue or Angular doesn't make any sense. SPAs are used when we have multiple components in a single frame, all interacting with one another (or external APIs) to make the application seamless. Badgeyay neither interacts with APIs. nor it has multiple components (It has just one : Upload)

2. We ca

[2017-10-05 07:55] vaibhavsingh97 commented on #210
@jajodiaraghav ohh! Agreed with you, If we need UI enhancement we can make use of Bootstrap4 as it's genrally a UI refresh like cards, etc

[2017-10-05 08:26] jajodiaraghav commented on #210
@vaibhavsingh97 Why do we need to switch to Bootstrap 4? Is there something that Bootstrap 3 doesn't have that we need?

I was thinking of separating the various upload options in bootstrap tabs. We can also you this (Optional) : https://github.com/kartik-v/bootstrap-tabs-x

[2017-10-05 08:36] rupav commented on #175
@meets2tarun @vaibhavsingh97  I would like to add license of use-case of the repository under FOSSASIA in the readme by editing this https://github.com/fossasia/open-event-webapp#license as mentioned.

[2017-10-05 09:57] ananyo2012 opened #235 "Add Vagrantfile for Setup using Vagrant"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

Presently developers using Windows OS (Version < Windows 10) find it difficult to do the setup. We can setup a Vagrantfile and install script similar to  https://github.com/fossasia/open-event-orga-server/blob/nextgen/docs/installation/vagrant.md

**Expected behavior:**

Will make it easier for developers using

[2017-10-05 10:00] vaibhavsingh97 commented on #235
@ananyo2012 Do you like to work on this?

[2017-10-05 12:22] ananyo2012 commented on #235
Yes I would like to work on this

On Thu, Oct 5, 2017 at 3:30 PM, Vaibhav Singh <notifications@github.com>
wrote:

[2017-10-06 07:09] vaibhavsingh97 opened #239 "Files are not PEP8 Compliant"
**I'm submitting a ...**
- [x] bug report

**Expected behavior:**
All Python files shuould be PEP 8 compliants

**Yes, I would like to work on the issue**

[2017-10-06 09:42] #228 closed

[2017-10-06 09:50] jajodiaraghav commented on #210
I would like to work on this if nobody is working on this.

[2017-10-06 10:00] vaibhavsingh97 commented on #210
We haven't finalized, I would like to propose prototype before development
and after that we can go for Development. What are your opinion?

On 06-Oct-2017 15:20, "Raghav Jajodia" <notifications@github.com> wrote:

[2017-10-06 10:13] ParthS007 commented on #210
Yes, It will great @vaibhavsingh97  if we have  some prototype first and then develop which is best from them.

[2017-10-06 10:17] jajodiaraghav commented on #210
I was thinking of separating the various upload options in bootstrap tabs. We can also you this (Optional) : https://github.com/kartik-v/bootstrap-tabs-x

[2017-10-06 11:17] jajodiaraghav opened #243 ""Select a background" pane misaligned."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

The dropdown pane is misaligned

**Expected behavior:**

It should open just below the dropdown button

**Steps to reproduce:**
Click on "Select a background"

[2017-10-06 11:19] vaibhavsingh97 commented on #243
@jajodiaraghav It's a first timer issue 😄

[2017-10-06 11:22] jajodiaraghav opened #244 "Improve the function of "Color picker""
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

The color picker needs improvement. Also the "Enter text if user_defined" isn't automatically selecting the color as the user selects it.

[2017-10-06 11:26] jajodiaraghav commented on #243
I would still like to work on this. There are a bunch of first timer issues. We are not going to run out of them anytime soon

[2017-10-06 13:11] alirizwi commented on #244
I want to work on this issue

[2017-10-06 13:12] jajodiaraghav commented on #244
@alirizwi I am working on this

[2017-10-06 13:14] #243 closed

[2017-10-06 13:47] S2606 opened #247 "Deploy on Heroku through Travis-CI"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**
Only manual deployment is possible.

**Expected behavior:**
After successful travis build deploy to heroku

**Would you like to work on this?**
yes

[2017-10-06 13:48] S2606 commented on #247
To be done after #238

[2017-10-06 14:13] mohdomama commented on #135
I am interested to work on this. I would like to work on the issue in generate_csv_eventyay.py if nobody is working on it. The `No value for argument 'url_eventyay' in function call tocsv()` can be resolved by passing system arguments in **tocsv()** . That is, if the generate_csv_eventyay.py is run as a standalone program, the `url_eventyay, filename` would have to be passed as system arguments.

[2017-10-06 15:08] niccokunzmann commented on #122
Sure, welcome! Please go ahead.
There is also an issue on how to get the tests run on travis, which is
related to this.

On 10/06/2017 03:12 PM, Prakhar tripathi wrote:

[2017-10-06 17:31] djmgit opened #249 "Fix svg page template"
Presently the svg page template (8BadgesOnA3) is not proper as it cannot be opened and shows error on opening. This is because the root node of the svg contains improper default width and height parameters.

[2017-10-06 17:31] djmgit commented on #249
I am working on this.

[2017-10-06 23:32] #175 closed

[2017-10-07 02:34] S2606 opened #254 "Fix issue in Readme.md"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Current behavior:**
`pip install -r requirements.txt` cannot work unless we enter into directory first

**Expected behavior:**
First enter into directory and then install requirement

**Steps to reproduce:**

[2017-10-07 06:03] #254 closed

[2017-10-07 14:47] S2606 opened #257 "Request Timeout error"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Current behavior:**
``2017-10-07T14:45:20.325137+00:00 heroku[router]: at=error code=H12 desc="Request timeout" method=POST path="/upload" host=badgeyay-dev.herokuapp.com request_id=86410bb4-fb6f-4043-8f30-682c2c321ec9 fwd="27.251.197.195" dyno=web.1 connect=1ms service=30002ms status=503 bytes=0 protocol=https``

**Expected behavi

[2017-10-07 14:47] S2606 commented on #257
@fossasia/badgeyay-admin Need Help..

[2017-10-07 14:51] vaibhavsingh97 commented on #257
@S2606 Can you please add *Steps to reproduce`. This will help us a lot to reprodice issue and fixing the issue

[2017-10-07 15:07] #249 closed

[2017-10-07 15:29] S2606 commented on #257
@vaibhavsingh97 Done

[2017-10-07 22:22] bhaveshAn opened #258 "Add .dockerignore and some minor fix"
**I'm submitting a ...**
- [x] bug report
- [x] feature request

**Current behavior:**

**Expected behavior:**

**`.dockerignore`** will ignore `.gitignore` files while deployment

**Steps to reproduce:**

**Would you like to work on this issue**
Yes, I would like to work on this issue.

[2017-10-07 22:30] bhaveshAn commented on #220
@niccokunzmann
I have contributed in #229 and #259  and would like to become a maintainer. Please add me @fossasia/badgeyay-admin . Thanks !

[2017-10-07 22:32] niccokunzmann commented on #220
@bhaveshAn You are added. If there are any objections, they can be told here. We have quite a list of maintainers now... I wonder how you keep at sync :)

[2017-10-07 22:39] bhaveshAn commented on #220
Actually, I made the issue 1 hour back and there were connection problems so it came into existence now. :relaxed:

[2017-10-08 03:19] #258 closed

[2017-10-08 07:30] idealadarsh commented on #208
@S2606  Hello, I'd like to add support for deployment to Scalingo.

[2017-10-08 07:31] S2606 commented on #208
Hey @idealadarsh Sure go ahead..

[2017-10-08 09:22] jajodiaraghav commented on #220
Closing as Parth is now a maintainer.

[2017-10-08 09:22] #220 closed

[2017-10-08 09:25] jajodiaraghav commented on #130
@vaibhavsingh97 You claimed the issue and never sent a PR. Are you working on it? or should the issue be make public for claiming?
Now that you are a maintainer, it is your responsibility as well to see the progress in not blocked.

[2017-10-08 09:29] jajodiaraghav commented on #168
Can someone please check if the issue is fixed or not.

[2017-10-08 09:43] jajodiaraghav commented on #112
@vaibhavsingh97 Should I claim this since you haven't made any update for last 20 days,
@fossasia/badgeyay-admin

[2017-10-08 10:56] vaibhavsingh97 commented on #168
@jajodiaraghav Issue still persist on my system 😞

[2017-10-08 11:09] #244 closed

[2017-10-08 11:14] djmgit commented on #168
@vaibhavsingh97  what is your terminal showing? Are you able to generate badges manually by excuting merge_badges.py from terminal?

[2017-10-08 11:32] vaibhavsingh97 commented on #168
Basically it fails to recognize location of rsvg-convert
[code]
But on finding file in my system, it's able to find location of package
[code]

[2017-10-08 11:37] vaibhavsingh97 commented on #112
@jajodiaraghav I this issue, as this is not an issue. It's mine misunderstanding the working of badgeyay

[2017-10-08 11:37] #112 closed

[2017-10-08 11:44] vaibhavsingh97 commented on #210
Hi! i have exams so not able to design prototype but i will make for sure this weekend. If anybody wants to take this, you are free to take

[2017-10-08 12:00] nanspro commented on #210
@vaibhavsingh97  i am having similar problems due to my major project and exams i won't be able to do anything till 12th

[2017-10-08 12:08] jajodiaraghav commented on #210
I think we should finalize a prototype before proceeding with this one ✊

[2017-10-08 12:16] vaibhavsingh97 commented on #210
@jajodiaraghav I think me and @nanspro can collborate and submit prototype this saturday.

[2017-10-08 14:39] idealadarsh commented on #208
@S2606 I also found a way to deploy it on IBM Bluemix.

[2017-10-08 14:48] vaibhavsingh97 commented on #208
@idealadarsh Go ahead

[2017-10-08 15:11] S2606 commented on #235
@ananyo2012 any progress??

[2017-10-08 15:28] S2606 opened #264 "Add logs for working progress"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**
There is no such feature which shows uploading process

**Expected behavior:**
A box which would show progress of badge making

[2017-10-08 15:29] S2606 commented on #264
@fossasia/badgeyay-admin What do you think??

[2017-10-08 16:00] #226 closed

[2017-10-08 16:21] vaibhavsingh97 commented on #264
yes, we can have proggress bar 👍 but  it can be handled in #210 as i don't think working on this UI would make sense

[2017-10-08 16:22] S2606 commented on #264
@vaibhavsingh97 After the UI is done.I would like to work on this..

[2017-10-08 16:23] S2606 commented on #264
And i am talking about progress as in the code execution..

[2017-10-08 17:26] meets2tarun commented on #264
@S2606 Here the need of logs for which process is unclear.
And where you are thinking to show the logs?

[2017-10-08 17:44] vaibhavsingh97 commented on #264
@S2606 How would you going to proceed?

[2017-10-08 17:46] S2606 commented on #264
@meets2tarun Right when the user clicks the upload button,the process of creating the .pdf and merging them can be shown.
@vaibhavsingh97 I can only start when new UI is created

[2017-10-08 17:51] jajodiaraghav commented on #264
The current upload process reloads the page. In order to show progress, we have to upload files asynchronously.

[2017-10-08 18:05] djmgit commented on #264
@jajodiaraghav I agree, presently merge_badges is executed as a separate process. Even if it is executed from main.py as a method still I am not sure how we can continuously pass state information(number of badges/pdfs generated) to the view. I guess only way is if we are able to decouple the file uploading process (ajax) or perhaps entire application. In that case we can use ajax requests to cons

[2017-10-08 20:02] AlthafHussainK opened #265 ""install" command missing in README.md"
**I'm submitting a ...**
- [ ] Correction in README.md

**Current behavior:**
As per https://github.com/fossasia/badgeyay#install-dependencies , when installing dependencies an error message occurs.
"Error:Invalid operation python3"

**Expected behavior:**
It should install dependencies.

**Steps to reproduce:**
by changing` sudo apt-get python3 librsvg2-bin pdftk` to `sudo apt-get install python3

[2017-10-08 20:28] #265 closed

[2017-10-09 04:23] djmgit opened #267 "Add option to set custom page size."
Add option to set custom page size apart from hard coded sizes like A3 or A4. Users should have the option of either setting page size format like 'A3' or 'A4' or explicitly mention the custom width and height of the page. Also provide documentation mentioning the format of the config file and options available.

[2017-10-09 04:23] djmgit commented on #267
I am working on this.

[2017-10-09 04:46] #267 closed

[2017-10-09 04:51] jajodiaraghav commented on #225
@S2606 I would like to know what exactly we are getting from deploying the app on so many platforms?
Can someone explain?

[2017-10-09 04:51] jajodiaraghav commented on #208
I would like to know what exactly we are getting from deploying the app on so many platforms?
Can someone explain?

[2017-10-09 04:56] jajodiaraghav commented on #143
Integrating badgeyay with eventyay was the primary goal of this project. This is a priority issue and it would be great if we could resolve this soon :)

[2017-10-09 05:06] vaibhavsingh97 commented on #143
@jajodiaraghav This is on hault right now. Please see https://github.com/fossasia/open-event-orga-server/issues/4475

[2017-10-09 05:13] S2606 commented on #225
@jajodiaraghav The thing is it gives flexibility to developers with a cloud platform of their choice for testing after deployment .For eg:- Not everybody knows heroku.
Also as i last deployed the code on heroku, the project has acquired approx. 200MB space out of 500MB. I think the time wont be far when we need to look for other options other than heroku.

[2017-10-09 05:16] S2606 commented on #143
@vaibhavsingh97 The given issue is in halt for integrating, not for process of creating API. It was halted because then the functionalities were not ok. But now i think we checked all the boxes that are needed for this.

[2017-10-09 05:20] S2606 commented on #225
@jajodiaraghav Hope I answered your question.

[2017-10-09 06:35] djmgit opened #269 "merge_badges.py showing error"
merge_badges.py is exiting with the following exception

![shell_err](https://user-images.githubusercontent.com/16368427/31326936-1f5d6044-ace9-11e7-89d3-0bee447f0e34.png)

the problem is with subprocess.run. It is unable to execute a string with a command and parameter (in this case ``` which pdftk ``` or ```which rsvg-convert```. However if we use subprocess.run(<command>, shell=True) then it ru

[2017-10-09 06:35] djmgit commented on #269
I would like to work on this.

[2017-10-09 10:33] vaibhavsingh97 commented on #130
@jajodiaraghav I tried to reroduce the problem but it's not reproducable so I think we can close this issue. What are your opinion on this?

[2017-10-09 11:05] djmgit opened #271 "bad request on uploading"
After selecting csv file and background and clicking upload, the following page is shown -

![badge](https://user-images.githubusercontent.com/16368427/31335271-71ea5314-ad0f-11e7-80d8-26fc2dbd445c.png)

POST request at /upload returns 404

![404](https://user-images.githubusercontent.com/16368427/31335347-c689bc3e-ad0f-11e7-895d-2073deca7b3e.png)

[2017-10-09 11:07] jajodiaraghav commented on #130
Closing this. We can reopen if the issue persists.

[2017-10-09 11:07] #130 closed

[2017-10-09 11:09] #239 closed

[2017-10-09 11:11] vaibhavsingh97 commented on #271
@djmgit This error occurs when the POST method is accessing values that are not in the form. We should check the spelling of form variables and the variables in the respective handler function.

[2017-10-09 11:11] #269 closed

[2017-10-09 11:12] jajodiaraghav commented on #271
@djmgit Are you working on this?

[2017-10-09 11:14] vaibhavsingh97 commented on #271
@jajodiaraghav I am trying to figure it out wil update 😄 and i think meanwhile @djmgit also trying to fix the issue 👍

[2017-10-09 11:20] jajodiaraghav opened #272 "Header menu acts weird on small screens"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

![capture](https://user-images.githubusercontent.com/18749480/31335840-f3e10f32-ad11-11e7-92f1-d07d90b9dc8e.PNG)

**Expected behavior:**

Should be responsive

**Steps to reproduce:**
Reduce screen size

[2017-10-09 11:21] jajodiaraghav commented on #272
Claiming 🚀

[2017-10-09 11:43] djmgit commented on #271
@vaibhavsingh97 I am trying to figure and I would love to collaborate with @vaibhavsingh97 on this :)

[2017-10-09 11:44] vaibhavsingh97 commented on #271
@djmgit Can you ping me on gitter

[2017-10-09 11:44] #272 closed

[2017-10-09 11:45] djmgit commented on #271
@vaibhavsingh97 sure

[2017-10-09 11:50] jajodiaraghav commented on #135
The two file changes after which we can close this is `app/generate-badges.py` and `app/static/js/script.js`.
Cadacy doesn't provide any details regarding how to fix the rest of files

[2017-10-09 19:57] vaibhavsingh97 commented on #168
@S2606 Closing since this issue is fixed. Will reopen when it will occur again 😄

[2017-10-09 19:57] #168 closed

[2017-10-10 05:18] ananyo2012 commented on #235
I am getting many installation failures for certain packages. Trying to
solve them. Sorry I was busy for the past 2 days. Will send a PR for this
soon.

On Sun, Oct 8, 2017 at 8:41 PM, Shagun Khemka <notifications@github.com>
wrote:

[2017-10-10 08:53] #271 closed

[2017-10-10 18:07] souravsingh commented on #195
@niccokunzmann I am interested in working on the issue. Can you please assign the issue to me?

[2017-10-10 18:24] niccokunzmann commented on #195
I can not somehow. You can create a PR as soon as possible and share the progress here. I think, this assigns it to you in a way.

[2017-10-11 05:53] devshiva619 commented on #135
@jajodiaraghav so should I just work on `app/generate-badges.py` and `app/static/js/script.js` and leave rest of the files?

[2017-10-11 06:06] devshiva619 commented on #135
@jajodiaraghav ok I will try my best :).
Also I wanted to ask is there anyone else also who has sent PR for `app/merge_badges.py` because in my PR I had changed `os.system` to `subprocess.run` and codacy was not giving any new error and now what I am seeing is that `os.system` has chnged to `subprocess.call` and codacy is giving new errors for the same.

[2017-10-11 06:12] jajodiaraghav commented on #135
@djmgit @vaibhavsingh97 Can you please check ^

[2017-10-11 10:53] djmgit opened #275 "Unable to generate and download zip file"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
On selecting zip file option, zip is not getting generated, thus no zip file is available for download

**Expected behavior:**
On selecting zip option, zip file should be available for download
**Steps to reproduce:**
- upload a sample csv file
- select a background
- press upload
- select any of the two zip fil

[2017-10-11 10:53] djmgit commented on #275
I am working on this

[2017-10-11 11:43] vaibhavsingh97 commented on #135
@devshiva619 Please check functionality before sending any PR 😄
Because of `subprocess.run` badges are not generating. PLease see #269

[2017-10-11 11:44] #275 closed

[2017-10-14 12:08] #235 closed

[2017-10-14 13:02] S2606 commented on #264
@djmgit using REST approach is useful for integrating with open-event-orga-server as an API.

[2017-10-16 16:25] vaibhavsingh97 commented on #210
Initial Design
![image](https://user-images.githubusercontent.com/8705386/31623200-3c0a817c-b28e-11e7-8aaf-686933afaa68.png)
Working link: https://pr.to/X3IYGF/
@jajodiaraghav @nanspro @S2606
Let me know your thoughts on this

[2017-10-17 06:19] idealadarsh commented on #208
The "Deploy to Heroku" button was not working, the problem was in the url. I fixed it.

[2017-10-17 09:00] jajodiaraghav commented on #210
This looks really great! You did a lot of work there. Thanks @vaibhavsingh97
What are the fields that the "Enter Data" tab would contain? Or should the Enter data part be below the upload CSV section?

I think we should start working on this if others feel the same.

[2017-10-17 17:11] vaibhavsingh97 commented on #210
@jajodiaraghav I had designed this with reference to Material Design. We have two options either to use [Materializecss](http://materializecss.com/) or [Angular](https://angular.io/). We can't use Angula as we use Angular when we have multiple components in a single frame, all interacting with one another (or external APIs) to make the application seamless. Badgeyay neither interacts with APIs. no

[2017-10-17 17:42] S2606 commented on #210
Are we considering @djmgit point of decoupling the app for API creation of badgeyay?

[2017-10-17 19:43] djmgit commented on #210
@jajodiaraghav @vaibhavsingh97 I too feel materializecss will do good for this work. Although we are not not presently interacting with external APIs, we may still use SPA frameworks like react or angular or vue but it will have a separate overhead, that is server side rendering. As of now since our project is server rendered (coupled), i guess materializecss is a simple and good option :)

[2017-10-17 20:37] ParthS007 commented on #210
@vaibhavsingh97 @jajodiaraghav  materialize css is good option for this . We can start working on this .

[2017-10-18 08:35] lapmid commented on #135
@niccokunzmann  is it still open

[2017-10-18 08:38] devshiva619 commented on #135
@lapmid yes its open, I am currently on the issues.

[2017-10-18 08:40] lapmid commented on #135
Could i also work on this parallelly or u are assigned to it already

On 18-Oct-2017 2:09 PM, "Devesh Verma" <notifications@github.com> wrote:

[2017-10-18 08:44] devshiva619 commented on #135
@lapmid ofcourse you but there's only one file left to be corrected i.e `app/static/css/jquery.minicolors.css` so can start working on this one.

[2017-10-18 08:45] lapmid commented on #135
okay m going to work on this

[2017-10-18 09:15] jajodiaraghav commented on #210
I think it would be nice to assign a part of task to each and every contributor interested in working on this [Including me :)]. This way all will get a chance to contribute one by one. This should be done in a new branch and should only be merged when completed.

P1 can start with the basic layout, once P1 is done, P2 can integrate the dropdown. This will be followed by P3 doing something else. W

[2017-10-18 09:22] lapmid commented on #135
i have done a Pr for that if any other left please tell

[2017-10-18 09:44] vaibhavsingh97 commented on #210
@jajodiaraghav And you stole my words. Creating a new branch and working on one part is good idea. 👍

[2017-10-18 10:19] ParthS007 commented on #210
@jajodiaraghav agree with you :+1:

[2017-10-18 13:11] djmgit commented on #210
@jajodiaraghav agreed with you,  nice approach,  would love to collaborate on this :)

[2017-10-18 13:13] S2606 commented on #210
@jajodiaraghav Ready to work...

[2017-10-18 14:50] gabru-md commented on #257
@S2606 Sorry but i cannot seem to replicate this issue on my side
Can you please add a video or something to show the issue with log?

[2017-10-18 14:55] gabru-md commented on #210
@jajodiaraghav Great! Would love to work on this :)

[2017-10-18 14:57] gabru-md commented on #195
@souravsingh are you working on this? if yes please share your progress on this issue.

[2017-10-18 19:23] jajodiaraghav commented on #210
Can someone please break it into multiple sub tasks?
I really want to integrate the drag-and-drop upload if others are okay with it.

Thanks :)

[2017-10-18 23:54] vaibhavsingh97 commented on #210
@jajodiaraghav I will open issues with the subtasks. Also, We need one new branch where we can work on 😄

[2017-10-19 01:55] souravsingh commented on #195
I will be creating a PR in a short while.

[2017-10-21 00:33] mariobehling opened #283 "Simplify User Interface"
- [x] Remove zip as Download Type and only use PDF downloads -> This way we don't need this field anymore. Please remove this field.
![screenshot from 2017-10-21 02-08-00](https://user-images.githubusercontent.com/1583873/31845752-b5b2dbfe-b604-11e7-98b7-9a021f0fb5f6.png)
- [x] Follow the approach of the web app generator (http://opev-webgen-dev.herokuapp.com/) and only show relevant fields accord

[2017-10-21 00:36] mariobehling opened #284 "Provide info about suitable size and resolution of background png"
For the field "Upload a PNG file for badge background" it is unclear what size or ratio the png should have. Please provide info as a helper text below the field about best size, ratio and resolution.

[2017-10-21 00:39] vaibhavsingh97 commented on #283
@mariobehling Sure!! in #210 this will be taken care of 👍

[2017-10-21 00:40] mariobehling opened #285 "Add explanation and sample JSON file for "Advanced Config""
Badgeyay has an Advanced field "Upload a config file (JSON) to customise badges". Please provide some helper text about what can be configured additionally through the JSON file and add a link to a sample JSON file.

[2017-10-21 00:45] mariobehling opened #286 "Improve Upload button area and rename it to Generate Badges / Show Download in same area"
![screenshot from 2017-10-21 02-44-41](https://user-images.githubusercontent.com/1583873/31846297-d2cd76ae-b609-11e7-9d59-860757a75da8.png)

* Rename "Upload" button to "Generate Badges"
* Correct English and use "Your badges have been created successfully."
* Move the text to the bottom and use the same blue as on https://eventyay.com as a background
* Show a) a progress icon in the "Generate Bad

[2017-10-21 00:47] S2606 commented on #286
@mariobehling Will fix this..

[2017-10-21 01:22] #149 closed

[2017-10-21 01:23] S2606 commented on #247
Since Travis CI is now working,starting work on this

[2017-10-21 01:30] vaibhavsingh97 commented on #247
@S2606 Go ahead

[2017-10-21 01:37] S2606 commented on #286
@mariobehling Since we are upgrading the UI of badgeyay,It would be better if we fixed only the first two options.What do you think?

[2017-10-21 01:50] vaibhavsingh97 commented on #286
@S2606 what I think is that we should take care these options in new UI. Instead of working on this

[2017-10-21 01:51] vaibhavsingh97 commented on #286
I will send PR for new UI latest by tomorrow

[2017-10-21 02:51] rupav commented on #284
I would like to work on it.

[2017-10-21 03:03] vaibhavsingh97 commented on #284
@rupav what I think that we will take care in UI, let me know your opinion on this

[2017-10-21 03:09] rupav commented on #284
@vaibhavsingh97 yeah sure. You are talking about the prototype ?

[2017-10-21 03:18] vaibhavsingh97 commented on #284
Yup!

[2017-10-21 07:31] djmgit commented on #210
We also need to implement #284 as suggested bu @mariobehling

[2017-10-21 07:32] djmgit commented on #284
Okay, so this will be solved as a sub issue of #210

[2017-10-21 09:56] mariobehling commented on #210
As a matter of fact the required features are not yet there and testing different options I get a bad request. This is not stable yet. Before a next version UI is tackled the app should be more stable. Please postpone.

[2017-10-21 18:59] ParthS007 commented on #61
I think we should close the issue as travis is working . Your views @meets2tarun

[2017-10-22 04:07] mohdomama commented on #285
I would like to work on this.
What I propose is  :
- Add helper text (This can be a mouseover text )
- Add a sample json config file in the samples folder and provide its link on the index page, below the ` Choose file` option.

[2017-10-22 05:04] mohdomama commented on #285
@vaibhavsingh97 i believe there is  no need of working on this if you are making a new UI ?

[2017-10-22 05:12] mohdomama commented on #285
@vaibhavsingh97 I have actually worked and made the changes that I proposed for this issue, but just wanted to confirm would it be right for me to send a PR considering the fact that a new UI is on its way ?

[2017-10-22 05:19] vaibhavsingh97 commented on #285
Yes, please send PR

[2017-10-22 05:31] mohdomama commented on #285
@vaibhavsingh97 please review :smile:

[2017-10-22 06:11] djmgit opened #290 "Prevent duplicate badge background generation"
Presently generate-badges.py generates multiple background images (.png files) for the same background for every csv file in the respective folder. That is, for example, if 8 badge sheets are created for a particular csv file, then 8 background images are also created which is not required. Only one image file is enough per badge folder.

[2017-10-22 06:24] ParthS007 commented on #283
I am working on it

[2017-10-22 06:27] ParthS007 commented on #284
I am working on it .

[2017-10-22 06:28] meets2tarun commented on #61
The task is to temporarily auto-deploy the changes of the PR, which still needs to get implement.

[2017-10-22 10:59] djmgit opened #292 "Use cairosvg to generate pdf"
The project already used cairosvg library to generate png. Cairosvg can be used to generate pdf files rather than using an extra linux tool rsvg-convert. This will also reduce dependency on linux also.

[2017-10-22 14:04] vaibhavsingh97 commented on #286
Claming this issue 👍

[2017-10-22 15:45] mariobehling opened #294 "Add error info to specific field and include details"
When a user enters data that is not correct entered and hits "Upload" a general error message appears. Please make this easier to understand and add more information.

1. Highlight the box that was erroneous in red and add info that it is erroneous
2. Keep the information that was previously entered in all fields
3. Provide a helper text how the information should be correctly formatted

![screens

[2017-10-22 15:48] djmgit commented on #294
I would like to work on this :)

[2017-10-23 05:49] jajodiaraghav commented on #135
@devshiva619 @lapmid I think making change to the `app/static/css/jquery.minicolors.css` to fix codacy would break the minicolors functionality. The `!important` tag is important there. Do not remove it.

[2017-10-23 05:54] #292 closed

[2017-10-23 06:30] #290 closed

[2017-10-23 09:55] jajodiaraghav opened #295 "Selecting a default background without uploading CSV doesn't generates badges"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Selecting a default background without uploading CSV doesn't generates badges

**Expected behavior:**

Should show an error message for either enter data or upload file in csv

**Steps to reproduce:**
Select a background image from dropdown and hit upload.

[2017-10-24 02:52] vaibhavsingh97 commented on #283
@ParthS007 To fix #286, I have to solve this issue partiall. But you can still work on this issue 👍

[2017-10-24 05:22] jishnujayakumar opened #299 "There are typos in README.md"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

There are some typos in README.md
**Expected behavior:**

Typos should be removed from README.md
**Steps to reproduce:**

[2017-10-24 05:32] S2606 commented on #247
@vaibhavsingh97 I believe based on gitter group chat you are working on this.Can i know the status?

[2017-10-24 05:33] #295 closed

[2017-10-24 05:50] #299 closed

[2017-10-24 05:54] #257 closed

[2017-10-24 06:03] S2606 opened #301 "Remove redundant lines from Travis"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

[2017-10-24 06:12] S2606 commented on #230
@fossasia/badgeyay-admin Since travis is now fixed we can set travis status as required

[2017-10-24 06:13] gabru-md commented on #230
Sure!

[2017-10-24 06:16] S2606 opened #303 "show user input guide as static part"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**
Currently the user input guide is shown only when error takes place

**Expected behavior:**
Should be shown as static part of badgeyay

[2017-10-24 06:16] meets2tarun commented on #230
@S2606
Where you are thinking to set Travis status?
How will you verify the status of PR with that?

[2017-10-24 06:21] S2606 commented on #230
@meets2tarun I am talking about this
![image](https://user-images.githubusercontent.com/18497513/31927437-a5f7f71c-b8b1-11e7-85c1-91fbc1e98041.png)
Only project owner can do this

[2017-10-24 06:32] meets2tarun commented on #230
No, its automatic and it automatically happen whenever a new PR has been made.

[2017-10-24 06:36] S2606 commented on #230
I am talking about the `Required` tag which if you see in the current PR is not there.

[2017-10-24 08:06] #301 closed

[2017-10-24 08:21] #303 closed

[2017-10-25 06:59] vaibhavsingh97 commented on #247
@S2606 I am working on it. Will send PR latest by Today

[2017-10-25 14:25] pushkalkatara commented on #294
@djmgit  are you working on this issue?

[2017-10-25 14:28] djmgit commented on #294
@pushkalkatara Yes I am working on this, was busy last few days, I will submit a PR by this weekend for sure :)

[2017-10-28 06:47] djmgit commented on #294
@jajodiaraghav @S2606 @gabru-md How about doing form validation using javascript in the client side itself rather than in server side. This we can displaying error will be more flexible. We just need to add a function for form validation and the entire validation code will remain separate. There will be no need of message passing between server and client via **flash**. This will also clean up the

[2017-10-28 06:57] gabru-md commented on #294
@djmgit this is really a nice approach and i insist that it must be implemented as it will reduce the load on server side as well ( just like you said ) and the problem of previous lost can also be tackled using this.
Great thoughts @djmgit
I feel you should do it. :+1:
What do you guys say @jajodiaraghav @vaibhavsingh97 @S2606 @mariobehling ? please comment.

[2017-10-28 17:14] jajodiaraghav commented on #208
I think we can close this as we have already deployed badgeyay to several platforms.

[2017-10-28 17:14] #208 closed

[2017-10-28 17:24] gabru-md commented on #225
@S2606 Please Update on this as it has been a long time since you've claimed this issue

[2017-10-28 17:25] gabru-md commented on #247
@vaibhavsingh97 Please update

[2017-10-29 22:01] akshatnitd commented on #195
@gabru-md I have submitted a PR for it, since it was left pending for a long time now.

[2017-10-29 22:08] akshatnitd opened #306 "Some of the tests fail during unit testing"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

When we run the test using `nosetests app/tests/test.py -v --with-coverage`, 3 out of all the tests are currently failing namely :
* test_select_background_upload
* test_png_upload
* test_csv_upload

**Expected behavior:**

The tests should pass without any errors.

**Steps to reproduce:**
Run `nosetests app/te

[2017-10-29 23:27] #195 closed

[2017-10-30 18:20] ParthS007 commented on #283
I am working on it with @gabru-md  . Will made PR by tommorow

[2017-10-30 19:42] ananyo2012 opened #308 "Option to change text colour of details printed on badge"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

 I would like a feature where I can choose a specific color of text that goes with the background. Is there a way to do it ? If no we should implement it.

**Do you want to work on this issue ?**
Yes

[2017-11-02 04:00] bodhwani opened #310 "Update link for generate_badges.py in README"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
Page not found in README (generate_badges.py)
**Expected behavior:**
Should open the file
**Steps to reproduce:**
Update the link in README

[2017-11-02 04:41] #310 closed

[2017-11-02 05:10] bodhwani opened #312 "Installation Error in OS"
OSError: cannot load library libcairo.so.2: dlopen(libcairo.so.2, 2): image not found.  Additionally, ctypes.util.find_library() did not manage to locate a library called 'libcairo.so.2

[2017-11-02 05:12] S2606 commented on #312
Which os are you using @bodhwani ?

[2017-11-02 05:14] bodhwani commented on #312
macOS Sierra(version 10.12)

[2017-11-02 05:16] S2606 commented on #312
Have you tried installation using Virtual Environment??

[2017-11-02 05:17] bodhwani commented on #312
Yes! All libraries installed successfully. While running main.py file, its giving error

[2017-11-02 05:22] gabru-md commented on #312
Try this :
[code]
Maybe this will solve the problem.

Have a look here : https://stackoverflow.com/questions/28211418/python-oserror-cannot-load-library-libcairo-so-2

[2017-11-02 18:42] gabru-md commented on #155
@ParthS007 @S2606 @vaibhavsingh97 What is the progress of this issue ?

[2017-11-03 18:49] ParthS007 opened #314 "Badges not generating from Manual data entry"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
pdf is not generating after giving input.

**Expected behavior:**
badges should be generated.

**Steps to reproduce:**
Enter data manually and generate pdf.

[2017-11-03 18:52] gabru-md commented on #314
![img-20171103-wa0014](https://user-images.githubusercontent.com/25414121/32390862-12bdcde4-c0f6-11e7-8b93-39a2c2d0ddf6.jpg)

This is the issue log. I'll be reverse engineering the backend to find the issue that is causing this bug and will keep on sharing my progress on this.

[2017-11-03 19:02] gabru-md commented on #314
@vaibhavsingh97 please see.

[2017-11-03 19:20] vaibhavsingh97 commented on #314
@ParthS007 @gabru-md Actually, the error is not because of manual entry. So if you enter manual data, and upload PNG then badge will be successfully generated but if you enter data manually and select image from dropdown than you can reproduce the error. The error because of wrong mapping i guess, Will look it tomorrow

[2017-11-06 11:17] djmgit commented on #306
depends on #314

[2017-11-06 11:18] djmgit commented on #294
depends on #309

[2017-11-07 13:58] #314 closed

[2017-11-07 15:33] vaibhavsingh97 opened #318 "Travis Build is failing"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
Travis build is failing beacuse of some test cases is failed

**Expected behavior:**
Travis Build should pass

**Yes, I am interested in solving this issue**

[2017-11-07 15:34] S2606 commented on #318
@vaibhavsingh97 I think this should be solved after #309

[2017-11-07 16:20] vaibhavsingh97 commented on #318
@S2606 Travis is failing there too, so in my opinion we should merge that PR and work on travis afterwords. What's your opinion?

[2017-11-08 14:43] yashLadha opened #319 "Add docstring to the functions in the code"
It is not a good practice to not have a docstring in the function and also does not comply with the pip syntax.

[2017-11-08 15:04] yashLadha opened #321 "Correct SUSI Logo in header template"
Logo of the susi is not appropriate

[2017-11-08 15:13] ParthS007 commented on #283
Closing it reference to #309

[2017-11-08 15:13] #283 closed

[2017-11-09 01:52] djmgit opened #323 "Reduce width of flash message and centre text"
Presently the width of the flash message is much larger than the width of the container and the text is not centre aligned. Reduce the width and centre the text,
![width](https://user-images.githubusercontent.com/16368427/32584531-bf67be5c-c51e-11e7-8688-497408e8ac18.png)

[2017-11-09 01:53] djmgit commented on #286
@gabru-md have a look at #323

[2017-11-09 01:58] djmgit opened #324 "Create a separate section in UI for user-defined background."
Create a separate section dedicated to user-defined background and move the colour picker to this new section. Remove the user-defined background image from the list.

[2017-11-09 01:58] djmgit commented on #324
Working on this.

[2017-11-09 02:09] S2606 commented on #323
Can i work on this @djmgit ??

[2017-11-09 02:43] djmgit commented on #323
@S2606 I have no problem :) @vaibhavsingh97 are you working on this?

[2017-11-09 03:20] vaibhavsingh97 commented on #323
Yes, will fix with #286

[2017-11-09 03:24] S2606 opened #325 "Make generate badges button one-time clickable"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**
The button is clickable more than once

**Expected behavior:**
Should be one-time only

[2017-11-09 03:33] rupav commented on #325
Can I work on it ?

[2017-11-09 03:34] S2606 commented on #325
@rupav I am working on it..

[2017-11-09 03:47] vaibhavsingh97 commented on #325
@S2606 in #286 it will be taken care of. Can you please close this for now

[2017-11-09 09:16] ParthS007 commented on #325
closing it in reference to #286

[2017-11-09 09:16] #325 closed

[2017-11-09 09:17] ParthS007 commented on #323
closing it with reference to #286

[2017-11-09 09:17] #323 closed

[2017-11-09 09:26] ParthS007 opened #327 "Merging of UI branch into development"
**I'm submitting a ...**
- [ ] bug report
- [ ] feature request

**Current behavior:**
Currently, UI changes in PR #309 is present in UI branch.

**Expected behavior:**
I want it to merge with development branch as it is not possible to do changes in both branch simultaneously because when we want to merge UI into development, there will be large merge conflicts . My view is to merge it and do cha

[2017-11-09 09:38] mariobehling commented on #327
Absolutely. Please go ahead.

[2017-11-09 09:43] vaibhavsingh97 commented on #327
@ParthS007 Please proceed with merge

[2017-11-09 09:44] jajodiaraghav commented on #327
Please go ahead!
I think the best way is to merge UI branch to development and then continue the dev process in the development branch itself.

[2017-11-09 09:45] gabru-md commented on #327
@ParthS007 please merge this.
And @vaibhavsingh97 are the changes auto deployed on heroku ?

[2017-11-09 09:47] vaibhavsingh97 commented on #327
@gabru-md Yes! can send dummy PR to check that 😅
P.S: Change title to `badgay-dev`

[2017-11-09 10:24] ParthS007 commented on #327
closing it

[2017-11-09 10:24] #327 closed

[2017-11-09 19:40] harshit98 commented on #318
@vaibhavsingh97 Is it still failing?

[2017-11-09 19:52] vaibhavsingh97 commented on #318
Yes, I will probably fix it by today. Delay is due to I am not well

On 10-Nov-2017 01:10, "Harshit Prasad" <notifications@github.com> wrote:

[2017-11-09 20:00] harshit98 commented on #318
@vaibhavsingh97 Please let me know if you need help from my side. 👍

[2017-11-09 20:08] ParthS007 commented on #284
I am now working on this

[2017-11-10 19:45] vaibhavsingh97 commented on #318
@harshit98 Fixed the issue in #334 😄

[2017-11-11 08:01] #324 closed

[2017-11-11 08:04] S2606 commented on #264
@djmgit @vaibhavsingh97 @ParthS007  Can i start work on this?

[2017-11-11 08:21] #321 closed

[2017-11-11 08:35] vaibhavsingh97 commented on #264
@S2606 How you are going to proceed? As of now, if the application is executed from `main.py` as a method still how you pass the state to the view continuously to show the logs?

[2017-11-11 09:59] #318 closed

[2017-11-11 10:00] yashLadha commented on #222
Should it be auto deployment or Deployment instructions

[2017-11-11 10:14] vaibhavsingh97 commented on #306
@akshatnitd I am not able to reproduce the issue. Can you please update the lastest codebase and let us know is the issue still persist

[2017-11-11 10:37] akshatnitd commented on #306
@vaibhavsingh97 I have pulled the latest code from development branch, and still find 3 failing tests.
[code]

[2017-11-11 11:03] djmgit commented on #306
![error_b](https://user-images.githubusercontent.com/16368427/32688802-be949352-c6fd-11e7-8bb2-d841e0e167e5.png)

@akshatnitd @vaibhavsingh97 I have pulled the latest codebase, but I am too facing test failures as mentioned above.
@vaibhavsingh97 can please recheck :)

[2017-11-11 11:24] vaibhavsingh97 commented on #306
@akshatnitd @djmgit Kindly, please update your development branch and recheck as here I am not able to reproduce the issue 😅
[code]

[2017-11-11 11:33] akshatnitd commented on #306
@vaibhavsingh97 Which version of geckodriver are you using?

[2017-11-11 11:36] vaibhavsingh97 commented on #306
@akshatnitd `geckodriver 0.19.0`

[2017-11-11 12:58] jajodiaraghav opened #336 "Disable the Generate badges button unless required data is entered"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

Enabled button

**Expected behavior:**

Disabled "Generate badges" button unless required data is entered

Working on it

[2017-11-11 13:07] akshatnitd commented on #306
@vaibhavsingh97 Now, all the tests are running. There was an issue with the version. The firefox and geckodriver version used in travis is too old. We should update it.
Firefox should be updated to ```55``` and geckodriver to ```0.19.0```.

Should I go ahead and update this PR with the changes ?

[2017-11-11 13:13] vaibhavsingh97 commented on #306
@akshatnitd Travis build is passing so I don't think there is a need but you can still make a PR as an improvement

[2017-11-11 13:47] #306 closed

[2017-11-11 14:45] #319 closed

[2017-11-12 07:25] mariobehling opened #339 "Allow all image files and show only image files to select as background images"
Please change the functionality to choose background images as follows:
* currently only png files can be chosen, change to: All image files
* browsing files to choose shows "all" files to the user. Change to show "only image files".

![screenshot from 2017-11-12 08-21-04](https://user-images.githubusercontent.com/1583873/32696840-ffa0f9b4-c782-11e7-8050-6f517ccbed08.png)

[2017-11-12 07:28] mariobehling opened #340 "User defined image shows up instead of background color"
When a user opens the background color option, a user defined image shows up instead the background color info. Expected: Only show background color. Don't show user-defined.png.

![screenshot from 2017-11-12 08-26-59](https://user-images.githubusercontent.com/1583873/32696862-6547a7ae-c783-11e7-9310-6700f4efcf23.png)

[2017-11-12 07:36] mariobehling opened #341 "Add JSON sample data that makes sense"
In the guide there is JSON data, that does not make a lot of sense. Please add data using FOSSASIA links, e.g. Twitter: @fossasia.

![screenshot from 2017-11-12 08-34-12](https://user-images.githubusercontent.com/1583873/32696921-8a76c9f0-c784-11e7-9cbd-a31b8e147c79.png)

[2017-11-12 07:37] S2606 commented on #341
Claiming this issue..

[2017-11-12 07:39] S2606 commented on #339
claiming this issue..

[2017-11-12 07:42] djmgit commented on #340
Will work on this

[2017-11-12 07:49] mariobehling opened #342 "Change text and order for section: Add Background with custom color"
Change text and order as follows:
* First: Add Default Image -> Use background template
* Second: Add PNG file -> Add background image
* Third: Add Background with custom color -> Choose background colors

[2017-11-12 07:51] djmgit commented on #340
@mariobehling when a user selects a default image from the background, he is able to see the sample image (as small icons in drop down). But when he wants to use image with custom colour (colour set by him), he is able to see the colour (the colour picker shows that), but how should the app show him the image he is using, that is the image whose colour he is setting? I mean if we remove the image

[2017-11-12 07:51] djmgit commented on #342
Claiming this issue :)

[2017-11-12 07:54] mariobehling opened #343 "Improve section "Select a background color""
* There should be two color areas. Please implement:
 1. The area on top for the event name
 2. The main area for the user information

* Automatically choose the font color for text over this background, either black (for bright backgrounds) or white (for dark backgrounds).

* Show a small preview of the badge behind on the right. For the sample text use "Event Name, Attendee Name, @attendeename,

[2017-11-12 07:57] mariobehling opened #344 "Instead of "User Guide" add an ⓘ icon"
Please add a question "ⓘ" icon on the top right of the app box instead of the field "User Input Guide
Check out our User Input Guide".

[2017-11-12 07:58] rupav commented on #344
Claining this issue.

[2017-11-12 08:02] mariobehling opened #345 "Take out indent to use space more efficiently"
The indent of sub items is not required. More and more functionality is added and we need space for that. Therefore please take out the indent of sub-items.

![screenshot from 2017-11-12 09-00-48](https://user-images.githubusercontent.com/1583873/32697078-22ad27fc-c788-11e7-8a1c-80656e9c253c.png)

[2017-11-12 08:29] mariobehling opened #346 "Take out "Customise Badges (Optional)""
Customise Badges seems to be overkill for the app at the moment. If a set of JSON is needed as a feature it can be added later.

Right now the app needs to focus on getting the basic features right.

Take out "Customise Badges (Optional),  Add Custom text,  Add JSON file"

[2017-11-12 08:34] rupav commented on #346
I am working on this issue.

[2017-11-12 08:35] S2606 commented on #343
Claiming this.. :)

[2017-11-12 08:35] mariobehling opened #347 "Generated badge size wrong (too small)"
Badges are generated as a set. The idea is to fold them in the middle and have the badge in the plastic showing the info in both directions.

Currently the badges are generated as A6. One side of the badge is A6. Two sides of the badge should use the space of A5

As we are printing back and front the display is to small. The badges should be generated as A5.

[2017-11-12 08:37] S2606 commented on #347
Claiming this.. :)

[2017-11-12 08:40] S2606 commented on #343
Claiming this.. :)

[2017-11-12 09:22] mariobehling opened #349 "Add option to "Select Badge Size" and implement A6 and A7"
Right now we have only one size which is A6 (one sided) and A5 (if both sides are printed on one page). Please add a section "Select Badge Size" after the section "Choose Data Source and in front of section "Choose your Badge Background".

![screenshot from 2017-11-12 10-08-05](https://user-images.githubusercontent.com/1583873/32697485-6f2c20a2-c791-11e7-8b2b-962e1c610d66.png)

* Add radio buttons

[2017-11-12 09:24] S2606 commented on #349
@mariobehling I think we dont need #347 since this issue can be handled here.. BDW claiming this

[2017-11-12 09:24] mariobehling opened #350 "Check spelling across app and fix mistakes"
Using the app shows a number of language mistakes, e.g. "Your badges has been successfully generated!" Here plural should be used "Your badges have...".

[2017-11-12 09:30] mariobehling opened #351 "Add options like speaker, guest etc. to be drawn from CSV instead of hardcoding it in the image"
Currently the default images are showing the name and logo of the event (here FOSSASIA) and the speaker, guest, camera crew etc.

Instead implement as follows:
* Add item for role into CSV or manual box, e.g. Hong Phuc,Dang,Organiser,@hpdang,FOSSASIA
* Change images and take out FOSSASIA logo and roles, e.g. speaker
* Also rename background image to color and theme item. Use e.g. "gray_futuristic"

[2017-11-12 09:32] djmgit commented on #351
Working on this

[2017-11-12 09:33] mariobehling opened #353 "Implement a badge preview"
Eventbrite and other solutions have a simple badge preview below.

Please implement a badge preview in the same fashion.

![screenshot from 2017-11-12 10-32-20](https://user-images.githubusercontent.com/1583873/32697618-df7ba5a0-c794-11e7-9cd3-861f29ca23db.png)

[2017-11-12 09:43] mariobehling opened #354 "Add option to "Add logo""
1. In the beginning of the form add a section "Event Name", where the user can enter the name of the event as text.

2. After the section "Choose your Badge Background" add a section "Use Logo". Implement as follows:
* add radio buttons a) "Add event logo" b) Use event name text
* If user chooses "Add event logo" show an upload button for the image file

[2017-11-12 09:44] S2606 commented on #354
Should this event logo be places at middle of badge?? @mariobehling

[2017-11-12 09:48] #339 closed

[2017-11-12 09:49] mariobehling commented on #354
Keep the same design as of now. White area on top. No changes.

[2017-11-12 09:53] #341 closed

[2017-11-12 12:08] #350 closed

[2017-11-12 12:24] mariobehling opened #356 "Implement Rest-API for all functionalities"
The goal of the API is to enable us to completely access the functionality of the app through an API, e.g. by eventyay.

[2017-11-12 12:25] mariobehling opened #357 "Seperate front-end and backend / Create front-end using emberJS"
Please seperate front-end and backend. Create a folder for the front-end. Use ember JS as front-end technology.

[2017-11-12 12:29] djmgit commented on #356
@jajodiaraghav @S2606 @gabru-md this has already been added as a GCI task. If you guys are interested to mentor, please add your names here : https://docs.google.com/spreadsheets/d/1Y0nxuV_nJfj4MMqfrLZGs1ZN68xvwyEvlejQkksFE0U/edit#gid=0
task no. 164

[2017-11-12 12:38] S2606 commented on #345
@vaibhavsingh97 any reason for reopening??

[2017-11-12 12:53] djmgit commented on #357
@jajodiaraghav @S2606 @vaibhavsingh97 @gabru-md @ParthS007 should we also add this issue as a GCI task? The REST api part is already a GCI task and this issue too will be a nice advanced task as it is comprehensive enough. What do you guys feel?

[2017-11-12 12:55] S2606 commented on #357
@djmgit Yes we should add this as GCI Task.

[2017-11-12 12:55] vaibhavsingh97 commented on #345
@S2606 Problem with heroku. Now fixed don't know it's waiting for travis and travis already passed the PR. Now fixed the issue 👍

[2017-11-12 12:55] gabru-md commented on #357
I agree with this. This will help students learn a new framework as well.
I would love to know the thoughts of other maintainers.

[2017-11-12 12:56] vaibhavsingh97 commented on #357
@djmgit Agreed 👍

[2017-11-12 13:53] jajodiaraghav commented on #357
I am not sure a GCI student would be able to create the entire frontend using EmberJS. Lets still add this as a task and see how this goes.

[2017-11-12 14:02] jajodiaraghav commented on #353
Claiming 🚀

[2017-11-12 14:19] ParthS007 commented on #357
agreed with @djmgit  but it will difficult for them as said by @jajodiaraghav.

[2017-11-12 14:29] meets2tarun commented on #222
Both

[2017-11-12 14:30] meets2tarun commented on #264
One can start to work on the issue then we will track down its progress.

[2017-11-12 15:56] ParthS007 commented on #312
closing this as no further  queries are asked .

[2017-11-12 15:56] #312 closed

[2017-11-12 15:59] vaibhavsingh97 commented on #357
@jajodiaraghav yes, you are right and we are here to guide them and we will work with the student so that's not an issue.

[2017-11-12 16:04] ParthS007 opened #359 "Addition of new link of screencast in documentation"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Presently, There is a screencast of old UI.

**Expected behavior:**
Screencast should be of new UI

[2017-11-12 16:11] #294 closed

[2017-11-12 20:47] gauravchandra7 commented on #135
Hi, I am new here, could you tell me any files which nobody has dealt with, I would like to modify that.

[2017-11-13 04:01] anshumanv commented on #357
This can probably go as an advanced task.

[2017-11-13 04:03] djmgit commented on #357
Yup, added it as an advanced task, any GCI mentor who is interested in mentoring please add your name in task 189 here : https://docs.google.com/spreadsheets/d/1Y0nxuV_nJfj4MMqfrLZGs1ZN68xvwyEvlejQkksFE0U/edit#gid=0

[2017-11-13 04:05] anshumanv commented on #357
Alright, just added @djmgit :+1:

[2017-11-13 04:06] gabru-md commented on #357
@anshumanv @djmgit add my name as well.
I'm a bit busy due to my exam today. So if guys could add mine for me ?

[2017-11-13 04:07] anshumanv commented on #357
Added @gabru-md :tada:

[2017-11-13 10:38] niccokunzmann commented on #135
Hi, I think, the issues are always updated if there is a modification made.
Which issues do you see? Are they still there?

On 11/12/2017 09:47 PM, Gaurav Chandra wrote:

[2017-11-14 16:42] #336 closed

[2017-11-14 21:56] vaibhavsingh97 opened #364 "Travis Build Failing"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
Travis build is failing

**Expected behavior:**
Travis build should not fail

[2017-11-15 11:17] #286 closed

[2017-11-15 14:07] rupav commented on #312
For Window Users, if you have conda package, `conda install cairo` will do.

[2017-11-16 23:45] ParthS007 commented on #285
closing it with reference to #346

[2017-11-16 23:45] #285 closed

[2017-11-18 08:37] marvin08 opened #366 "Adding icon linked to susper.com in the top right menu"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
There is no icon of susper in the top right menu.

**Expected behavior:**
There should be a icon linked to susper.com in the top right menu.

**Would you like to work on this issue?**
Yes.

[2017-11-18 08:41] marvin08 commented on #366
Suggestions required @vaibhavsingh97 @gabru-md @S2606 @djmgit. Should I take this up?

[2017-11-18 21:17] #284 closed

[2017-11-18 21:22] mariobehling commented on #345
The PR is not matched with the issue and the change made is not as desired. The goal was to change the indentation. The goal was not to change the space between the button and the following text. Therefore I am reopening it.

Please make it easier to follow up and stick to best practices.

![screenshot from 2017-11-18 22-19-35](https://user-images.githubusercontent.com/1583873/32984856-9dcafdbc-cc

[2017-11-18 21:35] mariobehling commented on #359
Low priority as long as we are changing the UI in the upcoming PRs. Therefore currently out of scope. Closing it.

[2017-11-18 21:35] #359 closed

[2017-11-18 21:36] mariobehling commented on #61
Specifics of this task are unclear. This seems to be a general discussion and not a specific coding task. Thanks. Closing it.

[2017-11-18 21:36] #61 closed

[2017-11-18 21:37] #23 closed

[2017-11-18 21:37] mariobehling commented on #122
As the UI is changing a lot still, we will come back to UI tests later. Closing it now.

[2017-11-18 21:37] #122 closed

[2017-11-18 21:38] mariobehling commented on #135
This is an ongoing issue and devs should be aware now. Therefore closing it. Cheers.

[2017-11-18 21:38] #135 closed

[2017-11-18 21:39] #247 closed

[2017-11-18 22:23] ParthS007 commented on #344
working on this issue due to inactivity

[2017-11-19 07:18] harshit98 commented on #366
@marvin08 Yes. Please go ahead.

[2017-11-19 07:24] harshit98 commented on #364
@vaibhavsingh97 What is the reason of Travis build getting failed ? It seems to be some test is failing. Always mention in the issue the reason of Travis getting failed.

[2017-11-19 15:36] raju249 commented on #354
I would like to work on this issue.
This will be my first issue with fossasia.

Can you assign me @mariobehling ?
Thanks

[2017-11-19 15:41] djmgit commented on #354
@raju249 Nice to have you hear! Please go ahead :+1:

[2017-11-19 15:47] raju249 commented on #354
Thanks @djmgit
Starting to work on this :smile:

[2017-11-19 22:24] ParthS007 commented on #346
working on this due to inactivity

[2017-11-19 22:29] ParthS007 commented on #342
can I work on this @djmgit

[2017-11-20 12:55] raju249 commented on #354
This fix will also need backend implementation in flask for acknowledging changes.
Correct me if I am wrong.

[2017-11-20 12:58] raju249 commented on #354
@mariobehling
The "Event Name" Section..will that be above "User Input Guide" or above "Choose your data Source" ?

[2017-11-20 13:04] djmgit commented on #354
@raju249 you are right, you have to make necessary addition to the back end. Also you have to manipulate and update the svg base template to insert image name and logo.

[2017-11-20 13:05] raju249 commented on #354
Right @djmgit
Got it.

[2017-11-20 13:06] raju249 commented on #354
@djmgit What about the sequence in which "Add Event Name" appears ?
Above or Below User Guide.
I think it should be below the user guide since we would want user to read the guide doing anything if he is not aware how the platform works.
Let me know what you think

[2017-11-20 13:56] djmgit commented on #354
@raju249 Yeah, it should be below User Guide link, however once #367 is merged, user guide link will be replaced by a info icon on top right corner, so you need not worry about the position with respect to user guide. Just be sure to rebase your branch once #367 is merged.