[2018-09-19 16:11] prabhupant commented on #1723
I'm going to file a PR for the same

[2018-09-19 17:14] rupav commented on #1721
thanks, its solved ✌

[2018-09-19 17:14] #1721 closed

[2018-09-20 08:07] prabhupant opened #1725 "Deploying badgeyay to AWS-EC2"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

**Expected behaviour:**

**Steps to reproduce:**
I'd like to work on this feature and deploy badgeyay on AWS, and make the required changes or additions to the installation docs as well

[2018-09-20 14:53] samagragupta commented on #1725
There is already a docker image i guess for the google app engine, so we can pull the same image in the ec2 instance as well. Do you have any other ideas, in the implementing the same though?

[2018-09-20 14:55] samagragupta commented on #1718
Can you share the console log ?? @rajvaibhavdubey

[2018-09-20 14:55] samagragupta commented on #1720
At what resolution are you opening the site? @neeraj3029

[2018-09-20 19:15] rajvaibhavdubey commented on #1718
@samagragupta
![40console](https://user-images.githubusercontent.com/33062425/45841442-7e066780-bd37-11e8-967d-cefba30e4b3a.png)

[2018-09-21 14:34] #1692 closed

[2018-09-21 21:54] phoenixking25 opened #1728 "Return key should be able to submit the new password set form."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

Nothing happens on pressing return key on the new password set form.

**Expected behaviour:**

Pressing the return key should be able to submit the form by default and arrow keys should help to navigate between submit and cancel button.

**Steps to reproduce:**
New User Sign up

[2018-09-23 09:33] #1725 closed

[2018-09-24 18:05] rajvaibhavdubey opened #1729 "QR/BAR code fuunctionality"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Feature Description**
The user can add QR Code/barcode images on the badge.
I think that bottom right corner on the badge would be suitable for the location of image.

Discussion needed @ParthS007 @gabru-md @yashLadha

[2018-09-25 03:56] #1709 closed

[2018-09-25 04:01] ParthS007 commented on #1729
Yes, I agree with @yashLadha. Please explain your approach and we can discuss it.

[2018-09-25 04:02] ParthS007 commented on #1719
@rupav Please update the status of the Issue. :+1:

[2018-09-25 09:47] sk9331657 opened #1731 "Deleting Active Users shows multiple popups in Admin Section"
**I'm submitting a ...**
- [x] bug report

**Current behaviour:**

When admin tries to delete a user multiple popup open to delete the user.

![screenshot from 2018-09-25 15-14-48](https://user-images.githubusercontent.com/17084322/46006759-e3f74400-c0d5-11e8-9682-761a05eea635.png)

**Expected behavior:**

Only single popup should appear.

**Steps to reproduce:**
Just signup as a admin and go to u

[2018-09-28 01:40] kurianbenoy commented on #1641
Can I work on this @ParthS007?

[2018-09-28 03:05] gabru-md commented on #1641
Yes please go ahead

[2018-09-29 05:36] prabhupant opened #1734 "Add user login via facebook"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

no user login option via Facebook

**Expected behaviour:**

**Steps to reproduce:**
I'd like to work on this. It might take some time though :sweat_smile:

[2018-09-29 07:57] sk9331657 commented on #1679
@gabru-md  @ParthS007  I am now working on it.

[2018-09-29 08:02] rajvaibhavdubey commented on #1679
@sk9331657 Bro I'm already working on this, i've been busy due to my exams.
Thankyou 😄

[2018-09-29 09:37] sk9331657 commented on #1679
@rajvaibhavdubey  Ok Bro. :smile:

[2018-09-29 09:38] rajvaibhavdubey commented on #1729
@ParthS007 @yashLadha This npm [package](https://www.npmjs.com/package/qrcode-generator) looks after the addition of data to QR code and places a qr image at the specified location, for pixelization , I looked up and found that the minimum QR code size to scanning distance should be 10:1,
like in our badges of size 4"x3" the QR code can be of size .5"x.5".

[2018-09-29 10:10] sk9331657 commented on #1554
@ParthS007  I want to work on this issue.

[2018-09-29 10:39] sk9331657 opened #1737 "Adding Scroller to Permission Sections"
**I'm submitting a ...**
- [x] bug report

**Current behaviour:**

![screenshot from 2018-09-29 16-04-40](https://user-images.githubusercontent.com/17084322/46244780-9f371a00-c401-11e8-9ab6-eaf0e662ef3a.png)

**Expected behaviour:**

Permissions should be scrollable

**Steps to reproduce:**
-Login Using Admin Id

I am working on it.

[2018-09-29 13:39] sk9331657 opened #1739 "Adding Video For Installation of Badgeyay in Local Envirnoment"
**I'm submitting a ...**
- [x] feature request

I am working on it.

[2018-09-30 10:14] sk9331657 commented on #1554
@gabru-md  Can I work on this??

[2018-09-30 15:14] sk9331657 commented on #1554
@ParthS007  I am working on it .:smile

[2018-10-01 06:34] sk9331657 commented on #1739
@PawanLakhwani  I am working on it, bro. You can work on other issues.

[2018-10-01 06:49] sk9331657 commented on #1728
@phoenixking25  Are u solving this issue??

[2018-10-01 06:50] sk9331657 commented on #1718
@rajvaibhavdubey  Are you still facing this issue??

[2018-10-01 06:55] phoenixking25 commented on #1728
No i created it for others!

[2018-10-01 07:05] sk9331657 commented on #1728
@phoenixking25 So I shall I work on it because you claimed it??

[2018-10-01 09:59] #1704 closed

[2018-10-01 09:59] #1630 closed

[2018-10-01 17:21] moulikcipherX commented on #1734
@prabhupant If you are are not doing then I can work on this issue??

[2018-10-01 23:09] #1719 closed

[2018-10-01 23:27] ParthS007 commented on #1734
@prabhupant Closing this Issue as It is not relevant to the present stage. We can add this at a later stage. Please have a look at already open Issues.

[2018-10-01 23:27] #1734 closed

[2018-10-02 02:30] #1731 closed

[2018-10-02 05:04] sk9331657 commented on #1407
@ParthS007 This issue can be closed.

[2018-10-02 05:36] sk9331657 opened #1744 "Missing SCSS for Toggle Button"
**I'm submitting a ...**
- [x] bug report

**Current behaviour:**

![screenshot from 2018-10-02 11-04-18](https://user-images.githubusercontent.com/17084322/46330908-07207700-c633-11e8-892d-7fb3786037f4.png)

**Expected behaviour:**

![screenshot from 2018-10-02 11-04-28](https://user-images.githubusercontent.com/17084322/46330909-0ab3fe00-c633-11e8-8173-7cd8a37dbaf0.png)

**Steps to reproduce:**

[2018-10-02 06:41] sk9331657 opened #1746 "Making Top Navigation Bar Fixed in case of scroll down"
**I'm submitting a ...**
- [x] feature request

**Current behaviour:**

![screenshot from 2018-10-02 11-04-28](https://user-images.githubusercontent.com/17084322/46332885-c9741c00-c63b-11e8-8053-8f3c7b856bf5.png)
Currently , the top navigation bar remains on the top of page . We can make it fixed similar to badge.

**Expected behaviour:**

![screenshot from 2018-10-02 11-04-28](http://cdn2.hubspot

[2018-10-02 06:46] ParthS007 commented on #1746
Not needed. Closing this.

[2018-10-02 06:46] #1746 closed

[2018-10-02 11:06] #1739 closed

[2018-10-02 15:19] sk9331657 commented on #1602
@rupav  Are u still working on it ?? Can I take up this issue??

[2018-10-02 15:32] sk9331657 commented on #1479
@mariobehling  Like Someone register with gmail or twitter, so what will happen if someone disconnects it??

[2018-10-02 15:39] sk9331657 commented on #1479
@ParthS007  @gabru-md  Can I work on it??

[2018-10-02 16:48] sk9331657 commented on #1602
@rupav  Ok Thanks

[2018-10-02 17:00] PawanLakhwani commented on #1592
Can i work on this issue??

[2018-10-02 17:55] avsingh999 commented on #1592
@PawanLakhwani  go ahead, thank you

[2018-10-03 03:21] prabhupant opened #1748 "spelling error in localvir.md"
**I'm submitting a ...**
- [ ] bug report
- [ ] feature request

**Current behaviour:**

**Expected behaviour:**

**Steps to reproduce:**
I've filed a PR for this

[2018-10-03 05:57] #1748 closed

[2018-10-03 10:41] sk9331657 opened #1752 "Adding Video For Installation of Badgeyay Front-End in Local Environment"
**I'm submitting a ...**
- [x] feature request

No video showing installation for Front-End

[2018-10-03 13:52] PawanLakhwani commented on #1664
can i work on this.

[2018-10-03 16:53] sk9331657 commented on #1641
@gabru-md  Can I work on this?? Please elaborate the bug.

[2018-10-03 17:53] #1554 closed

[2018-10-03 17:55] #1744 closed

[2018-10-03 18:02] ParthS007 commented on #1728
Closing this. Not required as of now :+1:

[2018-10-03 18:02] #1728 closed

[2018-10-03 18:05] ParthS007 commented on #1718
@rajvaibhavdubey @sk9331657 This needs to be fixed asap.

[2018-10-03 18:05] #1713 closed

[2018-10-03 18:06] ParthS007 commented on #1712
@rajvaibhavdubey Status Please.

[2018-10-03 18:07] ParthS007 commented on #1679
Closing this . Not needed as Video is added for this :+1:

[2018-10-03 18:07] #1679 closed

[2018-10-03 18:09] ParthS007 commented on #1664
Yes @PawanLakhwani , Add Installation on Windows or Vagrant. Please see [this](https://github.com/fossasia/open-event-server/blob/development/docs/installation/vagrant.md) for reference.

[2018-10-03 18:11] ParthS007 commented on #1480
Ping @yashLadha

[2018-10-03 21:54] rajvaibhavdubey commented on #1712
@ParthS007 I need some time to think upon this.
ThankYou
:sweat_smile:

[2018-10-03 22:01] rajvaibhavdubey commented on #1729
@ParthS007 @yashLadha @gabru-md Should I start working on this ?

[2018-10-03 22:06] rajvaibhavdubey opened #1756 "PDF file generated not correct"
**I'm submitting a ...**
- [x] bug report

**Current behaviour:**

After you successfully create the badge, download the pdf .

**Expected behaviour:**

The PDF should be proper, the bottom sections get repeated.
Normally no section should get repeated and a single badge should be available

**Steps to reproduce:**
- Create the badge.
- Download the badge
- Observe the badge
![pdf](https://user-im

[2018-10-03 22:12] rajvaibhavdubey commented on #1720
@neeraj3029 Are you working on this?

[2018-10-04 04:43] sk9331657 commented on #1480
@yashLadha  In this issue, actually the problem is that image is not stored but is loaded from Gmail account if user signup using Gmail account, so we need to store the image either in firebase or pg db. I want to solve this issue. Please suggest the changes in approach.

[2018-10-04 11:19] sk9331657 commented on #1712
@rajvaibhavdubey @ParthS007 We can close this as it is similar to #1480

[2018-10-04 11:20] sk9331657 commented on #1480
@mariobehling @ParthS007   Can I work on this ??

[2018-10-04 11:48] yashLadha commented on #1480
Ember fire is fetching the image from Gmail account but sometimes it is not
getting reflected from firebase, but why to increase the networking latency
when can be done locally

On Thu, Oct 4, 2018, 4:50 PM SHUBHAM KUMAR <notifications@github.com> wrote:

[2018-10-04 11:50] sk9331657 commented on #1480
@yashLadha So like we can store images in local db so that it can be fetched and updated similar to gmail .

[2018-10-04 11:51] sk9331657 commented on #1480
@yashLadha  We can set a default image which can updated as user can sign in using simple email too.

[2018-10-04 17:31] rajvaibhavdubey commented on #1480
@sk9331657 The image does get stored I checked it but soon after it is updated with the google image, so all we have to do is to remove the google image fetching process coz it fetches image every time we refresh the image instead, it should fetch from the database.

[2018-10-04 17:40] rajvaibhavdubey opened #1757 "Add a info for email-verification on create Badges"
**I'm submitting a ...**
- [x] feature request

**Current behaviour:**

When the email of the user is not verified(local login) and he tries to create a badge, the create badge button gets disabled but nowhere is it displayed that the user must verify to continue.
**Expected behaviour:**

There should be a display of **Verify your Email address to continue**
**Steps to reproduce:**
-Login with use

[2018-10-04 17:40] rajvaibhavdubey commented on #1757
I'm working on this

[2018-10-04 17:58] sk9331657 opened #1759 "Adding Default Picture for User Incase Signup is done using email instead of Gmail or twitter"
**I'm submitting a ...**

- [x] feature request

**Current behaviour:**

![screenshot from 2018-10-04 23-27-52](https://user-images.githubusercontent.com/17084322/46493136-271b8a80-c82d-11e8-98fc-ac737d324c97.png)

**Expected behaviour:**

**Steps to reproduce:**
Signup Using Email and go to my settings

Will Work on it:
Yes

[2018-10-06 04:31] #1602 closed

[2018-10-06 21:02] rajvaibhavdubey opened #1761 "Show/hide password in Login/registration form of Badgeyay"
**I'm submitting a ...**
- [x] feature request

**Current behaviour:**

Show/hide password in Login/registration form of Badgeyay

**Expected behaviour:**

On pressing the button the password should show/hide

**Steps to reproduce:**
- Go to Badgeyay
- Go to the login form
- See the absence of a login button

[2018-10-06 21:03] rajvaibhavdubey commented on #1761
I'm working on this

[2018-10-07 05:03] rajvaibhavdubey opened #1763 "Update icon of Badgeyay"
**I'm submitting a ...**
- [x] feature request

**Current behaviour:**

Badgeyay is currently using the icon of loklak

**Expected behaviour:**

It should have an icon of its own.

[2018-10-07 14:55] #1718 closed

[2018-10-08 06:52] gabru-md opened #1765 "BUG : signup issue for new members"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

When I run the project locally and try to sign up for an email address, if the user is not yet registered on the system then the system correctly signs him/her up for the same but it produces two warnings,
"User with the email already exists"
"Signup successful"

Expected results should be: If the signup is successful then there shou

[2018-10-08 06:56] gabru-md commented on #1765
![badgeyaybug](https://user-images.githubusercontent.com/25414121/46595278-2fa5e680-caf5-11e8-8b9b-ae8d9250ba25.png)

here is the screenshot of the same where the server responds with a "user already exists", but the signup still shows successful.

This seems to be a frontend issue, but in case of any server-side issue, we can discuss and then resolve this.

cc : @rupav  @prabhupant @ParthS007 @ya

[2018-10-08 07:05] rupav commented on #1765
I would like to claim this.

[2018-10-08 07:16] gabru-md commented on #1765
cool, please go ahead with this task, and keep us posted in case you need any help or would like to discuss about it.
thanks

[2018-10-08 11:19] rajvaibhavdubey commented on #1756
@ParthS007 @yashLadha @gabru-md I need help with this, I've got the exact working of the process but cannot seem to notice the bug.
Thankyou :sweat:

[2018-10-08 12:28] rajvaibhavdubey opened #1766 "Example input in enter details on create badges"
**I'm submitting a ...**
- [x] feature request

**Current behaviour:**

There should be example input in the enter details on create badges page.

**Expected behaviour:**

People would get to know the pattern of input on enter details.

I'm working on this.

[2018-10-08 12:30] rajvaibhavdubey opened #1767 "Badge editing not working"
**I'm submitting a ...**
- [x] bug report

**Current behaviour:**

On the my-badges page, if a user tries to edit his existing badges, it doesn't work.

**Expected behaviour:**

People would get to easily edit their existing badges

**Steps to reproduce:**
- Create a badge
- Go to my-badges
- Edit a badge
- See the bug

[2018-10-08 12:41] #1484 closed

[2018-10-08 12:48] ParthS007 commented on #1767
@rajvaibhavdubey  There is #1665 already open for the same.

[2018-10-08 12:48] #1767 closed

[2018-10-08 12:49] ParthS007 commented on #1759
@sk9331657 Please update the status :+1:

[2018-10-08 12:49] #1752 closed

[2018-10-08 12:50] ParthS007 commented on #1720
@rajvaibhavdubey You can work on it :+1:

[2018-10-08 12:52] #1720 closed

[2018-10-08 16:14] sk9331657 opened #1768 "Creating GIF to show process of creating badges similar to master branch"
**I'm submitting a ...**
- [x] feature request

**Current behaviour:**

There is no gif showing updated process of generating badgeyay in development branch .

Will work on issue??
Yes

[2018-10-09 06:02] PawanLakhwani commented on #1592
no..yes u can work @sk9331657

[2018-10-09 09:01] yashLadha commented on #1756
The logic to remove this bug is to stop the iteration of the loop when the data is completely parsed. @rajvaibhavdubey  and send no text in remaining. This will remove the default text from the SVG template. @rajvaibhavdubey

[2018-10-09 09:02] yashLadha opened #1770 "Improving build time of the website"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

Deployment is very slow (frontend).

**Expected behaviour:**

Should render fast.

__Yes__ working on it.

[2018-10-09 10:57] ParthS007 commented on #1467
Looking into it :+1:

[2018-10-09 13:08] rajvaibhavdubey commented on #1665
@sk9331657 Are you still working on this ?

[2018-10-09 13:30] rajvaibhavdubey opened #1771 "Change icon for crop image"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

Icon for crop image is same as image deletion.

**Expected behaviour:**

![crop](https://user-images.githubusercontent.com/33062425/46672598-7bd85000-cbf5-11e8-9cf0-634258c5ebff.png)

**Steps to reproduce:**
- Go to create badges.
- Upload a custom image.
- See the bug

[2018-10-09 13:33] rajvaibhavdubey opened #1772 "Custom Image preview not working"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

When uploading a custom image the custom image does not get a preview
![custom](https://user-images.githubusercontent.com/33062425/46672768-e8ebe580-cbf5-11e8-9085-980d6ef7c89c.png)

**Expected behaviour:**

Custom image would be visible in preview section

**Steps to reproduce:**
- Go to create badges
- Uploa

[2018-10-09 14:38] sk9331657 opened #1773 "Fixing Scrolling incase toggle button is off"
**I'm submitting a ...**
- [x] bug report

In case toggle is in off state scroller should check for conditions which is currently throwing error .
Lower one error.

**Current behaviour:**

![screenshot from 2018-10-09 20-05-54](https://user-images.githubusercontent.com/17084322/46676738-c27e7800-cbfe-11e8-8f6c-5b7269b7e7fc.png)

**Expected behaviour:**

First it needs to be checked whether toggler

[2018-10-09 16:28] PawanLakhwani opened #1776 "In password changing,there should be current password option"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

**Expected behaviour:**

**Steps to reproduce:**

[2018-10-09 18:35] sk9331657 opened #1777 "Accepting Only Images for updating profile picture"
**I'm submitting a ...**
- [x] bug report
- [x] feature request

Will work on it ??
Yes

[2018-10-09 21:41] ujjwal-madan opened #1780 "Box Size not equal in Create Badges form"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**
![screen shot 2018-10-10 at 3 10 07 am](https://user-images.githubusercontent.com/26686257/46700327-28d4bc00-cc3a-11e8-8fa5-9cbae34bed4a.png)

**Expected behaviour:**
Box UI should be uniform across the form.

**Yes, I am working on it**

[2018-10-10 09:34] sk9331657 opened #1781 "Password Strength Feature"
**I'm submitting a ...**
- [x] feature request

**Current behaviour:**

No as such feature.

## Will work on issue ??
Yes

[2018-10-10 11:24] sk9331657 opened #1783 "Signup Successful notification incase password are different"
**I'm submitting a ...**
- [x] bug report

**Current behaviour:**

User signup is successful even if password are wrong. Though user is not created at back end but success notification is generated.
![ezgif com-video-to-gif 17](https://user-images.githubusercontent.com/17084322/46733105-06c85180-ccad-11e8-8221-ef6c79832315.gif)

[2018-10-11 06:58] sk9331657 opened #1785 "Adding Option to Simultaneously download multiple badges"
**I'm submitting a ...**
- [x] feature request

Work on it ??
 Yes

[2018-10-11 07:02] sk9331657 opened #1786 "Implementing Pagination on My Badges Page"
**I'm submitting a ...**
- [x] feature request

## Will work on it??
 Yup

[2018-10-11 08:44] rajvaibhavdubey opened #1787 "Implement FAQ sections"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Feature Description**
FAQ section will be more helpful towards users and clear them of their basic doubts about the process of creating the badges.

[2018-10-11 08:45] rajvaibhavdubey commented on #1787
I'm working on this

[2018-10-12 05:36] #1780 closed

[2018-10-12 16:42] pandyamarut commented on #1776
@PawanLakhwani please provide path.

[2018-10-12 16:58] pandyamarut commented on #1765
@gabru-md By any chance if this issue is still there to be work upon.
Please assign it to me.

[2018-10-12 17:03] ujjwal-madan commented on #1776
@PawanLakhwani  Are you working on this issue?

[2018-10-12 17:09] ujjwal-madan commented on #1771
@rajvaibhavdubey I would like to work on this.

[2018-10-12 17:16] rupav commented on #1765
Working on it, will submit a PR positively by Sunday.

[2018-10-12 17:19] ujjwal-madan opened #1790 "Re-crop Button reduce Crop window size"
**I'm submitting a ...**
- [x] bug report

**Current behaviour:**
In create badge form every click on the Re-Crop button reduce the size of the crop window
-During upload
![screen shot 2018-10-12 at 10 42 55 pm](https://user-images.githubusercontent.com/26686257/46883639-5b67fa00-ce70-11e8-8598-341a83d898af.png)
-After clicking first time on Re-crop size decreases
![screen shot 2018-10-12 at 10 43

[2018-10-12 19:52] pandyamarut commented on #1765
@rupav
Sounds great.

[2018-10-12 20:04] satyasashi opened #1791 "Logged In user when routes to '/login' makes them logout and cannot Login back."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**
When a user logged in, and hits back button or routes to 'localhost:4200/login', they get logged out.

**Expected behaviour:**
When a user logged in and authenticated, and tries to route to 'localhost:4200/login' they must be redirected to home page which was supposed to be visible as soon as they login.
Instea

[2018-10-12 20:19] satyasashi opened #1792 "Forgot password doesn't send password recovery link but frontend shows email sent."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**
When user clicks on forgot password and enters email and clicks "Send email" it says it sent email with Reset link but no email showed up even after 10 minutes where as "Activation email" was sent within 3 minutes.

**Expected behaviour:**
It should send Password Reset link to specified email if it exists.

**S

[2018-10-12 21:21] pandyamarut commented on #1792
@satyasashi I would like to claim this.

[2018-10-13 04:39] #1783 closed

[2018-10-13 16:29] ujjwal-madan commented on #1791
@satyasashi
It seems to work fine, going back to login page is redirecting to homepage only.

[2018-10-13 16:38] ujjwal-madan opened #1795 "New Password placeholder empty in Change Password Form"
**I'm submitting a ...**
- [x] bug report

**Current behaviour:**

![screen shot 2018-10-13 at 9 53 14 pm](https://user-images.githubusercontent.com/26686257/46907707-4bb1e980-cf34-11e8-97af-4033bd7591ae.png)

**Expected behaviour:**

New Password should also have a place holder like Verify Password

**I am working on this**

[2018-10-13 16:58] satyasashi commented on #1791
@ujjwal-madan Oh! But it was not working for me and I tried it twice. I'll make sure once again and I'll close this issue.

[2018-10-13 17:41] satyasashi commented on #1791
@ujjwal-madan Yes it is working now. It's funny why that happened yesterday. Closing this issue.

[2018-10-13 17:41] #1791 closed

[2018-10-13 22:48] amrs-tech commented on #1795
Can you please assign it to me, for me to try?
Because I want to contribute to this issue. And can you please tell me how to find the file because I find only the form validation not it's html content ?

[2018-10-14 07:31] #1790 closed

[2018-10-14 11:27] ujjwal-madan commented on #1771
@rajvaibhavdubey It was not mentioned earlier and I thought it was open for everyone.
I have changed the crop icon image if you are okay with it should I submit the PR.

[2018-10-14 12:27] rupav opened #1797 "Block Sign Up button, until atleast 6 characters password is entered."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

Currently, on clicking `Sign Up`, a request is send to the backend, even if we have a less than 6 characters password.

![image](https://user-images.githubusercontent.com/20624380/46916624-ba498280-cfda-11e8-94dd-be7573bd35d4.png)

**Expected behaviour:**

We should disable the form, and gives user an info whi

[2018-10-14 12:30] rupav opened #1798 "Include 'Would you like to work on this issue?' in issue template."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

It's not included currently like in other fossasia projects.

**Expected behaviour:**

This line should be included as the last statement in the issue template.
Refer other fossasia projects (like susi_chromebot) templates for reference.

Any newcomer/beginner can claim it.

[2018-10-14 12:57] rupav opened #1799 "set cursor value to pointer in settings section."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

Currently cursor is not set set to `pointer` while hovering over `Account` or `Password` link.
It should be instead, as they are links to new sections.
![image](https://user-images.githubusercontent.com/20624380/46916874-41e4c080-cfde-11e8-9eba-6675e308ea4a.png)

**Expected behaviour:**

In my opinion it shoul

[2018-10-14 13:10] rupav opened #1800 "Add bottom margin in badges options - 'Select from default backgrounds'"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

![image](https://user-images.githubusercontent.com/20624380/46917077-79546c80-cfe0-11e8-9e87-1ed718e45ec9.png)

**Expected behaviour:**

there should be some space between badges and the bottom of the modal.

**Steps to reproduce:**
While creating a badge, click on `Select from default backgrounds`

_I am work

[2018-10-14 13:15] rupav opened #1801 "PDF file generated doesn't have the applied font color."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

PDF file generated doesn't have the applied font color.

**Expected behaviour:**

The generated PDF should be same as the preview.

**Steps to reproduce:**
After you successfully create the badge (make sure you change the font color), download the pdf .

_I am working on it._

[2018-10-14 13:16] rupav commented on #1801
#1756 is correlated to this issue - as it too deals with the wrong PDF generation. I will work on the font correction part only. cc @rajvaibhavdubey

[2018-10-14 14:28] ujjwal-madan commented on #1798
@rupav I would like to work on it

[2018-10-14 14:43] ujjwal-madan opened #1802 "Account or password window hides marker"
**I'm submitting a ...**
- [x] bug report

**Current behaviour:**

The account and password windows are over the pointer
![screen shot 2018-10-13 at 9 52 57 pm](https://user-images.githubusercontent.com/26686257/46918214-11f0e980-cfed-11e8-9f7e-0f09f42c091d.png)
Pointer Hidden below the window
![screen shot 2018-10-13 at 9 52 43 pm](https://user-images.githubusercontent.com/26686257/46918220-1e754

[2018-10-14 15:06] rupav commented on #1798
sure, go ahead 👍

[2018-10-15 01:39] kurianbenoy opened #1804 "Change local installation medium"
**I'm submitting a ...**
- [ ] bug report
- [x ] feature request

**Current behavior:**
Currently virtualenv in used for python workflow
**Expected behavior:**
Pipenv is now the recommended python-dev workflow recommended by python.org.

I would like to work on  this issue

[2018-10-15 07:12] sk9331657 opened #1805 "Default collapsed Menu in Admin Section"
**I'm submitting a ...**
- [x] feature request

**Current behaviour:**

![screenshot from 2018-10-15 12-35-11](https://user-images.githubusercontent.com/17084322/46935006-5cb74380-d077-11e8-9efa-63383da8feab.png)

**Expected behaviour:**

Should be collapsed.

Will work on issue??
### Yes

[2018-10-15 12:39] rajvaibhavdubey opened #1806 "Some of the site map options are not visible upon login"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Screenshots**
Before Login
![screenshot from 2018-10-15 18-04-21](https://user-images.githubusercontent.com/33062425/46951318-41632d00-d0a5-11e8-96b5-09c29ce52811.png)

After Login
![screenshot from 2018-10-15 18-04-54](https://user-images.githubusercontent.com/33062425/46951333-49bb6800-d0a5-11e8-8f50-bc0beea7af63.png)

**Steps to

[2018-10-15 12:39] rajvaibhavdubey commented on #1806
I'm working on this.

[2018-10-15 13:15] #1768 closed

[2018-10-15 13:16] #1781 closed

[2018-10-15 13:18] #1771 closed

[2018-10-15 23:05] #1766 closed

[2018-10-16 05:25] rupav opened #1810 "use envparse or other utility like in open-event instead of harcoded variables."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

Currently before sending a PR, I have to switch back to `ENV=PROD` from `LOCAL`, making it hard for the development process. This can be cumbersome, if other variables are too set this way for my local setup, and needs to be reverted back to original for sending the PR.

**Expected behaviour:**

This can be av

[2018-10-16 05:46] #1761 closed

[2018-10-16 06:33] sk9331657 opened #1811 "Using Env variable to send verification email with address starting with 127.0.0.1 instead of badgeyay.com"
**I'm submitting a ...**
- [x] feature request

**Current behavior:**

Currently, during local development verification email contains verification email starting from badgeyay.com instead it should be replaced with 127.0.0.1 by parsing the ENV variable from config.

**Steps to reproduce:**

Will like to work in it ??
### Yes

[2018-10-16 10:16] rajvaibhavdubey opened #1814 "Display on home page for badge design"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Feature Description**
There should be sample badges displayed on the home page to display the users the type and design of badges.

[2018-10-16 10:16] rajvaibhavdubey commented on #1814
I'm working on this.

[2018-10-16 10:25] rajvaibhavdubey opened #1815 "Password show/hide button on settings page"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Feature Description**
There should be password show/hide button on the settings  page

**Screenshots**

![screenshot from 2018-10-16 15-54-22](https://user-images.githubusercontent.com/33062425/47010114-c577ec00-d15b-11e8-8c1c-0c2cb385040e.png)

[2018-10-16 15:51] sk9331657 opened #1816 "Signup Not working and missing password strength feature."
**I'm submitting a ...**
- [x] bug report
- [x] feature request

I am working on it.

[2018-10-17 05:24] sk9331657 opened #1818 "Adding About Us and Subscribe form for fossasia projects"
**I'm submitting a ...**
- [x] feature request

### Will work on it??
### Yes

[2018-10-17 05:37] sk9331657 opened #1819 "Profile Picture and options should be in center for smaller screens."
**I'm submitting a ...**
- [x] feature request

**Current behaviour:**

![screenshot from 2018-10-17 11-05-37](https://user-images.githubusercontent.com/17084322/47064322-a1201c00-d1fc-11e8-826e-3f0c68563a1f.png)

Will work on it??
Yes

[2018-10-17 06:16] sk9331657 opened #1821 "Implementing Analytical UI in Reports Section"
**I'm submitting a ...**
- [x] feature request

@ParthS007 @gabru-md   What are your reviews??

[2018-10-17 06:57] YogeshSharma0201 commented on #1643
I'm working on this.

[2018-10-17 12:34] rupav commented on #1797
I am working on it :)

[2018-10-17 12:35] sk9331657 commented on #1797
Ok

[2018-10-17 12:35] sk9331657 commented on #1797
I will create new issue.

[2018-10-17 12:45] rupav commented on #1765
This issue is not reproducible anymore @gabru-md .

[2018-10-17 13:02] rupav opened #1822 "Toggle icon between "eye" and "slash-eye" in setting password form."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

Head to sign up page, and enter password, and click on eye.
**Expected behaviour:**

It should be set by default to closed, then clicking on it should make it open.

**Steps to reproduce:**
Head to sign up page, and enter password, and click on eye.

_I am working on it_

[2018-10-17 15:43] sk9331657 commented on #1810
@rupav  It is a great idea we can also set verification email domain using this.

[2018-10-17 15:52] rajvaibhavdubey commented on #1815
I'm working on this.

[2018-10-17 16:43] rajvaibhavdubey opened #1823 "Password Strength Feature on settings/passwords tab"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Feature Details**
Password Strength Feature on settings/passwords tab

I'm working on this

[2018-10-17 16:46] rajvaibhavdubey opened #1824 "Password match feature on settings/password tab."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Feature Details**
Password match feature on settings/password tab.

I'm working on this

[2018-10-17 16:46] sk9331657 commented on #1823
This is a child issue of password strength on signup

[2018-10-17 16:48] rajvaibhavdubey commented on #1823
Have you added this feature in the settings/password tab?

[2018-10-17 16:53] sk9331657 commented on #1823
Nopes, go ahead. :smile:

[2018-10-17 16:53] sk9331657 commented on #1823
Nopes, go ahead. :smile:

[2018-10-17 17:18] #1757 closed

[2018-10-17 17:19] #1777 closed

[2018-10-17 17:40] ParthS007 commented on #1821
@sk9331657 There are many Other issues already open which needs more attention than adding features for admin. Please have a look at other open Issues which are not claimed yet.

[2018-10-17 17:40] #1821 closed

[2018-10-17 17:42] ParthS007 commented on #1810
@rupav Sound good to me. Please go ahead.

[2018-10-17 17:47] ParthS007 commented on #1806
@rajvaibhavdubey Update Please.

[2018-10-17 17:47] ParthS007 commented on #1801
@rupav Update Please.

[2018-10-17 17:48] ParthS007 commented on #1797
@rupav Update Please.

[2018-10-17 17:48] ParthS007 commented on #1792
@pandyamarut Update Please.

[2018-10-17 17:49] ParthS007 commented on #1786
@sk9331657 Update Please.

[2018-10-17 17:49] ParthS007 commented on #1785
@sk9331657 Update Please.

[2018-10-17 17:50] ParthS007 commented on #1763
@rajvaibhavdubey Update Please.

[2018-10-17 17:50] ParthS007 commented on #1759
@sk9331657 Update Please.

[2018-10-18 03:02] rupav commented on #1797
Implemented this, just waiting for #1817 to be merged, so that I can test.

[2018-10-18 04:07] rajvaibhavdubey opened #1827 "UI tweaks on sign-up page"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

![screenshot from 2018-10-18 09-35-36](https://user-images.githubusercontent.com/33062425/47130867-46002f00-d2b9-11e8-9a1e-1d38c8793606.png)

**Steps to reproduce:**
- Go to create account
- Enter different passwords in both the fields
- Notice the passwords do not match popup

[2018-10-18 04:07] rajvaibhavdubey commented on #1827
I'm working on this

[2018-10-18 06:31] gabru-md commented on #1810
@rupav the issue is a certain solid one. You can proceed with it and create a PR
cheers!

[2018-10-18 11:42] YogeshSharma0201 opened #1828 "Preview section overlaps with footer links"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

Preview section overlaps with footer links, when page is scrolled down to bottom.

![screenshot from 2018-10-17 12-00-45](https://user-images.githubusercontent.com/21025052/47151977-f80b1b80-d2f8-11e8-814e-5ced834d227a.png)

[2018-10-18 13:15] yashLadha commented on #1801
Can you please share the badge link or a screencast showing the bug.

[2018-10-18 14:06] YogeshSharma0201 opened #1831 "Some function were removed in #1758, Add them back"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

Some function like showcsv, showdetails etc were removed in #1758, which is causing some problems in the functionality of the create-badges pages.

This is the piece of code that is required but was removed:
[code]

[2018-10-18 14:31] #1798 closed

[2018-10-18 14:37] #1800 closed

[2018-10-18 14:38] #1816 closed

[2018-10-18 14:38] rajvaibhavdubey opened #1833 "Badge preview not working correctly"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

The default red_futuristic backround is not shown up when opening create-badges page.

**Expected behaviour:**

Badge preview should work normally

**Steps to reproduce:**
- Go to Create-badges
- See the badge preview

**Screenshots**

![screenshot from 2018-10-18 19-39-26](https://user-images.githubuserconten

[2018-10-18 14:38] #1819 closed

[2018-10-18 14:43] YogeshSharma0201 opened #1834 "User should be able to click on the labels to toggle options while creating badges."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**
Users have to click on the checkbox to toggle options.

**Expected behaviour:**
User should also be able to click on the labels of the options to toggle them.

![screenshot from 2018-10-18 20-09-10](https://user-images.githubusercontent.com/21025052/47162554-cb173280-d311-11e8-9989-38ad79d234b7.png)

[2018-10-18 14:45] #1831 closed

[2018-10-18 15:01] ParthS007 commented on #1834
Not relevant. Please look at other open Issues. Thanks for opening the Issue. :+1:

[2018-10-18 15:01] #1834 closed

[2018-10-18 15:02] #1827 closed

[2018-10-18 15:02] #1824 closed

[2018-10-18 15:02] #1823 closed

[2018-10-18 15:02] ParthS007 commented on #1818
Not relevant. Please look at other open Issues.

[2018-10-18 15:02] #1818 closed

[2018-10-18 15:03] #1815 closed

[2018-10-18 15:03] ParthS007 commented on #1814
@rajvaibhavdubey  Please update.

[2018-10-18 15:04] ParthS007 commented on #1811
Not relevant. Please look at other open Issues.

[2018-10-18 15:04] #1811 closed

[2018-10-18 15:04] ParthS007 commented on #1810
@rupav Please update

[2018-10-18 15:05] ParthS007 commented on #1806
@rajvaibhavdubey Update Please.

[2018-10-18 15:06] #1805 closed

[2018-10-18 15:06] #1802 closed

[2018-10-18 15:07] ParthS007 commented on #1801
@rupav Update Please.

[2018-10-18 15:08] #1795 closed

[2018-10-18 15:08] ParthS007 commented on #1786
@sk9331657 Update Please.

[2018-10-18 15:09] ParthS007 commented on #1785
@sk9331657 Update Please.

[2018-10-18 15:09] #1776 closed

[2018-10-18 15:09] ParthS007 commented on #1772
@rajvaibhavdubey  Update Please.

[2018-10-18 15:10] ParthS007 commented on #1763
@rajvaibhavdubey  Update Please.

[2018-10-18 16:10] sk9331657 commented on #1786
@ParthS007 Will make PR by tomorrow??

[2018-10-19 06:01] #1822 closed

[2018-10-19 06:46] sk9331657 commented on #1833
@rajvaibhavdubey Try to reload and make sure your branch is up to date with fossasia development

[2018-10-19 07:36] rajvaibhavdubey commented on #1833
@sk9331657 on localhost, it's working correctly. But try to open on badgeyay.com,on the preview badge area u will see white screen, and also open the console to see the error.
:sweat_smile:

[2018-10-19 08:14] sk9331657 commented on #1833
@rajvaibhavdubey  Update issue with title Badge preview not working correctly on badgeyay.com

[2018-10-19 18:40] #1797 closed

[2018-10-20 04:43] sk9331657 commented on #1759
Closing Since Images is working currently .

[2018-10-20 04:43] #1759 closed

[2018-10-20 04:47] sk9331657 commented on #1665
@rajvaibhavdubey  I will start working on it from today . Was busy solving other issues .  :smile: .

[2018-10-20 10:07] #1763 closed

[2018-10-21 01:00] RMPR commented on #1828
Hello, i'm on this issue, give you feedback asap

[2018-10-21 09:55] sk9331657 commented on #1792
@pandyamarut  Are u working on it or shall I take this issue??

[2018-10-21 09:56] sk9331657 commented on #1765
@ParthS007  @gabru-md  This one is fixed, so can be closed.

[2018-10-21 15:57] #1765 closed

[2018-10-23 10:04] rajvaibhavdubey commented on #1786
@sk9331657 As u are busy with GCI, can I work on this?

[2018-10-24 05:02] rupav commented on #1801
@ParthS007 please see the PR attatched.

[2018-10-24 05:04] rupav commented on #1756
@yashLadha @rajvaibhavdubey can I give it a try, if you are not doing this anymore ?

[2018-10-24 05:57] rajvaibhavdubey commented on #1756
@rupav Yeah sure :smile:

[2018-10-24 07:04] rupav commented on #1828
@RMPR @YogeshSharma0201 are you working on this? Please update. I would like to work on this.

[2018-10-24 09:20] rupav commented on #1756
@rajvaibhavdubey please review the attached PR. Thanks :)

[2018-10-24 12:09] rupav commented on #1592
@ParthS007 @sk9331657 I would like to work on this. Can I?

[2018-10-24 12:19] rupav opened #1846 "Preview toggle position not same on page change."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

![screenshot from 2018-10-24 17-42-42](https://user-images.githubusercontent.com/20624380/47429603-84638580-d7b4-11e8-9997-ebe5000ca9d2.png)

![screenshot from 2018-10-24 17-49-25](https://user-images.githubusercontent.com/20624380/47429855-2e431200-d7b5-11e8-84c2-c1fb5bd9b963.png)

Rather toggle should be on,

[2018-10-24 17:31] RMPR commented on #1828
Yes, I'm working on this

Le mer. 24 oct. 2018 à 09:04, rupav jain <notifications@github.com> a
écrit :

[2018-10-25 18:55] rajvaibhavdubey commented on #1770
@yashLadha I would like to work on it.

[2018-10-26 07:14] YogeshSharma0201 commented on #354
@ParthS007 can i work on this issue?

[2018-10-26 07:15] YogeshSharma0201 commented on #1699
@sk9331657 are you still working on this issue?

[2018-10-27 02:43] sk9331657 commented on #1470
@ParthS007  How is eventbrite csv different from normal csv??

[2018-10-27 10:06] rajvaibhavdubey commented on #1592
@rupav @sk9331657 Are u still working on this, or can I proceed?

[2018-10-27 10:08] rajvaibhavdubey commented on #1642
@gabru-md I'm working on this.

[2018-10-27 21:22] rajvaibhavdubey opened #1848 "Fix responsiveness issue of font section"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

- Open the Create badges page
- Reduce the screen size until you notice the bug

**Expected behaviour:**

- The Section should be completely responsive

**Steps to reproduce:**
- Open the Create badges page
- Reduce the screen size until you notice the bug

**Screenshots**
![screenshot from 2018-10-28 02-48-40

[2018-10-28 03:40] rupav commented on #1592
Because of no update by Shubhum, I am claiming this. Will send the fix ASAP.

[2018-10-28 04:32] sk9331657 commented on #1592
@rupav I am was extremely busy with GCI and internship and will fix it by today . You can take up another issue.

[2018-10-28 07:46] rajvaibhavdubey opened #1850 "Include 'Screenshots' in Issue template"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Would you like to work on the issue?**

Yes

[2018-10-31 17:59] rajvaibhavdubey opened #1852 "Automatic deployement for PR's with surge."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

Include surge for automatic deployement of PR's. It would be much easier to review PR's after surge has been added.

**Would you like to work on the issue?**

Yes.

[2018-10-31 18:00] rajvaibhavdubey commented on #1852
@ParthS007 @gabru-md @yashLadha @rupav What are your views?

[2018-10-31 20:02] #1852 closed

[2018-11-01 06:12] #1480 closed

[2018-11-01 06:14] #1643 closed

[2018-11-01 06:18] #1787 closed

[2018-11-01 11:13] sk9331657 opened #1853 "Implementing Font Color Selection on FrontEnd"
**I'm submitting a ...**
- [x] feature request

**Would you like to work on the issue?**

Yes

[2018-11-01 11:30] sk9331657 opened #1855 "Joining Font Color Selection on Backend"
**I'm submitting a ...**
- [x] feature request

**Would you like to work on the issue?**

Yes , Completing it

[2018-11-02 06:44] rajvaibhavdubey commented on #1853
#1592 is already created for the same.
Thankyou :smile:

[2018-11-02 06:47] sk9331657 commented on #1853
@rajvaibhavdubey  I know that actually , I am breaking the issue to smaller issues . It will make earlier to get reviewed.

[2018-11-02 06:54] rajvaibhavdubey opened #1856 "Adding user image on the badges"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Feature Description**
The badges should display the images of the user.

**Would you like to work on the issue?**

Yes

[2018-11-02 07:10] sk9331657 commented on #1856
@rajvaibhavdubey  Nice Feature. :tada:

[2018-11-06 19:02] RMPR commented on #1828
yes, I tried several things, including modification of z-index, margin and
padding on containers,  but it seems like ember.js is responsible for this
issue, since I don't know ember, i leave this issue up to you, but when
you'll finish this, I would like to know how you did to solve it.
Regards

Le lun. 5 nov. 2018 à 22:25, Raj Vaibhav Dubey <notifications@github.com> a
écrit :

[2018-11-06 19:04] rajvaibhavdubey commented on #1828
Sure thing pal 👍

[2018-11-10 07:39] #1806 closed

[2018-11-10 07:40] #1810 closed

[2018-11-10 07:41] #1785 closed

[2018-11-10 07:42] #1773 closed

[2018-11-10 21:35] rajvaibhavdubey commented on #1855
@sk9331657 Are you working on it, I would like to work on this.

[2018-11-11 06:34] #1833 closed

[2018-11-11 07:13] ParthS007 opened #1857 "Fix Potential security vulnerability"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

![image](https://user-images.githubusercontent.com/24358501/48310165-6917b900-e5af-11e8-8320-b2d4d7120ef6.png)

**I am looking into it**

[2018-11-11 11:02] #1801 closed

[2018-11-12 06:07] parammittal16 commented on #1664
@ParthS007 can I work on this to add Installation on Windows or Vagrant?

[2018-11-12 06:54] ParthS007 commented on #1664
Yes @parammittal16 , Please go ahead with it :+1:

[2018-11-12 18:39] JayjeetAtGithub commented on #1856
Is anyone working on this ? If not, Can i work on this ?

[2018-11-13 06:38] rajvaibhavdubey commented on #1856
I'm working on it.

[2018-11-14 13:23] rajvaibhavdubey opened #1859 "Update svg files for addition of image and qr-code."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

This issue is a sub-issue of #1856 and #1729 and deals with updation of svg files with the help of inkscape.

[2018-11-15 06:50] sk9331657 commented on #1855
@rajvaibhavdubey  Yes, Will make pr today.

[2018-11-16 11:21] rajvaibhavdubey opened #1860 "Include link for other projects in the footer"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Would you like to work on the issue?**

Yes

[2018-11-16 23:33] mishari opened #1861 "Website gives SSL error"
**I'm submitting a ...**
- [ x] bug report
- [ ] feature request

**Current behaviour:**
when I go to badgeyay.com I get an SSL error.

**Expected behaviour:**

**Steps to reproduce:**

**Screenshots**

**Would you like to work on the issue?**

[2018-11-19 10:40] rajvaibhavdubey opened #1862 "Font-size appearing to be extra large"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

Font-size appearing to be extra large

**Steps to reproduce:**
- Go to create-badges on badgeyay.com.

**Screenshots**

![screenshot from 2018-11-19 16-10-10](https://user-images.githubusercontent.com/33062425/48701923-a31f3580-ec15-11e8-9e58-c599024caf4d.png)

**Would you like to work on the issue?**

Yes

[2018-11-25 14:31] parammittal16 commented on #1862
@rajvaibhavdubey  can i work on this ?

[2018-11-25 14:34] parammittal16 commented on #1846
@rupav can i work on this ?

[2018-11-26 11:35] rajvaibhavdubey commented on #1862
I'm working on this.

[2018-11-28 01:45] nimishlakhotia opened #1863 "Add Alignment Function for the information entered"
**I'm submitting a ...**
- [ ]  bug report
- [x] feature request

**Current behaviour:**
No such function enabled.

**Expected behaviour:**
Add the function in front of each of the CUSTOMISE BADGE LAYOUT function

**Steps to reproduce:**
- Go to create-badges on badgeyay.com.

**Would you like to work on the issue?**
Yes

[2018-12-04 08:38] rupav opened #1864 "make Makefile - start development serve and application with a single command."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

Currently to run the application (locally), I need to open 1 terminal for development server, the other for starting ember server. Also if I need to run the test of both frontend and backend, I need to check their syntax, and then type both commands seperately - burden for the developer.
Instead a one stop sol

[2018-12-04 09:47] rupav commented on #1846
Yes you can @parammittal16 .

[2018-12-06 12:38] rajvaibhavdubey commented on #1864
@rupav  Awesome Idea. LGTM :+1:

[2018-12-06 12:42] rajvaibhavdubey opened #1865 "Need of an about us section"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

Badgeyay doesn't have an about us section, it is a necessary section to be implemented on any site.

**Expected behaviour:**

It would tell about the basic functionalities of the site, about fossasia and the developers behind it.

**Would you like to work on the issue?**

Yes

[2018-12-06 17:46] #1756 closed

[2018-12-07 14:52] rajvaibhavdubey opened #1866 "The user limit on watchman needs to be increased"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Screenshots**

![screenshot from 2018-12-06 18-03-30](https://user-images.githubusercontent.com/33062425/49654412-b6c3fc00-fa5d-11e8-9984-4086e80ec877.png)

Due to this, I need to restart the local server every time I make a change in badgeyay.

**Would you like to work on the issue?**

Sure, with some guidance :sweat_smile: .
@Par

[2018-12-07 14:57] #1866 closed

[2018-12-08 04:21] rupav commented on #1538
@gabru-md would like to work on it.

[2018-12-09 19:19] plxity opened #1870 "On hover effect on NavBar elements"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**
![2018-12-10 1](https://user-images.githubusercontent.com/28510494/49701651-a3a75c80-fc14-11e8-9866-7d9b2d8062d6.png)

**Expected behaviour:**
![2018-12-10 2](https://user-images.githubusercontent.com/28510494/49701675-32b47480-fc15-11e8-81d8-2cf746116800.png)

**Steps to reproduce:**
1) Go to http://badgeyay.c

[2018-12-10 05:20] rajvaibhavdubey opened #1871 "Live password matching in the Create account section"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

Currently to see that whether the passwords match user has to click the register button, instead we could use the onkeyup function to implement live matching.

**Would you like to work on the issue?**

Yes

[2018-12-10 05:37] rajvaibhavdubey opened #1872 "Upgrade ember-cli-babel to remove depreciation warnings"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request
**Current behaviour:**

Upon starting the application, a lot of deprecation warnings appear on updating the ember-cli-babel

**Screenshots**

![screenshot from 2018-12-10 11-06-51](https://user-images.githubusercontent.com/33062425/49712710-bd27c300-fc6b-11e8-9389-da4ea9adbbd2.png)

**Would you like to work on the issue?**

Yes

[2018-12-10 05:55] rajvaibhavdubey commented on #1665
Claiming this due to inactivity will send PR within 2 days.
ThankYou :smile:

[2018-12-10 12:11] rajvaibhavdubey opened #1874 "Update PR template"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

PR template needs to be updated

**Would you like to work on the issue?**

[2018-12-11 06:11] rajvaibhavdubey opened #1876 "Add share badges feature in my-badges"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Expected behaviour:**

Would be good if the user can share his/her badges with the other users.

**Would you like to work on the issue?**

Yes

[2018-12-11 06:20] rajvaibhavdubey opened #1877 "Add Greenkeeper bot to badgeyay"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

Greenkeeper automatically updates dependencies and has many other features. You can view more about the greenkeeper bot on https://greenkeeper.io/

**Screenshots**

![screenshot from 2018-12-11 11-49-38](https://user-images.githubusercontent.com/33062425/49782035-dba8bf80-fd3a-11e8-80ee-cbedb14b80be.png)

**Wo

[2018-12-11 17:01] #1862 closed

[2018-12-11 17:07] #1874 closed

[2018-12-12 08:18] rajvaibhavdubey commented on #1877
@ParthS007 @gabru-md @yashLadha Can I proceed to make a PR on this?

[2018-12-12 11:45] rupav opened #1878 "Link pointing to 404 page"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

In https://github.com/fossasia/badgeyay/blob/development/api/README.md#testing-methodology-used
check link of `Testing docs` [Testing Docs](https://github.com/fossasia/badgeyay/blob/development/api/docs/test/testing.md) . Its incorrect, should be something else.

**Would you like to work on the issue?**

Yes,

[2018-12-12 11:50] rupav commented on #1878
I think since test docs aren't there for backend yet, we should remove that line?

[2018-12-12 18:18] #1814 closed

[2018-12-12 18:19] #1864 closed

[2018-12-12 18:22] ParthS007 commented on #1877
@rajvaibhavdubey We have many other High priority issues, It can be implemented at a later stage.

[2018-12-12 18:22] #1877 closed

[2018-12-16 17:09] sk9331657 opened #1881 "Fixing Overlapping Color picker"
**I'm submitting a ...**
- [x] bug report

**Would you like to work on the issue?**

Yes

[2018-12-16 18:40] #1855 closed

[2018-12-16 18:44] sk9331657 commented on #1846
@rupav  I am working on it now.

[2018-12-16 19:37] sk9331657 commented on #1592
@ParthS007  Review this here https://github.com/fossasia/badgeyay/pull/1880

[2018-12-16 19:56] sk9331657 commented on #1856
@rajvaibhavdubey  Can I work on this
??

[2018-12-16 19:57] sk9331657 commented on #1828
I am working on it now.

[2018-12-17 15:08] sk9331657 commented on #595
@ParthS007  Can I work on this ??

[2018-12-18 11:03] sk9331657 commented on #1665
@rajvaibhavdubey  If you don't mind can I take up this issue?

[2018-12-18 11:18] sk9331657 commented on #1792
I am working on it.

[2018-12-18 11:23] satyasashi commented on #1792
Ok @sk9331657 .

[2018-12-18 13:18] sk9331657 opened #1885 "Sharing Badge of Facebook"
**I'm submitting a ...**
-[x] feature request

**Would you like to work on the issue?**

Yes

[2018-12-18 18:04] sk9331657 opened #1887 "Adding Contact Section Similar to other projects like susper and loklak"
**I'm submitting a ...**
- [x] feature request

**Would you like to work on the issue?**

Yess

[2018-12-19 12:55] prabhupant commented on #454
@ParthS007 @mariobehling @gabru-md i'd like to work on this feature. Is this open for now?

[2018-12-20 10:03] rajvaibhavdubey opened #1889 "Storing the date of badge generation in database an showing on mybadges page"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Expected behaviour:**

The date at which badge was generated should also be stored and displayed on my-badges page.

**Would you like to work on the issue?**

Yes

[2018-12-20 21:26] rajvaibhavdubey opened #1890 "Remove the bugs from FAQ page"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

There are currently a lot of bugs in the FAQ page :
- The vertical navbar vanishes for all other window sizes
- Allignment Issues
- The FAQ question headings get changed for different screen sizes.

**Would you like to work on the issue?**

Yes

[2018-12-20 21:31] rajvaibhavdubey opened #1891 "Add tests for the newly added components"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

A lot of new components have been added recently, tests need to be added for them

**Would you like to work on the issue?**

Yes

[2018-12-21 19:19] sk9331657 opened #1893 "My Badges Not retrieving badges other than first page"
**I'm submitting a ...**
- [x] bug report

**Current behaviour:**

Only badges from first pages is showing up.
**Expected behaviour:**

Filtering should be done properly

**Would you like to work on the issue?**

Yes , I am working on it.

[2018-12-22 05:22] #1878 closed

[2018-12-22 05:22] #1890 closed, assigned to nobody

[2018-12-22 08:30] sk9331657 opened #1894 "Implementing Pagination In Admin Badges Section"
**I'm submitting a ...**
- [x] feature request

**Current behaviour:**

Pagination is only in the reports section.

**Expected behaviour:**

Pagination should be in report section too.

**Would you like to work on the issue?**

yes

[2018-12-22 12:22] championpaddler opened #1895 "Implementing Dynamic URL for contact section in Admin Section"
**I'm submitting a ...**
- [x] feature request

**Current behaviour:**

Static Contact Section
**Expected behaviour:**

As of now contact section is static. As suggested by @gabru-md, I will add option to changes contact url in admin section.

**Would you like to work on the issue?**

Yes

[2018-12-22 20:19] #1876 closed

[2018-12-23 09:51] rajvaibhavdubey opened #1897 "Download Badges button overlaps for mobile screen sizes"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

In mobile view the download Badges button overlaps.

**Screenshots**

![screenshot from 2018-12-23 15-20-02](https://user-images.githubusercontent.com/33062425/50382488-69cf5f00-06c6-11e9-8de4-b842f7dee771.png)

**Would you like to work on the issue?**

Yes

[2018-12-23 12:49] #1885 closed

[2018-12-23 14:59] sk9331657 opened #1900 "Adding Quote While Sharing of Badge On Facebook"
**I'm submitting a ...**
- [x] feature request

**Current behaviour:**

Currently, Only badge link is only shared on FB but a quote can be shared.
**Expected behaviour:**

A quote should be added telling about badgeyay.

**Would you like to work on the issue?**

Yes

[2018-12-24 08:04] YogeshSharma0201 commented on #343
working on this

[2018-12-24 17:10] YogeshSharma0201 commented on #354
@ParthS007 are you working on this?

[2018-12-25 20:03] AnishRaj2000 commented on #1848
I would like to take up this issue.

[2018-12-26 11:00] rajvaibhavdubey commented on #1848
Sure :+1: , Go ahead

[2018-12-27 12:55] RAraghavarora opened #1902 "Rectify the typo errors in localvir.md"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**
  There are two step-5, and two step-1 in the installation documentation of [localvir.md](https://github.com/RAraghavarora/badgeyay/blob/development/api/docs/installation/localvir.md). Step 4 is redundant.

**Expected behaviour:**
  Merge the first step 4 with step 3, and renumber the other steps. Re-align the

[2018-12-28 12:12] yatri1609 commented on #1664
@ParthS007 Can I work on this issue?

[2018-12-29 22:52] rajvaibhavdubey opened #1904 "Badgeyay is not opening up"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

Badgeyay is crashing due to some unknown reason most probably due to the recent makefile changes made in https://github.com/fossasia/badgeyay/pull/1867

**Steps to reproduce:**
- Open Badgeyay.com(It won't open)

**Screenshots**

![screenshot from 2018-12-28 16-52-51](https://user-images.githubusercontent.com/

[2019-01-02 11:54] sk9331657 commented on #1904
@rajvaibhavdubey  This can be closed

[2019-01-03 16:59] #1904 closed

[2019-01-03 18:05] rajvaibhavdubey opened #1907 "Refactor the badgeyay project and structure up the project properly"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

- The files need to be structured properly
- Standard coding practices are not used
- Redundant css codes
- Redundant functions

**Would you like to work on the issue?**

Yes

[2019-01-06 11:00] #1853 closed

[2019-01-07 08:39] sk9331657 opened #1908 "Image Not Found on HomePage"
**I'm submitting a ...**
- [x] bug report
**Current behaviour:**

 Badge  Image Is missing.

**Expected behaviour:**

Moving Image to local images.
**Steps to reproduce:**
Go to homepage. See
**Screenshots**

**Would you like to work on the issue?**

Yes

[2019-01-07 18:31] #1908 closed

[2019-01-08 15:56] sk9331657 opened #1911 "Badge is not responsive"
**I'm submitting a ...**
- [x] bug report

**Current behaviour:**

**Expected behaviour:**

**Steps to reproduce:**

**Screenshots**

**Would you like to work on the issue?**

Yes.

[2019-01-08 16:22] sk9331657 opened #1912 "Apply to All in FOnt Color"
**I'm submitting a ...**
- [x] feature request

**Current behaviour:**

**Expected behaviour:**

**Steps to reproduce:**

**Screenshots**

**Would you like to work on the issue?**

Yes.

[2019-01-08 18:04] rajvaibhavdubey commented on #1911
Please provide a better description of the issue.
Thanks :smile:

[2019-01-08 20:12] rajvaibhavdubey opened #1914 "Minor Fix in settings.py"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

The mail address should be badgeyayofficial@gmail.com

**Would you like to work on the issue?**

Yes

[2019-01-10 11:37] #1846 closed

[2019-01-10 11:37] #1914 closed

[2019-01-10 11:40] #1881 closed

[2019-01-10 11:41] #1912 closed

[2019-01-10 11:43] #1897 closed

[2019-01-10 15:18] sk9331657 opened #1916 "Simple Error in Font Color"
**I'm submitting a ...**
- [x] bug report

**Current behaviour:**

Default Color should be ffffff but it is fffffff.
**Expected behaviour:**

**Steps to reproduce:**

**Screenshots**

**Would you like to work on the issue?**

Yes.

[2019-01-11 13:19] sk9331657 opened #1918 "Redirecting Non-admins to homepage when they try to login using url"
**I'm submitting a ...**
- [x] bug report

**Current behaviour:**

**Expected behaviour:**

**Steps to reproduce:**

**Screenshots**

**Would you like to work on the issue?**

Yes.

[2019-01-12 06:47] SanjalDhir commented on #1916
Hi, I am a newcomer and would like to work on this issue. Please guide me.

[2019-01-12 08:01] sk9331657 commented on #1918
@try to visit http://127.0.0.1:4200/admin using non-admin account and see the error.

[2019-01-12 12:47] sk9331657 opened #1919 "Adding More Filters For Users In Admin Section"
**I'm submitting a ...**
- [x] feature request

**Current behaviour:**

Buttons are only present for Active and deleted users .
**Expected behaviour:**

Adding button for Getting Different type of users like  Super Admin | Admin | Sales | Verified User | Unverified User | Anonymous User

**Steps to reproduce:**

**Screenshots**

**Would you like to work on the issue?**

[2019-01-12 13:33] rajvaibhavdubey opened #1920 "Give a heading to the create-badges page"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

The create badges page has no heading, It should have one like
- Badge Generator

**Would you like to work on the issue?**

Yes

[2019-01-13 07:16] rajvaibhavdubey opened #1921 "Add custom Logos for certain events"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

Now that we have the add logo feature, We can have a few custom logos like
- one for a sports event
- one for educational etc.

**Would you like to work on the issue?**

Yes

[2019-01-13 10:27] championpaddler opened #1922 "Alerting Users to check atleast one badge to download and unchecking checked badges after downloading"
**I'm submitting a ...**
- [x] bug report

**Current behaviour:**

**Expected behaviour:**

**Steps to reproduce:**

**Screenshots**

**Would you like to work on the issue?**

YEs.

[2019-01-13 12:08] sk9331657 commented on #1861
@mishari  This can be closed.

[2019-01-13 12:09] sk9331657 commented on #1860
@rajvaibhavdubey  Can I take this issue??

[2019-01-13 16:29] championpaddler opened #1924 "Adding Watermarks to Badges in free Mode Limited to 10 Badges"
**I'm submitting a ...**
- [x] feature request

**Current behaviour:**

**Expected behaviour:**

**Steps to reproduce:**

**Screenshots**

**Would you like to work on the issue?**

Yes

[2019-01-13 20:11] rajvaibhavdubey opened #1925 "Links to cross-origin Destinations are unsafe"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

Some cross-links origin are unsafe which decrease performance and increase security vulnerabilities

**Would you like to work on the issue?**

Yes

[2019-01-13 20:21] rajvaibhavdubey commented on #1860
@sk9331657 Will submit PR for this by tonight.

[2019-01-14 18:26] sk9331657 opened #1928 "Password fields should become empty once password is updated"
**I'm submitting a ...**
- [x] bug report

**Current behaviour:**

Once password is updated , passwords fields should be empty.
**Expected behaviour:**

**Steps to reproduce:**

**Screenshots**

**Would you like to work on the issue?**

Ys.

[2019-01-14 18:31] sk9331657 opened #1929 "Profile Image is not responsive"
**I'm submitting a ...**
- [x] bug report

**Current behaviour:**

**Expected behaviour:**

**Steps to reproduce:**

**Screenshots**

![screenshot from 2019-01-15 00-00-58](https://user-images.githubusercontent.com/17084322/51132620-bd157700-1858-11e9-876f-a3f218d5ef5a.png)

**Would you like to work on the issue?**

Yes

[2019-01-14 18:39] sk9331657 opened #1930 "Verifying Old password before updating new password.."
**I'm submitting a ...**
- [ ] bug report
- [ ] feature request

**Current behaviour:**

**Expected behaviour:**

**Steps to reproduce:**

**Screenshots**

**Would you like to work on the issue?**

Yes.

[2019-01-14 19:01] rajvaibhavdubey opened #1932 "Account should display total number of badges made"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

Account should
- display total number of badges made
- Number of free badges remaining
- and a info about payment options.

**Would you like to work on the issue?**

Yes

[2019-01-14 19:06] rajvaibhavdubey opened #1933 "On the login page pressing enter makes the password visible"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

On the login page pressing enter makes the password visible.

**Would you like to work on the issue?**

Yes

[2019-01-14 19:22] rajvaibhavdubey opened #1934 "Without login Create badges should display alert message"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

Without login Create badges should display alert message `You must login to continue`

**Would you like to work on the issue?**

Yes

[2019-01-15 04:56] sk9331657 opened #1935 "Implementing Stripe on Frontend"
**I'm submitting a ...**

- [ ] feature request

**Current behaviour:**

**Expected behaviour:**

**Steps to reproduce:**

**Screenshots**

**Would you like to work on the issue?**

Yes

[2019-01-15 13:08] rajvaibhavdubey opened #1938 "String overflow on badges"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

Prevent String overflow in badges.

**Screenshots**

![51083402-a3344100-173f-11e9-8bc7-d09bf85836c4](https://user-images.githubusercontent.com/33062425/51182589-b63c4200-18f4-11e9-87a7-7b8aacaa4d23.png)

**Would you like to work on the issue?**

Yes

[2019-01-15 15:44] #1933 closed

[2019-01-15 15:45] #1916 closed

[2019-01-15 15:46] mariobehling commented on #1918
Please in future describe what is wrong. Thank you.

[2019-01-15 15:46] #1918 closed

[2019-01-15 15:46] #1928 closed

[2019-01-15 15:47] #354 closed

[2019-01-15 15:48] #1860 closed

[2019-01-15 15:51] #1934 closed

[2019-01-15 15:55] #1902 closed

[2019-01-15 15:56] #1865 closed

[2019-01-15 15:57] #1922 closed, assigned to nobody

[2019-01-15 17:46] #1828 closed

[2019-01-15 18:43] rajvaibhavdubey opened #1939 "Include Contact-us in the footer"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

Contact-us needs to be included in the footer

**Would you like to work on the issue?**

Yes

[2019-01-15 19:07] rajvaibhavdubey opened #1942 "Route Tests for contact section are missing"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

Route tests for contact section are missing.

**Would you like to work on the issue?**

Yes

[2019-01-15 19:17] rajvaibhavdubey opened #1944 "Fix add logo section"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

The default logo does'nt have a perfect fit.

**Screenshots**

![screenshot from 2019-01-16 00-45-55](https://user-images.githubusercontent.com/33062425/51203893-3af48380-1928-11e9-90e5-bd04d326cd00.png)

**Would you like to work on the issue?**

Yes

[2019-01-16 06:29] rajvaibhavdubey opened #1945 "Add tests for the logo section"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

Tests for the logo section do not exist.

**Would you like to work on the issue?**

Yes

[2019-01-16 06:38] rajvaibhavdubey commented on #1945
@YogeshSharma0201 next time onwards, whenever you create a new component make sure to add tests also. This helps in the maintenance of the project. :smile:

[2019-01-16 06:54] rajvaibhavdubey opened #1947 "Fix badge preview overlapping"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

The badge preview overlaps with the footer.

**Screenshots**
![screenshot from 2019-01-16 12-25-22](https://user-images.githubusercontent.com/33062425/51231570-fa2d5680-1989-11e9-9f98-188492ab0ca9.png)

**Would you like to work on the issue?**

Yes

[2019-01-16 13:53] YogeshSharma0201 opened #1949 "font family and font size in create-badges not working properly"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**
- long texts are not handled properly in create-badges, they just overflow
- changing font-family doesn't change font-family in the preview

**Expected behaviour:**
- long texts should automatically adjust fit the width of the badge.
- setting font sizes should work correctly
- setting font family should change

[2019-01-16 14:12] YogeshSharma0201 commented on #1729
@rajvaibhavdubey are you still working on this? Let me know if i can work on this.

[2019-01-16 14:20] YogeshSharma0201 commented on #616
@rupav @ParthS007 I would like to work on this issue.

[2019-01-16 14:23] YogeshSharma0201 commented on #153
Working on this.

[2019-01-16 14:41] championpaddler opened #1950 "Fix Overlapping Badge & Footer"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

#1926  Created bug of overlapping Badges. As Size of Badge Preview is required to be large enough so , we need to keep height of footer as small as possible.
**Expected behaviour:**

Fixing Overlapping Badges.
**Steps to reproduce:**

**Screenshots**

**Would you like to work on the issue?**

Yes.

[2019-01-16 15:36] rajvaibhavdubey commented on #1950
@sk9331657 There is an issue created for the same #1947

[2019-01-16 15:38] sk9331657 commented on #1950
@rajvaibhavdubey  That's different. As you have increased the height of footer , the available space for preview is reduced , thus footer needs to be reset.

[2019-01-16 15:58] rajvaibhavdubey opened #1951 "Decreasing the size of images by 50%, using webp instead of png and jpeg"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

I think we should use webp instead of jpeg, it's a better and faster optimized image format for the web.

**Would you like to work on the issue?**

Yes

[2019-01-16 16:20] #1939 closed

[2019-01-16 16:21] #1947 closed

[2019-01-16 16:22] #1945 closed

[2019-01-16 16:22] #1942 closed

[2019-01-16 16:24] #1925 closed

[2019-01-16 16:26] #1893 closed

[2019-01-16 16:27] mariobehling opened #1952 "Upgrade urllib3 to version 1.23 or later"
The urllib3 is out of date. Please update it.

[2019-01-16 16:36] rajvaibhavdubey commented on #1952
@mariobehling I'm claiming this.

[2019-01-16 16:52] mariobehling opened #1953 "Heroku Build Failing"
Below is the log for the failing build. Please help to fix it.

[code]

[2019-01-16 16:59] #1953 closed

[2019-01-17 06:37] ashutoshtiwari13 commented on #1952
@mariobehling I'm taking this up!

[2019-01-17 07:58] rajvaibhavdubey commented on #1952
@ashutoshtiwari13 I've already submitted a PR for this issue.

[2019-01-18 02:19] rupav commented on #616
yes you can @YogeshSharma0201 .

[2019-01-18 05:21] rajvaibhavdubey commented on #1929
@sk9331657 I would like to work on this and submit a PR.
Thankyou :smile:

[2019-01-18 07:15] sk9331657 opened #1959 "Fix Issue in Badge Model"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

Badge service is breaking due to missing font color column in db
**Expected behaviour:**

Adding columns for them.
**Steps to reproduce:**

**Screenshots**

**Would you like to work on the issue?**

Yes.

[2019-01-18 11:25] rajvaibhavdubey opened #1961 "Update user-guide with new instructions"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

The user guide must be updated with the new instructions.

**Would you like to work on the issue?**

Yes

[2019-01-18 11:49] rajvaibhavdubey opened #1963 "Data tooltip overlaps with the badge preview"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

Data tooltip should not overlap.

**Would you like to work on the issue?**

Yes

[2019-01-18 12:00] rajvaibhavdubey opened #1965 "Update overlay-welcome"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

Overlay-welcome should be updated with the latest instructions.

**Would you like to work on the issue?**

Yes

[2019-01-18 13:52] rajvaibhavdubey opened #1967 "Add option to use default logo"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

The default logo would be that of FOSSASIA.

**Would you like to work on the issue?**

Yes

[2019-01-18 13:57] rajvaibhavdubey opened #1968 "4.5" x 4" preview not working properly"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

The 4.5" x 4" preview is not working properly.

**Screenshots**

![screenshot from 2019-01-18 19-23-57](https://user-images.githubusercontent.com/33062425/51391075-1c280400-1b57-11e9-9e79-b2abbe18e08d.png)

**Would you like to work on the issue?**

Yes

[2019-01-19 06:38] rajvaibhavdubey opened #1970 "Use Lazy loading for increasing the performance of start time loading speed"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

Use lazy loading to decrease startup time of badgeyay

**Would you like to work on the issue?**

Yes

[2019-01-19 08:34] Enforcer007 opened #1971 "Npm Installation Failure for semantic-ui"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**
There's a issue with installation of frontend. NPM install fails in installing semantic-ui

**Expected behaviour:**
Should include this package in package.json of frontend folder

**Steps to reproduce:**
Can be reproduced on a Ubuntu machine having only git, npm installed.

**Screenshots**
![npm install failure

[2019-01-19 18:39] sk9331657 opened #1973 "Updating Verify Email UI Similar to Eventyay"
**I'm submitting a ...**
- [x] feature request

**Current behaviour:**

**Expected behaviour:**

**Steps to reproduce:**

**Screenshots**

**Would you like to work on the issue?**

Yes.

[2019-01-20 07:33] #1959 closed

[2019-01-21 14:15] sk9331657 opened #1975 "Implementing Edit Badge Functionality"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

**Expected behaviour:**

**Steps to reproduce:**

**Screenshots**

**Would you like to work on the issue?**

Yes.

[2019-01-21 18:04] rajvaibhavdubey commented on #1975
@sk9331657, an issue is already made for the same and I'm already working on it.

[2019-01-22 14:19] rajvaibhavdubey opened #1977 "The logo is not responsive"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

The logo should change it's width accordingly, but it simply crops out.

**Screenshots**

![screenshot from 2019-01-22 19-46-35](https://user-images.githubusercontent.com/33062425/51541425-c4530b00-1e7e-11e9-97a5-234b795c4a9d.png)

**Would you like to work on the issue?**

Yes

[2019-01-22 14:22] rajvaibhavdubey opened #1978 "Badge preview not showing the logo on my-badges page"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

Badge preview does not show the logo on my-badges page.

**Screenshots**

![screenshot from 2019-01-22 19-51-37](https://user-images.githubusercontent.com/33062425/51541620-47746100-1e7f-11e9-9eca-4cf812a7cde6.png)

**Would you like to work on the issue?**

Yes

[2019-01-23 05:17] rajvaibhavdubey opened #1980 "Badge size preview is interchanged"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

4.5"x4" shows preview for 4"x3" and vice versa.

**Screenshots**

![screenshot from 2019-01-23 10-45-06](https://user-images.githubusercontent.com/33062425/51584611-22720380-1efc-11e9-8b8a-e31007b50f8d.png)

![screenshot from 2019-01-23 10-45-18](https://user-images.githubusercontent.com/33062425/51584625-33bb

[2019-01-23 08:09] #1967 closed

[2019-01-23 08:10] #1965 closed

[2019-01-23 08:11] #1871 closed

[2019-01-23 08:15] #1952 closed

[2019-01-23 08:16] #1929 closed

[2019-01-23 08:17] #1961 closed, assigned to nobody

[2019-01-23 08:17] #1968 closed

[2019-01-23 12:30] sk9331657 opened #1981 "Default Logo Action Error"
**I'm submitting a ...**
- [x] bug report

**Current behaviour:**

![screenshot from 2019-01-23 17-59-53](https://user-images.githubusercontent.com/17084322/51606741-b82b8400-1f38-11e9-91e3-bcc6413c558a.png)

**Expected behaviour:**

**Steps to reproduce:**

**Screenshots**

**Would you like to work on the issue?**

Yes.

[2019-01-26 16:17] sk9331657 opened #1985 "Badge Statistics in Settings Section"
**I'm submitting a ...**
- [x] feature request

**Current behaviour:**

**Expected behaviour:**

Section Showing Badge Statistics

**Steps to reproduce:**

**Screenshots**

**Would you like to work on the issue?**

Yes.

[2019-01-26 17:31] rajvaibhavdubey opened #1986 "Forums icon missing"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

Google forums icon is missing

**Screenshots**

![screenshot from 2019-01-26 22-59-45](https://user-images.githubusercontent.com/33062425/51790654-4bc1b680-21be-11e9-9c0e-080a5c31c9c2.png)

**Would you like to work on the issue?**

Yes

[2019-01-26 21:18] rajvaibhavdubey opened #1987 "Update Features section on home page"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

Features section on home page should be updated with the latest information of the badge creation like logo addition.

**Would you like to work on the issue?**

Yes

[2019-01-26 21:25] rajvaibhavdubey opened #1988 "Register and Login option should be removed of the logged in person from Sitemap"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

Register and Login option should be removed of the logged in person from Sitemap

**Would you like to work on the issue?**

Yes

[2019-01-29 06:52] sk9331657 opened #1992 "Checking If Email exists in realtime during signup"
**I'm submitting a ...**
- [x] feature request

**Current behaviour:**

Currently , user need to enter email and it then send to backend for checking if user exists .
**Expected behaviour:**- [ ] bug report

Checking User in realtime.

**Steps to reproduce:**

**Screenshots**

**Would you like to work on the issue?**

Yes.

[2019-01-29 13:08] yashLadha commented on #1992
Also can you prepare logic for checking for temporary mails. There are some restricted domains for email address so that only valid users authenticate into system.

[2019-01-29 13:08] yashLadha commented on #1992
For ref: https://gist.github.com/adamloving/4401361

[2019-01-29 13:10] yashLadha commented on #1987
It would be great if you can provide some elaborate description about the issue. Like what you are planning to do? @rajvaibhavdubey  That would be a good practice and it will also help fellow developers to more clearly see your idea.

[2019-01-29 13:10] #1980 closed

[2019-01-29 13:11] yashLadha commented on #1985
Please elaborate the issue @sk9331657 . This Issue description doesn't seem appropriate

[2019-01-29 13:13] yashLadha opened #1994 "Modify ISSUE_TEMPLATE to include issue description"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behaviour:**

Developers just plainly creating issues with a title

**Expected behaviour:**

There should be a description in PR for better understanding the idea, for feature requests only.

[2019-01-29 13:15] yashLadha commented on #1977
This should be implemented in the SVG for changing and mutating the design. This is one of the major challeneges that still need to be tackle in badgeyay. For ref try to research over how other services are doing. All of them are doing the same thing, what we are doing but through a smarted logic.

[2019-01-29 13:16] #1975 closed

[2019-01-30 04:48] yashLadha commented on #1994
Yes, please go ahead. @rajvaibhavdubey

[2019-01-31 15:32] #1407 closed

[2019-01-31 15:35] #1467 closed

[2019-01-31 15:37] #1551 closed

[2019-01-31 15:52] #1861 closed

[2019-02-02 06:57] YogeshSharma0201 commented on #1665
Working on this due to inactivity.

[2019-02-02 07:10] sk9331657 commented on #1994
Working on this due to inactivity .

[2019-02-02 07:36] #1994 closed

[2019-02-02 10:02] rajvaibhavdubey commented on #1987
Sure @yashLadha

[2019-02-04 17:08] creyente1897 opened #1996 "Minor improvements in README.md"
**Description :**
There are many deprecated dependencies due to which many users are facing issues while installing badgeyay frontend locally using npm install, so we can add a tip for such users to install through yarn.
We can also add a postgres installation command in the backend installation guide.

**Screenshots**
![image](https://user-images.githubusercontent.com/33548141/52224241-88cc2e00-2

[2019-02-05 05:12] #1987 closed

[2019-02-05 05:12] #153 closed

[2019-02-05 05:13] #1981 closed

[2019-02-05 05:15] #1973 closed

[2019-02-05 09:18] Aakash-DD commented on #1904
badgeyay.com is not opening.....how can i open this.....

[2019-02-06 19:01] creyente1897 opened #1999 "Travis Ci build and npm test failing"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Description :**
Travis Ci build and npm test failing due to addition of a duplicate key in create-badge.js

**Current behaviour:**
- npm test shows 1 fail
- travis ci showing build failed

**Expected behaviour:**
Should not fail the test

**Steps to reproduce:**
 - Update you branch
 - Run npm test in badgeyay/frontend and see the

[2019-02-07 06:23] YogeshSharma0201 opened #2001 "Add test for "badge-background" component."
**Description :**
Add integration test for "badge-background" component.

[2019-02-07 14:46] Puranjay25 opened #2003 "Github Login Option"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Description :**

There are options for login through google and twitter. For better purpose there should also be github login option.

**Would you like to work on the issue?**

Yes.

[2019-02-10 16:23] Puranjay25 opened #2004 "Make Signup more secure."
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Description :**

**Current behaviour:**

When a user type a password which matched with it's username then also the user was able to login in which was less secure and more inclined towards ease password guessing.

**Expected behaviour:**

When user enters password which is same as it's username then the user shouldn't be able to l

[2019-02-11 17:15] Puranjay25 commented on #1920
@rajvaibhavdubey is this issue valid?

[2019-02-11 19:51] rajvaibhavdubey commented on #1920
Yeah, it is valid :+1:

[2019-02-11 20:34] rajvaibhavdubey opened #2006 "Remove the deprecated dependencies"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Description :**

The depenedencies which no longer have support like nomnom need to be removed.

**Would you like to work on the issue?**

Yes

[2019-02-13 13:57] #1999 closed

[2019-02-14 04:30] abishekvashok commented on #1920
We don't really need one.

[2019-02-14 16:40] Puranjay25 commented on #1985
@sk9331657 do add some description in the issue.

[2019-02-16 09:55] Puranjay25 opened #2008 "Message of "i" button is hidden when hover."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Description :**

Full message of "i" should be diaplayed in "Create Badges" section.
**Current behaviour:**

In Create Badges page, when "i" button is hovered, the message it displays is hidden.

**Expected behaviour:**

**Steps to reproduce:**

**Screenshots**

![hidden](https://user-images.githubusercontent.com/20750726/52898028-

[2019-02-17 06:40] rajvaibhavdubey commented on #2008
@Puranjay25 An issue and a PR has been already made for the same. #1963 , #1964

[2019-02-17 12:39] #2008 closed

[2019-02-20 10:49] Puranjay25 commented on #1935
@sk9331657 please add some more description.

[2019-02-26 18:04] RAraghavarora opened #2011 "Frontend bug while creating new badge"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Description :**
While creating a new badge, on scrolling down the preview of the badge overlaps the bottom navbar.

**Expected behaviour:**
The badge preview should not overlap the bottom nav, and should scroll up.

**Screenshots**
![foss](https://user-images.githubusercontent.com/35304178/53435488-efe98800-3a1e-11e9-9535-3d2cd988c

[2019-02-26 19:35] RAraghavarora opened #2012 "Security Bug"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Description :**
Official Firebase and Oauth credentials are not added on gitignore and are openly availble on github.
On testing the website locally, firebase credentials of main website are being used.

**Current behaviour:**
[ServiceAccountkey.json](https://github.com/fossasia/badgeyay/blob/development/api/config/ServiceAccountke

[2019-02-26 19:40] RAraghavarora commented on #2012
When we register a new account locally, on verifying email, main website opens up.
I wish to add the ServiceAccountkey.json to gitignore, and add the same to documentation to allow people to set up their own firebase credentials or possibly use python decouple for the same.

[2019-02-27 08:32] #1949 closed

[2019-02-27 13:16] YogeshSharma0201 commented on #1665
Update: Almost done, will send a pr soon.

[2019-02-27 13:38] sk9331657 commented on #2011
@RAraghavarora  This is duplicate issue . Already one issue is opened. Will fix the issue asap. Busy with placements.

[2019-02-27 18:01] RAraghavarora opened #2013 "Use python decouple to add Firebase Database URLs in .env"
**I'm submitting a ...**
- [x] bug report
- [x] feature request

**Description :**
Firebase Database URL and Firebase Storage Bucket URL are hardcoded in settings. Python decouple should be used and the URLs should be added to .env.

**Current behaviour:**
Firebase URLS are hardcoded in settings.

**Expected behaviour:**
Firebase Database URL and Firebase Storage Bucket URL be added to .env and im

[2019-02-28 10:02] RAraghavarora commented on #2011
Oh, okay. I'll delete the issue :)

[2019-02-28 10:03] #2011 closed

[2019-02-28 12:10] RAraghavarora opened #2015 "Error in Reset Password"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Description :**
[ResetPasswordToken](https://github.com/fossasia/badgeyay/blob/development/api/models/token.py) uses id as a primary key, and when a user sends a request for 'forgot password', a new instance of ResetPasswordToken is created, with ResetPasswordToken.id equal to User.id. As a result, one user can reset his password o

[2019-02-28 12:15] RAraghavarora commented on #2015
Is there a need to save the previously generated Password Tokens, or can we simply overwrite them?

[2019-02-28 20:24] creyente1897 opened #2017 "Minor tweak in create badge section"
**Description :**
Adding a placeholder to enter details input to improve the user understand what input should be provided.

**Would you like to work on the issue?**
Yes

[2019-03-01 12:06] Puranjay25 opened #2020 "Text Color Not Displayed in My Badges section"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Description :**
**Current behaviour:**

In badge description of badges in "My Badges" section Text Color is not displayed.

**Screenshots**

![screenshot from 2019-03-01 17-33-28](https://user-images.githubusercontent.com/20750726/53637201-8d73d000-3c48-11e9-827f-fac50fd6f76c.png)
**Would you like to work on the issue?**

Yes.

[2019-03-03 05:38] RAraghavarora opened #2022 "Error in extracting user in reset_password()"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Description :**
Logical error in User.getUser()

**Current behaviour:**
User is extracted by the username without explicitly passing the keyword argument 'username'

**Expected behaviour:**
Pass the keyword argument 'username'

**Would you like to work on the issue?**
Yes

[2019-03-03 08:44] RAraghavarora opened #2025 "Documentation in Response class"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Description :**
Add appropriate documentation for various functions of the Response class

**Would you like to work on the issue?**
Yes

[2019-03-03 11:06] Puranjay25 commented on #2022
There is nothing wrong with the current version, because data['username'] is not used anywhere else in the entire function. So it's not required to assign data['username'] to a variable.

[2019-03-03 11:16] Puranjay25 opened #2027 "Check for username while signup"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Description :**

When a user signup it should be verified that an already registered user with that username doesn't exists.
**Current behaviour:**

A username is chosen by multiple users.
**Expected behaviour:**

**Steps to reproduce:**

**Screenshots**

**Would you like to work on the issue?**

[2019-03-04 15:14] #2013 closed

[2019-03-04 16:12] RAraghavarora commented on #2022
@Puranjay25 I think you misunderstood the issue. The getUser function takes 4 arguments: cls, user_id, username, and email. Since we are sending username, we need to explicitly write: User.getUser(username=data['username']), instead of
User.getUser(data['username']),
as the 2nd version would pass the value of username to user_id.

[2019-03-04 16:12] RAraghavarora commented on #2022
I understand that I need to squash my commits, I'll do that.

[2019-03-05 12:31] #2012 closed

[2019-03-05 15:13] rajdeepbharati commented on #2027
Hi can I work on this?

[2019-03-06 13:38] kushthedude commented on #2020
@Puranjay25 ,Any updates?

[2019-03-06 16:30] Puranjay25 commented on #2020
@kushthedude I got stuck in a part. I have posted my issue on gitter channel of badgeyay.

[2019-03-08 02:22] RAraghavarora commented on #1470
Can this issue be assigned to me?

[2019-03-10 04:45] YogeshSharma0201 commented on #1470
@RAraghavarora you can start working on the first part i.e. import attendees info from eventbrite csv, you can look up the work flow of importing eventyay csv (fossasia/badgeyay#1984).

[2019-03-11 13:24] RAraghavarora commented on #1470
@YogeshSharma0201  Okay, I'll do that

[2019-03-11 16:29] Puranjay25 opened #2030 "Single Badge Downloading after selecting multiple badges."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Description :**

**Current behaviour:**

In My Badges Section Wen Multiple Badges are selected and clicked on "Download Badges" only a single badge is downloaded rather than all the selected ones.

**Expected behaviour:**

All the selected badges should be downloaded at once.

**Steps to reproduce:**

**Screenshots**

![badges(1)](

[2019-03-13 09:52] prasadgujar opened #2032 "badgeyay website is not loading on both desktop and mobile website."
**I'm submitting a ...**
- [ /] bug report
- [ ] feature request

**Description :**

Currently badgeyay website is not working/loading both on mobile as well on desktop.
**Current behaviour:**

 Badgeyay website: [http://badgeyay.com/](url) is not working
**Expected behaviour:**

excepted to load website if website is underconstruction it should show message.

**Would you like to work on the issue

[2019-03-13 09:58] prasadgujar opened #2033 "badgeyay backend on the herokuapp giving 404 error"
**I'm submitting a ...**
- [/ ] bug report
- [ ] feature request

**Description :**

badgeyay backend hosted on the Heroku is not working.
**Current behavior:**

after visiting the [http://badgeyay-dev.herokuapp.com/](url) it's giving error-404 Not Found: The requested URL was not found on the server.
**Expected behavior:**

it should work fine without giving any error if the hosted URL is changed

[2019-03-13 16:41] #2030 closed

[2019-03-13 16:44] Puranjay25 opened #2034 "Badge not being deleted."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Description :**

**Current behaviour:**

In my badges section when delete option is selected for a badge, it's shows an error "Unable to delete badge".

**Expected behaviour:**

Badge should be deleted after giving delete command.

**Steps to reproduce:**

**Screenshots**

**Would you like to work on the issue?**
Yes.

[2019-03-17 16:00] Puranjay25 commented on #1856
@rajvaibhavdubey can you please elaborate this issue. Like exactly where to display user's image. As I want to work on this.
Thanks

[2019-03-17 18:59] vinaysomawat opened #2035 "Remove unnecessary text"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Description :**

**Current behaviour:**
'+' present in http://localhost:4200/create-badges

**Expected behaviour:**
It should be removed.

**Steps to reproduce:**

**Screenshots**
![Screenshot from 2019-03-18 00-20-06](https://user-images.githubusercontent.com/30196269/54496392-c84a5900-4914-11e9-984b-6227b95a4e0d.png)

**Would you

[2019-03-20 04:59] rajvaibhavdubey commented on #1856
@Puranjay25 Similar to the Id cards where we have an image of the individual next to the name.

[2019-03-20 18:09] khanna98 opened #2038 "Webpage not loading !"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Description :**

I have been trying to open the webpage for quite a long time now and it is not opening. My internet speed is good and there are no proxies on my network.

**Current behaviour:**

The site is not loading or showing any content even after fully loading.

**Expected behaviour:**

The site must load quickly and I shoul

[2019-03-21 06:22] rajvaibhavdubey commented on #2038
Please don't make duplicate Issues. :smile:

[2019-03-21 06:23] rajvaibhavdubey commented on #2033
Please don't make duplicate Issues. :smile:

[2019-03-21 06:23] rajvaibhavdubey commented on #2035
This has already been solved in a PR.

[2019-03-21 14:51] #2001 closed

[2019-03-21 14:52] #616 closed

[2019-03-21 14:53] #2015 closed

[2019-03-21 14:53] #2017 closed

[2019-03-21 14:53] #1996 closed

[2019-03-21 14:54] #1665 closed

[2019-03-21 14:55] #2004 closed

[2019-03-21 14:55] #2022 closed

[2019-03-21 14:56] #2025 closed

[2019-03-21 15:00] mariobehling commented on #2020
Not needed.

[2019-03-21 15:00] #2020 closed

[2019-03-23 09:19] rajvaibhavdubey opened #2042 "Add Tests for the edit badge component"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Description :**

Tests have not been added for the edit badge feature

**Would you like to work on the issue?**

Yes

[2019-03-27 08:24] #2027 closed

[2019-03-28 06:01] rajvaibhavdubey commented on #1971
Closing as it is not necessary. npm build is working fine.

[2019-03-28 06:01] #1971 closed

[2019-03-28 06:02] rajvaibhavdubey commented on #2038
Duplicate Issue #2032

[2019-03-28 06:02] #2038 closed

[2019-03-28 06:02] rajvaibhavdubey commented on #2033
Duplicate Issue #2032

[2019-03-28 06:02] #2033 closed

[2019-03-28 06:06] rajvaibhavdubey commented on #1992
@sk9331657 @yashLadha Working on this due to inactivity.

[2019-03-29 05:03] thesoleninja commented on #2035
@rajvaibhavdubey  Can you share the commit/PR link for this?

[2019-03-29 05:40] rajvaibhavdubey commented on #2035
https://github.com/fossasia/badgeyay/pull/2028

[2019-03-29 11:07] sk9331657 commented on #2035
@thesoleninja This pr is duplicate.

[2019-03-29 13:29] rajvaibhavdubey commented on #2035
This issue can be closed, already resolved.

[2019-03-29 13:29] #2035 closed

[2019-04-04 04:41] #2042 closed

[2019-04-04 06:35] rajvaibhavdubey opened #2047 "Implement asynchronous loading"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Description :**

Loading asynchronously will prevent any delay in pageload because the page will attempt to load all elements simultaneously,

**Current behaviour:**

Currently the pages are loaded synchronously

**Would you like to work on the issue?**

Yes

[2019-04-04 06:36] rajvaibhavdubey commented on #2047
@yashLadha @gabru-md @ParthS007 Discussion needed.

[2019-04-04 06:40] rajvaibhavdubey opened #2048 "Implement Module Testing"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Description :**

Module testing is the testing of complete code objects as produced by the compiler when built from source.
**Current behaviour:**

Currently empty test files are present.

**Would you like to work on the issue?**

Yes

[2019-04-10 02:41] kushthedude commented on #1930
@sk9331657 Can you be more specific?

[2019-04-10 05:49] rajvaibhavdubey commented on #1930
@kushthedude On the password update page , before updating password old password must be verified.

[2019-04-10 05:50] kushthedude commented on #1930
Can i work on it or is anybody working on it ?

[2019-04-10 05:51] rajvaibhavdubey commented on #1930
Yeah sure :+1:

[2019-04-11 05:19] kushthedude opened #2049 "No Installation instructions for MacOS"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Description :**

As i was exploring README.md , No specific installation instructions are given for MacOS , As some commands are different for Mac

**Expected behaviour:**

Include Specific instructions for MacOS.

**Would you like to work on the issue?**

Yup

[2019-04-11 05:19] kushthedude commented on #2049
@abishekvashok @rajvaibhavdubey Should i include them ?

[2019-04-11 05:23] kushthedude opened #2050 "Separate Issue Templates for Bug Report and Feature Request"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Description :**

Currently when a user submits a new issue , There are no specific templates for Bug Report and Feature Request .

**Expected behaviour:**

As there are two separate templated for types of issue in Open Event , I propose to include Separate and more accurate templates for both Bug and Feature Request
**Steps to repr

[2019-04-11 05:24] kushthedude commented on #2050
@rajvaibhavdubey @abishekvashok Your thoughts on it?

[2019-04-11 06:56] kushthedude commented on #1950
@sk9331657 Progress on it?

[2019-04-11 10:25] rajvaibhavdubey commented on #2049
Yes please, continue :+1:

[2019-04-13 03:12] kushthedude commented on #2006
@rajvaibhavdubey Are you working on it?

[2019-04-14 05:59] #1977 closed

[2019-04-17 20:47] #2049 closed

[2019-04-18 14:33] kushthedude commented on #2032
@rajvaibhavdubey i dont think badgeyay is is production mode , so isnt it obvious that site wont load

[2019-05-10 13:49] prashant1093 commented on #1721
<img width="904" alt="Screenshot 2019-05-10 at 7 15 21 PM" src="https://user-images.githubusercontent.com/43171891/57532038-7cd28b00-7358-11e9-870f-f745508dd327.png">

I trie in incognito mode as well that does not work.

[2019-05-10 16:59] rajvaibhavdubey commented on #1721
Show the console output please @prashant1093

[2019-05-11 05:10] prashant1093 commented on #1721
@rajvaibhavdubey
<img width="1680" alt="Screenshot 2019-05-11 at 10 39 17 AM" src="https://user-images.githubusercontent.com/43171891/57565305-1477be00-73d9-11e9-921d-389082f9d654.png">

[2019-05-11 10:08] rajvaibhavdubey commented on #1721
@prashant1093 I meant the browser console, also it's working fine for me.

[2019-05-15 09:47] prashant1093 commented on #1721
@rajvaibhavdubey sorry for delayed response. This might be some easy error
<img width="554" alt="Screenshot 2019-05-15 at 3 15 19 PM" src="https://user-images.githubusercontent.com/43171891/57766188-8ecf7780-7724-11e9-8e2b-3e6a4af11138.png">
 (I don't understand front end side of things much.)

[2019-06-05 12:56] abishekvashok commented on #2050
We can do it but let's do it later and focus on current issues.

[2019-06-05 12:56] #2050 closed

[2019-06-05 12:59] abishekvashok commented on #2047
Async loading of all elements is not a good practice. Images are loaded asynchroneously, large images therefore appear slowly on slow connections. Many simulataneous connections to load Dom can also ruin the webpage experience. Therefore I propose we close this.

[2019-06-06 03:55] yashLadha commented on #2047
It is not a good practice to transfer images through network though, instead, thumbnails and SVG would be a better approach for rendering images. Secondly initiating several parallel loads at the same time, so this problem is solvable by maintaining a thread pool in the browser and limiting the number of threads. A queue can be maintained which takes care of the large number and the images should

[2019-06-07 03:52] #1988 closed

[2019-06-07 14:53] abishekvashok commented on #2032
Its because of the fact that the api is down

[2019-06-11 15:37] abishekvashok opened #2052 "Update outdated installation docs"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Description :**
The installation docs for both front-end and back-end are quite outdated and need updation

**Current behaviour:**
Out dated docs

**Expected behaviour:**
Up-to date docs

**Would you like to work on the issue?**

Yes

[2019-06-11 15:39] abishekvashok opened #2053 "Add support for facebook login"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Description :**

Add support for fb login

**Current behaviour:**

No fb login available, only available ones are twitter and google+

**Expected behaviour:**

fb login present

**Steps to reproduce:**
Go to login page

**Would you like to work on the issue?**

Yes

[2019-06-11 15:41] abishekvashok commented on #2053
@mariobehling I need access to the firebase apps to do this

[2019-06-12 16:33] abishekvashok opened #2055 ""Password doesn't match" message shows even though there is no password"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behaviour:**

The password matching is carried up for every keyup event
![Screenshot from 2019-06-12 21-27-27](https://user-images.githubusercontent.com/8947010/59369318-ca7a5300-8d5d-11e9-96ed-6cc8e9e4c9a3.png)

**Expected behaviour:**

It only shows when we enter something in the one of the password fields

**Steps to rep

[2019-06-12 17:11] abishekvashok opened #2057 "Add interactive prompt to display that my-badges is empty"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Description :**

Currently my-badges just displays the same layout when there are created badges when there is'nt one.

**Current behaviour:**

Currently my-badges just displays the same layout when there are created badges when there is'nt one.

**Expected behaviour:**

An interactive message will add to UI/UX

**Steps to reproduc

[2019-06-15 08:37] abishekvashok commented on #1978
Its showing now

[2019-06-15 08:37] #1978 closed

[2019-06-15 08:37] abishekvashok commented on #2032
The api is up and website is back online now

[2019-06-15 08:37] #2032 closed

[2019-06-15 10:18] abishekvashok opened #2060 "Add support for A0/A1 size badges"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Description :**
Add support for A0/A1 size badges

**Current behaviour:**
No support for A0/A1 size badges

**Expected behaviour:**
Support for A0/A1 size badges

**Steps to reproduce:**
Go to create-badges page

**Would you like to work on the issue?**

Yes

[2019-06-15 11:54] #2052 closed

[2019-06-19 15:23] abishekvashok opened #2063 "Unable to create badge"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Description :**

The create badge button is disabled, however error checking is done on both sides and doesn't get enabled.

**Current behaviour:**

The create badge button is disabled, however error checking is done on both sides and doesn't get enabled.

**Expected behaviour:**

It should be enabled

**Steps to reproduce:**
Go to

[2019-06-19 15:26] abishekvashok commented on #2063
It occurs when email is unverified. Disabling that feature for now as email verification is not functional

[2019-07-03 13:52] abishekvashok commented on #1935
Working on it

[2019-07-06 15:07] #2063 closed

[2019-07-06 15:08] #1920 closed

[2019-07-06 15:10] #2055 closed

[2019-07-09 05:23] #1672 closed

[2019-07-09 05:24] #2060 closed

[2019-07-09 05:24] #2057 closed

[2019-07-27 20:17] abishekvashok opened #2070 "Align features in homepage to left instead of center"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Description :**

Align the features portion text to the left
**Current behaviour:**

Aligned center
**Expected behaviour:**

Aligned to the left
**Steps to reproduce:**
Go to badgeyay.com

**Screenshots**

![Screenshot from 2019-07-28 01-44-44](https://user-images.githubusercontent.com/8947010/61999200-8a86e980-b0d9-11e9-8e15-720f1

[2019-07-27 20:25] abishekvashok commented on #1799
Still not fixed

[2019-07-27 20:25] abishekvashok commented on #1799
Flagging as first-timers-only

[2019-07-27 22:24] kushthedude opened #2072 "Update Installation Docs"
Installation Docs are degraded for Mac, It is nearly impossible for a newbie to install the server and FE on MacOS
Update them

[2019-07-27 22:26] kushthedude opened #2073 "Object Overflow at various places in Badgeyay."
There is CSS Body and Text overflow in many places of our app, One by one please solve the following UI issues completely

[2019-07-28 03:19] mariobehling opened #2074 "Simplify documentation and rename "Api" to "Backend""
Keeping the documentation in subfolders of frontend and API makes it difficult to find. Please move all documentation to "/docs" in the main folder. Change the following:
* Integrate Readme.md content https://github.com/fossasia/badgeyay/tree/development/frontend into readme of start folder and only keep a short explanation.
* Integrate Readme.md content of https://github.com/fossasia/badgeyay/tre

[2019-07-28 08:31] abishekvashok commented on #2074
On it

[2019-07-28 09:28] kushthedude opened #2075 "Fix Forum Icon"
Fix Forum icon of footer

[2019-07-28 09:38] kushthedude opened #2077 "Many blank lines and blank spaces in our code files"
I have noticed many files containing blank spaces and blank lines which have no use and makes the code look bad.
This will be a parent issue If anyone finds such occurrence fix them and submit the PR

[2019-07-28 11:26] #2075 closed

[2019-07-28 11:51] kushthedude opened #2079 "Fix TravisCI"
Travis seems to be failing due to the init not getting called after some of the dependencies we bumped.

[2019-07-28 12:41] #2079 closed

[2019-07-28 14:11] ektaarora3501 commented on #2070
Can i work on this issue ?

[2019-07-28 14:29] kushthedude commented on #2070
Sure Please Proceed

[2019-07-28 14:31] kushthedude commented on #2070
@ektaarora3501  Sure Please Proceed

[2019-07-29 15:42] #1986 closed

[2019-07-29 15:43] kushthedude commented on #1986
Solved in #2076

[2019-07-29 18:18] kushthedude commented on #1985
@sk9331657 Please reopen after more description. Thanks

[2019-07-29 18:18] #1985 closed

[2019-07-29 21:54] kushthedude opened #2082 "UI Improvements in `Create Badge` section and CSS Overflow"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Description :**

UI Improvements in `Create Badge` section and CSS Overflow

**Screenshots**

![image](https://user-images.githubusercontent.com/44091822/62085546-7f6abf80-b279-11e9-9dfe-800579e081ba.png)

![image](https://user-images.githubusercontent.com/44091822/62085560-84c80a00-b279-11e9-8d06-b02ab0a94661.png)

[2019-07-29 21:59] kushthedude opened #2084 "Add ESLint Configuration"
Currently whenever Lints are wrong neither the console nor the Travis points in out.
Please add ESLint Configuration in FE for maintaining constant indentation and beauty of code.

[2019-07-29 22:01] kushthedude opened #2085 "Unable to download badges due to Invalid Firebase DB URL"
**Description**

Unable to download badges due to Invalid Firebase DB URL

**Stack-Trace:**
[code]

[2019-07-29 22:02] kushthedude commented on #2085
@yashLadha @abishekvashok, I would like some help here, Can you guys help me in fixing the DB issues.

[2019-07-30 07:34] #2082 closed

[2019-07-31 15:29] abishekvashok commented on #2074
@mariobehling done

[2019-07-31 18:07] kushthedude commented on #143
Out of scope currently,
see https://github.com/fossasia/open-event-server/issues/4475#issuecomment-499329965

[2019-07-31 18:07] #143 closed

[2019-07-31 18:19] kushthedude commented on #1664
Please go ahead @yatri1609

[2019-07-31 20:49] vaibhavmatta commented on #2034
Hello,
I want to work on this issue. If possible then please allow me and brief me about the bug.

[2019-07-31 20:50] vaibhavmatta commented on #2085
@kushthedude I want to help in this issue. Please allow me and tell me more about the issue.
Thanks

[2019-07-31 20:53] vaibhavmatta commented on #2073
Sir,
Please assign me this Issue. I want to work on it.
Thanks

[2019-07-31 20:57] kushthedude commented on #2073
@vaibhavmatta You don't need to get assigned to begin working, Just drop a comment and start solving.
Since you have asked to solve the issue, I presume you have already set up badgeyay on local. Happy Contributing

[2019-07-31 21:00] vaibhavmatta commented on #2073
Sir,
I have to set up it on my local. Please guide me how to do it.

On Thu, Aug 1, 2019, 2:27 AM Kush Trivedi <notifications@github.com> wrote:

[2019-07-31 21:03] vaibhavmatta commented on #2070
Is the issue resolved? if not, then Can I work on it?

[2019-07-31 21:05] kushthedude commented on #2073
Please see the readMe file for installation instruction, Any doubt ping on the Gitter channel for badgeyay

[2019-07-31 21:07] vaibhavmatta commented on #2073
Sure Sir, How to get git repositories for the issues mentioned for
first-timers-only on github?
Thanks in advance

On Thu, Aug 1, 2019, 2:35 AM Kush Trivedi <notifications@github.com> wrote:

[2019-07-31 21:44] vaibhavmatta commented on #2070
<img width="1440" alt="Screenshot 2019-08-01 at 3 12 00 AM" src="https://user-images.githubusercontent.com/50797619/62250365-5f1e3a80-b40a-11e9-95a5-c76c7f02c502.png">

Is this what being expected?

[2019-08-01 12:10] vaibhavmatta commented on #2073
Sir,
Please confirm if anyone is already working on this issue?

On Thu, Aug 1, 2019, 2:35 AM Kush Trivedi <notifications@github.com> wrote:

[2019-08-01 12:22] rajvaibhavdubey commented on #2073
@vaibhavmatta See above if anyone is working on this, or a pr has been filed. Then you can start working on this, Currently no one is working on this issue.

[2019-08-01 12:58] vaibhavmatta commented on #2073
I am working on it now.

[2019-08-01 13:10] kushthedude commented on #2085
Not ready to be worked upon

[2019-08-01 13:20] vaibhavmatta commented on #2085
Alright Sir, @kushthedude . Please keep my interest in ur notice and tell me the task whenever you feel like. Thanks

[2019-08-03 08:30] rajvaibhavdubey commented on #2084
@kushthedude Follow the issue template while creating issues.

[2019-08-03 13:07] vaibhavmatta opened #2087 "Name tag under feature section can be made more readable"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Description :**
SHUBHAM KUMAR - information is not easily readable . It's readability can be increased by changing either colour or the background.

**Current behaviour:**
Refer the screenshot.

**Expected behaviour:**
Text can be more readable .

**Steps to reproduce:**

**Screenshots**

<img width="1440" alt="Screenshot 2019-08-0

[2019-08-03 13:08] vaibhavmatta commented on #2087
I want to work on it.

[2019-08-03 14:58] Aswinpookkatt commented on #2070
why is it required the webpage is better as it is now .

[2019-08-03 15:53] rajvaibhavdubey commented on #2070
@vaibhavmatta yes looks good :+1: , Just confirm if @ektaarora3501 is still working on this.

[2019-08-03 15:59] vaibhavmatta commented on #2070
@rajvaibhavdubey , @ektaarora has resolved the issue Successfully. We both worked together. She will push it to the repository soon.
Thanks

[2019-08-03 17:23] kushthedude commented on #2085
Sure

[2019-08-03 17:27] kushthedude commented on #2087
@vaibhavmatta I don't think we need to change the badge on the Home Page, As it simply depicts the type of customisation and information we can offer on our platform

[2019-08-03 17:28] kushthedude commented on #1930
@vaibhavmatta See if you can help here.

[2019-08-03 18:21] vaibhavmatta commented on #1930
@kushthedude Sure Sir..! I am working on it now.!

[2019-08-03 19:04] #2087 closed

[2019-08-04 03:37] lelouchB opened #2089 "Login Dashboard: Update G+ Depreciated buttons"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Description :**

New Google  signin option

**Current behaviour:**

It currently shows Goolge+ sign-in option but as we all know it was shut down last year, it may mislead users and some users may not even use this sign-in option thinking google+ is no more

**Expected behaviour:**

Google Sign In  instead of Google + sign in

**St

[2019-08-04 05:46] kushthedude commented on #2089
@lelouchB You can work on it if you want.

[2019-08-04 05:49] lelouchB commented on #2089
Thanks a lot, I will get on it right away, if you have any pointers for me let me know, This is my first time contributing to an Open Source Project, I appreciate all the help I can get

[2019-08-04 05:51] kushthedude commented on #2089
For the following issue , just change the the logo of button. It would be a bit easy and you will get idea of the codebase pretty well . Then you may go for some bug fixes if you like

[2019-08-04 07:16] lelouchB commented on #2089
Hi I have done the changes and made a PR, please review it
Also, I want to join this organization and want to continue working on OS projects, could you please let me know what's the process.

[2019-08-04 08:05] rajvaibhavdubey commented on #2089
Fixed in #2090

[2019-08-04 08:05] #2089 closed

[2019-08-04 08:07] rajvaibhavdubey commented on #2089
Read the Fossasia's contributors guide, there youll get to know the complete process.
Thankyou for contributing :smile:

[2019-08-04 21:44] vaibhavmatta commented on #1930
@kushthedude Can you please specify the files responsible for this issue?

[2019-08-04 23:05] kushthedude commented on #1930
I suggest you read more about emberjs before working on bugs or feature

[2019-08-04 23:24] vaibhavmatta commented on #1930
I've read about it about an hour ago..! Just give me some idea to start and I will resolve it.

[2019-08-05 00:03] kushthedude opened #2092 "Standard UI Buttons as done in Open Event"
Currently, Buttons are too plain and don't indicate the `Semantic UI Button Feature`, As no item effect on them, Implement them as done in Open Event

[2019-08-05 03:02] kushthedude commented on #1930
Thats why I told you, read about ember templates and components .

[2019-08-05 19:18] vaibhavmatta commented on #1930
Sir @kushthedude I've read everything about ember templates and components and it really helped me to learn about the directory system of our project. Please confirm, Should I add only the Old password input space as the frontend or should I work on its backend as well? Like if the old password is correct only then the new password will be submitted.
Thanks

[2019-08-05 21:44] kushthedude commented on #1930
@vaibhavmatta first of all dont call me sir, secondly just add a field in rhe FE which would check for old password.

[2019-08-06 20:22] #2084 closed

[2019-08-07 10:55] raufabr commented on #1799
Is this open? I would like to have a go if it is open.

[2019-08-07 11:43] rajvaibhavdubey commented on #1799
@raufabr Sure :+1: , Good Luck

[2019-08-08 10:03] #2072 closed

[2019-08-09 10:34] kushthedude commented on #2085
@fossasia/badgeyay-admins Is something wrong with the `Production Config` of our app, As on development most of the functionalities work as expected but on development, each and every action throws an error
[code]

[2019-08-10 16:32] BhuwanChandra commented on #1799
Is this still open? I would like to work on it.

[2019-08-11 11:59] #2092 closed

[2019-08-11 12:22] kushthedude commented on #2070
@vaibhavmatta Want to claim?

[2019-08-11 14:20] vaibhavmatta commented on #2070
@kushthedude I am Claiming it.

[2019-08-14 11:44] abishekvashok opened #2099 "update outdated dependencies on frontend"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Description :**

The many dependencies in the fronend are outdated

**Current behaviour:**

They are outdated

**Expected behaviour:**

They are upto date

**Steps to reproduce:**
Run `npm outdated`

**Would you like to work on the issue?**

Yes, on it

[2019-08-14 12:58] abishekvashok commented on #2074
@mariobehling pls review #2101

[2019-08-18 12:30] #2074 closed

[2019-08-18 17:39] rajvaibhavdubey opened #2105 "Wrong backlinks of installation docs"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Screenshots**

![Screenshot from 2019-08-18 23-05-37](https://user-images.githubusercontent.com/33062425/63228139-c3b00680-c20c-11e9-909a-73f02815787b.png)

The above linked documents have wrong backlinks. @abishekvashok #2074 has caused this bug, Please fix it.

[2019-08-18 18:19] rajvaibhavdubey opened #2106 "Import statements not changed"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Description :**

@abishekvashok #2074 api imports should be changed to backend.

**Screenshots**

![Screenshot from 2019-08-18 23-46-37](https://user-images.githubusercontent.com/33062425/63228573-91090c80-c212-11e9-84fe-5801fdeecefa.png)

[2019-08-19 17:41] #2105 closed

[2019-08-20 15:34] abishekvashok opened #2111 "#2093 breaks frontend homepage"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Description :**

#2093 breaks the frontend home page on npm 5.6.x

**Current behaviour:**

#2093 breaks the frontend home page on npm 5.6.x

**Expected behaviour:**

It doesn't effect the frontend

**Steps to reproduce:**
Deploy the frontend

**Screenshots**

![Screenshot from 2019-08-20 21-02-56](https://user-images.githubusercont

[2019-08-20 15:34] abishekvashok commented on #2111
Reverting #2093

[2019-08-21 11:03] #2085 closed

[2019-08-22 19:51] kushthedude commented on #2111
Please find the root of problem, how can a pr break anything in which only semantic ui classes are changed . Let me tell you what broke it:
- You are still using updated dependancies and npm version on local.
- I told you about 2-3 times its not this easy to jump from ember 1.0 to 3.0, many of the dependancies are obsolete and code changes are there which need to be solved manually.
- If #2093 has

[2019-08-23 05:39] abishekvashok commented on #2111
Nope, using local ones, I can switch versions using nvm

[2019-08-24 05:05] abishekvashok commented on #2077
Please open relevant issues for each file, instead of opening one parent issue and not specifying anything

[2019-08-24 05:10] #1859 closed

[2019-08-24 05:14] #2106 closed

[2019-08-24 05:14] #2111 closed

[2019-08-24 06:22] kushthedude opened #2115 "Update branch settings and protection rules"
Currently, anyone with write access can merge thr PR, neither of the fact the PR is of appropriate quality or is the code good.
Update the branch settings:
- PR head should point to the development head.
- at least one approving review is required before merging, this will stop the silly PRs being made in recent times for revert without even knowing what caused the problem.
- Make master a protect

[2019-08-24 06:47] kushthedude commented on #2077
What more do you need, should I spoon feed you every file ? @abishekvashok Please give a valid excuse to close any issue or revert a PR

[2019-08-24 09:29] abishekvashok opened #2116 "Add QR code support for backend"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Description :**

Add support for QR code on the back end.
Parent issue #1729

**Would you like to work on the issue?**

Yes

[2019-08-25 11:37] lelouchB opened #2118 "Convert Website to PWA(Progressive Web App)"
**I'm submitting a ...**
- [ ] bug report
- [✔️  ] feature request

**Description :**

Convert the existing website to PWA so that it is more easily accessible to users
**Current behaviour:**

Site have no manifest or sevice worker
**Expected behaviour:**

After sucessful conversion, users will able to install the website as an chrome web app, and on mobile phones tooo. Website will be available o

[2019-08-25 17:38] kushthedude commented on #2118
Not required for now

[2019-08-25 17:38] #2118 closed

[2019-08-25 17:41] kushthedude opened #2119 "URGENT: Make BADGEYAY workable again."
`Badgeyay.com` is not working and also there are many errors in deployment variables and some of the pages break due to depreciated `jquery` and old functions.
Please make badgeyay functional, So that it can be workable during `CODEHEAT-2k20`

[2019-08-25 17:42] kushthedude commented on #2119
@abishekvashok This is the issue where we should be focussing our best now. Making any PR other than this related to any useless functionality or any further enhancement to current functionality won't do any good.
@rajvaibhavdubey I would also ask for your help, Please see if you can help us in any way and debug why the production is broke.
Thanks

[2019-08-25 17:43] kushthedude commented on #2116
To be done after #2119

[2019-08-25 17:43] kushthedude commented on #2119
@abishekvashok If you think this issue is void, Please let me know I will share various video and gif showing the broke functions in badgeyay.

[2019-08-25 17:45] kushthedude commented on #2119
cc: @yashLadha @gabru-md @ParthS007

[2019-08-26 01:09] rajvaibhavdubey commented on #2119
@kushthedude The site seems functional to me (maybe some problem with mac, if that's what you are using) . I am able to generate and download badges properly.
![Screenshot from 2019-08-26 06-37-53](https://user-images.githubusercontent.com/33062425/63658938-1f116400-c7cc-11e9-9202-c672ccbd7bea.png)

[2019-08-26 01:10] kushthedude commented on #2119
Just see I will be uploading a bunch of videos, Have a look at them.

[2019-08-26 01:18] kushthedude commented on #2119
Links:-
- [Signup_Error](https://drive.google.com/file/d/1T5qoMwOPX_lGr5vIZ-wgjfkn7S1FxI9T/view?usp=sharing)
- [Buttons_Not_Working](https://drive.google.com/file/d/1JAGkIX8X-vSpwT6cljH79femDBiFQMNC/view?usp=sharing)
- [Hidden_Image & Infinity Loader](https://drive.google.com/file/d/1ZMfPHN0eFsxvSXrtfH5XjAMN3XEEq7jS/view?usp=sharing)

These are only some, There are many,I have already debugged som

[2019-08-26 01:20] kushthedude commented on #2119
If Mac is the case, I will test on Ubuntu and Windows too

[2019-08-28 03:49] rajvaibhavdubey commented on #2119
@kushthedude any progress?

[2019-08-31 09:47] kushthedude commented on #2115
cc: @mariobehling

[2019-09-01 03:40] kushthedude opened #2122 "Migrate from Bower to Yarn"
Bower is dead and not used as an FE Package manager now.
[code]
This must be enough. Let's migrate to `Yarn` now.

[2019-09-03 16:38] vaibhavmatta commented on #2119
@kushthedude Can I help you here in any way?

[2019-09-06 11:27] kushthedude commented on #2119
Just done with university exams, will debug it. In the meantime please see if you can work on importing `jquery` from `@ember/jquery` as traditional jquery is depreciated a long ago.

[2019-09-06 11:37] vaibhavmatta commented on #2119
@kushthedude Alright.! I will search on it. 🙂

[2019-09-06 18:00] abishekvashok commented on #2119
@kushthedude can you open sub issues keeping this a parent one?

[2019-09-07 14:51] kushthedude commented on #2119
@abishekvashok I am actually busy for a few days, It would be great if you can look into the same or better if you could fix it, Later we can go on with your `Dependency Updation PR`

[2019-09-09 11:57] sanjeev0007 commented on #2070
If no one is working on this isssue can i work?

[2019-09-09 12:11] vaibhavmatta commented on #2070
@sanjeev0007
I have made a PR for it. Der are still some bugs ony side. You can go for it.

[2019-09-09 12:21] sanjeev0007 commented on #2070
@vaibhavmatta OK!

[2019-09-13 20:26] masterchef2209 commented on #1799
I would like to have a try on this issue

[2019-09-13 22:48] kushthedude commented on #1799
Go on @masterchef2209

[2019-09-16 18:08] geetchoudhary commented on #2122
@kushthedude , Can I work on this?

[2019-09-16 19:24] kushthedude commented on #2122
Go on , But this is not a `Good First Issue` , I suggest making yourself comfortable with the codebase prior.

[2019-09-19 20:29] #1799 closed

[2019-09-25 05:43] joshiadvait8 opened #2127 "Feature Enhancement: Preview of badge should be available"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Description :**

Preview of the badge should be available in My badges section

**Current behavior:**

There is no option of preview in my badge section

**Expected behavior:**

Preview of badge should be available before downloading PDF

**Steps to reproduce:**

**Screenshots**

**Would you like to work on the issue?**

yes

[2019-09-26 08:17] geetchoudhary opened #2128 "Wrong command in localvir.md for restarting postgresql"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Description :**
The command to restart postgresql in mac is wrong.

**Current behaviour:**
`brew services postgresql restart` gives error.

**Expected behaviour:**
postgresql should be stopped and restarted succesfully.

**Screenshots**
<img width="1440" alt="Screenshot 2019-09-26 at 1 37 33 PM" src="https://user-images.githubuserc

[2019-09-26 09:40] #2122 closed

[2019-09-26 13:31] geetchoudhary commented on #2077
@kushthedude , Can I help with this?

[2019-09-26 13:46] kushthedude commented on #2077
Sure

On Thu, 26 Sep, 2019, 19:01 Geet Choudhary, <notifications@github.com>
wrote:

[2019-09-26 19:39] kushthedude commented on #2128
Both `brew services restart postgresql` or `brew services postgresql restart` works well on fish and bash shell.

[2019-09-26 21:05] geetchoudhary commented on #2128
I have attached the screenshots with the issue here
<https://github.com/fossasia/badgeyay/issues/2128>. PTAL.

On Fri, Sep 27, 2019 at 1:09 AM Kush Trivedi <notifications@github.com>
wrote:

[2019-09-27 11:39] zbeproud commented on #1930
@kushthedude Is anyone working on this?

[2019-09-27 11:47] kushthedude commented on #1930
Nope

On Fri, 27 Sep, 2019, 17:09 Aaditya Joshi, <notifications@github.com> wrote:

[2019-09-27 11:49] zbeproud commented on #1930
@kushthedude Hi! I would love to work on this issue. Could you please assign the issue to me.
I will get in touch with you on gitter.

[2019-09-27 12:02] rajvaibhavdubey commented on #1930
@zbeproud Thankyou, You can start working on this issue. Feel free to ask any problems you face.

[2019-09-27 12:09] zbeproud commented on #1930
Sure. I will get right on top of it!

[2019-09-27 14:13] zbeproud commented on #1930
@rajvaibhavdubey Sir could you please reply to my messages on Gitter?

[2019-09-27 14:27] #2128 closed

[2019-09-29 07:56] geetchoudhary commented on #2119
Should I open a separate issue for this?

[2019-09-29 08:13] geetchoudhary commented on #2119
I solved the problem by not importing jquery at all. jQuery is available via Ember.$
So I changed the code to use Ember.$(...) instead of $(...)
It works fine.
@kushthedude @rajvaibhavdubey

[2019-09-29 09:13] rajvaibhavdubey commented on #2119
@geetchoudhary No need to create a separate issue, create a PR linking to this issue.

[2019-09-29 15:41] rajvaibhavdubey commented on #2119
@kushthedude What's the status on this issue?

[2019-09-29 18:55] kushthedude commented on #2119
There are multiple factors for the following, out of which one is the node and ember version. And the depreciated `jquery` and also the old style of code followed in ES5 of which our project is currently based. Also I am not able to see the where the production server is deployed and Deployment pipelines.

[2019-09-29 18:58] vaibhavmatta commented on #2119
Same.! I am not able to get info about Deployment pipelines.! Please help here.!

[2019-10-01 03:06] amreshk005 commented on #2099
@kushthedude is it still open? if yes can I work on this?

[2019-10-01 03:25] kushthedude commented on #2099
Not of priority currently.

On Tue, 1 Oct, 2019, 08:36 Amresh Kumar, <notifications@github.com> wrote:

[2019-10-01 19:40] kushthedude opened #2132 "Enhance the badges in ReadMe"
Remove the `CodeCOV` as its unknown, and also add the mailing list badge

[2019-10-01 19:59] kushthedude commented on #2132
Fixed in #2133

[2019-10-01 19:59] #2132 closed

[2019-10-01 20:05] kushthedude opened #2134 "Update the issue template and PR Template"
Update the Issue and PR Template of the following in reference to other FOSSASIA Projects

[2019-10-01 20:47] kushthedude opened #2135 "Correct the .env file and Enhance the Installation instruction for FE"
Currently, the Database owner created is not set as the default in `.env.example` which may be misleading.
Correct it

[2019-10-01 21:13] #2135 closed

[2019-10-02 05:38] DaKeiser commented on #1950
Can I take this ?

[2019-10-02 06:11] DaKeiser opened #2139 "Removing the function being displayed on badge preview"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Description :**

A function appears on the badge preview

**Current behaviour:**

A function appears on the badge preview although it shouldn't.

**Expected behaviour:**

The function must not appear on the badge preview.

**Steps to reproduce:**

**Screenshots**

![test](https://user-images.githubusercontent.com/42712983/66021586-

[2019-10-02 06:51] sk9331657 commented on #1950
Yes You can go ahead.

On Wed, Oct 2, 2019 at 11:08 AM Sai Rithwik <notifications@github.com>
wrote:

[2019-10-02 14:57] #2134 closed

[2019-10-02 23:16] kushthedude commented on #2139
@DaKeiser Please tell `Steps To Reproduce`.

[2019-10-03 00:11] kushthedude opened #2140 "Store assets in our repository rather than calling third party services"
- Store assets in our repository rather than calling third party services, As it may tend to call too much third party services and leads to slow loading time.

- Also some of the assets are not loading

[2019-10-03 03:02] jantznick commented on #2140
Do you have a list of third party services used or will it require combing through the current code a bit?

[2019-10-03 05:44] kushthedude commented on #2140
@jantznick Thanks for your interest in the `BadgeYay`, Regarding the issue I just need to store image assets and license assets in our repository rather than rendering them from 3rd party websites.

[2019-10-03 18:40] RisingGeek opened #2141 "Route does not change"
**Describe the bug**
Route does not change to `/create-badges` on clicking the button.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to [http://badgeyay.com](url)
2. Login
3. Click on create Badge

**Expected behaviour**
Route should be changed and form to create badge should be present.

**Expected behaviour**
Route is not changed. Sometimes, route changes but the form is not loaded.

[2019-10-03 18:49] RisingGeek commented on #2053
@abishekvashok are you working on this?

[2019-10-03 18:52] RisingGeek commented on #1970
I would love to work on this if nobody is working on this currently.

[2019-10-04 09:09] kushthedude commented on #2141
Duplicate of #2119

[2019-10-04 09:09] #2141 closed

[2019-10-05 04:01] LeenaKaushik11 commented on #2127
Can I work in this issue @joshiadvait8

[2019-10-05 04:08] LeenaKaushik11 commented on #2139
Please explain @DaKeiser

[2019-10-06 18:51] iamaadijo opened #2143 "Unable to login to Badgeyay on local server"
- I followed the instruction on how to set up Badgeyay on local to the T but still wasn't able to login to Badgeyay on the local installation.

- Tried registering a new user. Screenshot for this is attached below.

**To Reproduce**
Steps to reproduce the behaviour:

- Just follow the current Readme to setup Badgeyay on local installation

**Screenshots**
![Badgeyaylocalinstalltion](https://user-i

[2019-10-06 18:55] iamaadijo commented on #1930
I will be able to proceed with solving this as soon as I can log in to the local installation. #2143

[2019-10-06 22:44] kushthedude opened #2144 "ReadME: Remove 'npm install' from FE installation instruction."
Since we have migrated to yarn the following statement is not required

[2019-10-06 23:42] riosdcs commented on #2144
On it.

[2019-10-06 23:58] #2144 closed

[2019-10-07 00:00] kushthedude opened #2146 "Update Travis Script for Yarn"
Update the Travis Script for Yarn

[2019-10-07 00:10] kushthedude opened #2148 "Remove package-lock file from `FE` as we support yarn"
Since we already added yarn, there is no need for the files generated by `npm install`

[2019-10-07 00:16] matheushf commented on #2148
I can take this

[2019-10-07 00:20] kushthedude commented on #2148
@matheushf sure

[2019-10-07 05:38] #2148 closed

[2019-10-07 05:42] #2146 closed

[2019-10-07 12:59] rishika1802 commented on #2003
@Puranjay25 Can i work on this issue?

[2019-10-08 00:34] kushthedude commented on #2003
@rishika1802 There are several bugs in our system at present. We aim to solve the bugs and make the system more stable before introducing new features which also seems not of use at the present.
Please look for any other issue. Thanks

[2019-10-08 00:34] kushthedude commented on #2003
Not of scope currently.

[2019-10-08 00:34] #2003 closed

[2019-10-08 21:10] AmanKumarBharti commented on #2070
is the issue open or assigned?

[2019-10-09 01:49] vaibhavmatta commented on #2070
@AmanKumaraBharti Issue is still open, You can claim it if you want to.

[2019-10-12 15:10] asha15 commented on #1944
@kushthedude  Shall i work on this?

[2019-10-12 16:31] Iana-Neri22 opened #2152 "Fix logo"

[2019-10-13 02:41] kushthedude commented on #1944
Sure

[2019-10-13 13:04] kushthedude commented on #2152
Please give some info regarding the issue , or else it will be closed. Thanks

[2019-10-14 21:53] sienatime opened #2153 "Fix issues in frontend documentation"
**Describe the bug**

- In `docs/frontend/installation/README.md`, it says "backend" where it should say "frontend," since these are the frontend docs
- The link to the Kubernetes documentation is broken

**To Reproduce**
Steps to reproduce the behaviour:
1. Navigate to "Badgeyay Frontend" from the main README file
2. Observe it says "backend" where it should say "frontend"
3. Click on "Deployment

[2019-10-15 02:09] #2153 closed

[2019-10-15 08:46] Dishebh commented on #1944
I do not see the issue on badgeyay.com website. Can anyone pls share the exact link of the issue or a full page screenshot where the issue is clearly shown?

[2019-10-15 11:32] max-arias opened #2154 "Update Dockerfile to use "backend" instead of "api""
Building the back-end with Docker is failing now because the service "api" does not exist

**To Reproduce**
Steps to reproduce the behaviour:
1. Follow the backend installation steps with Docker

**Expected behaviour**
The backend builds correctly, currently it's failing:

[code]

[2019-10-16 08:24] parthsarthiprasad commented on #2127
id like to add on to this feature @joshiadvait8

[2019-10-16 17:46] hash84 commented on #2140
@kushthedude Can you list the which image and license assets should be stored in the repository
I would like to work on this issues

[2019-10-16 17:49] kushthedude commented on #2140
See the badges used in READme and also docker svg is broken

On Wed, 16 Oct, 2019, 23:16 Hrishikesh Suslade, <notifications@github.com>
wrote:

[2019-10-16 21:05] michaelschomburg commented on #2070
Hello, I would like to work on it if it's still open?

[2019-10-16 23:07] #2154 closed

[2019-10-17 04:47] abishekvashok commented on #2070
Sure go on

[2019-10-17 04:53] #2070 closed

[2019-10-17 05:44] ShreyaPrasad1209 commented on #1950
Can you provide a screenshot where this error is occurring?

[2019-10-17 05:46] #2152 closed

[2019-10-17 05:59] ShreyaPrasad1209 commented on #343
Hi can I work on this issue?

[2019-10-17 06:02] ShreyaPrasad1209 commented on #1935
Can I work on this issue?

[2019-10-17 07:57] sk9331657 commented on #1935
@ShreyaPrasad1209  Yes You can work on this.

[2019-10-19 21:09] impiyush83 opened #2155 "Documentation typo in prerequisites section"
**Describe the bug**
In the prerequisites section of readme.md  the formula for macOS is  brew install postgress which has a typo for postgres.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'README.md'
2. Scroll down to 'Prerequisites -> MacOS'
3. See type

**Expected behaviour**
Typo should be fixed to postgres.

[2019-10-19 21:10] impiyush83 commented on #2155
I will put up a pull request for this.

[2019-10-21 10:06] Nikhil-Vats commented on #2140
@kushthedude I would love to work on this. I will send a PR in a day. I have a few questions -
1. These assets should be stored in `badgeyay/frontend/public/images`, right?
2. Where is the docker svg used which is broken?
3. I couldn't find any images/assets in LICENSE, where are they exactly?

[2019-10-21 11:11] Nikhil-Vats commented on #2140
I have sent a PR with all assets used in README stored in reposiitory. I will update it as soon as I figure out about the License assets and broken docker svg. Let me know if you have any suggestions/reviews.

[2019-10-21 14:23] nirne12 opened #2158 "Addition of Semantic UI in further readings"
I have seen some of the PR's where the user doesn't have an idea about the UI which the app is based on.
It would be great to include `Semantic UI` in Further Readings and Links to make them more comfortable with the WEB-APP

[2019-10-22 10:24] impiyush83 opened #2159 "Code quality for backend python"
**Describe the bug**

Variable names aren't snake case.

**Expected behaviour**

All variable names must be in snake case

**Would like to work on this issue ?**

Yes

[2019-10-25 23:11] rtwksai opened #2161 "Update README for updated Node version"
**Describe the bug**

Node version specified in installation notes was v9.11.2. But on installation I get the following error
```error babel-plugin-ember-modules-api-polyfill@2.12.0: The engine "node" is incompatible with this module. Expected version "6.* || 8.* || >= 10.*". Got "9.11.2" error Found incompatible module.```

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'docs/fronten

[2019-10-27 12:05] #2155 closed, assigned to nobody

[2019-10-27 12:06] #2161 closed, assigned to nobody

[2019-10-31 14:23] codedsun opened #2164 "V2-Setup Django in the project"
**Is your feature request related to a problem? Please describe.**
Setup django in the backend folder of the project on v2 Branch

**Describe the solution you'd like**
With the following discussion, it has been decided to reboot the badgeyay with ReactJS+Django

[2019-10-31 14:40] codedsun commented on #2164
@iamareebjamal Shall i send the PR with basic initialisation of project or do we have to do something else- like setting the directory structure, connecting the DB?

[2019-10-31 15:02] iamareebjamal commented on #2164
It's same in all Django projects

[2019-10-31 15:25] codedsun commented on #2164
@iamareebjamal What about the other files in backend folder as the v2 branch is even with development branch?

[2019-10-31 16:36] codedsun commented on #2164
@kushthedude Please give your inputs.

[2019-10-31 16:54] kushthedude commented on #2164
@codedsun @iamareebjamal I think we should start v.2 branch as clean tree.
Also it would be great if you could mention [V.2] in your issue heading. It would make issue tracker clean.

[2019-10-31 16:55] codedsun commented on #2164
@kushthedude Yes, it should be a clean tree. Who will do it?

Okay sure

[2019-10-31 16:56] kushthedude commented on #2164
@iamareebjamal Do you have admin rights for this repo ? I would like you to enable Travis and Codacy as mandatory check. Also to enable the `Update Branch` switch for the repository .

[2019-11-01 09:29] codedsun commented on #2164
@iamareebjamal Please update

[2019-11-01 09:40] iamareebjamal commented on #2164
On?

[2019-11-01 09:50] codedsun commented on #2164
This

[2019-11-01 13:23] kushthedude opened #2168 "V.2: Planned roadway for version 2"
**For the development of V.2, TDD(Test Driven Development) approach should opt**

- [ ] Implement **Django Server with API-Blueprint using Swagger or Apiary.**
- [ ] Implement **ReactJS FrontEnd**, Framework can be decided later on.
- [ ] Implement CD and other Cloud Functions

[2019-11-01 13:24] kushthedude commented on #2168
@iamareebjamal Your thoughts on the development life cycle.

[2019-11-01 15:00] codedsun commented on #2168
@kushthedude I want to get involved also.  let's move forward! Also, i would request to divide the major tasks with minor tasks(issues) so that everyone can take this and proceed.

[2019-11-01 16:43] godcrampy commented on #2168
I'd like to work on the ReactJs part. I've sent a PR for the initial ReactJs setup.

[2019-11-01 19:11] iamareebjamal commented on #2168
@godcrampy It'll be worked upon after development of backend

[2019-11-01 19:14] iamareebjamal commented on #2168
@kushthedude First, let's list the feature requirement of the server to see what path should be taken

What should be the capability of the server? What features should it have at the end of development.

For example,
1. Have an API for use with client apps which does following things
2. Have a website with these facilities
3. Have these features

[2019-11-01 19:15] iamareebjamal commented on #2164
That has been done already

[2019-11-01 19:16] codedsun commented on #2164
@iamareebjamal ? Which PR. in channel it was raised to setup on v2 branch. Also I see no files in v2 branch for django setup

[2019-11-01 19:23] iamareebjamal commented on #2164
https://github.com/fossasia/badgeyay/issues/2164#issuecomment-548729565

This has been done

[2019-11-01 19:24] codedsun commented on #2164
@iamareebjamal Yes, the task mentioned in the comment is done. Thanks
I thought you are talking about the setup of django. I have setup and sent the PR. Please check

[2019-11-04 16:25] codedsun commented on #2168
@kushthedude @iamareebjamal As we have done the initial setup of django, now when and how shall be the next step be done for discussing db model structure ?

[2019-11-04 22:19] iamareebjamal commented on #2168
What models we had in previous app

[2019-11-06 13:13] abishekvashok commented on #2168
Let me join in as well. Let's go forward.

[2019-11-06 15:14] bhadreshpsavani opened #2172 "Add yarn in the Prerequisites section of frontend document file local.md"
While setting up badgeyay frontend locally user needs to have the yarn as a package manager because it's used in our project. We have to use `yarn install` command while setting up frontend locally.

This Prerequisite is not mentioned in the [file](https://github.com/fossasia/badgeyay/blob/development/docs/frontend/installation/local.md)

If the user doesn't have yarn installed, the user will get

[2019-11-07 09:32] codedsun commented on #2168
@iamareebjamal I am moving with creating basic login functionality

[2019-11-07 10:06] iamareebjamal commented on #2168
First, we need to design the DB

[2019-11-07 10:15] kushthedude commented on #2168
I am checking onto it, also this time we need to include payments module
too.

On Thu, 7 Nov, 2019, 15:36 Areeb Jamal, <notifications@github.com> wrote:

[2019-11-07 10:19] iamareebjamal commented on #2168
That will be done progressively

[2019-11-07 12:21] codedsun commented on #2168
How we are going to design the DB? Either through a meeting, discussion or do I list the models used earlier in the app here? or design the DB as done earlier ?How we should proceed? @iamareebjamal

[2019-11-07 17:54] iamareebjamal commented on #2168
List the models

[2019-11-08 11:21] codedsun commented on #2168
![image](https://user-images.githubusercontent.com/20026440/68473042-f08e1b80-0247-11ea-9687-176699d3871e.png)

[2019-11-08 11:33] iamareebjamal commented on #2168
And the columns?

[2019-11-08 11:36] codedsun commented on #2168
uploading in few mins

On Fri, Nov 8, 2019, 5:03 PM Areeb Jamal <notifications@github.com> wrote:

[2019-11-08 11:40] #2140 closed

[2019-11-08 12:20] codedsun commented on #2168
Table

1. Badges
![image](https://user-images.githubusercontent.com/20026440/68475982-8b3e2880-024f-11ea-8bb0-95d108b31f0d.png)

2. File
![image](https://user-images.githubusercontent.com/20026440/68476002-98f3ae00-024f-11ea-8a7b-2c5cee90ef68.png)

3. Modules
![image](https://user-images.githubusercontent.com/20026440/68476022-a741ca00-024f-11ea-8fd1-6cacdfb2b66a.png)

4. Permissions
![image](http

[2019-11-08 12:22] codedsun commented on #2168
@iamareebjamal Done

[2019-11-08 12:39] iamareebjamal commented on #2168
What do we want to retain from previous site?

[2019-11-08 12:47] codedsun commented on #2168
@kushthedude Please answer this, I am a beginner here.

[2019-11-08 17:49] codedsun commented on #2168
@kushthedude inputs please, so that we can proceed forward. Thanks

[2019-11-11 08:10] codedsun commented on #2168
@iamareebjamal Please tell me how do I do this?  I have not received any response till now. How do we move forward

[2019-11-11 09:05] iamareebjamal commented on #2168
Add auth to new site for now

[2019-11-11 16:09] codedsun opened #2175 "Integrate Auth in Django [V-2.0]"
**Is your feature request related to a problem? Please describe.**
Integrate Auth in Django
Parent issue #2168

[2019-11-11 16:29] codedsun commented on #2175
@iamareebjamal Shall i use the same models as previous?

[2019-11-11 16:43] iamareebjamal commented on #2175
You can't

[2019-11-11 16:58] codedsun commented on #2175
I will setup a new db and create that models, this is what I meant..

On Mon, Nov 11, 2019, 10:13 PM Areeb Jamal <notifications@github.com> wrote:

[2019-11-11 17:07] codedsun commented on #2175
Or we shall use auth provided by django? @iamareebjamal

[2019-11-11 18:12] iamareebjamal commented on #2175
Obviously

[2019-11-11 18:13] codedsun commented on #2175
For which one? @iamareebjamal

[2019-11-11 18:22] iamareebjamal commented on #2175
Django Auth. What's the use of Django if we reimplement everything ourselves

[2019-11-20 14:35] abishekvashok commented on #2159
Hey we recently adopted a new roadmap which would hinder this issues proceeding. So for now, I am closing this. Thanks for looking at the code :)

[2019-11-20 14:35] #2159 closed, assigned to nobody

[2019-11-20 14:36] #2172 closed, assigned to nobody

[2019-11-20 14:36] abishekvashok commented on #2158
Hey we recently adopted a new roadmap which would hinder this issues proceeding. So for now, I am closing this. Thanks for looking at the code :)

[2019-11-20 14:36] #2158 closed, assigned to nobody

[2019-11-20 14:37] abishekvashok commented on #2139
Hey we recently adopted a new roadmap which would hinder this issues proceeding. So for now, I am closing this. Thanks for looking at the code :)

[2019-11-20 14:37] #2139 closed

[2019-11-20 14:37] abishekvashok commented on #2127
Hey we recently adopted a new roadmap which would hinder this issues proceeding. So for now, I am closing this. Thanks for looking at the code :)

[2019-11-20 14:37] #2127 closed

[2019-11-20 14:37] abishekvashok commented on #2119
#2168 should make it up

[2019-11-20 14:37] abishekvashok commented on #2116
Hey we recently adopted a new roadmap which would hinder this issues proceeding. So for now, I am closing this. Thanks for looking at the code :)

[2019-11-20 14:37] #2116 closed

[2019-11-20 14:37] abishekvashok commented on #2143
Hey we recently adopted a new roadmap which would hinder this issues proceeding. So for now, I am closing this. Thanks for looking at the code :)

[2019-11-20 14:37] #2143 closed

[2019-11-20 14:38] abishekvashok commented on #2099
Hey we recently adopted a new roadmap which would hinder this issues proceeding. So for now, I am closing this. Thanks for looking at the code :)

[2019-11-20 14:38] #2099 closed

[2019-11-20 19:13] codedsun commented on #2175
I will send a PR by this weekend

[2019-11-24 13:44] #2115 closed

[2019-11-25 10:38] codedsun commented on #2164
@iamareebjamal Please close this issue, as I have done this and PR is merged

[2019-11-25 10:39] #2164 closed, assigned to nobody

[2019-11-25 10:40] codedsun commented on #2168
@iamareebjamal What is the next step?

[2019-11-26 15:15] codedsun commented on #2168
@iamareebjamal What is the next step after auth?

[2019-11-26 15:19] kushthedude commented on #2168
Planning of models

On Tue, 26 Nov, 2019, 20:45 Suneet Srivastava, <notifications@github.com>
wrote:

[2019-11-26 15:22] codedsun commented on #2168
https://github.com/fossasia/badgeyay/issues/2168#issuecomment-551724198

@kushthedude Need your reply here for the models

[2019-11-26 15:36] codedsun commented on #2168
@kushthedude If you can help, finalising what we want to retain from previous site, we can move forward. Also let's see what @iamareebjamal says.

[2019-11-27 06:36] championpaddler commented on #2168
@iamareebjamal  I will also like to contribute.

[2019-11-30 05:49] #2175 closed, assigned to nobody

[2019-12-02 17:08] gabru-md commented on #2168
Hi I'd like to join this discussion as well. In case you require some help regarding the previous site I'll be happy to provide the insight as much as I can.
:smiley:

[2019-12-03 06:49] codedsun commented on #2168
@gabru-md Thanks a lot. We need to plan the models now. Please help me to get it done

[2019-12-03 15:42] abishekvashok commented on #2168
What are the current plans?

[2019-12-03 16:02] codedsun commented on #2168
@abishekvashok https://github.com/fossasia/badgeyay/issues/2168#issuecomment-558678170

[2019-12-04 19:05] gabru-md commented on #2168
so for the models, we shall have to first identify what is needed to be stored in db. You have a snapshot of the previous model that we were running back when we first created badgeyay. What are the proposed plans that you plan on adding or removing?

[2019-12-05 06:41] codedsun commented on #2168
@gabru-md Yeah I added in the thread here about the models. @kushthedude Kindly tell us what models do we need here and what we want to retain from the previous site. So that we can move forward at a fast pace.

[2019-12-07 12:28] codedsun commented on #2168
@kushthedude If time allows please do make this task also proceed forward. Thanks

[2019-12-15 16:30] aarushi03 commented on #1951
@rajvaibhavdubey if it is still up for grabs, can I take it?

[2020-01-02 09:07] maze-runnar opened #2177 "Add django social auth function[V-2.0]"
Add django social auth function[V-2.0]
1. github
2. facebook
3. twitter
**Additional context**
want to work on this .

[2020-01-03 11:40] maze-runnar commented on #2177
@kushthedude ,should i start work on this ?

[2020-01-03 11:45] kushthedude commented on #2177
No that is too much later

[2020-01-03 13:38] parthsarthiprasad commented on #2034
Can I work on this issue if this is still open?
@kushthedude

[2020-01-03 18:14] maze-runnar commented on #2177
So what would be the next, after general login implementation to work on ?

[2020-01-04 07:32] codedsun commented on #2177
@maze-runnar @kushthedude  We have to decide the models, if anyone could help here.
https://github.com/fossasia/badgeyay/issues/2168

[2020-01-05 16:28] maze-runnar commented on #2168
@codedsun i think every thread from previous model should be collected to one place, is there any problem in using same fields as previous models have ?

[2020-01-06 18:59] maze-runnar commented on #2168
@codedsun when the next step would be finalize? i love to work on Django, So i want to be here more .

[2020-01-07 10:44] codedsun commented on #2168
@maze-runnar : I am stuck here https://github.com/fossasia/badgeyay/issues/2168#issuecomment-551724198

I have not worked with this previously so I dont' know the answer what to retain in the next.

The models are listed here

https://github.com/fossasia/badgeyay/issues/2168#issuecomment-551696414

@iamareebjamal @kushthedude - If we can take this forward it would be great 👍

[2020-01-07 19:09] 97shivank commented on #1930
can i take up this issue??

[2020-01-08 08:55] abishekvashok commented on #2168
User accounts to the minimum point, if it's not possible then we can proceed with a fresh start :)

[2020-01-08 09:11] iamareebjamal commented on #2168
The point is that we can neither migrate old data nor start fresh unless someone knows the end goal of what it should look like, what are the features required, what is the roadmap. The points listed in this issue are vague and tech specific. We need specifications and end goal of the server. I don't know that and hence can't help move it forward unless someone else who knows the current project h

[2020-01-12 09:41] abishekvashok commented on #2168
Okay, what we want is basically this:
A server API with minimal functionality of user authentication (again optional) and badge generation in Django. Then we can proceed with more options later.

A frontend to act as an interactive interface for the API in ReactJS

[2020-01-12 09:42] abishekvashok commented on #2168
I can do this if no one can't do it :)

[2020-01-12 09:45] maze-runnar commented on #2168
@abishekvashok  it was a part of the discussion https://github.com/fossasia/badgeyay/pull/2176#issuecomment-558141572
@iamareebjamal has said that we should go with Django templating as the project is not that UI intensive to use a separate frontend.

[2020-01-21 13:57] gabru-md commented on #2034
@parthsarthiprasad please see if you can replicate the issue. If yes then surely you can work on it!

[2020-01-23 19:30] Dishebh opened #2178 "The vertical menu isn't fixed"
**Is your feature request related to a problem? Please describe.**

The vertical menu isn't fixed in the faq section
**Describe the solution you'd like**

Fix the vertical menu

[2020-01-24 12:48] Dishebh opened #2180 "Fix the Backend url"
**Describe the bug**

The Backend url of badgeyay, i.e, `http://badgeyay-dev.herokuapp.com/` is not working.

**Expected behaviour**

The url should not give 404

**Screenshots**

![Screenshot from 2020-01-24 18-15-09](https://user-images.githubusercontent.com/43489708/73070259-e211e080-3ed5-11ea-9e4c-70af86db3c6e.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 -

[2020-01-25 10:59] PragatiVerma18 commented on #2168
@kushthedude I would like to work on the Django part and would like to contribute a Users API that can help login/signup using Django Rest Framework, to begin with until the models are decided. After I have made the APIs, we can have the frontend integrated so that at least for beginning, login signup is functional, then we will keep adding features. Would that be a good plan to go with?

[2020-01-25 11:00] iamareebjamal commented on #2168
We'll be using Django Templates, not separate frontend

[2020-01-25 11:10] PragatiVerma18 commented on #2168
Okay, so are we not going to have the frontend and backend hosted to two different domains, we are just going to make a Django app inside our Django project for the backend and a separate folder for frontend? If so, we can use templated js snippets? Read about it here: [hackernoon](https://hackernoon.com/reconciling-djangos-mvc-templates-with-react-components-3aa986cf510a)

[2020-01-25 11:25] iamareebjamal commented on #2168
No JS needed for now. It's a pretty simple site. JS should be used for enhancements, like in github. The site you are writing this comment on is server side rendered and much better than any SPA I have used. What little enhancements they use JS for is fine. And wherever they use client-side rendering, it's always worse experience than server render. JS rendering should be used where you have highl

[2020-01-25 11:28] PragatiVerma18 commented on #2168
Okay, I understand.

[2020-01-25 12:12] maze-runnar commented on #2180
Did you read the v2 roadway plan?

[2020-01-25 12:13] maze-runnar commented on #2180
#2168

[2020-01-27 17:16] #1951 closed

[2020-01-31 05:41] rishipurwar1 opened #2183 "Getting error while running yarn install"
I tried to clone badgeyay frontend repository. I ran all the commands as given in readme. But when I run yarn install it gives an error(An unexpected error occurred: "https://registry.yarnpkg.com/@fortawesome/free-solid-svg-icons/-/free-solid-svg-icons-5.11.1.tgz: ESOCKETTIMEDOUT").
I already install npm and node.

OS: Window 10 Pro

Thank You

[2020-01-31 06:41] Dishebh commented on #2183
@rishipurwar1 Instead of opening an issue for it, pls try communicating the same problem on the gitter channel -
https://gitter.im/fossasia/badgeyay
Thanks

[2020-02-05 13:05] #2183 closed, assigned to nobody

[2020-03-02 17:30] gabru-md opened #2185 "fix version for marshmallow-jsonapi"
Hi,

I was setting up the project again and could not get the deployment working on my local machine.
The issue is that the new Marshmallow-JsonAPI does not return back a Tuple when loading the data into a schema. Initially, it used to return a tuple `(data, error)` which is not the case now. And in case of a fresh install, the requirements.txt file does not justify which version of Marshmallow-Js

[2020-03-02 17:39] gabru-md commented on #2077
can be closed

[2020-03-02 17:39] #2077 closed

[2020-03-02 17:52] gabru-md commented on #2185
Pull Request #2186

[2020-03-02 18:54] #2185 closed, assigned to gabru-md

[2020-04-27 19:20] harsh7in commented on #2177
May I work on this project??

[2020-05-08 03:50] #2177 closed, assigned to nobody

[2020-07-16 20:48] prodiptahalder commented on #2073
Can I work on this issue or someone is already working on it!

[2020-09-26 14:09] siddhantvirus commented on #2168
since there have been no updates since January is there anything could work on ? Either React or the CD and Cloud Part ?

[2020-10-02 17:26] knmn2000 opened #2190 "Javascript code being rendered on badge preview"
**Describe the issue**
The badge preview on /create-badges contains javascript code.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to http://badgeyay.com/create-badges
2. See error

**Expected behaviour**
The Javascript code should not appear on the card

**Screenshots**
attached screenshot
![errorBadgeYay](https://user-images.githubusercontent.com/28569854/94951510-0cef1280-0502-11eb-

[2020-10-03 12:02] Sayan-dev commented on #1930
can i work on the issue?

[2020-10-03 15:35] PragatiVerma18 commented on #2168
@iamareebjamal @maze-runnar @kushthedude is there something to work on in Django or React? or are you going to continue with Ember and Flask? Please clarify the state of this project.

[2020-10-03 22:26] iamareebjamal commented on #2168
Only Django. And our focus is not on the project right now https://gitter.im/fossasia/fossasia?at=5f78a76a6e0eb8446962511d

[2020-10-24 13:14] vkassingh commented on #1921
I want to fix this issue. May I ?

[2020-11-25 09:01] KerinPithawala opened #2192 "A Link on Badgey.com's footer can not be reached"
**Describe the bug**

In our other projects section of the footer, there is a link for Yaydoc project. However, when I clicked on the link, it displays that this site cannot be reached.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to footer of  ['Badgey's website'](http://badgeyay.com/faq#contri)
2. Click on 'Yaydoc'
3. Open the tab.
4. See error displayed: This site can’t be reached.

[2020-11-30 08:39] #2192 closed, assigned to nobody

[2020-12-10 18:24] DivyanshiSingh commented on #2073
I am working on this issue.

[2021-01-03 07:44] imbmali commented on #2190
Hey, Can I look for this issue?

[2021-01-21 16:56] mjmaurya opened #2196 "Sign Up and Log In Failed"
**Describe the bug**
when user trying to login or sign Up getting login and Sign up failed error.
Unable to register new user getting 'Sign Up failed' error
And
when user trying to login with google or twitter getting Login Failed Error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://badgeyay.com/
2. Click on  Login Menu
3. Click on New to site? Create Account
4. Now fill the v

[2021-01-23 14:48] abhishekmaletha commented on #2196
I am interested to fix this issue. I request you to allow me to fix it.

[2021-02-23 18:02] abishekvashok commented on #2190
Sure

[2021-05-19 11:50] ambivert-sam commented on #1921
Can I work on this issue?

[2021-05-30 14:23] Ab-hishek commented on #2190
If this issue is not being worked upon currently, I would like to take it up.

[2021-05-30 14:24] Ab-hishek commented on #2048
I would like to work on it. Can I take it up?

[2021-05-31 05:33] abishekvashok commented on #2190
The entire project needs a rehaul please see the road-map issue

[2021-08-02 19:05] championpaddler commented on #2196
@abhishekmaletha  You can work on it.

[2021-09-13 08:19] gabru-md commented on #2196
@abhishekmaletha is there any update on this issue, it seems to be failing because of CORS issue.

[2021-09-20 02:54] xk0m1 commented on #2196
what pre-requisites should i have in order to fix this issue ?

[2021-09-23 11:21] adil14788 commented on #2196
Hey @mjmaurya can i work on it

[2022-01-23 06:20] Krish-bhardwaj commented on #1932
I am interested to fix this issue. I request you to allow me to fix it. can you assign me this issue